@charset-"utf-8";

/*

######################################################################
## 														 			##
##		************** Bem vindo ao Pandora **************			##
##																	##
##"A vinganca nunca e plena mata a alma e a envenena" - Seu Madruga	##
##																	##
######################################################################
##																	##
##			********** VERSÃO ATUAL v1.0 **************				##
##																	##
######################################################################
##																	##
## ****************** HISTÓRICO DE MODIFICAÇÕES ******************* ##
## *Criação: DIA:29/10/2015 - Felipe Nunes.							##
## *Modificação e Animation: DIA:26/11/2015 - Leandro Sanches.		##
## *Criação do Template: DIA:18/12/2015 - Leandro Sanches.			##
##																	##
######################################################################
##																	##
## 		RESPONSÁVEL PELA MANUTENÇÃO E DISTRIBUIÇÃO DO PANDORA: 	  	##
##																	##
##																	##
######################################################################
##   																##
## CRÉDITOS PARA EQUIPE PARTICIPANTE DO PROJETO:					##
##																	##
##	Erlan Nossa														##
##	Felipe Nunes													##
##	Leandro Sanches													##
##	Leonardo Dessandes												##
##	Lucas Trindade													##
##	Vinicius Paixão													##
##																	##
######################################################################

*/

/*INICIO DO TEMPLATE*/

body{
	padding:0px;
	margin:0px;
	top:0px;
	left:0px;
}
.content{
	width:930px;
	height:730px;
	margin:0 auto;
	padding:0px;
	/*border:solid 1px #999;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;*/
	overflow:hidden;
}

.menu{
	position:relative;
	top:-730px;
	width:auto;
	height:auto;
	background-color:rgba(158,158,158,0.6);
	margin:10px 10px 10px 0px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.botMenu{
	position:relative;
	margin:0 auto;
	width:70px;
	height:70px;
	z-index:99999;
	background-image:url(../imagens/fechar.png);
	background-size:cover;
	transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
	
}
.botMenu:hover{	
	background-image:url(../imagens/fechar_light.png);
	background-size:cover;
	
}
.botAvan{
	width:50px;
	height:50px;
	margin:10px auto;	
	background-image:url(../imagens/ir.png);
	background-size:cover;	
}
.botAvan:hover{
	background-image:url(../imagens/ir_light.png);
	background-size:cover;	
}

.botVolt{
	width:50px;
	height:50px;
	margin:10px auto;
	background-image:url(../imagens/voltar.png);
	background-size:cover;
}
.botVolt:hover{
	background-image:url(../imagens/voltar_light.png);
	background-size:cover;
}
.mostrador{
	width:auto;
	height:auto;
	cursor:text;
	margin:10px auto;
	text-align:center;
	font-size:33px;
	font-family:Arial, Helvetica, sans-serif;
}
.bot{
	width:60px;
	height:60px;	
	margin:10px auto;	
}
.referencia{
	background-image:url(../imagens/referencias.png);
	background-size:cover;
}
.referencia:hover{
	background-image:url(../imagens/referencias_light.png);
	background-size:cover;
}
.nomeUnid{	
	position:relative;
	top:-740px;
	margin:20px 10px 10px 10px;
	font-size:18px;
	font-weight:bolder;
}
.subnomeUnid{	
	position:relative;
	top:-675px;
	left:420px;
	margin:20px 10px 10px 10px;
	font-size:15px;
	font-weight:bolder;
}

.ref_mini{
	width:380px;
	overflow:hidden;
	margin:0px;
	cursor:default;
  }
.ref_mini a{
	color:#e65100;
  }
  
.disabilitado{
	opacity:0.2;
	cursor:default;
}
.ref{
	display:none;
	position:relative;
	top:-440px; /*-505*/
	left:415px;
	width:400px;
	height:400px;
	background-color:rgba(255,255,255,0.95);
	border: thin 1px rgba rgba(153,153,153,1);
	-webkit-box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  	-moz-box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  	box-shadow: 0 0px 17px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19); 
}


.iframe_ref::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.iframe_ref::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.iframe_ref::-webkit-scrollbar-thumb
{
	background-color: #e65100;
}

		
.topRef{
	width:402px;
	height:40px;
	margin:-1px;
	background-image:url(../imagens/topo-referencias.jpg);
	background-size:cover;
}
.fecharRef{
	width:40px;
	height:40px;
	font-size:35px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}
.iframe_ref{
	width:398px;
	height:360px;
	overflow:hidden;
}
.iframe_conteudo{
	position:relative;
	margin:0 auto;			
	width:100%;
	height:100%;
	overflow:hidden;
	border: solid 0px #FFF;
}

.conteudo{
	width:930px;
	height:730px;
	margin:-8px;
	padding:0px;
	overflow:hidden;
	/* PADRONIZADO PELA ABNT = https://www.inta.edu.br/SouINTA/images/pdf/regras-abnt-novas-2013-2014.pdf */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1,5cm;
}
.conteudo2{
	width:930px;
	height:655px;
	margin:0px 0px 0px 0px;
}
.conteudo2-sem-titulo{
	width:930px;
	height:722px;
	margin:0px 0px 0px 0px;
}

p{
	margin:0px 0px 12px 3px;
}

.titulo{
	font-size:18px;
	line-height:25px;
	background-color:#EFEFEF;
	width:auto;
	padding:10px;
	margin:15px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	font-family:Arial,Helvetica,sans-serif;
}
/*FINAL DO TEMPLATE*/


/*ESTILIZAÇÃO*/

/*rosas*/
.bg-rosa-leve-1{background-color:#fce4ec ;}
.bg-rosa-leve-2{background-color:#f8bbd0 ;}
.bg-rosa-leve-3{background-color:#f48fb1 ;}
.bg-rosa-leve-4{background-color:#f06292 ;}
.bg-rosa-leve-5{background-color:#ec407a ;}
.bg-rosa{background-color:#e91e63 ;}
.bg-rosa-pesado-1{background-color:#d81b60 ;}
.bg-rosa-pesado-2{background-color:#c2185b ;}
.bg-rosa-pesado-3{background-color:#ad1457 ;}
.bg-rosa-pesado-4{background-color:#880e4f ;}
.bg-rosa-flat-1{background-color:#ff80ab ;}
.bg-rosa-flat-2{background-color:#ff4081 ;}
.bg-rosa-flat-3{background-color:#f50057 ;}
.bg-rosa-flat-4{background-color:#c51162 ;}

/*índigo*/

.bg-indigo-leve-1{background-color:#e8eaf6 !important}
.bg-indigo-leve-2{background-color:#c5cae9 !important}
.bg-indigo-leve-3{background-color:#9fa8da !important}
.bg-indigo-leve-4{background-color:#7986cb !important}
.bg-indigo-leve-5{background-color:#5c6bc0 !important}
.bg-indigo{background-color:#3f51b5 !important}
.bg-indigo-pesado-1{background-color:#3949ab !important}
.bg-indigo-pesado-2{background-color:#303f9f !important}
.bg-indigo-pesado-3{background-color:#283593 !important}
.bg-indigo-pesado-4{background-color:#1a237e !important}
.bg-indigo-flat-1{background-color:#8c9eff !important}
.bg-indigo-flat-2{background-color:#536dfe !important}
.bg-indigo-flat-3{background-color:#3d5afe !important}
.bg-indigo-flat-4{background-color:#304ffe !important}

/*ciano*/

.bg-ciano-leve-1{background-color:#e0f7fa !important}
.bg-ciano-leve-2{background-color:#b2ebf2 !important}
.bg-ciano-leve-3{background-color:#80deea !important}
.bg-ciano-leve-4{background-color:#4dd0e1 !important}
.bg-ciano-leve-5{background-color:#26c6da !important}
.bg-ciano{background-color:#00bcd4 !important}
.bg-ciano-pesado-1{background-color:#00acc1 !important}
.bg-ciano-pesado-2{background-color:#0097a7 !important}
.bg-ciano-pesado-3{background-color:#00838f !important}
.bg-ciano-pesado-4{background-color:#006064 !important}
.bg-ciano-flat-1{background-color:#84ffff !important}
.bg-ciano-flat-2{background-color:#18ffff !important}
.bg-ciano-flat-3{background-color:#00e5ff !important}
.bg-ciano-flat-4{background-color:#00b8d4 !important}

/*verde*/

.bg-claro-verde-leve-1{background-color:#f1f8e9 !important}
.bg-claro-verde-leve-2{background-color:#dcedc8 !important}
.bg-claro-verde-leve-3{background-color:#c5e1a5 !important}
.bg-claro-verde-leve-4{background-color:#aed581 !important}
.bg-claro-verde-leve-5{background-color:#9ccc65 !important}
.bg-claro-verde{background-color:#8bc34a !important}
.bg-claro-verde-pesado-1{background-color:#7cb342 !important}
.bg-claro-verde-pesado-2{background-color:#689f38 !important}
.bg-claro-verde-pesado-3{background-color:#558b2f !important}
.bg-claro-verde-pesado-4{background-color:#33691e !important}
.bg-claro-verde-flat-1{background-color:#ccff90 !important}
.bg-claro-verde-flat-2{background-color:#b2ff59 !important}
.bg-claro-verde-flat-3{background-color:#76ff03 !important}
.bg-claro-verde-flat-4{background-color:#64dd17 !important}

/*ambar*/

.bg-ambar-leve-1{background-color:#fff8e1 !important}
.bg-ambar-leve-2{background-color:#ffecb3 !important}
.bg-ambar-leve-3{background-color:#ffe082 !important}
.bg-ambar-leve-4{background-color:#ffd54f !important}
.bg-ambar-leve-5{background-color:#ffca28 !important}
.bg-ambar{background-color:#ffc107 !important}
.bg-ambar-pesado-1{background-color:#ffb300 !important}
.bg-ambar-pesado-2{background-color:#ffa000 !important}
.bg-ambar-pesado-3{background-color:#ff8f00 !important}
.bg-ambar-pesado-4{background-color:#ff6f00 !important}
.bg-ambar-flat-1{background-color:#ffe57f !important}
.bg-ambar-flat-2{background-color:#ffd740 !important}
.bg-ambar-flat-3{background-color:#ffc400 !important}
.bg-ambar-flat-4{background-color:#ffab00 !important}

/*marrom*/

.bg-marrom-leve-5{background-color:#efebe9 !important}
.bg-marrom-leve-4{background-color:#d7ccc8 !important}
.bg-marrom-leve-3{background-color:#bcaaa4 !important}
.bg-marrom-leve-2{background-color:#a1887f !important}
.bg-marrom-leve-1{background-color:#8d6e63 !important}
.bg-marrom{background-color:#795548 !important}
.bg-marrom-pesado-1{background-color:#6d4c41 !important}
.bg-marrom-pesado-2{background-color:#5d4037 !important}
.bg-marrom-pesado-3{background-color:#4e342e !important}
.bg-marrom-pesado-4{background-color:#3e2723 !important}

/*ROXO*/
.bg-roxo-leve-1 { background-color: #f3e5f5 !important; }
.bg-roxo-leve-2 { background-color: #e1bee7 !important; }
.bg-roxo-leve-3 { background-color: #ce93d8 !important; }
.bg-roxo-leve-4 { background-color: #ba68c8 !important; }
.bg-roxo-leve-5 { background-color: #ab47bc !important; }
.bg-roxo { background-color: #9c27b0 !important; }
.bg-roxo-pesado-1 { background-color: #8e24aa !important; }
.bg-roxo-pesado-2 { background-color: #7b1fa2 !important; }
.bg-roxo-pesado-3 { background-color: #6a1b9a !important; }
.bg-roxo-pesado-4 { background-color: #4a148c !important; }
.bg-roxo-flat-1 { background-color: #ea80fc !important; }
.bg-roxo-flat-2 { background-color: #e040fb !important; }
.bg-roxo-flat-3 { background-color: #d500f9 !important; }
.bg-roxo-flat-4 { background-color: #aa00ff !important; }

/*AZUL*/
.bg-azul-leve-1 { background-color: #e3f2fd !important; }
.bg-azul-leve-2 { background-color: #bbdefb !important; }
.bg-azul-leve-3 { background-color: #90caf9 !important; }
.bg-azul-leve-4 { background-color: #64b5f6 !important; }
.bg-azul-leve-5 { background-color: #42a5f5 !important; }
.bg-azul { background-color: #2196f3 !important; }
.bg-azul-pesado-1 { background-color: #1e88e5 !important; }
.bg-azul-pesado-2 { background-color: #1976d2 !important; }
.bg-azul-pesado-3 { background-color: #1565c0 !important; }
.bg-azul-pesado-4 { background-color: #0d47a1 !important; }
.bg-azul-flat-1 { background-color: #82b1ff !important; }
.bg-azul-flat-2 { background-color: #448aff !important; }
.bg-azul-flat-3 { background-color: #2979ff !important; }
.bg-azul-flat-4 { background-color: #2962ff !important; }

/*Vermelho*/
.bg-vermelho-leve-1	{background-color: #ffebee !important;}
.bg-vermelho-leve-2	{background-color: #ffcdd2 !important;}	
.bg-vermelho-leve-3	{background-color: #ef9a9a !important;}
.bg-vermelho-leve-4	{background-color: #e57373 !important;}
.bg-vermelho-leve-5	{background-color: #ef5350 !important;}
.bg-vermelho		{background-color: #f44336 !important;}
.bg-vermelho-pesado-1{background-color: #e53935 !important;}
.bg-vermelho-pesado-2{background-color: #d32f2f !important;}
.bg-vermelho-pesado-3{background-color: #c62828 !important;}
.bg-vermelho-pesado-4{background-color: #b71c1c !important;}
.bg-vermelho-flat-1	{background-color: #ff8a80 !important;}
.bg-vermelho-flat-2	{background-color: #ff5252 !important;}
.bg-vermelho-flat-3	{background-color: #ff1744 !important;}
.bg-vermelho-flat-4	{background-color: #d50000 !important;}

/*Roxo*/

.bg-escuro-roxo-leve-1	{background-color: #ede7f6 !important;}
.bg-escuro-roxo-leve-2	{background-color: #d1c4e9 !important;}
.bg-escuro-roxo-leve-3	{background-color: #b39ddb !important;}
.bg-escuro-roxo-leve-4	{background-color: #9575cd !important;}
.bg-escuro-roxo-leve-5	{background-color: #7e57c2 !important;}
.bg-escuro-roxo			{background-color: #673ab7 !important;}
.bg-escuro-roxo-pesado-1{background-color: #5e35b1 !important;}
.bg-escuro-roxo-pesado-2{background-color: #512da8 !important;}
.bg-escuro-roxo-pesado-3{background-color: #4527a0 !important;}
.bg-escuro-roxo-pesado-4{background-color: #311b92 !important;}
.bg-escuro-roxo-flat-1	{background-color: #b388ff !important;}
.bg-escuro-roxo-flat-2	{background-color: #7c4dff !important;}
.bg-escuro-roxo-flat-3	{background-color: #651fff !important;}
.bg-escuro-roxo-flat-4	{background-color: #6200ea !important;}

	/*AZUL*/
	
.bg-claro-azul-leve-1	{background-color: #e1f5fe !important;}
.bg-claro-azul-leve-2	{background-color: #b3e5fc !important;}
.bg-claro-azul-leve-3	{background-color: #81d4fa !important;}
.bg-claro-azul-leve-4	{background-color: #4fc3f7 !important;}
.bg-claro-azul-leve-5	{background-color: #29b6f6 !important;}
.bg-claro-azul			{background-color: #03a9f4 !important;}
.bg-claro-azul-pesado-1	{background-color: #039be5 !important;}
.bg-claro-azul-pesado-2	{background-color: #0288d1 !important;}
.bg-claro-azul-pesado-3	{background-color: #0277bd !important;}
.bg-claro-azul-pesado-4	{background-color: #01579b !important;}
.bg-claro-azul-flat-1	{background-color: #80d8ff !important;}
.bg-claro-azul-flat-2	{background-color: #40c4ff !important;}
.bg-claro-azul-flat-3	{background-color: #00b0ff !important;}
.bg-claro-azul-flat-4	{background-color: #0091ea !important;}

/*VERDE*/

.bg-verde-leve-1		{background-color: #e8f5e9 !important;}
.bg-verde-leve-2		{background-color: #c8e6c9 !important;}
.bg-verde-leve-3		{background-color: #a5d6a7 !important;}
.bg-verde-leve-4		{background-color: #81c784 !important;}
.bg-verde-leve-5		{background-color: #66bb6a !important;}
.bg-verde				{background-color: #4caf50 !important;}
.bg-verde-pesado-1		{background-color: #43a047 !important;}
.bg-verde-pesado-2		{background-color: #388e3c !important;}
.bg-verde-pesado-3		{background-color: #2e7d32 !important;}
.bg-verde-pesado-4		{background-color: #1b5e20 !important;}
.bg-verde-flat-1		{background-color: #b9f6ca !important;}
.bg-verde-flat-2		{background-color: #69f0ae !important;}
.bg-verde-flat-3		{background-color: #00e676 !important;}
.bg-verde-flat-4		{background-color: #00c853 !important;}

/*Amarelo*/

.bg-amarelo-leve-1	{background-color: #fffde7 !important;}
.bg-amarelo-leve-2	{background-color: #fff9c4 !important;}
.bg-amarelo-leve-3	{background-color: #fff59d !important;}
.bg-amarelo-leve-4	{background-color: #fff176 !important;}
.bg-amarelo-leve-5	{background-color: #ffee58 !important;}
.bg-amarelo			{background-color: #ffeb3b !important;}
.bg-amarelo-pesado-1{background-color: #fdd835 !important;}
.bg-amarelo-pesado-2{background-color: #fbc02d !important;}
.bg-amarelo-pesado-3{background-color: #f9a825 !important;}
.bg-amarelo-pesado-4{background-color: #f57f17 !important;}
.bg-amarelo-flat-1	{background-color: #ffff8d !important;}
.bg-amarelo-flat-2	{background-color: #ffff00 !important;}
.bg-amarelo-flat-3	{background-color: #ffea00 !important;}
.bg-amarelo-flat-4	{background-color: #ffd600 !important;}

/*Laranja*/

.bg-escuro-laranja-leve-1		{background-color: #fbe9e7 !important;}
.bg-escuro-laranja-leve-2		{background-color: #ffccbc !important;}
.bg-escuro-laranja-leve-3		{background-color: #ffab91 !important;}
.bg-escuro-laranja-leve-4		{background-color: #ff8a65 !important;}
.bg-escuro-laranja-leve-5		{background-color: #ff7043 !important;}
.bg-escuro-laranja				{background-color: #ff5722 !important;}
.bg-escuro-laranja-pesado-1		{background-color: #f4511e !important;}
.bg-escuro-laranja-pesado-2		{background-color: #e64a19 !important;}
.bg-escuro-laranja-pesado-3		{background-color: #d84315 !important;}
.bg-escuro-laranja-pesado-4		{background-color: #bf360c !important;}
.bg-escuro-laranja-flat-1		{background-color: #ff9e80 !important;}
.bg-escuro-laranja-flat-2		{background-color: #ff6e40 !important;}
.bg-escuro-laranja-flat-3		{background-color: #ff3d00 !important;}
.bg-escuro-laranja-flat-4		{background-color: #dd2c00 !important;}

/*Cinza*/

.bg-cinza-azulado-leve-5	{background-color: #eceff1 !important;}
.bg-cinza-azulado-leve-4	{background-color: #cfd8dc !important;}
.bg-cinza-azulado-leve-3	{background-color: #b0bec5 !important;}
.bg-cinza-azulado-leve-2	{background-color: #90a4ae !important;}
.bg-cinza-azulado-leve-1	{background-color: #78909c !important;}
.bg-cinza-azulado			{background-color: #607d8b !important;}
.bg-cinza-azulado-pesado-1	{background-color: #546e7a !important;}
.bg-cinza-azulado-pesado-2	{background-color: #455a64 !important;}
.bg-cinza-azulado-pesado-3	{background-color: #37474f !important;}
.bg-cinza-azulado-pesado-4	{background-color: #263238 !important;}

/*VERDE AZULADO*/
.bg-verde-azulado-leve-1 { background-color: #e0f2f1 !important; }
.bg-verde-azulado-leve-2 { background-color: #b2dfdb !important; }
.bg-verde-azulado-leve-3 { background-color: #80cbc4 !important; }
.bg-verde-azulado-leve-4 { background-color: #4db6ac !important; }
.bg-verde-azulado-leve-5 { background-color: #26a69a !important; } 
.bg-verde-azulado { background-color: #009688 !important; }
.bg-verde-azulado-pesado-1 { background-color: #00897b !important; }
.bg-verde-azulado-pesado-2 { background-color: #00796b !important; }
.bg-verde-azulado-pesado-3 { background-color: #00695c !important; }
.bg-verde-azulado-pesado-4 { background-color: #004d40 !important; }
.bg-verde-azulado-flat-1 { background-color: #a7ffeb !important; }
.bg-verde-azulado-flat-2 { background-color: #64ffda !important; }
.bg-verde-azulado-flat-3 { background-color: #1de9b6 !important; }
.bg-verde-azulado-flat-4 { background-color: #00bfa5 !important; }

/*LIMAO*/
.bg-limao-leve-1 { background-color: #f9fbe7 !important; }
.bg-limao-leve-2 { background-color: #f0f4c3 !important; }
.bg-limao-leve-3 { background-color: #e6ee9c !important; } 
.bg-limao-leve-4 { background-color: #dce775 !important; }
.bg-limao-leve-5 { background-color: #d4e157 !important; }
.bg-limao { background-color: #cddc39 !important; }
.bg-limao-pesado-1 { background-color: #c0ca33 !important; }
.bg-limao-pesado-2 { background-color: #afb42b !important; }
.bg-limao-pesado-3 { background-color: #9e9d24 !important; }
.bg-limao-pesado-4 { background-color: #827717 !important; }
.bg-limao-flat-1 { background-color: #f4ff81 !important; }
.bg-limao-flat-2 { background-color: #eeff41 !important; }
.bg-limao-flat-3 { background-color: #c6ff00 !important; }
.bg-limao-flat-4 { background-color: #aeea00 !important; }

/*LARANJA*/
.bg-laranja-leve-1 { background-color: #fff3e0 !important; }
.bg-laranja-leve-2 { background-color: #ffe0b2 !important; }
.bg-laranja-leve-3 { background-color: #ffcc80 !important; }
.bg-laranja-leve-4 { background-color: #ffb74d !important; }
.bg-laranja-leve-5 { background-color: #ffa726 !important; }
.bg-laranja { background-color: #ff9800 !important; }
.bg-laranja-pesado-1 { background-color: #fb8c00 !important; }
.bg-laranja-pesado-2 { background-color: #f57c00 !important; }
.bg-laranja-pesado-3 { background-color: #ef6c00 !important; }
.bg-laranja-pesado-4 { background-color: #e65100 !important; }
.bg-laranja-flat-1 { background-color: #ffd180 !important; }
.bg-laranja-flat-2 { background-color: #ffab40; }
.bg-laranja-flat-3 { background-color: #ff9100 !important; }
.bg-laranja-flat-4 { background-color: #ff6d00 !important; }

/*CINZA*/
.bg-cinza-leve-1 { background-color: #fafafa !important; }
.bg-cinza-leve-2 { background-color: #f5f5f5 !important; }
.bg-cinza-leve-3 { background-color: #eeeeee !important; }
.bg-cinza-leve-4 { background-color: #e0e0e0 !important; }
.bg-cinza-leve-5 { background-color: #bdbdbd !important; }
.bg-cinza { background-color: #9e9e9e !important; }
.bg-cinza-pesado-1 { background-color: #757575 !important; }
.bg-cinza-pesado-2 { background-color: #616161 !important; }
.bg-cinza-pesado-3 { background-color: #424242 !important; }
.bg-cinza-pesado-4 { background-color: #212121 !important; }



/*transparente*/
.transparent { background-color: transparent !important; }
.transparent-text {  color: transparent !important; }

/*TEXTOS*/

/* Cores de fonte */
.t-vermelho		{ color: #f44336 !important; }
.t-rosa 		{ color: #e91e63 !important; }
.t-roxo			{ color: #9c27b0 !important; }
.t-roxo-escuro	{ color: #673ab7 !important; }
.t-azul			{ color: #2196f3 !important; }
.t-azul-claro	{ color: #03a9f4 !important; }
.t-verde		{ color: #4caf50 !important; }
.t-verde-claro	{ color: #8bc34a !important; }
.t-amarelo		{ color: #ffeb3b !important; }
.t-laranja		{ color: #ff9800 !important; }
.t-marrom		{ color: #795548 !important; }
.t-cinza		{ color: #9e9e9e !important; }
.t-preto		{ color: #000 !important; }
.t-tradicional	{ color: #eee !important;}
.t-escuro	 	{ color: #333 !important;}
.t-branco	 	{ color: #fff !important;}

/*ESTRUTURA*/

/*cursores*/
.pointer{ cursor:pointer;}
.default{ cursor:default;}
		
/*Linha divisória*/		

.traco-liso {
  height: 2px;
  overflow: hidden;
  border-bottom:1px solid #e0e0e0
 }
.traco-pontuado {
  height: 2px;
  overflow: hidden;
  border-bottom:1px dotted #e0e0e0
 }
 .traco-tracado {
  height: 2px;
  overflow: hidden;
  border-bottom:1px dashed #e0e0e0
 }
 
 .liso {
  border-bottom:1px solid #e0e0e0
 }
.pontuado {
  border-bottom:1px dotted #e0e0e0
 }
 .tracado {
  border-bottom:1px dashed #e0e0e0
 }
  /*alinhamento de texto*/
  
.t-direito{ text-align:right}
.t-esquerdo{ text-align:left}
.t-centro{ text-align:center}
.t-justificado{ text-align:justify}
   
  /*posição*/
.centralizado {
  display: block;
  margin-left: auto;
  margin-right: auto; 
 } 
/*flutuar*/ 
.direito{ float:right}
.esquerdo{ float:left}
.centro{ float:center}
  
/*hide*/ 
.esconder{ visibility:hidden;}
.sumir{ display:none;}

/*displays*/
.bloco{ display:block;}
.bloco-linha{ display:inline-block;}
.linha{ display:inline;}

/*circulo*/
.circulo {  
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%
}
.arredondado{
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px; 
}
.truncado {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  
 /* padding*/
 .sem-padding {
  padding: 0 !important;
 }
 .padding1{ padding:1px;}
 .padding2{ padding:2px;}
 .padding5{ padding:5px;}
 .padding10{ padding:10px;}
 .padding20{ padding:20px;} 
 .padding30{ padding:30px;}
  
 /*transicao*/
 .transicao05{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
 }
  .transicao10{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
 }
  .transicao15{
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  -ms-transition: 1.5s;
  transition: 1.5s;
 }
  .transicao20{
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  -ms-transition: 2s;
  transition: 2s;
 }
 
 /*sombras*/
 .sombra-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.sombra-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.sombra-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.sombra-4{
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.sombra-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

/*animações*/
.bounce { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;	 
  /*-webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out;  
	-webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 	 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; */ 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}



.bounceIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}


	
.bounceInUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}



.bounceInDown { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInDown { 
   0% { 
       opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(30px); 
    } 
    80% { 
        -webkit-transform: translateY(-10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(30px); 
    } 
    80% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInDown { 
    -webkit-animation-name: bounceInDown; 
    animation-name: bounceInDown; 
}



.bounceInLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 
.bounceInLeft { 
    -webkit-animation-name: bounceInLeft; 
    animation-name: bounceInLeft; 
}	



.bounceInRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(-30px); 
    } 
    80% { 
        -webkit-transform: translateX(10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

.bounceInRight { 
    -webkit-animation-name: bounceInRight; 
    animation-name: bounceInRight; 
}



.bounceOut { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceOut { 
    0% { 
        -webkit-transform: scale(1); 
    } 
    25% { 
        -webkit-transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 
} 
@keyframes bounceOut { 
    0% { 
        transform: scale(1); 
    } 
    25% { 
        transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        transform: scale(.3); 
    } 
} 
.bounceOut { 
    -webkit-animation-name: bounceOut; 
    animation-name: bounceOut; 
}



.bounceOutUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceOutUp { 
    0% { 
        -webkit-transform: translateY(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
} 
@keyframes bounceOutUp { 
    0% { 
        transform: translateY(0); 
    } 
    20% { 
        opacity: 1; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
} 
.bounceOutUp { 
    -webkit-animation-name: bounceOutUp; 
    animation-name: bounceOutUp; 
}



.bounceOutDown { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceOutDown { 
    0% { 
        -webkit-transform: translateY(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
} 
@keyframes bounceOutDown { 
    0% { 
        transform: translateY(0); 
    } 
    20% { 
        opacity: 1; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
} 
.bounceOutDown { 
    -webkit-animation-name: bounceOutDown; 
    animation-name: bounceOutDown; 
}



.bounceOutLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceOutLeft { 
    0% { 
        -webkit-transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
} 
@keyframes bounceOutLeft { 
    0% { 
        transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
} 
.bounceOutLeft { 
    -webkit-animation-name: bounceOutLeft; 
    animation-name: bounceOutLeft; 
}



.bounceOutRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceOutRight { 
    0% { 
        -webkit-transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
} 
@keyframes bounceOutRight { 
    0% { 
        transform: translateX(0); 
    } 
    20% { 
        opacity: 1; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
} 
.bounceOutRight { 
    -webkit-animation-name: bounceOutRight; 
    animation-name: bounceOutRight; 
}



.fadeIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}



.fadeInUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}



.fadeInDown { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}



.fadeInLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}



.fadeInRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}



.fadeInUpBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUpBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInUpBig { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInUpBig { 
    -webkit-animation-name: fadeInUpBig; 
    animation-name: fadeInUpBig; 
}



.fadeInDownBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDownBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInDownBig { 
    0% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInDownBig { 
    -webkit-animation-name: fadeInDownBig; 
    animation-name: fadeInDownBig; 
}



.fadeInLeftBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeftBig { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeftBig { 
    -webkit-animation-name: fadeInLeftBig; 
    animation-name: fadeInLeftBig; 
}



.fadeInRightBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInRightBig { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRightBig { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRightBig { 
    -webkit-animation-name: fadeInRightBig; 
    animation-name: fadeInRightBig; 
}



.fadeOut { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}



.fadeOutUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutUp { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
} 
@keyframes fadeOutUp { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
} 
.fadeOutUp { 
    -webkit-animation-name: fadeOutUp; 
    animation-name: fadeOutUp; 
}



.fadeOutDown { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
} 
@keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
} 
.fadeOutDown { 
    -webkit-animation-name: fadeOutDown; 
    animation-name: fadeOutDown; 
}



.fadeOutLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutLeft { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
} 
@keyframes fadeOutLeft { 
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
} 
.fadeOutLeft { 
    -webkit-animation-name: fadeOutLeft; 
    animation-name: fadeOutLeft; 
}



.fadeOutRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutRight { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
} 
@keyframes fadeOutRight { 
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
} 
.fadeOutRight { 
    -webkit-animation-name: fadeOutRight; 
    animation-name: fadeOutRight; 
}



.fadeOutUpBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutUpBig { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
} 
@keyframes fadeOutUpBig { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(-2000px); 
    } 
} 
.fadeOutUpBig { 
    -webkit-animation-name: fadeOutUpBig; 
    animation-name: fadeOutUpBig; 
}



.fadeOutDownBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutDownBig { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
} 
@keyframes fadeOutDownBig { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
} 
.fadeOutDownBig { 
    -webkit-animation-name: fadeOutDownBig; 
    animation-name: fadeOutDownBig; 
}



.fadeOutLeftBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutLeftBig { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
} 
@keyframes fadeOutLeftBig { 
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
} 
.fadeOutLeftBig { 
    -webkit-animation-name: fadeOutLeftBig; 
    animation-name: fadeOutLeftBig; 
}



.fadeOutRightBig { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeOutRightBig { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
} 
@keyframes fadeOutRightBig { 
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
} 
.fadeOutRightBig { 
    -webkit-animation-name: fadeOutRightBig; 
    animation-name: fadeOutRightBig; 
}



.flash { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}



.flip { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flip { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(400px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
} 
@keyframes flip { 
    0% { 
        transform: perspective(400px) rotateY(0); 
        animation-timing-function: ease-out; 
    } 
    40% { 
        transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        animation-timing-function: ease-out; 
    } 
    50% { 
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        animation-timing-function: ease-in; 
    } 
    80% { 
        transform: perspective(400px) rotateY(360deg) scale(.95); 
        animation-timing-function: ease-in; 
    } 
    100% { 
        transform: perspective(400px) scale(1); 
        animation-timing-function: ease-in; 
    } 
} 
.flip { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flip; 
    backface-visibility: visible !important; 
    animation-name: flip; 
}



.flipInX { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flipInX { 
    0% { 
        -webkit-transform: perspective(400px) rotateX(90deg); 
        opacity: 0; 
    } 
    40% { 
        -webkit-transform: perspective(400px) rotateX(-10deg); 
    } 
    70% { 
        -webkit-transform: perspective(400px) rotateX(10deg); 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
} 
@keyframes flipInX { 
    0% { 
        transform: perspective(400px) rotateX(90deg); 
        opacity: 0; 
    } 
    40% { 
        transform: perspective(400px) rotateX(-10deg); 
    } 
    70% { 
        transform: perspective(400px) rotateX(10deg); 
    } 
    100% { 
        transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
} 
.flipInX { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flipInX; 
    backface-visibility: visible !important; 
    animation-name: flipInX; 
}



.flipOutX { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flipOutX { 
    0% { 
        -webkit-transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateX(90deg); 
        opacity: 0; 
    } 
} 
@keyframes flipOutX { 
    0% { 
        transform: perspective(400px) rotateX(0deg); 
        opacity: 1; 
    } 
    100% { 
        transform: perspective(400px) rotateX(90deg); 
        opacity: 0; 
    } 
} 
.flipOutX { 
    -webkit-animation-name: flipOutX; 
    -webkit-backface-visibility: visible !important; 
    animation-name: flipOutX; 
    backface-visibility: visible !important; 
}



.flipInY { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flipInY { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
    40% { 
        -webkit-transform: perspective(400px) rotateY(-10deg); 
    } 
    70% { 
        -webkit-transform: perspective(400px) rotateY(10deg); 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
} 
@keyframes flipInY { 
    0% { 
        transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
    40% { 
        transform: perspective(400px) rotateY(-10deg); 
    } 
    70% { 
        transform: perspective(400px) rotateY(10deg); 
    } 
    100% { 
        transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
} 
.flipInY { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flipInY; 
    backface-visibility: visible !important; 
    animation-name: flipInY; 
}



.flipOutY { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes flipOutY { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
} 
@keyframes flipOutY { 
    0% { 
        transform: perspective(400px) rotateY(0deg); 
        opacity: 1; 
    } 
    100% { 
        transform: perspective(400px) rotateY(90deg); 
        opacity: 0; 
    } 
} 
.flipOutY { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flipOutY; 
    backface-visibility: visible !important; 
    animation-name: flipOutY; 
}



.hinge { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes hinge { 
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; } 
    100% { -webkit-transform: translateY(700px); opacity: 0; } 
} 
@keyframes hinge { 
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; } 
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; } 
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; } 
    100% { transform: translateY(700px); opacity: 0; } 
} 
.hinge { 
    -webkit-animation-name: hinge; 
    animation-name: hinge; 
}



.lightSpeedIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes lightSpeedIn { 
   0% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; } 
    60% { -webkit-transform: translateX(-20%) skewX(30deg); opacity: 1; } 
    80% { -webkit-transform: translateX(0%) skewX(-15deg); opacity: 1; } 
    100% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; } 
} 
@keyframes lightSpeedIn { 
    0% { transform: translateX(100%) skewX(-30deg); opacity: 0; } 
    60% { transform: translateX(-20%) skewX(30deg); opacity: 1; } 
    80% { transform: translateX(0%) skewX(-15deg); opacity: 1; } 
    100% { transform: translateX(0%) skewX(0deg); opacity: 1; } 
} 
.lightSpeedIn { 
    -webkit-animation-name: lightSpeedIn; 
    animation-name: lightSpeedIn; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 
.animated.lightSpeedIn { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
}



.lightSpeedOut { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes lightSpeedOut { 
    0% { -webkit-transform: translateX(0%) skewX(0deg); opacity: 1; } 
    100% { -webkit-transform: translateX(100%) skewX(-30deg); opacity: 0; } 
} 
@keyframes lightSpeedOut { 
    0% { transform: translateX(0%) skewX(0deg); opacity: 1; } 
    100% { transform: translateX(100%) skewX(-30deg); opacity: 0; } 
} 
.lightSpeedOut { 
    -webkit-animation-name: lightSpeedOut; 
    animation-name: lightSpeedOut; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 
.animated.lightSpeedOut { 
    -webkit-animation-duration: 0.25s; 
    animation-duration: 0.25s; 
}



.pulse { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}



.rotateIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateIn { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateIn { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateIn { 
    -webkit-animation-name: rotateIn; 
    animation-name: rotateIn; 
}



.rotateInUpLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateInUpLeft { 
    0% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateInUpLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateInUpLeft { 
    -webkit-animation-name: rotateInUpLeft; 
    animation-name: rotateInUpLeft; 
}



.rotateInDownLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateInDownLeft { 
    0% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(-90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateInDownLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(-90deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateInDownLeft { 
    -webkit-animation-name: rotateInDownLeft; 
    animation-name: rotateInDownLeft; 
}



.rotateInUpRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateInUpRight { 
    0% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(-90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateInUpRight { 
    0% { 
        transform-origin: right bottom; 
        transform: rotate(-90deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: right bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateInUpRight { 
    -webkit-animation-name: rotateInUpRight; 
    animation-name: rotateInUpRight; 
}



.rotateInDownRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateInDownRight { 
    0% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateInDownRight { 
    0% { 
        transform-origin: right bottom; 
        transform: rotate(90deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: right bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateInDownRight { 
    -webkit-animation-name: rotateInDownRight; 
    animation-name: rotateInDownRight; 
}



.rotateOut { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateOut { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(200deg); 
        opacity: 0; 
    } 
} 
@keyframes rotateOut { 
    0% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(200deg); 
        opacity: 0; 
    } 
} 
.rotateOut { 
    -webkit-animation-name: rotateOut; 
    animation-name: rotateOut; 
}



.rotateOutUpLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateOutUpLeft { 
    0% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(-90deg); 
        opacity: 0; 
    } 
} 
@keyframes rotateOutUpLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -transform-origin: left bottom; 
        -transform: rotate(-90deg); 
        opacity: 0; 
    } 
} 
.rotateOutUpLeft { 
    -webkit-animation-name: rotateOutUpLeft; 
    animation-name: rotateOutUpLeft; 
}



.rotateOutDownLeft { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateOutDownLeft { 
    0% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: left bottom; 
        -webkit-transform: rotate(90deg); 
        opacity: 0; 
    } 
} 
@keyframes rotateOutDownLeft { 
    0% { 
        transform-origin: left bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        transform-origin: left bottom; 
        transform: rotate(90deg); 
        opacity: 0; 
    } 
} 
.rotateOutDownLeft { 
    -webkit-animation-name: rotateOutDownLeft; 
    animation-name: rotateOutDownLeft; 
}



.rotateOutUpRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateOutUpRight { 
    0% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(90deg); 
        opacity: 0; 
    } 
} 
@keyframes rotateOutUpRight { 
    0% { 
        transform-origin: right bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        transform-origin: right bottom; 
        transform: rotate(90deg); 
        opacity: 0; 
    } 
} 
.rotateOutUpRight { 
    -webkit-animation-name: rotateOutUpRight; 
    animation-name: rotateOutUpRight; 
}



.rotateOutDownRight { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rotateOutDownRight { 
    0% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        -webkit-transform-origin: right bottom; 
        -webkit-transform: rotate(-90deg); 
        opacity: 0; 
    } 
} 
@keyframes rotateOutDownRight { 
    0% { 
        transform-origin: right bottom; 
        transform: rotate(0); 
        opacity: 1; 
    } 
    100% { 
        transform-origin: right bottom; 
        transform: rotate(-90deg); 
        opacity: 0; 
    } 
} 
.rotateOutDownRight { 
    -webkit-animation-name: rotateOutDownRight; 
    animation-name: rotateOutDownRight; 
}



.rollIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rollIn { 
    0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); } 
} 
@keyframes rollIn { 
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
} 
.rollIn { 
    -webkit-animation-name: rollIn; 
    animation-name: rollIn; 
}



.rollOut { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rollOut { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateX(0px) rotate(0deg); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateX(100%) rotate(120deg); 
    } 
} 
@keyframes rollOut { 
    0% { 
        opacity: 1; 
        transform: translateX(0px) rotate(0deg); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(100%) rotate(120deg); 
    } 
} 
.rollOut { 
    -webkit-animation-name: rollOut; 
    animation-name: rollOut; 
}



.shake { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}



.swing { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes swing { 
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; } 
    20% { -webkit-transform: rotate(15deg); } 
    40% { -webkit-transform: rotate(-10deg); } 
    60% { -webkit-transform: rotate(5deg); } 
    80% { -webkit-transform: rotate(-5deg); } 
    100% { -webkit-transform: rotate(0deg); } 
} 
@keyframes swing { 
    20% { transform: rotate(15deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
} 
.swing { 
    -webkit-transform-origin: top center; 
    transform-origin: top center; 
    -webkit-animation-name: swing; 
    animation-name: swing; 
}



.tada { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}



.wiggle { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes wiggle { 
    0% { -webkit-transform: skewX(9deg); } 
    10% { -webkit-transform: skewX(-8deg); } 
    20% { -webkit-transform: skewX(7deg); } 
    30% { -webkit-transform: skewX(-6deg); } 
    40% { -webkit-transform: skewX(5deg); } 
    50% { -webkit-transform: skewX(-4deg); } 
    60% { -webkit-transform: skewX(3deg); } 
    70% { -webkit-transform: skewX(-2deg); } 
    80% { -webkit-transform: skewX(1deg); } 
    90% { -webkit-transform: skewX(0deg); } 
    100% { -webkit-transform: skewX(0deg); } 
} 
@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
} 
.wiggle { 
    -webkit-animation-name: wiggle; 
    animation-name: wiggle; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 
.animated.wiggle { 
    -webkit-animation-duration: 0.75s; 
    animation-duration: 0.75s; 
}



.wobble { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes wobble { 
  0% { -webkit-transform: translateX(0%); } 
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
  30% { -webkit-transform: translateX(20%) rotate(3deg); } 
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
  60% { -webkit-transform: translateX(10%) rotate(2deg); } 
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); } 
  100% { -webkit-transform: translateX(0%); } 
} 
@keyframes wobble { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
} 
.wobble { 
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
}


/*

Pre-definido

Criado por: Leandro Sanches.

*/

.di-cinza{
	width:700px;	
	height:240px;
	margin: 10px auto; 
	padding: 20px; 
	background-color: #F3F3F3; 
	border-radius: 20px; 
	border: solid 1px #999; 
	box-shadow: 0px 0px 10px #CCC; 
	-o-box-shadow: 0px 0px 10px #CCC;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-o-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	cursor:default;
}

.di-cinza-escura{
	position:relative;
	width:300px;
	top:-200px;
	right:-350px;
	padding:10px;
	background-color: #D7D7D7; 
	border-radius: 20px; 
	border: solid 1px #999; 
	box-shadow: 0px 0px 10px #CCC; 
	-o-box-shadow: 0px 0px 10px #CCC;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-o-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
}

.link{
	cursor:pointer;
	float:right; 
	margin:-10px 0px 0px 0px; 
	border:solid 1px #999; 
	text-align:center; 
	padding:10px; 
	border-radius:10px;
	color:#666;
	box-shadow: 0px 0px 10px #CCC;
	-moz-box-shadow: 0px 0px 10px #CCC;
	-ms-box-shadow: 0px 0px 10px #CCC;
	-o-box-shadow: 0px 0px 10px #CCC;
	-webkit-box-shadow: 0px 0px 10px #CCC;
	
	background: rgb(229,235,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(229,235,238,1) 2%, rgba(215,222,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(229,235,238,1)), color-stop(100%,rgba(215,222,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(229,235,238,1) 2%,rgba(215,222,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(229,235,238,1) 2%,rgba(215,222,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(229,235,238,1) 2%,rgba(215,222,227,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(229,235,238,1) 2%,rgba(215,222,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ebee', endColorstr='#d7dee3',GradientType=0 ); /* IE6-9 */	
}

.link:hover{
	color:#333;
	border:solid 1px #666;
	box-shadow: 0px 0px 10px #999;
	
	background: rgb(215,222,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,222,227,1) 1%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(215,222,227,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,222,227,1) 1%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,222,227,1) 1%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,222,227,1) 1%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,222,227,1) 1%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dee3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.img{
	width:300px;	
	background-color:#FFF;
	border:#FFF;
	box-shadow:0px 0px 10px #666;
	padding:5px;
}


.iframe{
	width:870px;
	height:500px;
	margin:0px auto;
}

.iframe_total{
	width:920px;
	height:510px;
	margin:0px auto;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.botao{
	position: absolute;
	padding: 10px 20px 10px 20px;
	border: ridge 1px #666;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.botao:hover{
	padding:9px 19px 9px 19px;;
	border: ridge 2px #666;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:14px;	
}
.botao:active{
	padding:9px 21px 9px 21px;;
	border: ridge 3px #666;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	box-shadow:0px 0px 10px #666;
}


.animacao_clique, .clique{
	position:absolute;
	top:0px;
	left:0px;
	transform:rotate(-20deg);
	width:70px;/* diferenda de 14 px*/
	height:84px;
	background-image:url(../img/clique.png);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.animacao_text, text{
	position:absolute;
	top:0px;
	left:0px;
	width:70px;/* diferenda de 14 px*/
	height:84px;
	width:40px;
	background-image:url(../img/text.png);
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
} 

.fechar{
	background-image:url(../img/fechar.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	float:right;
	margin-top:0px;
	cursor:pointer;
}

/*PARA FAZER POPUP	*/ 

.fundo-preto{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:97%;
	background-color:rgba(0,0,0,0.5);	
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border: dashed 1px #666;
}
.popup{
	position:absolute;
	top:100px;
	left:100px;
	background-color:#DADADA;
	width:600px;
	padding:20px;
	border:solid 1px #FFF;
	box-shadow:0px 0px 20px #FFF;
	border-radius:10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	
}
.popup-titulo{
	background-color:#F93;
	width:103%;
	text-align:center;
	padding:11px;
	font-weight:bolder;
	font-size:18px;
	margin:-20px -20px 20px -20px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.play{
	position:absolute;
	top:0px;
	left:0px;
	background-image: url(img/play.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100px;
	height:100px;
	cursor:pointer;
}
.play:hover{
	background-image: url(img/play_light.png);
}

.animacao_tarja_titulo, tarja_titulo{
	position:absolute;
	top:10px;
	left:5px;
	width:890px;
	background-color:#000;
	color:#FFF;
	padding:10px;
	margin:10px 5px 5px 5px;
	font-size:20px;
	font-style:oblique;
	font-weight:bolder;
	text-shadow:2px 2px #666;
	text-align:center;
	border-radius:10px;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-webkit-border-radius:10px;
	border: solid 1px #FFF;
	box-shadow:0px 0px 10px #333;
	-moz-box-shadow:0px 0px 10px #333;
	-ms-box-shadow:0px 0px 10px #333;
	-o-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
}

.animacao_tarja_titulo2, tarja_titulo2{
	position:absolute;
	top:10px;
	left:5px;
	width:890px;
	height: 50px;
	border:1px double #fff;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 2px 2px 10px #000;
	-moz-box-shadow: 2px 2px 10px #000;
	-o-box-shadow: 2px 2px 10px #000;
	-webkit-box-shadow: 2px 2px 10px #000;
	background-color:#2c3e50;
	color:#fff;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
}