@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url( ../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-bold-condensed-bt.woff) format('woff'), url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'), url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}
@font-face { 
	font-family: 'Futura Extra Black Condensed BT';
	src: url( ../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'), url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}
@font-face {
	font-family: 'Futura Book BT';
	src: url( ../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-book-bt.woff) format('woff'), url(../fonts/futura-book-bt.ttf) format('truetype'), url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}

h1 {
	font-family: 'Futura Bold Condensed BT', "Roboto", arial!important;
	margin-top: 12rem!important;
	z-index: 99999!important;
}

h2 { 
	color:#8ab5e1;
	font-family: 'Futura Bold Condensed BT', "Roboto", Arial!important;
	text-transform: uppercase;
	margin-top: 8rem!important;
	margin-bottom: 5rem!important;
}

h2.exercicio { margin-top: 8rem!important;}

h2.video { margin-top: 8rem!important;}

h3 { 
	font-family: "Roboto", arial;
	font-size: 1.7rem!important;
	
}

nav ul a,
nav .brand-logo {
  color: #FFF;
}

.navbar-fixed {z-index: 9999!important;}

p {
  	line-height: 2rem;
	font-size: 1.2rem!important;
}

.button-collapse {
  color: #26a69a;
}

.parallax-capa {
  /*min-height: 380px;*/
  line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
	z-index: 0
	
}

.parallax-container {
  /*min-height: 380px;
  line-height: 0;*/
  height: 100%;
  color: rgba(255,255,255,.9);
	
}

.parallax-container .section {
    width: 100%;
	background-attachment: fixed;
 }


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

nav .brand-logo {
	font-size: 1.3rem!important;
	margin-left: 10px!important;
}


.ImgCapa{z-index:1000; height:100%; position:absolute;  width:100%; background:url(../img/Capa.jpg) center center no-repeat fixed; background-size:cover;}

.ImgCapa h1{ position:absolute; padding:30px 80px; background:rgba(0,79,159,0); color:#fff ; top:30%; left: 0;}

.Pelicula {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,52,109); 
	background: -moz-linear-gradient(top, rgba(0,52,109,1) 40%, rgba(0,79,159,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,52,109,1) 40%,rgba(0,79,159,1) 100%); 
	background: linear-gradient(to bottom, rgba(0,52,109,1) 40%,rgba(0,79,159,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00346d', endColorstr='#004f9f',GradientType=0 );
	opacity: 0.9;
	z-index: 0;
}

.Pelicula02 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,79,159);
	background: -moz-linear-gradient(top, rgba(0,79,159,1) 0%, rgba(138,181,225,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,79,159,1) 0%,rgba(138,181,225,1) 100%);
	background: linear-gradient(to bottom, rgba(0,79,159,1) 0%,rgba(138,181,225,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f9f', endColorstr='#8ab5e1',GradientType=0 );
	opacity: 0.9;
	z-index: 0;
}

.Pelicula03 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,79,159);
	background: -moz-linear-gradient(top, rgba(0,79,159,1) 0%, rgba(138,181,225,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,79,159,1) 0%,rgba(138,181,225,1) 100%);
	background: linear-gradient(to bottom, rgba(0,79,159,1) 0%,rgba(138,181,225,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f9f', endColorstr='#8ab5e1',GradientType=0 );
	opacity: 0.9;
	z-index: 0;
}

nav {background-color: #004f9f!important; box-shadow: none!important;}

.BgVideo {z-index:1000; height:100%; position:absolute;  width:100%; background:url(../img/BgVideo.jpg) center center no-repeat fixed; background-size:cover;}

.BgExercicio {z-index:1000; height:100%; position:absolute;  width:100%; background:url(../img/BgExercicio.jpg) center center no-repeat fixed; background-size:cover;}

.btn-floating, .btn-large {
	top:23px!important;
	box-shadow: none!important;
	/*right:-491px !important;*/
}

.btn-large {
	font-family: 'Futura Bold Condensed BT'!important; 
	font-size: 1.6rem!important; 
	box-shadow: none!important; 
	border-radius: 5px!important; 
	height:61px!important; 
	line-height: 64px!important;
	/* margin-top:40px!important;*/ 
	margin-left: -3px!important; 
	background-color: #F49918!important;
	margin-bottom:40px!important;
}

img.Graf {
	margin-top: 50px;
	margin-bottom: 30px;
}

.barrainferior{
	border-bottom: 0px inset #4abbc0; 
	transition:0.5s;
	background: rgba(0, 0, 0, 0.5);
}

.side-nav li > a {color: #004f9f}

/*QUIZ*/
.marcada{ background-color:#ffcc03; color:#fff;}
.pegapergunta{ display:none;}
.pergunta{ font-size: 1.2rem; margin-bottom: 30px; font-family: "Roboto", arial; }
.q{ padding:10px; width:100%; margin:auto; /*border:1px solid #D6D6D6;*/ background-color: none /*rgba(138,181,225, 0.4)*/ /*#8ab5e1*/; border-radius:10px;}
.r{ font-family: "Roboto", arial; color: rgba(0,0,0,0.87); font-size: 1.2rem; background:#fff; border-radius:10px; margin:5px 0; padding:20px; cursor:pointer;}
.r:hover{ background:#004f9f; color: #FFF;}
.errou{ padding:23px; background-color:#E3C1C1; color:#C11F21;border-radius:10px; margin:20px 0; font-size: 1.2rem;}
.acertou{ padding:23px; background-color: #CDE4D5; color:#237022;border-radius:10px; margin:20px 0; font-size: 1.2rem;}
.tela_final {font-family: "Roboto", arial; color: rgba(0,0,0,0.87); font-size: 1.2rem; margin-top: -9rem; margin-bottom: 2rem;}
i.small {font-size: 3rem!important;}

.exibindoAbas,.superaba{ width: 90%; margin: auto}
.exibindoAbas{ overflow: hidden; border-bottom: 1px solid #8ab5e1; }
.abas{ cursor: pointer; -webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;    -moz-border-radius-topleft: 5px;    -moz-border-radius-topright: 5px;    border-top-left-radius: 5px;    border-top-right-radius: 5px; width: 18% !important; margin: 0 1%; float: left; height: 35px; line-height: 35px; background-color: #8ab5e1; text-align: center;color:#fff;}
.superaba{border: 1px solid #8ab5e1; padding: 1.8rem; }
.ab{ display: none}
.aba1{ display: block;}
.progress {margin-bottom: 2rem!important; height: 0.7rem!important; background-color: #8ab5e1!important;}
/*---FIM QUIZ----*/

.side-nav {z-index: 99999!important}

.drag-target { z-index: 99998!important;}

exibi {margin-bottom: 10rem!important;}

.bottom {margin-bottom: 8rem!important;}

.card-panel {font-family: "Roboto", arial!important; font-size: 1.2rem; color: rgba(0,0,0,0.87)!important;}

.page-footer {height: 100%!important;}

div.RefContent {
	display: inline-block; 
	width: 100%;
	/*margin-left: -15px;
	margin-right: -15px;*/
	margin: 0;
	padding: 15px;
	/*background-color: rgba(255,255,255,0.5);*/  /*#d3ddf2;*/
	border-radius: 0px;
	word-wrap: break-word!important;
	border-bottom: solid 1px #1565c0;
	color: #FFFFFF;
	font-size: 1.2rem;
}
