@charset "utf-8";

@media screen and (min-width: 320px) and (max-width: 360px){

	h1 {
		font-size: 1.3rem!important; 
		width: 138%!important;
		margin-left: -61px!important;
	}	

}

@media screen and (min-width: 360px) and (max-width: 667px){

	h1 {
		font-size: 1.8rem!important; 
		width: 114%!important;
		margin-left: -61px!important;
	}	

}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

/*--POSIÇÃO MENU--*/
@media only screen and (min-width : 1280px) and (max-width : 1280px) {
	
		ul:not(.browser-default) {
			padding-left: 4rem!important;
		}
	
}

@media only screen and (min-width : 1366px) and (max-width : 1366px) {
	
		ul:not(.browser-default) {
			padding-left: 7rem!important;
		}
	
}

@media only screen and (min-width : 1440px) and (max-width : 1440px) {
	
		ul:not(.browser-default) {
			padding-left: 10rem!important;
		}
	
}

@media only screen and (min-width : 1600px) and (max-width : 1600px) {
	
		ul:not(.browser-default) {
			padding-left: 14rem!important;
		}
	
		h2.video { margin-top: 5rem!important;}
	
}

@media only screen and (min-width : 1920px) and (max-width : 1920px) {
	
		ul:not(.browser-default) {
			padding-left: 20rem!important;
		}
		nav ul a {font-size: 1.2rem!important;}
	
		h2.video { margin-top: -2rem!important;}
	
}

