@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#292929;
	text-align:justify;
	line-height:17px;
}

header { width:928px; height:350px; margin:auto; }

#corpo {
	width:928px;
	height:719px;
	margin:auto;
	border:1px solid #666;
	border-top:0;
	border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; -moz-border-radius:0 0 30px 30px; -o-border-radius:0 0 30px 30px;
}

#conteudo {
	width:900px;
	height:400px;
	margin:auto;
}

#coluna-esquerda {
	width:200px;
	float:left;
	position:absolute;
}

#coluna-conteudo {
	width:680px;
	height:700px;
	float:left;
	position:absolute;
	margin-left:230px;
}

#coluna-conteudo p {
	margin-left:30px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	line-height:17px;
}

.titulo {
	margin-bottom:35px;
	font-size:30px;
	margin-top:25px;
}

.voltar {
	float:right;
	margin-top:-15px;
}

ul { margin-left:50px; line-height:17px; }

ul li {
	padding-bottom:10px;
}

#menu ul { margin:10px auto; margin-left:350px; list-style:none; }

#menu ul li {
	position:relative;
	float:left;
	font-weight:bold;
}

#menu ul li a {
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#292929;
	padding:8px 0;
	width:80px; 
	display:block;
	transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	-o-transition:0.3s ease-in-out;
}

#menu ul li a:hover {
	background-color:#E4E4E4;
	color:#06F;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}

#menu ul li figcaption { display:none; transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out;
font:12px Verdana, Arial, Serif; }

#menu ul li:hover figcaption { display:block; }

a {
	color:#5c84a7;
	text-decoration:none;
}

a:hover {
	color:#06F;
}

.nav-bt { 
	margin:auto; text-align:center; 
	transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out;  -ms-transition:all 0.4s ease-in-out;
	padding:0 10px 15px 10px;	-ms-transition:all 0.4s ease-in-out;
	width:100px;
	color:#292929;
}

.nav-bt:hover {
	background-color:#E4E4E4;
	color:#06F;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
}

#navegacao {
	position: absolute;
	bottom: 0;
	height: 50px;
	width:100%;
	margin:auto
}
