@charset "utf-8";
/* CSS Document */

figcaption { text-align:center; }

#menu { 
	list-style:none;  
	margin:auto;
	margin-left:20px; 
}

#menu li{
	position:relative;
	float:left;
	font-weight:bold;
}

#menu li a {
	text-decoration:none;
	color:#292929;
	padding:20px 35px; 
	display:block;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
}

#menu li a:hover {
	background-color:#EBEBEB;
	color:#06F;
	box-shadow:0 3px 10px 0 #CCC;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 3px 10px 0 #ccc;
	-o-box-shadow:0 3px 10px 0 #ccc;
}

