<!-- NAVEGAÇÂO FLUTUANTE -->
<div id="nav-fan" class="nav-fan closed" data-src="img/cover.jpg" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo." uk-img>

  <div class="menu-group">

    <ul class="menu-top">
      <li class="menu-iten menu-trigger">
        <a title="Menu" class="nav-fan-trigger closed" href="#">
          <div class="menu-name">
            <span>Menu</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-menu"></i>
            <i class="icon mdi mdi-close"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten">
        <a title="Tela Cheia" href="#">
          <div class="menu-name">
            <span>Tela Cheia</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-fullscreen"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten">
        <a title="Download em PDF" target="_blank" href="doc/capitulo-01.pdf">
          <div class="menu-name">
            <span>Download deste Capítulo</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-file-download-outline"></i>
          </div>
        </a>
      </li>
    </ul>

    <ul id="menu-nav" class="menu-nav nav-switcher">
      <li class="hidden"><a href="#cover"> Início</a></li>
      <li class="menu-iten nav-link">
        <a title="Apresentação da Unidade" data-switcher="0" href="#cs1">
          <div class="menu-name">
            <span>Apresentação</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-card-bulleted-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Livro Didático" data-switcher="1" href="#cs2">
          <div class="menu-name">
            <span>Livro Didático</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-file-download-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Videoaula" data-switcher="2" href="#cs3">
          <div class="menu-name">
            <span>Videoaula</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-presentation-play"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Teoria na Prática" data-switcher="3" href="#cs4">
          <div class="menu-name">
            <span>Teoria na Prática</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-file-edit-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Infográfico" data-switcher="4" href="#cs5">
          <div class="menu-name">
            <span>Infográfico</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-image-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Mapa Mental" data-switcher="5" href="#cs6">
          <div class="menu-name">
            <span>Mapa Mental</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-strategy"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Podcast" data-switcher="6" href="#cs7">
          <div class="menu-name">
            <span>Podcast</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-headphones"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="EADúvida?" data-switcher="7" href="#cs8">
          <div class="menu-name">
            <span>EADúvida?</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-help-circle-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Saiba Mais" data-switcher="8" href="#cs9">
          <div class="menu-name">
            <span>Saiba Mais</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-school-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Exercícios" data-switcher="9" href="#cs10">
          <div class="menu-name">
            <span>Exercícios</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-pencil"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
      <li class="menu-iten nav-link">
        <a title="Referências" data-switcher="10" href="#cs11">
          <div class="menu-name">
            <span>Referências</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-book-open-outline"></i>
            <i class="icon icon-bullet mdi mdi-circle-medium"></i>
          </div>
        </a>
      </li>
    </ul>

    <ul class="menu-arrow nav-switcher">
      <li class="menu-iten">
        <a class="previous left" data-switcher="previous" href="#">
          <div class="menu-name">
            <span>Voltar</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-chevron-left"></i>
            <!-- <i class="icon mdi mdi-arrow-left-circle-outline"></i> -->
          </div>
        </a>
      </li>
      <li class="menu-iten">
        <a class="next right" data-switcher="next" href="#">
          <div class="menu-name">
            <span>Avançar</span>
          </div>
          <div class="menu-icon">
            <i class="icon mdi mdi-chevron-right"></i>
            <!-- <i class="icon mdi mdi-arrow-right-circle-outline"></i> -->
          </div>
        </a>
      </li>
    </ul>

  </div>

</div>