<!-- APRESENTAÇÃO - CONTENT SECTION 1 -->
<div data-id="sectionId" data-class="sectionClasses" class="section" data-cc="on" data-template-bind='[
  {"attribute":"data-src", "value":"sectionBg"}
  ]' uk-img>
  <div class="container">

    <header class="section-header">
      <div class="section-title dots txt-cyan">
        <h2 class="title-text">
          <i class="icon mdi mdi-card-bulleted-outline mg-s-right"></i>
          <span data-content="sectionTitle"></span>
        </h2>
      </div>
      <hr class="hide-m-up bd-dotted bd-cyan bd-light-3">
    </header>

    <div class="section-content"></div>

  </div>
</div>