@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#292929;
	line-height:17px;
	text-align:justify;
}

#corpo {
	width:940px;
	height:720px;
	margin:0 auto;
	background-image:url(../img-niveis/Layout-Erlan.png);
	background-repeat:no-repeat;
}

#coluna-esquerda {
	float:left;
	width:150px;
	height:700px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
}

#conteudo {
	width:940px;
	height:700px;
	position:absolute;
	margin-left:50px;
}

header {
	height:50px;
	width:100%;
}

.titulo {
	margin-bottom:30px;
	font-size:25px;
}

.titulo-meio {
	margin-bottom:35px;
	font-size:20px;
	margin-top:25px;
	color:#fff;
	position:absolute;
	top:-20px;
	left:360px
}

#conteudo>#coluna-conteudo { width:860px; height:630px; }

#coluna-conteudo p {
	margin-left:50px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	line-height:17px;
}

h2.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:versdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	padding:10px;
	margin-left:30px;
}

/******************** MENU *****************************/
div#bt-menu { font-weight:bold; font-family:"Arial Black", Arial, Serif; font-size:20px; position:relative; top:-35px; left:40px; color:#FFF; 
cursor:pointer; display:block; width:100px; }
div#bt-menu:hover { color:#333; }

#menu { list-style:none; margin:0; padding:0; position:absolute; z-index:500}
#submenu { list-style:none; margin:0; padding:0; }

/************** Menu *********************/
#menu { display:none; }
#menu li { font:13px Arial, Helvetica, sans-serif; position:relative; top:-20px; left:-10px; width:150px; }
#menu li a { text-decoration:none; background-color:#CCC; display:block; padding:7px; border-bottom:1px solid #666; 
color:#292929; border-left:5px solid #333; font-weight:normal }
#menu li a:hover { background-color:#EBEBEB; color:#069; border-left:5px solid #069;}
/************* Fim ***********************/

/**************Submenu*****************************/
#submenu { display:none; z-index:500}
#submenu li { font:13px Arial, Helvetica, sans-serif; position:relative; top:0px; left:0px; width:150px; }
#submenu li a { text-decoration:none; background-color:#ccc; display:block; padding:7px; border-bottom:1px solid #666; 
color:#292929; border-left:5px solid #333; padding-left:20px; font-weight:normal }
#submenu li a:hover { background-color:#EBEBEB; color:#069; border-left:5px solid #069; }
/**************Submenu********************************/

/******************** FIM MENU ************************/

.voltar-principal {
	float:right;
	position:relative;
	top:-75px;
	text-align:center;
	font-weight:bold;
	right:80px;
	background-color:#D8D8D8;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	padding:5px;
	border:1px solid #999;
	cursor:pointer;
	height:45px;
	text-decoration:none;
	color:#292929;
}

.voltar-principal:hover { color:#069; }

.fig-esquerda { float:left; margin-right:10px; }

.fig-direita { float:right; margin-left:10px; }

.fig-centro { margin:0 auto; margin-bottom:10px; }



.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:versdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	text-align:center;
	padding:10px;
}

.box-azul {
	background-color:#6787A4;
	padding:15px;
	color:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-left: 30px;
	border-radius: 20px; 
	text-align:center;
}

.box-azul-claro {
	background-color:#238c87;
	padding:15px;
}

.box-borda-azul {
	border:2px #5c84a7 solid;
	border-radius:6px;
	padding:10px; 
}

.box-escuro {
	background-color:#333;
	border:2px solid #000;
	color:#fff;
	padding:10px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
}

.box-verde { background-color:#C1FFC1; padding:15px; }

.box-vermelho { background-color:#c42400; padding:15px; color:#fff; }

.box-azul-claro2 {
	width:auto;
	background:#b4e2e5;
	border:2px solid #478e8d;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	color:#000;
	font-size:11.1px;
	padding:7px;
	font-family:arial;
}

.arredondado {
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
}

.texto-importante {
	border:2px #5c84a7 solid;
	border-radius:6px; border-left:0;
	padding:10px;
}

.circulo {
    border-radius:100%;
	background-color:#ededed;
    width:120px;
    height:120px;
    margem:auto;
	text-align:center;
	padding:10px;
	color:#292929;
	line-height:120px;
	box-shadow:4px 5px 5px #666;
}

table.tab1 {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	width:auto;
	margin:auto;
}

.tab1 th {
	background-color:#EDEDED;
	color:#000;
	padding:7px;
	text-align:center;
	border:1px solid #000;
}

.tab1 td {
	padding:3px 5px;
	border:1px solid #000;
	text-align:left;
}

.col-esq {
	width:48%;
	height:600px;
	padding:5px;
	float:left;
	background-color:#DCD;
}

.col-dir {
	width:48%;
	height:600px;
	padding:5px;
	float:right;
	background-color:#333;
}

.fundo-branco {
	background-color:#fff;
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	-o-opacity:0.8;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

/* Erlan - Classes de Novas Janelas Popup */
.bloco1, .bloco2, .bloco3, .bloco4 {
	width:400px;
	padding:10px;
}

.bloco1 {
	background-color:#069;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #6CF;
}

.bloco2 {
	background-color:#333;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #000;
}

.bloco3 {
	background-color:#C30;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #C63;
}

.bloco4 {
	background-color:#fff;
	color:#000;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #999;
}

/* Fim */

a {
	color:#5c84a7;
	text-decoration:none;
}

a:hover {
	color:#06F;
}

table {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	margin:auto;
	margin-bottom:15px;
}

th {
	background-color:#5c84a7;
	color:#FFF;
	padding:7px;
	text-align:center;
	border:1px solid #fff;
}

td {
	padding:3px 5px;
	border:1px solid #5c84a7;
	text-align:left;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
	padding:50px;
	text-align:center;
	float:left;
	margin-right:10px;
}

.caixa1 { background-color:#d7d7d7; cursor:pointer; font-weight:bold; }
.caixa2 { background-color:#069; color:#fff; cursor:pointer; font-weight:bold; }
.caixa3 { background-color:#5c84a7; color:#fff; cursor:pointer; font-weight:bold; }
.caixa4 { background-color:#CF0; cursor:pointer; font-weight:bold; }
.caixa5 { background-color:#c42400; color:#fff; cursor:pointer; font-weight:bold; }

.j-modal-cinza { 
	background-color:#EDEDED;
	border:1px dashed #5c84a7;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	padding:20px;
	width:480px;
	position:relative;
	z-index:500
}

.j-modal-cinza>.fechar-modal {
	background-color:#5c84a7;
	color:#FFF;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	width:auto;
	font-weight:bold;
	text-align:right;
	margin-bottom:10px;
}


.j-modal-cinza .j-texto { text-align:justify; }

