@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; list-style:none; }

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#292929;
	text-align:justify;
	line-height:15px;
}

#corpo {
	width:900px;
	height:700px;
	margin:0 auto;
	/*border:1px solid #9C0;*/
}

#conteudo {
	width:900px;
	height:690px;
	margin:0 auto;
}

#coluna-esquerda {
	width:305px;
	float:left;
	position:absolute;
	top:0px;
}

#coluna-conteudo {
	width:670px;
	height:700px;
	float:left;
	position:absolute;
	margin-left:250px;
}


figcaption { text-align:center }
	
a .voltar-principal {
	clear:both;
	position:relative;
	top:50px;
	margin-left:230px;
	padding:5px;
	color:#292929;
	font-weight:bold;
	text-decoration:none;
	background-color:#D8D8D8;
	width:160px;
	height:45px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	/*border:1px solid #999;*/
	box-shadow:3px 3px 3px #333;
}

a .voltar-principal:hover { opacity:0.8; -moz-opacity:0.8; -webkit-opacity:0.8; color:#069; }	

