@charset "utf-8";
/* CSS Document */

.tip {
    color: #fff;
    background:#1d1d1d;
    display:none; /*--Hides by default--*/
    padding:10px;
    position:absolute;    z-index:1000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	opacity:0.9;
	-o-opacity:0.9;
	-moz-opacity:0.9;
	-webkit-opacity:0.9;
	font:10px Verdana, Arial, sans-serif;
	text-align:center;
}

