/* Capa (cover) */
#uni #cover {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 999999;
}
#uni .cover-img {
  position: absolute;
  right: -10%;
  bottom: -15%;
  height: 100vh;
  width: 70%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#uni .cover-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: 7;
}
#uni .cover-title {
  position: relative;
  display: block;
  width: 50%;
  height: 80%;
  padding: 15% 5% 10%;
  z-index: 11;
}
#uni .cover-title .unit-title {
  font-size: 2.4rem;
  font-size: 3.4vw;
  font-size: 6vmin;
  font-size: 6vm;
  font-weight: bold;
  line-height: 1.2em;
}
#uni .cover-title .discipline-title {
  font-size: 2rem;
  font-size: 2.1vw;
  font-size: 3vmin;
  font-size: 3vm;

  font-weight: lighter;
  color: #E65100;
}
#uni #cover .scroll-arrow {
  position: absolute;
  width: 100%;
  height: 4rem;
  padding: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #E65100;
  font-size: 3rem;
  z-index: 12;
}
#uni #cover .scroll-arrow>* {
  display: block;
  font-size: 3rem;
}
@media only screen and (max-width: 960px) {
  #uni .cover-img {
    width: 120%;
    background-position: right top;
  }
  #uni .cover-overlay {
    background-position: right center;
  }
  #uni .cover-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 85%;
    margin: 0 auto;
  }
  #uni .cover-title>*{
    width: 100%;
    text-align: center;
    color: #ffffff !important;
  }
  #uni .cover-title .unit-title {
    font-size: 2.4rem;
    font-size: 3.4vw;
    font-size: 8vmin;
    font-size: 6vm;
  }

  #uni .cover-title .discipline-title {
    font-size: 2rem;
    font-size: 2.1vw;
    font-size: 5vmin;
    font-size: 3vm;
  }
}