/* DESAFIO */
#uni .desafio .challenge-fields {
  border: 0;
}

#uni .desafio .challenge-fields,
#uni .desafio .challenge-fields li {
  background-color: transparent;
  box-shadow: none;
}

#uni .desafio .challenge-fields li>*:not(.btn) {
  background: #ffffff;
}

#uni .desafio .challenge-fields .collapsible-header {
  display: inline-block;
  padding: .7rem 3rem;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: none;
  border: 0;
}

#uni .desafio .challenge-fields li.active .collapsible-header {
  display: none;
  height: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#uni .desafio .challenge-answer.active {
  margin: 1rem 0;
  box-shadow: none;
  border: 2px solid #cccccc;
  border-top: 3px solid #cccccc;
}

#uni .desafio .challenge-answer .collapsible-body {
  position: relative;
  top: -1px;
  border: 0;
  padding: 0;
  margin: 0;
}

#uni .desafio .challenge-answer .challenge-text {
  position: relative;
  height: auto;
  top: 7px;
  margin: 0;
  padding: 1rem;
  border: 0;
  outline: none;
  line-height: 1.8em;
  resize: vertical;
}

#uni .desafio .challenge-fields.finished .challenge-text {
  color: #999999;
  cursor: not-allowed;
}

#uni .desafio .challenge-fields .challenge-feedback {
  display: none;
}

#uni .desafio .challenge-fields.active .challenge-feedback {
  display: block;
}

#uni .desafio .challenge-fields .challenge-feedback .collapsible-body {
  border: 1px solid #cccccc;
}