/* Navegação - Navegação Fixa no Topo */
#uni .top-bar {
  position: relative;
  display: none;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 999999;
}
#uni.top-fixed .top-bar {
  display: block;
}
#uni .top-bar .top-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 3.56rem;
  line-height: 3.56rem;
  color: #ffffff;
  background-color: #004F9F;
  box-shadow: none !important;
}
#uni .top-bar.hide .top-wrapper {
  height: 0;
  overflow: hidden;
}
#uni .top-bar .top-wrapper a {
  background-image: none !important;
}
#uni .top-bar .top-wrapper * {
  display: flex;
  align-items: center;
  align-content: center;
}
#uni .top-bar .top-wrapper > * {
  width: auto;
  flex: 0 1 auto;
  padding: 0 1rem;
}
#uni .top-bar .top-wrapper .main-title {
  justify-content: left;
  min-width: 25%;
  max-width: 80%;
  height: 100%;
  margin: 0 auto 0 0;
  font-size: 1rem;
}
#uni .top-bar .top-wrapper .main-title > * {
  display: table;
  height: auto;
  margin: 0;
  font-size: inherit;
  text-align: left;
  line-height: 1;
  color: #ffffff;
}
#uni .top-bar .top-wrapper .main-title>*>* {
  display: inline;
}
#uni .top-bar .top-wrapper .nav-bar {
  height: 100%;
  line-height: 100%;
  background: none;
  box-shadow: none;
}
#uni .top-bar .top-wrapper .nav-bar ul {
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}
#uni .top-bar .top-wrapper .nav-bar ul li {
  position: relative;
  display: table;
  height: 100%;
}
#uni .top-bar .top-wrapper .nav-bar a {
  /* display: table-cell; */
  vertical-align: middle;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #ffffff;
  height: 100%;
  padding: 0.9em;
  cursor: pointer;
}
#uni .top-bar .top-wrapper .nav-bar a > * {
  display: inline-block;
}
#uni .top-bar .top-wrapper .nav-bar a[class$="active"] {
  background-color: rgba(0, 0, 0, 0.2);
}
#uni .top-bar .top-wrapper i,
#uni .top-bar .top-wrapper [class^="mdi-"],
#uni .top-bar .top-wrapper [class*="mdi-"],
#uni .top-bar .top-wrapper i[class*="icon"] {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1.4em;
  height: 100%;
  padding-right: .5rem;
}
#uni .top-bar .top-wrapper .nav-oc-trigger::after {
  display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger i {
  margin: 0;
  padding: 0;
}
#uni .top-bar .top-wrapper .nav-oc-trigger.open .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger .close {
  display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger.open .close {
  display: flex;
}
#uni .top-bar .top-wrapper .dropdown-content {
  display: none;
  width: auto !important;
  max-width: fit-content !important;
  height: auto !important;
  top: 100% !important;
  box-shadow: none;
}
#uni .top-bar .top-wrapper .dropdown-content li:hover,
#uni .top-bar .top-wrapper .dropdown-content li[class$="active"] {
  background: none;
}
#uni .top-bar .top-wrapper .dropdown-content a {
  width: 100%;
  min-width: 300px;
  min-width: 25vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  font-size: inherit;
  line-height: 1rem;
  font-weight: normal;
  height: auto;
  padding: 1rem 2rem;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#uni .top-bar .top-wrapper .dropdown-content a > [class*="icon"] {
  flex: 0 0 auto;
  height: auto;
  margin: 0 1rem 0 0;
  width: 1.5rem;
}
#uni .top-bar .top-wrapper .dropdown-content li a:hover,
#uni .top-bar .top-wrapper .dropdown-content li a[class$="active"] {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Sidenav - Menu Mobile (hamburguer) */
#uni .nav-off-canvas {
  position: fixed;
  max-width: 80%;
  width: 300px;
  height: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  overflow-x: hidden;
  overflow-y: auto;

  will-change: transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateX(-105%);
  -moz-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
  transform: translateX(-105%);

  z-index: 999999;
}
#uni .nav-off-canvas .nav-menu {
  width: 100%;
  max-width: 100%;
  height: 100%;
  height: 100vh;
  padding: 2rem 0;
}
#uni .nav-off-canvas .nav-menu::before {
  content: "";
  position: absolute;
  display: block;
}
#uni .nav-off-canvas .nav-menu::before {
  width: 280px;
  height: 60px;
  top: -40px;
  left: 0;
  background: url(../img/_base/dots-light-horizontal.png) bottom center no-repeat transparent;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
#uni .nav-off-canvas .nav-menu-overlay {
  z-index: 999998;
}
#uni .nav-off-canvas .nav-menu li {
  float: none;
  display: block;
  height: auto;
  font-size: .9em;
}
#uni .nav-off-canvas .nav-menu li:last-child {
  border: 0;
}
#uni .nav-off-canvas .nav-menu li * {
  color: #FFFFFF !important;
}
#uni .nav-off-canvas .nav-menu li a {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  font-size: inherit;
  line-height: 1rem;
  font-weight: normal;
  height: auto;
  padding: 1rem 2rem;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#uni .nav-off-canvas .nav-menu li>i,
#uni .nav-off-canvas .nav-menu li>a>i,
#uni .nav-off-canvas .nav-menu li>a>[class^="mdi-"],
#uni .nav-off-canvas .nav-menu li>a li>a>[class*="mdi-"],
#uni .nav-off-canvas .nav-menu li>a>[class*="icon"],
#uni .nav-off-canvas .nav-menu li>a>i[class*="icon"] {
  flex: 0 0 auto;
  height: auto;
  margin: 0 1rem 0 0;
  width: 1.5rem;
}

#uni .nav-off-canvas .nav-menu li a:hover,
#uni .nav-off-canvas .nav-menu li a:focus,
#uni .nav-off-canvas .nav-menu li a[class*="active"] {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
}

/* Floating Action Nav - Menu Flutuante */
#uni .nav-fab {
  position: relative;
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9999999;
}
#uni.nav-floating .nav-fab {
  display: block;
  height: 100%;
  overflow: auto;
}
#uni .nav-fab.active::after {
  content: "";
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#uni .nav-fab .nav-fab-trigger {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 1.4rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  background-color: #0098E5
}
#uni .nav-fab .nav-fab-trigger:hover,
#uni .nav-fab .nav-fab-trigger:active,
#uni .nav-fab .nav-fab-trigger:focus {
  background-color: #006192;
  outline: none;
}
#uni .nav-fab[class$="active"] .nav-fab-trigger .menu,
#uni .nav-fab .nav-fab-trigger .close {
  display: none;
}
#uni .nav-fab .nav-fab-trigger .menu,
#uni .nav-fab[class$="active"] .nav-fab-trigger .close {
  display: flex;
}
#uni .nav-fab #bullet-menu {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  height: 85%;
  width: fit-content;
  width: -moz-fit-content;
  padding: 0 1.5rem;
  bottom: 4rem;
  right: 0;
  left: auto;
  z-index: 99;
}
#uni .nav-fab #bullet-menu * {
  color: #ffffff;
}
#uni .nav-fab #bullet-menu li {
  display: table;
  width: 100%;
  margin: 0 0 1vh;
}
#uni .nav-fab #bullet-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  background-image: none !important;
}
#uni .nav-fab #bullet-menu li a::after {
  content: none;
}
#uni .nav-fab #bullet-menu li a .btn-floating {
  overflow: visible;
  background: #0098E5;
}
#uni .nav-fab #bullet-menu li a:hover .btn-floating,
#uni .nav-fab #bullet-menu li a[class$="active"] .btn-floating {
  width: fit-content !important;
  width: -moz-fit-content !important;
  overflow: hidden;
  background: #006192;
  box-shadow: none;
}
#uni .nav-fab #bullet-menu li a .fab-title {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 90vw;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  line-height: 2em;
  white-space: nowrap;
  right: 0;
  left: auto;
  padding: 0 0.5em;
}
#uni .nav-fab #bullet-menu li a .fab-title > *:first-child {
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
#uni .nav-fab #bullet-menu li a .fab-title [class*="icon"] {
  min-width: 1rem;
  text-align: center;
  font-weight: bold;
}
#uni .nav-fab #bullet-menu li a:hover .fab-title,
#uni .nav-fab #bullet-menu li a[class$="active"] .fab-title {
  position: relative;
}

/* Floating Content Nav - Menu Flutuante */
#uni .content-nav {
  position: relative;
  height: 0;
  z-index: 99999;
}
#uni .content-nav > * {
  position: fixed;
  width: 100%;
  height: 0;
  bottom: 50%;
  padding: 0 1rem;
}
@media only screen and (max-width: 640px) {
  #uni .content-nav>* {
    bottom: 3rem;
  }
}