/* REFERÊNCIAS */
#uni .referencias .ref-content li {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  border-radius: 0;
  word-wrap: break-word;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

#uni .referencias .ref-content li:last-child {
  border: 0;
}

#uni .referencias .ref-content li>* {
  margin-left: 2rem;
}

#uni .referencias .ref-content li i,
#uni .referencias .ref-content li [class*="icon"] {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1rem 0;
}

#uni .referencias .ref-content .ref-text::before {
  /* font-family: "Material Icons"; */
  font-family: "Material Design Icons";
  content: "\FB40";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1rem 0;
}

#uni .referencias .ref-content .ref-web::before {
  /* font-family: "Material Icons"; */
  font-family: "Material Design Icons";
  content: "\F59F";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1rem 0;
}

#uni .referencias .ref-content .ref-video::before {
  /* font-family: "Material Icons"; */
  font-family: "Material Design Icons";
  content: "\F40B";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1rem 0;
}