/* Resume Box */
#uni .resume-box .resume-header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
#uni .resume-box .resume-header>* {
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
  flex: 0 1 auto;
}
#uni .resume-box .resume-header .prof-img {
  height: 7rem;
  width: 7rem;
  height: 15vw;
  width: 15vw;
  min-width: 15vmax;
  min-height: 15vmax;
}
#uni .resume-box .resume-header .prof-icon {
  position: relative;
  font-size: 12em;
  line-height: 1;
  top: -1rem;
}
@media only screen and (max-width: 640px) {
  #uni .resume-box .resume-header {
    flex-flow: column;
    align-items: center;
  }

  #uni .resume-box .prof-img {
    height: 7rem;
    width: 7rem;
    height: 30vw;
    width: 30vw;
  }
}