@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/** CUSTOM **/

$font-size: 16px
$font-family: Helvetica, Tahoma, sans-serif
$font-color: black
$bg: black

body *
  display: flex
  margin: 0
html, body
  margin: 0
  padding: 0
  height: 100%
body
  font-family: $font-family
  font-size: $font-size
  background-color: $bg
  color: $font-color
  background: url(../img/cover.jpg)
  #app
    justify-content: center
    align-content: center
    flex-direction: column
    height: 100%
    > *
      align-self: center
