@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#292929;
	line-height:17px;
	text-align:justify;
}

#corpo {
	width:930px;
	height:720px;
	margin:0 auto;
	border:1px solid #666;
	border-top:0;
	border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; -moz-border-radius:0 0 30px 30px; -o-border-radius:0 0 30px 30px; 
}

#topo {
	background-color:#333;
	width:100%;
	/*opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	-o-opacity:0.6;*/
	height:45px;
	border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
}

#conteudo-topo { position:absolute; z-index:10000; top:0; }

#conteudo-topo a { transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; color:#FFF; text-decoration:none; }
#conteudo-topo a:hover { color:#06F}

iframe { position:relative; z-index:1; top:-44px; right:0px; }

.tooltip {
	background-color:#333;
	color:#FFF;
	width:280px;
	padding:5px;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px;
	text-align:center;
}