@charset "utf-8";

ol.progresso[data-steps="2"] li {
  width: 49%;
}
ol.progresso[data-steps="3"] li {
  width: 33%;
}
ol.progresso[data-steps="4"] li {
  width: 24%;
}
ol.progresso[data-steps="5"] li {
  width: 19%;
}
ol.progresso[data-steps="6"] li {
  width: 16%;
}
ol.progresso[data-steps="7"] li {
  width: 14%;
}
ol.progresso[data-steps="8"] li {
  width: 12%;
}
ol.progresso[data-steps="9"] li {
  width: 11%;
}
.progresso {
  width: 100%;
  list-style: none;
  list-style-image: none;
  margin: 20px 0 20px 0;
  padding-bottom: 48px;
}
.progresso li {
  float: left;
  text-align: center;
  position: relative;
  z-index: 0;
}
.progresso .nome {
  display: block;
  vertical-align: bottom;
  text-align: center;
  margin-bottom: 1em;
  color: black;
  opacity: 0.3;
}
.progresso .passo {
  color: white;
  border: 10px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 50%;
  line-height: 0.9;
  width: 2.3em;
  height: 2.3em;
  display: inline-block;
  z-index: 0;
}

.progresso .passo span {
  opacity: 1;
  margin-left: -5px;
  font-size: 0.8rem;
}

.progresso .atual .nome,
.progresso .atual .passo span {
  opacity: 1;
}

.progresso .passo:before {
  content: "";
  display: block;
  background-color: #E5E5E5;
  height: 0.4em;
  width: 50%;
  position: absolute;
  bottom: 1em;
  left: 0;
  z-index: -1;
}
.progresso .passo:after {
  content: "";
  display: block;
  background-color: #E5E5E5;
  height: 0.4em;
  width: 50%;
  position: absolute;
  bottom: 1em;
  right: 0;
  z-index: -1;
}
.progresso li:first-of-type .passo:before {
  display: none;
}
.progresso li:last-of-type .passo:after {
  display: none;
}
.progresso .feito .passo,
.progresso .feito .passo:before,
.progresso .feito .passo:after,
.progresso .atual .passo,
.progresso .atual .passo:before {
  background-color: #48babf;
}
.progresso .feito .passo,
.progresso .atual .passo {
  border: 10px solid  #48babf;
}

span .passo {
	/*text-align: center!important;*/
	margin-left: -4px;
	font-family: Arial;
	font-size: 0.8rem;
	/*font-weight: bold;*/
}

