.corpo-glossario{
  width: 100%;
	height: 100%;
	margin: auto;

  .palavra-glossario{
    width: 90%;
  	height: 90%;
  	margin: auto;
  }
  .significado-glossario{
    width: 85%;
  	height: 100%;
  	margin: auto;
  }
}
