.embedIframe {
  
 position: relative;
 padding-bottom: 56.25%;
 margin: 0em 1em 1em 1em;
 height: 0;
   iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
}
