@charset "utf-8";

/*@media screen and (max-width: 320px) {

.introducao h1 {top:-4%!important; width: 100%!important;}
.entrar {top: 334px!important;}
h1 {font-size: 2.1rem!important;}
.avancar2, .voltar2 {bottom: -58px!important;}
.PadLeft {padding-left: 14px!important;}
	
}*/

@media screen and (min-width: 320px) and (max-width: 480px) {
	.introducao h1 {
		top: 15% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 1.5rem !important;
	}

	.entrar {
		top: 334px !important;
	}

	.avancar2,
	.voltar2 {
		bottom: -58px !important;
	}

	.PadLeft {
		padding-left: 14px !important;
	}

	h2 {
		margin-top: -22px !important;
	}

	.barrainferior {
		background: rgba(0, 0, 0, 0.1) !important;
	}

	nav .button-collapse {
		margin: 0 9PX !important;
	}

	.telas {
		padding-top: 0px !important;
	}

	.progresso {
		margin: 20px 0 36px -19px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media screen and (min-width: 481px) and (max-width: 600px) {
	.progresso {
		margin: 2px 0 -11px 0px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media screen and (min-width: 600px) and (max-width: 960px) {
	.introducao h1 {
		text-align: center !important;
	}

	h2 {
		margin-top: -37px !important;
	}

	.barrainferior {
		background: rgba(0, 0, 0, 0.1) !important;
	}

	.progresso {
		margin: 2px 0 43px -19px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

/*---TABLET---*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.introducao h1 {
		top: 19% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 4rem !important;
	}

	.entrar {
		bottom: 10% !important;
	}

	.barrainferior {
		background: rgba(0, 0, 0, 0.1) !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

/*---FIM TABLET---*/

/*---NOTEBOOK---*/
@media screen and (min-width: 1280px) and (max-width: 1599px) {
	.introducao h1 {
		width: 88% !important;
		top: 23% !important;
	}

	.barrainferior {
		background: rgba(0, 0, 0, 0.1) !important;
	}
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
	.introducao h1 {
		width: 70% !important;
		top: 23% !important;
	}
}

@media screen and (min-width: 1920px) {
	.introducao h1 {
		width: 60% !important;
		top: 23% !important;
	}
}

/*---FIM NOTEBOOK---*/

/*---POSIÇÕES RETRATO---*/
@media only screen and (min-width: 480px) and (max-width: 480px) {
	.introducao h1 {
		top: 5% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 1.5rem !important;
	}

	.entrar {
		top: 173px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media only screen and (min-width: 533px) and (max-width: 568px) {
	.introducao h1 {
		top: 5% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 1.5rem !important;
	}

	.entrar {
		top: 174px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media only screen and (min-width: 640px) and (max-width: 667px) {
	.introducao h1 {
		top: 4% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 2rem !important;
	}

	.entrar {
		top: 214px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}


@media only screen and (min-width: 732px) and (max-width: 732px) {
	.introducao h1 {
		top: 8% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 2rem !important;
	}

	.entrar {
		top: 214px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media only screen and (min-width: 736px) and (max-width: 736px) {
	.introducao h1 {
		top: 14% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 2rem !important;
	}

	.entrar {
		top: 263px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

@media only screen and (min-width: 960px) and (max-width: 960px) {
	.introducao h1 {
		top: 20% !important;
		width: 100% !important;
		padding-left: 6% !important;
		padding-right: 6% !important;
		text-align: center;
		font-size: 3rem !important;
	}

	.entrar {
		top: 365px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

/*---FIM RETRATO---*/

/*-- NOME DISCIPLINA --*/
/*@media screen and (min-width: 320px) and (max-width: 480px) {
	nav .brand-logo {
		font-size: 0.8rem !important;
		margin-top: 19px !important;
		line-height: 16px !important;
		width: 91% !important;
	}
}*/

/*@media screen and (min-width: 480px) and (max-width: 600px) {
	nav .brand-logo {
		font-size: 1rem !important;
		margin-top: 19px !important;
		line-height: 18px !important;
		width: 81% !important;
		padding-left: 8px !important;
		vertical-align: middle !important;
	}
}*/

/*@media screen and (min-width: 600px) and (max-width: 960px) {
	nav .brand-logo {
		font-size: 1.2rem !important;
		margin-top: 20px !important;
		line-height: 21px !important;
		width: 81% !important;
		padding-left: 0px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}*/

@media screen and (max-width: 1440px) {
	nav .brand-logo {
		width: 100% !important;
		margin: 0 0 0 4rem;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}
@media screen and (max-width: 639px) {
	nav .brand-logo {
		width: 80% !important;
		margin: 0 !important;
		left: 3rem !important;
		transform: none !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}

/*@media screen and (min-width: 1441px) and (max-width: 1518px) {
	nav .brand-logo {
		font-size: 1.1rem !important;
		margin-top: 12px !important;
		line-height: 20px !important;
		width: 19% !important;
		padding-left: 13px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}*/

/*@media screen and (min-width: 1519px) and (max-width: 1599px) {
	nav .brand-logo {
		font-size: 1.2rem !important;
		margin-top: 12px !important;
		line-height: 20px !important;
		width: 19% !important;
		padding-left: 13px !important;
	}

	.objetivos span {
		font-size: 1.3rem !important;
	}
}*/

/*@media screen and (min-width: 1600px) and (max-width: 1919px) {
	nav .brand-logo {
		font-size: 1.2rem !important;
		margin-top: 22px !important;
		line-height: 17px !important;
		width: 22% !important;
		padding-left: 13px !important;
	}
}
*/
/*@media screen and (min-width: 1920px) {
	nav .brand-logo {
		font-size: 1.3rem !important;
		margin-top: 17px !important;
		line-height: 25px !important;
		width: 35% !important;
		padding-left: 10px !important;
		vertical-align: middle !important;
	}
}*/

/*-- FIM NOME DISCIPLINA --*/

/*-- CARROSEL DE TEXTO --*/
@media only screen and (max-width: 320px) {
	
	.carousel.carousel-slider .carousel-item p {
		font-size: 0.9rem !important;
		margin: 14px 17px 0;
	}

	.carousel .indicators .indicator-item {
		margin: 0px 5px;
	}

	.carousel-item-text {
		font-family: "Roboto", sans-serif !important;
	}
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	
	.carousel.carousel-slider .carousel-item p {
		font-size: 1rem !important;
		margin: 55px 20px 0;
	}

	.carousel .indicators .indicator-item {
		margin: 0px 5px;
	}

	.carousel-item-text {
		font-family: "Roboto", sans-serif !important;
	}
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
	
	.carousel.carousel-slider .carousel-item p {
		font-size: 1.3rem !important;
		margin: 53px 20px 0;
	}

	.carousel .indicators .indicator-item {
		margin: 0px 5px;
	}

	.carousel-item-text {
		font-family: "Roboto", sans-serif !important;
	}
}

@media only screen and (min-width: 640px) and (max-width: 666px) {
	.carousel.carousel-slider .carousel-item p {
		font-size: 1.1rem !important;
		margin: 20px 20px 0;
	}

	.carousel .indicators .indicator-item {
		margin: 0px 5px;
	}

	.carousel-item-text {
		font-family: "Roboto", sans-serif !important;
	}
}

@media only screen and (min-width: 667px) and (max-width: 1023px) {
	
	.carousel.carousel-slider .carousel-item p {
		font-size: 1.8rem !important;
		margin: 109px 19px 0;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	
	.carousel.carousel-slider .carousel-item p {
		font-size: 1.8rem !important;
		margin: 78px 19px 0;
	}
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
	.carousel.carousel-slider .carousel-item p {
		margin: 100px 20px 0;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
	
	.carousel.carousel-slider .carousel-item p {
		margin: 78px 19px 0;
	}
}

@media screen and (max-width: 640px) {
	.carousel {
		height: 32vh !important
	}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
	.carousel {
		height: 58vh !important
	}
}

@media screen and (min-width: 320px) and (max-width: 640px) {
	.avancar2,
	.voltar2 {
		bottom: -80px !important;
	}

	.PadLeft {
		padding-left: 15px !important;
	}

	h2 {
		font-size: 2.5rem !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	figure.Vid,
	figure.Site,
	figure.Ref {
		margin: -7px !important;
	}

	div .RefIco {
		float: left;
		width: 31px !important;
	}

	.TxtBox {
		padding: 1.3rem 0 1.3rem 0 !important;
	}

	.carousel {
		width: 100% !important;
	}

	.avancar2 i,
	.voltar2 i {
		font-size: 3rem !important;
	}

	.avancar2,
	.voltar2 {
		width: 3rem !important;
		height: 3rem !important;
	}

	.MargTop {
		margin-top: 30px !important;
	}

	.MargBottom {
		margin-bottom: 30px !important;
	}
}

@media only screen and (max-width: 600px) {
	.abas {
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		width: 100% !important;
		margin: 1%;
		float: left;
		height: 35px;
		line-height: 35px;
		background-color: #4abbc0;
		text-align: center;
		color: #fff;
	}

	h1 {
		font-size: 2.4rem !important;
	}

	.icone {
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 8px;
	}
}

@media only screen and (min-width: 601px) {
	.row .col.m6,
	.row .col.m9 {
		width: 70% !important;
	}
}

@media screen and (max-width: 1920px) {
	.imglateral {
		display: none !important;
	}

	.barraSuperior {
		position: fixed !important;
		z-index: 9999 !important;
	}
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
	.row .col.m6,
	.row .col.m9 {
		/*width: 70%!important;*/
		width: 93% !important;
		padding-left: 81px !important;
	}
}

@media screen and (min-width: 1920px) {
	.row .col.m6,
	.row .col.m9 {
		width: 65% !important;
	}
}

@media only screen and (max-width: 1500px) {
	.embed-responsive.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}

	.embed-responsive {
		position: relative;
		display: block;
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	div .RefIco {
		float: left;
		width: 18%;
	}

	div .RefDados {
		float: left;
		width: 75%;
	}

	.RefContent:last-child {
		margin-bottom: 100px
	}

	.card:last-child {
		margin-bottom: 100px
	}

	.l_img2 {
		background: url(../imgCurso/2.jpg) 170px 2px no-repeat;
	}

	.l_img6 {
		background: url(../imgCurso/6.jpg) 0px -110px no-repeat;
	}

	.celular {
		display: block;
		margin-bottom: 100px
	}

	.computador {
		display: none
	}

	.play {
		border: 4px solid #fff;
		background: #095BA5;
		position: absolute;
		left: 50%;
		height: 70px;
		width: 70px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		top: 165px;
		margin-top: 0;
		margin-left: -35px;
	}

	.lerapostila,
	.baixarApostila {
		line-height: 4em;
		display: block;
		margin: 20px 0;
		cursor: pointer;
		border: 1px solid #f1f1f1;
		padding: 10px;
		background: #f3f3f3;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		width: 100%;
	}

	.telaBranca {
		background: #f7f7f7;
		position: absolute;
		width: 100%;
		margin-left: -50%;
		z-index: 100000;
		left: 50%;
		height: 100%;
		top: 50%;
		margin-top: -73%;
	}

	.height100 {
		height: 200px
	}

	.menuResponsivo {
		display: block
	}

	.barraSuperior ul {
		position: fixed;
		top: 62px;
		left: -100%;
		width: 96%;
		z-index: 10000;
		background: url(../imgEstrutura/BgSubmenu.jpg) repeat-x left top;
		padding: 8px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: 2px solid #fff;
	}

	.fecharMenu {
		display: block
	}

	.barraSuperior li {
		float: none;
		border-bottom: 0px solid rgba(255, 255, 255, 0.4)
	}

	.barraSuperior li:last-child {
		border: none
	}

	h1 {
		font-size: 2.2rem;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}
}

@media screen and (max-width: 1280px) {
	.btn-floating.btn-large {
		top: 8px !important;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
	.imglateral {
		height: 553px !important;
	}
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
	.imglateral {
		height: 685px !important;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
	.barraSuperior li {
		padding: 0 22px !important;
	}

	.ativado {
		background-position: 3px 19px !important;
	}

	.imglateral {
		height: 685px !important;
	}
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

	.barraSuperior li {
		padding: 0 8px !important;
		padding-left: 23px !important;
	}

	.ativado {
		background: url(../imgEstrutura/checked.png) no-repeat 3px 19px !important;
	}
}

@media only screen and (min-width: 1680px) and (max-width: 1920px) {
	.imglateral {
		height: 708px !important;
	}
}

@media only screen and (min-width: 1920px) {
	.imglateral {
		height: 848px !important;
	}

	.barraSuperior li {
		padding: 0 14px !important;
		padding-left: 33px !important;
	}

	.ativado {
		background: url(../imgEstrutura/checked.png) no-repeat 10px 19px !important;
	}
}