﻿/*	Custom Styles
*	Editar de acordo com necessidades especificas de cada unidade.
*/

/*	Usar os comentários por seção, o ID do template (#uni) e a classe da seção para personalização ou somente o ID #uni para
*	estilos gerais.

Exempo:

*	/* UNIDADE * /
*	#uni .classe-personalizada {
*		color: #ccc;
*	}
*
*	/* DESAFIO * /
	#uni *	#uni .desafio .classe-personalizada {
*		background: #aaa;
*	}

*/

/* UNIDADE */
/* Nav */
#uni.pos100 .top-bar .top-wrapper { background-color: #52CCCC; }
#uni.pos100 .top-bar .top-wrapper .dropdown-content { background-color: #52CCCC; }
#uni.pos100 .nav-off-canvas { background-color: #52CCCC; }
/* Cover */
#uni.pos100 .cover-overlay { background-image: url(../img/_base/cover-overlay-pos100.png); }
#uni.pos100 #main-content.bg-content {
	background: url(../img/_base/bg-content-pos100.jpg) center center no-repeat fixed white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Sections Title Pattern */
#uni.pos100 .section .section-title.dots:after {
	-webkit-background-size: auto 30%;
	-moz-background-size: auto 30%;
	-o-background-size: auto 30%;
	background-size: auto 30%;
}
#uni.pos100 .section .section-title.squares:after {
	-webkit-background-size: auto 27%;
	-moz-background-size: auto 27%;
	-o-background-size: auto 27%;
	background-size: auto 27%;
}
/* Buttons Colors */
#uni.pos100 .btn,
#uni.pos100 .btn-large,
#uni.pos100 .btn-small,
#uni.pos100 .btn-floating,
#uni.pos100 .btn-flat {
	color: #FFFFFF;
	background-color: #0098E5;
}

#uni.pos100 .btn:hover,
#uni.pos100 .btn-large:hover,
#uni.pos100 .btn-small:hover,
#uni.pos100 .btn:focus,
#uni.pos100 .btn-large:focus,
#uni.pos100 .btn-small:focus,
#uni.pos100 .btn-floating:focus {
	background-color: #006192;
	box-shadow: none;
}
