/* Util */
@import util/_variables
@import util/_functions
@import util/_mixins
// @import util/_crossbrowser
@import util/_helper

/* Vendor */
@import vendor/materialize.custom
// @import vendor/materialize-grid.custom
@import vendor/materialize-mq.custom

@import vendor/uikit.min
@import vendor/anicollection.min
@import vendor/plyr

/* Base */
@import base/_normalize
@import base/_grid
@import base/_materialize-colors
@import base/_colors
@import base/_type
@import base/_core

/* Components */
// @import components/_button
@import components/_link
@import components/_components
@import components/_placeholder

/* Layouts */
// @import layouts/_nav
@import url("layouts/_cover.css")
@import layouts/_desafio
@import layouts/_exercicios
@import layouts/_referencias
@import layouts/_resume-box

/* Themes */
@import themes/theme.grd.css

/* Tests */
::placeholder
  color: gray
  opacity: 1.0
  font-size: convert-unit(10px, "%")