body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif !important;
	/*letter-spacing: 1px;*/
	font-weight: 400;
}
.brand-logo {
	width: 25%;
}
.brand-logo img {
	height: 60px;
	margin: 40px 0;
}
.topSite {
	background: #B0CB60;
	height: 140px !important;
	line-height: 140px;
	font-size: 2em !important;
	padding-right: 70px;
}
.topSite i {
	line-height: 140px !important;
}
h2 {
	font-size: 2.4rem !important
}
.header {
	height: 140px;
}
.header li {
	font-size: 1.31rem !important;
	font-family: 'PT Sans', sans-serif !important;
	cursor: pointer !important;
}
footer {
	height: 100px;
	background-color: #45A7AD;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 28
}
.conteudoExibido {
	background-color: #99cc03;
	position: relative;
	min-height: calc(100% - 160px);
	width: 100%;
	overflow: hidden;
	background: url('../img/fundo.jpg') no-repeat bottom;
	background-size: cover
}
.exibirReferencia {
	width: 35%;
	background-color: #fff;
	padding: 20px;
	height: 100%;
	position: absolute;
	top: 500px;
	Z-INDEX: 27;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 10%;
  right:7%  !important;
}

/*.exibirReferencia::before {
    content: "";
    position: absolute;
    background: url(../img/icone-referencias.png) no-repeat;
	background-size: contain;
    top: 20%;
    left: -60px;
    display: block;
    height: 60px;
    width: 60px;
    text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}*/

.referencias {
	background: #fff;
	padding: 70px 0px 330px 40px;
	position: absolute;
	width: 100%;
	z-index: 27;
	bottom: -300px;
	height: 300px;
}
.exiberolagem {
	height: 200px;
	overflow-y: auto;
	width: 100%;
	margin: auto !important;
}
nav ul li {
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	float: left;
	padding: 0 16px;
	cursor: pointer
}
.referenciaAtivada {
	right: 0;
	transition: 0.5s;
}
.referenciaDesativada {
	right: -35%;
	transition: 0.5s;
}
.conteudoSetor {
	height: 80%;
	width: 100%;
	background: #f5f5f5;
	display: none;
}
.conteudoSetor h2 {
	font-size: 3.4rem !important;
}
.barraProgresso {
	height: 20px;
}
.barra {
	float: left;
	width: calc(100% - 210px);
	text-align: left;
	background: #DDE3F1;
}
.porcentagem {
	float: left;
	width: 210px;
	text-align: center;
	line-height: 20px;
	background: #F16E5B;
	webkit-border-radius: 4px;
	color: #fff;
}
.evolucao, .evolucao2 {
	height: 20px;
	margin: 0;
	background-color: #2E7F84;
	/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; */ width: 0.1%
}
.progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
	background-size: 1rem 1rem;
}
.nomeunidade {
	text-align: right;
	font-size: 1.6em;
	color: #fff;
}
.meio {
	float: left;
	width: 50%;
}
.titulo {
	background: #4EC3CA;
	height: 100%;
}
.titulo h2 {
	font-size: 2.4em !important;
	font-weight: bold;
	color: #fff !important;
	width: 50%;
	height: 40%;
	margin-top: 20%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block
}
/*.setor0{ height: calc(100% - 240px)}*/
.imgdestaque {
	background: url(../img/img_fundo_capa.jpg) center center no-repeat;
	height: 100%;
	background-size: cover
}
nav {
	background-color: #48babf!important;
	box-shadow: none!important;
}
nav .brand-logo {
	padding-left: 21px!important;
	font-weight: bold!important;
	text-transform: uppercase!important;
	font-size: 1rem!important;
	margin-top: 2px!important;
	word-break: keep-all!important;/*line-height: 23px;*/
}
.aba, .ab1, .ab2, .ab3, .ab4, .ab5, .ab6, .ab7, .ab8, .ab9, .ab10 {
	min-height: calc(100% - 160px)!important
}
.abas {
	overflow: hidden;
	border-bottom: 2px solid #90caf9
}
.abas2 {
	overflow: hidden;
	border-bottom: 2px solid #90caf9
}
.abas li {
	padding: 5px 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #90caf9;
	margin: 0 5px;
	float: left;
	color: #fff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 0.8em;
	cursor: pointer
}
.telatoda {
	width: 50%;
	height: 60%;
	margin: 10% 25%;
	position: static;
}
.abas2 li {
	padding: 5px 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #90caf9;
	margin: 0 5px;
	float: left;
	color: #fff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 0.8em;
	cursor: pointer;
}
.abat {
	display: none;
	padding: 10px;
}
.telaBranca, .telabranca2 {
	background: rgba(0,0,0,0.95);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 29;
	display: none;
	text-align: center;
}
.telabranca2 img {
	max-height: 800px;
}
.topicos li {
	list-style: circle !important;
	margin-left: 20px
}
.fecharBox, .fecharBox2, .fb {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 40px !important;
	height: 40px !important;
	position: absolute;
	background: #D4393B;
	color: #fff !important;
	text-align: center;
	line-height: 40px;
	font-size: 1.5em;
	right: 5px;
	top: 4px;
	cursor: pointer;
}
.iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
.telaquiz {
	height: 500px;
	overflow-y: auto;
	font-size: 1em;
	color: #fff;
	width: 80% !important;
	margin: 0 10%;
}
.setor5 h2 {
	font-size: 3.75em;
	color: #fff;
	margin-left: 4%;
}
.transcription {
	height: 90%;
	overflow-y: auto;
}
.mostrar {
	display: none;
}
.ref {
	padding: 10px 0 5px 20px;
	color: #3B6375;
	font-size: 1.1rem;
}
.ref:nth-child(odd) {
	background-color: #E6EBF5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.conteudo_invisivel {
	display: none
}
.conteudoSetor h2 {
	color: #fff
}
.conteudoSetor i {
	font-size: 1em;
	color: #fff;
}
.mtop {
	margin-top: 30px;
	margin-bottom: 30px;
}
i.left {
	margin-right: 5px!important;
}
.conteudoSetor h2 {
	font-size: 2.1em;
}
.conteudoSetor h3 {
	font-size: 2.1em;
}
.setor5 {
	background: #4CBDC4
}
.listagem li {
	list-style: disc !important;
	margin: 10px;
	cursor: pointer
}
.destacando {
	padding: 0 20px;
	background-color: #7B8388;
	border: 1px solid #454A58;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*QUIZ*/
.avancar, .voltar, .concluir {
	display: none;
	width: 76px;
	float: left;
	position: absolute;
	top: 124px;
	height: 165px;
	line-height: 165px;
	font-size: 5em;
	padding: 0 !important;
}
.concluir {
	top: 70px;
	right: 15%;
	width: 290px !important;
	height: 54px !important;
	font-size: 1.5em !important;
	padding: 10px !important;
	line-height: 36px;
	text-align: center;
}
.concluir i {
	font-size: 1em;
}
.avancar {
	display: none;
	-webkit-border-top-left-radius: 110px;
	-webkit-border-bottom-left-radius: 110px;
	-moz-border-radius-topleft: 110px;
	-moz-border-radius-bottomleft: 110px;
	border-top-left-radius: 110px;
	border-bottom-left-radius: 110px;
	top: 284px;
	right: 0px;
	background: rgba(55,139,144,0.8);
	cursor: pointer;
}
.voltar {
	-webkit-border-top-right-radius: 110px;
	-webkit-border-bottom-right-radius: 110px;
	-moz-border-radius-topright: 110px;
	-moz-border-radius-bottomright: 110px;
	border-top-right-radius: 110px;
	border-bottom-right-radius: 110px;
	top: 284px;
	left: 0px;
	background: rgba(55,139,144,0.8);
	cursor: pointer;
}
.res .questaonumero {
	color: #333;
}
.respa1, .respa2, .respa3, .respa4, .respa5, .respb1, .respb2, .respb3, .respb4, .respb5, .respc1, .respc2, .respc3, .respc4, .respc5, .respd1, .respd2, .respd3, .respd4, .respd5, .respe1, .respe2, .respe3, .respe4, .respe5 {
	display: block;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	background: #e5e5e5;
}
.voltar i {
	padding: 0;
	font-size: 1.2em;
	margin-left: -15px;
	margin-top: 30px;
}
.avancar i {
	padding: 0;
	font-size: 1.2em;
	margin-left: 5px;
	margin-top: 30px;
}
.erro {
	padding: 5px 10px;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
}
.verREsultados {
	overflow: hidden;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	display: none;
	background-color: rgba(255,255,255,1);
	color: #333;
}
.teste { background: #99cc03;}

.questao .respondido { background: #007888 !important; color: #f5f5f5; }

.questao, .gabarito { display: none}

.questaonumero {
	/*width: 60px;
	height: 60px;*/
	line-height: 60px;
	COLOR: #D2F078;
	font-size: 30px;
	text-align: center;
	float: right;
	margin-right: 10px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 5px;
	font-weight: bold
}
.pergunta {
	color: #fff;
    padding: 10px 0px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #479AA3 !important;
    font-size: 1.15rem;
}
.resposta {
	 cursor: pointer;
    padding: 10px 0px;
    margin: 10px 0px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background: #6CD2D8;
    /* color: #65A; */
    color: #004b80;
    /* text-shadow: 1px 1px 3px rgba(0,0,0,0.7); */
    font-size: 1.15rem;

}
.retorno {
	padding: 5px 10px;
	margin: 20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.mts {
	border-bottom: 1px dotted #BABABA;
	padding: 5px 0
}
.acertou {
	background: #e0f7fa!important
}
.errou {
	background: #ffebee
}
.res {
    padding: 8px;
    margin: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.m {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*abas*/

.exibindoAbas, .superaba {
}
.exibindoAbas {
	overflow: hidden;
	margin-top: 20px;
	border-bottom: 1px solid #00AEEF
}
.abas {
	cursor: pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	width: 18%;
	height: 35px;
	line-height: 35px;
	background-color: #00AEEF;
	text-align: center;
	color: #fff;
	margin: 0 1%;
}
.ativado {
	color: #648A58
}
.abas2 {
	cursor: pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	width: 100%;
	/*height: 35px;
    line-height: 35px;
   /* background-color: #00AEEF;*/
	text-align: center;
	color: #fff;
}
.superaba {
	border: 1px solid #00AEEF;
	padding: 15px;
}
.ab {
	display: none
}
.aba1 {
	display: block;
}
.overlay {
	background: url(../img/overlay.png) repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.1;
	display: none;
}
.meio {
	float: left;
	width: 50%;
}
.titulo {
	background: #4EC3CA;
	height: 100%;
}
.row {
	margin-bottom: none !important;
}
.titulo h2 {
	font-size: 2.4em !important;
	font-weight: bold;
	color: #fff !important;
	width: 50%;
	height: 40%;
	margin-top: 20%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative
}
/*//.setor ,.setor0{ height: calc(100% - 240px)}*/

.imgdestaque {
	background: url(../img/fundo_capa.jpg) center center no-repeat;
	height: 100%;
	background-size: cover
}
.button_chamada {
	width: 40%;
	background: #DEE3F0;
	float: left;
	height: 100%;
	padding-left: 40px;
}
.chamadaeaviso {
	width: 60%;
	background: #6CA5AB;
	float: left;
	height: 100%
}
footer .row {
	margin-bottom: 0 !important
}
.esconder2, .esconder3 {
	text-align: center;
	color: #89C9CF;
	height: 100%;
	float: left;
	margin-right: 30px;
	width: 80px;
	background: #5A8A8E;
	cursor: pointer
}
.esconder2 i, .esconder3 i {
	font-size: 3em;
	margin-top: 10px;
}
.esconder3 {
	color: #6FABB1 !important
}
.textoaviso {
	overflow: hidden;
	float: left;
	margin-top: 10px;
	width: calc(100% - 111px );
}
footer h4 {
	font-size: 16px;
	color: #fff;
	margin: 10px;
}
footer h5 {
	font-size: 16px;
	color: #E9CA69;
	margin: 10px;
}
.footer2 {
	height: 40px;
}
.btns {
	background: #D56D5C;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	margin: 20px 10px;
	cursor: pointer;
}
.fechaReferencias {
	width: 65px;
	height: 40px;
	background: #D56E5C;
	-webkit-border-bottom-right-radius: 65px;
	-webkit-border-bottom-left-radius: 65px;
	-moz-border-radius-bottomright: 65px;
	-moz-border-radius-bottomleft: 65px;
	border-bottom-right-radius: 65px;
	border-bottom-left-radius: 65px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -33px;
	cursor: pointer;
	color: #fff;
	text-align: center;
}
.fechaReferencias i {
	font-size: 2em
}
.cla {
	margin-top: 5px !important;
	font-size: 2.2em !important
}
.meios_texto {
	width: 50%;
	background-color: #7EC2C9;
	height: 100%;
	float: left
}
.meios_texto h2 {
	font-size: 3.75em;
	color: #fff;
	margin-left: 4%
}
.meios_texto i {
	font-size: 1em;
	color: #fff;
}
.meios_img {
	width: 50%;
	height: 100%;
	float: left;
	background-size: cover !important;
	background: url( ../img/lateral_5.png) no-repeat
}
.meio_texto {
	width: 75%;
	background-color: #7EC2C9;
	height: 100%;
	float: left
}
.meio_texto h2 {
	font-size: 3.75em;
	color: #fff;
	margin-left: 4%
}
.meio_texto i {
	font-size: 1em;
	color: #fff;
}
.meio_img {
	width: 25%;
	height: 100%;
	float: left;
	background: url(../img/lateral_1.png) #B3C769 center left no-repeat;
	background-size: contain
}
.scroll {
    width: 80%;
    margin: 20px auto;
    overflow-y: auto;
    color: #004b80;
    font-size: 1.25em;
    height: 260px;
    z-index: 22;
    position: relative;
    padding-right: 30px;
    /*text-shadow: 1px 1px 3px #ddddddb3;*/
    font-weight: 500;
}
.el {
	float: left;
	width: 76px;
	height: 41px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 41px;
	color: #333;
	cursor: pointer;
	font-size: 14px;
}
.elo {
	background: url(../img/pec2.png) no-repeat
}
.eloinicio {
	background: url(../img/pec1.png) no-repeat
}
.elofinal {
	background: url(../img/pec3.png) no-repeat
}
.breadcrumbs {
	clear: both;
	margin-left: 10px;
	margin-left: 24px;
	position: relative;
	z-index: 20
}
.eloinicio i {
	margin-top: 13px;
	font-size: 1em !important;
	color: #fff !important;
}
.boxsaibamais {
	background: #76E6E9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	width: 430px;
	padding: 20px;
	position: relative;
	color: #394B59
}
.boxsaibamais h3 {
	font-size: 1.1em;
	font-weight: bold;
	font-style: normal;
}
.btnSaibamais {
	width: 100%;
	display: block;
	height: 55px;
	background: #5A8A8E;
	color: #fff;
	text-align: center;
	line-height: 55px;
	margin: 10px 0
}
.sb {
	background: #7EC2C9 !important
}
.tb {
	background: url(../img/lateral_2.png) #B3C769 center no-repeat !important;
	background-size: 80% !important
}
.sb2 {
	width: 70% !important;
	background: #7EC2C9 !important
}
.tb2 {
	width: 30% !important;
	background: url(../img/lateral_3.png) #D56E5C center no-repeat !important;
	background-size: 40% !important
}
.sb3 {
	background: #7EC2C9 !important
}
.tb3 {
	background: url(../img/lateral_4.png) #35485D left center no-repeat !important;
	background-size: 80% !important
}
.mei {
	float: left;
	width: 50%
}
.fundovideo i {
	font-size: 2em;
	cursor: pointer;
	display: block
}
.caixaimagem {
	width: 400px;
	height: 300px;
	margin: calc( 50% - 260px ) auto;
	background: #99cc03 url(../img/infografico.png) no-repeat center;	
	background-size: cover;
}
.sobrecaixa {
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 300px;
	background: rgba(49,119,123,0.4);
	cursor: pointer;
	z-index: 25;
	position: relative
}
.sobrecaixa i {
	text-align: center;
	line-height: 300px;
	color: #fff;
	font-size: 6em;
}

/*nav ul a {color: #48babf!important;}*/


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
.material-icons {
	display: none!important;
}
}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
.header li {
	font-size: 1.01rem !important;
	font-family: 'PT Sans', sans-serif !important;
	cursor: pointer !important;
}
.topSite {
	background: #B0CB60;
	height: 140px !important;
	line-height: 140px;
	font-size: 2em !important;
	padding-right: 20px;
}
.brand-logo {
	width: 22%;
}
.brand-logo img {
	width: 100%
}
}

/*feito a 3 semans */

@media screen and (max-width: 500px) {
.mei {
	float: none;
	width: 100%
}
.boxsaibamais {
	background: #76E6E9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: nome;
	margin: 10px auto;
	width: 300px;
}
.meio_texto {
	width: 100% !important
}
.meios_texto {
	width: 100% !important
}
.meio_img {
	display: none;
}
.meios_img {
	display: none;
}
.scroll {
	height: 200px;
}
.meio {
	width: 100%
}
.titulo h2 {
	font-size: 1.8em !important;
	font-weight: bold;
	color: #fff !important;
	width: 80%;
	height: 40%;
	margin-top: 40%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block
}
.imgdestaque {
	display: none
}
.btns {
	background: #D56D5C;
	padding: 2px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	margin: 0px;
	font-size: 9px;
	height: 50%;
	line-height: 50px;
	text-align: center;
}
.btns i {
	line-height: 50px;
	text-align: center
}
.button_chamada {
	width: 40%;
	background: #DEE3F0;
	float: left;
	height: 100%;
	padding-left: 0;
}
footer h4 {
	font-size: 12px;
	color: #fff;
	margin: 10px;
}
footer h4 {
	font-size: 11px;
	color: #fff;
	margin: 10px;
}
footer h5 {
	display: none
}
.exiberolagem {
	height: 200px;
	overflow-y: auto;
	width: 95%;
	margin: auto !important;
}
.referencias {
	background: #fff;
	padding: 70px 0px 330px 40px;
	position: absolute;
	width: 100%;
	z-index: 22;
	bottom: -300px;
	height: 300px;
}
}
.fundovideo {
	position: relative;
	padding: 10px;
	background: #3E495D;
	width: 400px;
	z-index: 20;
	float: right
}
.fundovideo iframe {
	z-index: 20
}

@media screen and (max-width: 1280px) {
.telaquiz {
	height: 260px;
	overflow-y: auto;
	font-size: 1em;
	color: #fff;
	width: 80% !important;
	margin-left: 100px !important;
}
.fundovideo {
	position: relative;
	width: 440px;
	z-index: 20;
	float: right;
	padding: 10px;
	height: 240px;
	background: rgb(62, 73, 93);
}
.fundovideo iframe {
	width: 100%;
	height: calc( 100% - 40px);
}
.scroll {
	width: 80%;
	margin: 20px auto;
	overflow-y: auto;
	color: #3a4c5a;
	font-size: 1em;
	height: 220px;
	z-index: 22;
	position: relative;
}
.conteudoSetor {
	height: 78%;
	width: 100%;
	display: none;
	overflow: hidden;
}
}

@media screen and (min-width: 1281px) {
.telaquiz {
	height: 500px;
	overflow-y: auto;
	font-size: 1em;
	color: #fff;
	width: 70% !important;
	margin: 0 15%;
}
.telabranca2 img {
	max-height: 800px;
	margin-top: 40px;
}
.titulo h2 {
	font-size: 3.5em !important;
	font-weight: bold;
	color: #fff !important;
	width: 50%;
	height: 50%;
	margin-top: 20%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block
}
.scroll {
	height: 72%
}
.fundovideo {
	position: relative;
	padding: 10px;
	background: #3E495D;
	width: 480px;
	z-index: 22;
	float: right;
}
}

@media screen and (min-width: 1300px) and (max-width: 1601px) {
.titulo h2 {
	font-size: 3.5em !important;
	font-weight: bold;
	color: #fff !important;
	width: 70%;
	height: 80%;
	margin-top: 23%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.scroll {
	height: 70%;
}
.telaquiz {
	height: 400px;
	overflow-y: auto;
	font-size: 1em;
	color: #fff;
	width: 80% !important;
	margin-left: 100px !important;
}
}

@media screen and (max-width: 800px) {
.brand-logo img {
	height: 55px;
	margin: 49px -90px;
}
/*	.exibirReferencia{ 
		width: 80%;  
		background-color: #fff; 
		padding: 20px; 
		height: 100%; 
		position: absolute; 
		top:0
	}*/

.referenciaAtivada {
	right: 0;
	transition: 0.5s;
}
.referenciaDesativada {
	right: -80%;
	transition: 0.5s;
}
}

@media screen and (max-width: 450px) {
.referencias {
	position: absolute;
	width: 100%;
	z-index: 22;
	bottom: -380px;
	height: 300px;
	background: rgb(255, 255, 255);
	padding: 70px 0px 330px 40px;
}
.topSite {
	background: #B0CB60;
	height: 60px !important;
	line-height: 60px;
	font-size: 2em !important;
	padding-right: 70px;
}
.topSite i {
	line-height: 60px !important;
}
.some {
	transform: translateX(-105%)!important;
}
.scroll {
	width: 80%;
	margin: 20px auto;
	overflow-y: auto;
	color: #394B59;
	font-size: 1em;
	height: 63% !important;
	z-index: 22;
	position: relative;
}
.header {
	height: 60px;
}
.breadcrumbs {
	display: none;
}
.fundovideo {
	position: relative;
	width: 360px !important;
	z-index: 20;
	float: none !important;
	padding: 10px;
	height: 240px;
	background: rgb(62, 73, 93);
	margin: auto;
}
.scroll {
	width: 80%;
	margin: 20px auto;
	overflow-y: auto;
	color: #394B59;
	font-size: 1em;
	height: 140px;
	z-index: 22;
	position: relative;
}
.meios_img {
	display: block;
	width: 100%;
}
.telaBranca img, .telaBranca2 img {
	width: 90%;
	margin: 40px auto
}
.metade1 {
	height: 70%
}
.metade2 {
	height: 30%;
}
.met {
	height: 170px !important;
}
.overlay {
	display: none
}
.telaquiz {
	height: 60%;
	overflow-y: auto;
	font-size: 1em;
	color: #fff;
	width: 98% !important;
	margin: auto 0 !important;/* margin-left: 100px !important; */
}
.textoaviso h5 {
	display: none;
}
.avancar {
	display: none;
	-webkit-border-top-left-radius: 110px;
	-webkit-border-bottom-left-radius: 110px;
	-moz-border-radius-topleft: 110px;
	-moz-border-radius-bottomleft: 110px;
	border-top-left-radius: 110px;
	border-bottom-left-radius: 110px;
	top: 4px;
	right: 0px;
	background: rgba(55,139,144,0.8);
	cursor: pointer;
}
.avancar, .voltar, .concluir {
	display: none;
	width: 40px;
	float: left;
	position: absolute;
	top: 34px;
	height: 65px;
	line-height: 40px;
	font-size: 5em;
	padding: 0 !important;
}
.avancar i {
	padding: 0;
	font-size: 0.5em;
	margin-left: 5px;
	margin-top: 14px;
}
.voltar i {
	padding: 0;
	font-size: 0.5em;
	margin-left: 25px;
	margin-top: 14px;
}
}
strong {
	font-weight: bolder!important;
}

/* width */
::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #aadee1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #007888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #007888;
}

.perguntas1 {
	margin-bottom: 20px;
}
.bordatoast{
	border-radius: 5px !important; 
}

.tooltip {background-color: #FFF!important;}

.ident-quest { 
	padding-left: 1rem;
    float: left;
    margin-top: -3%;
    margin-left: 3%; 
}

.ident-quest-letter { padding-left: 0.5rem; float: left;}

.ident-dp { padding-left: 1rem; }

.perguntatxt{
	padding-top: 5px !important;
}
.link .material-icons{
	font-size: 1rem;
}
.link, .link .material-icons{
	color: #ef634e
}