<!-- APRESENTAÇÃO - CONTENT SECTION 1 -->
<div id="cs1" data-cc="on" class="apresentacao section">
  <!-- <div class="container">

    <header class="section-header">
      <div class="section-title dots txt-cyan">
        <h2 class="title-text">
          <i class="icon mdi mdi-card-bulleted-outline mg-s-right"></i>
          <span>Apresentação</span>
        </h2>
      </div>
      <hr class="hide-m-up">
    </header>

    <div class="section-content"></div>

  </div> -->
</div>

<!-- LIVRO DIDÁTICO - CONTENT SECTION 2 -->
<div id="cs2" data-cc="on" class="livro section bg-04 go g-blue-dark bg-cover bg-right">
  <div class="container">
    <div class="section-title dots txt-white">
      <h2 class="title-text">
        <i class="icon mdi  mdi-file-download-outline mg-s-right"></i>
        <span>Livro Didático</span>
      </h2>
    </div>

    <div class="row txt-white">
      <div class="col s12 m8 center">
        <h4 class="txt-center">Faça o download do capítulo desta Unidade</h4>

        <div class="col s12 center txt-center mg-large-bottom">
          <a href="doc/capitulo-01.pdf" target="_blank" class="btn-large txt-white">Baixar Capítulo</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- VIDEOAULA - CONTENT SECTION 3 -->
<div id="cs3" data-cc="on" class="videoaula section bg-02 bg-center bg-cover bg-fixed go g-blue-light">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-presentation-play mg-s-right"></i>
        <span>Videoaula</span>
      </h2>
    </div>

    <div class="row txt-white">
      <div class="col s12 l4">
        <h4>Título da Contextualização</h4>

        <p>Vestibulum in urna sit amet ligula dapibus condimentum ut ut elit. Donec mi mi, blandit non tincidunt at, dictum vel risus. Proin volutpat laoreet facilisis. Nullam sed erat euismod, maximus diam a, ornare mi. Nam pretium odio id urna finibus, vel mollis orci sollicitudin. Morbi bibendum dolor turpis, eget faucibus erat laoreet eget. Sed cursus nisl sit amet eros accumsan faucibus. In non iaculis magna. Duis rutrum libero ante, at blandit libero vehicula id.</p>
      </div>

      <div class="col s12 l8">
        <!-- EXEMPLO DE VÍDEO. RESPONSIVO - COLOCAR AS MEDIDAS DE WIDTH E HEIGHT E A PROPRIEDADE uk-responsive -->
        <!-- <iframe src="https://www.youtube.com/embed/xSB0A0Csx6Y?rel=0" frameborder="0" allowfullscreen width="1920" height="1080" uk-responsive></iframe> -->
      </div>
    </div>
  </div>
</div>

<!--TEORIA NA PRÁTICA - CONTENT SECTION 4 -->
<div id="cs4" data-cc="on" class="teoria-na-pratica section bg-grey bg-light bg-circles bg-center bg-no-repeat bg-overflow-width bg-fixed bg-right-top">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-file-edit-outline mg-s-right"></i>
        <span>Teoria na Prática</span>
      </h2>
    </div>

    <!-- CONTEÚDO DA SEÇÃO -->

    <div class="row">
      <div class="col s12 m11 l9 center">
        <h4 class="txt-center">Título do Teoria na Prática</h4>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare in sapien id sodales. Vestibulum sed porta arcu. Duis in hendrerit nunc, id cursus sem.</p>

        <!-- EXEMPLO DE CONTEÚDO COM CALCÚLOS E FÓRMULAS - Para renderizar as fórmulas, inserir a classe mathjs na tag body. -->
        <p>$$\begin{array}{c}{+\uparrow \sum F_{y}=0} \\ {F_{A B_{y}}+F_{A C_{y}}-F_{A D}=0} \\ {90 * \frac{3}{5}+F_{A C} *\left(\frac{3}{3 \sqrt{2}}\right)-F a b=0} \\ {F_{A D}=125,999} \\ {F_{A D}=126 \mathrm{N}}\end{array}$$</p>

        <p>Lorem ipsum dolor sit amet <span>$6 \mathrm{CO}_{2}+6 \mathrm{H}_{2} \mathrm{O} \rightarrow \mathrm{C}_{6} \mathrm{H}_{12} \mathrm{O}_{6}+6 \mathrm{O}_{2}$</span> consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet. <span>$\Gamma_{\epsilon}(x)=\left[1-e^{-2 \pi \epsilon}\right]^{1-x} \prod_{n=0}^{\infty} \frac{1-\exp (-2 \pi \epsilon(n+1))}{1-\exp (-2 \pi \epsilon(x+n))}$</span>.</p>

        <hr class="col s6 center">

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa. Maecenas pharetra ligula ligula, non tempus felis mattis sit amet. Praesent varius finibus urna in viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis elit ut enim euismod dictum eu mollis est. Sed arcu nulla, aliquam a sapien ut, faucibus vehicula lorem. Mauris non maximus turpis.</p>

        <div class="bx bx-content bx-ghost txt-blue uk-card-hover br-5">
          <p>Exemplo de <strong>Destaque do Questionamento</strong>.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra, sapien a aliquet molestie, mi ante facilisis ligula, a dignissim nisi ex at libero. Sed mollis vitae quam at ultrices. Curabitur bibendum libero non augue posuere blandit. Morbi eu dui et lorem ultricies aliquet. Curabitur vel leo mollis, tempor enim nec, fringilla nisl. Donec ullamcorper, enim gravida sodales mattis, diam nibh accumsan mauris, in volutpat felis nulla at magna. (Nunc fermentum enim ac erat pellentesque lacinia).</p>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet.</p>

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa. Maecenas pharetra ligula ligula, non tempus felis mattis sit amet. Praesent varius finibus urna in viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis elit ut enim euismod dictum eu mollis est. Sed arcu nulla, aliquam a sapien ut, faucibus vehicula lorem. Mauris non maximus turpis.</p>
      </div>
    </div>

    <!-- EXEMPLO DE CONTEÚDO: CARDS, DESTAQUES E BOTÕES -->

    <div class="row">
      <div class="col s12 m11 l9 center">
        <hr class="col s6 center">

        <!-- EXEMPLO DE CARD COM BOTÃO + ANIMAÇÃO -->
        <div class="bx bx-content br-5 mg-big-bottom bx-shadow-1" uk-scrollspy="cls:uk-animation-fade">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.</p>

          <a href="#" target="_blank" class="btn outside out-br">Acesse aqui</a>
        </div>

        <!-- EXEMPLO DE CARD COM BOTÃO + ANIMAÇÃO -->
        <div class="bx bx-content br-5 mg-big-bottom bx-shadow-1" uk-scrollspy="cls:uk-animation-fade">
          <h4>Exemplo de Título</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.</p>

          <a href="#" target="_blank" class="btn outside out-br">Acesse aqui</a>
        </div>

        <!-- EXEMPLO DE BOX DE MENSAGEM DE INSTRUÇÃO -->
        <div class="bx bx-content bx-ghost txt-cyan txt-dark txt-center uk-card-hover br-5">
          <p>Acesse o Fórum no menu lateral do AVA para debater com seus colegas de turma.</p>
        </div>

        <!-- BOTÃO GRANDE -->
        <div class="txt-center">
          <a href="#" target="_blank" class="btn btn-large">Acesse aqui</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4 l4">
        <!-- EXEMPLO DE CARD TEXTO DESTAQUE -->
        <div class="bx uk-card-hover txt-center txt-white txt-bold txt-upper bg-blue bg-dark-1 br-2">
          <div class="bx-content">Texto</div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <!-- EXEMPLO DE CARD TEXTO DESTAQUE -->
        <div class="bx uk-card-hover txt-center txt-white txt-bold bg-green bg-dark-1 br-2">
          <div class="bx-content">Texto</div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <!-- EXEMPLO DE CARD TEXTO DESTAQUE -->
        <div class="bx uk-card-hover txt-center txt-white txt-bold txt-big bg-grey bg-dark-1 br-2">
          <div class="bx-content">Texto</div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <!-- EXEMPLO DE CARD TEXTO DESTAQUE -->
        <div class="bx uk-card-hover txt-center txt-bold bg-white br-2">
          <div class="bx-content">Texto</div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <!-- EXEMPLO DE CARD TEXTO DESTAQUE -->
        <div class="bx uk-card-hover txt-center txt-white txt-bold bg-violet br-2">
          <div class="bx-content">Texto</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m11 l9 center">
        <!-- EXEMPLO DE ALINHAMENTO FORA DO GRID (FLEX) -->
        <div class="uk-flex uk-flex-between uk-flex-wrap">
          <a href="#" target="_blank" class="btn txt-white mg-medium">Botão</a>

          <a href="#" target="_blank" class="btn txt-white mg-medium">Botão</a>

          <a href="#" target="_blank" class="btn txt-white mg-medium">Botão</a>

          <a href="#" target="_blank" class="btn txt-white mg-medium">Botão</a>

          <a href="#" target="_blank" class="btn txt-white mg-medium">Botão</a>
        </div>
      </div>
    </div>

    <!-- EXEMPLO DE CONTEÚDO: TEXTO, LINKS, MODAL, TOOLTIP, LISTA E CITAÇÃO (TEXTO RECUADO) -->

    <div class="row">
      <div class="col s12 m11 l6">

        <p>Lorem vestibulum sed porta arcu. <strong>Duis in hendrerit nunc, id cursus sem</strong>. Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu. Aliquam posuere, enim quis pulvinar mollis, magna ante rhoncus neque, ut lobortis ante orci quis nulla. Donec et augue ultricies, lacinia <a uk-tooltip="title: Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu" href="#" target="_blank" title="" aria-expanded="false">RISUS</a> a, malesuada dui. In hac habitasse platea dictumst. Aliquam at ex consequat, rhoncus massa ut, placerat lectus.</p>

        <p>Quis nisi dapibus, convallis felis sed, tincidunt orci. Maecenas in augue id urna lobortis egestas. <em>Curabitur mi nisi, tempor et suscipit quis, aliquet et felis</em>. Curabitur faucibus sed sem at ullamcorper. Duis consectetur, nulla at feugiat iaculis, justo <span class="tooltip txt-underline" uk-tooltip="title: Cras eget congue odio. Praesent semper, libero vel placerat commodo." title="DUI" aria-expanded="false">DUI</span> ultrices lectus, eu efficitur nisl libero non nisl.</p>

      </div>

      <div class="col s12 m11 l6">

        <p>Quisque sed dolor a ipsum hendrerit mattis iaculis non nunc. Quisque et neque arcu. Cras eget congue odio.</p>

        <!-- EXEMPLO DE LISTA DE SETAS (ARROW) -->
        <ul class="arrow-list blue-list">
          <li>Aenean fermentum quis velit a blandit.</li>
          <li>Donec tincidunt mauris eget neque consectetur luctus.</li>
          <li>Aliquam ligula orci.</li>
        </ul>

        <blockquote class="blockquote bd-blue" cite="#">

          <p>Vestibulum in urna sit amet ligula dapibus condimentum ut ut elit. Donec mi mi, blandit non tincidunt at, dictum vel risus. Proin volutpat laoreet facilisis.</p>

          <footer>Donec Tincidunt - <cite><a href="#">Mauris eget neque Consectetur Luctus.</a></cite></footer>

        </blockquote>

      </div>
    </div>

    <!-- EXEMPLO DE CONTEÚDO: ELEMENTOS EM 3 COLUNAS -->

    <div class="row">
      <div class="col s12 m6 l4">
        <!-- EXEMPLO DE FLIP CARD -->
        <div class="card bx-img-reveal">
          <div class="card-image">
            <!-- <img class="activator" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-720x720.jpg"> -->
          </div>
          <div class="card-content bg-cyan hover txt-white transition">
            <h4 class="card-title activator">
              <span>Título</span>
              <i class="icon mdi mdi-plus right"></i>
            </h4>
          </div>

          <div class="card-reveal">
            <h4 class="card-title">
              <span>Título</span>
              <div class="pill right">
                <i class="icon mdi mdi-close"></i>
              </div>
            </h4>

            <p>Descrição.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <!-- EXEMPLO DE FLIP CARD -->
        <div class="card bx-img-reveal">
          <div class="card-image">
            <!-- <img class="activator" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-720x720.jpg"> -->
          </div>
          <div class="card-content bg-cyan hover txt-white transition">
            <h4 class="card-title activator">
              <span>Título</span>
              <i class="icon mdi mdi-plus right"></i>
            </h4>
          </div>

          <div class="card-reveal">
            <h4 class="card-title">
              <span>Título</span>
              <div class="pill right">
                <i class="icon mdi mdi-close"></i>
              </div>
            </h4>

            <p>Descrição.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <!-- EXEMPLO DE FLIP CARD -->
        <div class="card bx-img-reveal">
          <div class="card-image">
            <!-- <img class="activator" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-720x720.jpg"> -->
          </div>
          <div class="card-content bg-cyan hover txt-white transition">
            <h4 class="card-title activator">
              <span>Título</span>
              <i class="icon mdi mdi-plus right"></i>
            </h4>
          </div>

          <div class="card-reveal">
            <h4 class="card-title">
              <span>Título</span>
              <div class="pill right">
                <i class="icon mdi mdi-close"></i>
              </div>
            </h4>

            <p>Descrição.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare in sapien id sodales. Vestibulum sed porta arcu. Duis in hendrerit nunc, id cursus sem. Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu. Aenean laoreet justo in dapibus tincidunt. Nullam interdum enim urna. <a class="modal-trigger" uk-toggle="target: #modal-1" href="#">Aliquam posuere</a>, enim quis pulvinar mollis, magna ante rhoncus neque, ut lobortis ante orci quis nulla. Donec et augue ultricies, lacinia risus a, malesuada dui. In hac habitasse platea dictumst. Aliquam at ex consequat, rhoncus massa ut, placerat lectus. Donec non nibh ligula.</p>

        <!-- EXEMPLO DE MODAL (LINK ACIMA)-->
        <div id="modal-1" class="uk-modal" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <div class="pill right">
              <i class="close icon uk-modal-close cursor-pointer mdi mdi-close"></i>
            </div>

            <h2 class="uk-modal-title">Aliquam Posuere</h2>

            <p>Vestibulum at sollicitudin justo. Integer consequat pulvinar arcu, sit amet egestas justo elementum quis. Nullam eu diam neque. Suspendisse potenti. Vestibulum cursus vitae justo in commodo. Aenean in urna ullamcorper, auctor nulla sit amet, fermentum urna. Sed molestie tortor eu nibh fringilla posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis bibendum elit, luctus placerat augue. Donec blandit sapien non erat hendrerit, eget ultrices est pulvinar. Nulla sed libero convallis, semper dui condimentum, eleifend lorem. Morbi aliquam lacus pharetra, euismod turpis ac, tincidunt erat.</p>

          </div>
        </div>

        <p>Nullam bibendum tellus blandit lectus pulvinar pretium. Ut nec bibendum diam. Nulla id commodo mi. Cras eu aliquet leo, ut scelerisque sapien. Aliquam nec justo vulputate, tincidunt justo eu, sodales mauris. Praesent vulputate leo vel commodo consequat. Curabitur lobortis volutpat commodo.</p>

        <!-- EXEMPLO DE BOX DE DESTAQUE -->
        <div class="bx bx-content bx-ghost txt-blue uk-card-hover br-5">
          <p>Quisque sed dolor a ipsum hendrerit mattis iaculis non nunc. Quisque et neque arcu. Cras eget congue odio. Praesent semper, libero vel placerat commodo, orci dolor suscipit enim, auctor efficitur massa nisl eget orci.</p>
        </div>

        <p>Vestibulum in urna sit amet ligula dapibus condimentum ut ut elit. Donec mi mi, blandit non tincidunt at, dictum vel risus. Proin volutpat laoreet facilisis. Nullam sed erat euismod, maximus diam a, ornare mi. Nam pretium odio id urna finibus, vel mollis orci sollicitudin. Morbi bibendum dolor turpis, eget faucibus erat laoreet eget. Sed cursus nisl sit amet eros accumsan faucibus. In non iaculis magna. Duis rutrum libero ante, at blandit libero vehicula id.</p>

        <p>Vestibulum quis nisi dapibus, convallis felis sed, tincidunt orci. Maecenas in augue id urna lobortis egestas. Curabitur mi nisi, tempor et suscipit quis, aliquet et felis. Nunc id nunc accumsan, faucibus neque a, porttitor turpis. Aliquam ligula orci, sagittis ac neque sed, accumsan interdum tortor. Curabitur faucibus sed sem at ullamcorper. Duis consectetur, nulla at feugiat iaculis, justo dui ultrices lectus, eu efficitur nisl libero non nisl. Donec tincidunt mauris eget neque consectetur luctus. Donec at volutpat enim, elementum laoreet erat. Cras malesuada mauris eu iaculis tempor. Aenean fermentum quis velit a blandit. Maecenas in leo vel sem imperdiet vestibulum ut eu justo.</p>

      </div>

      <div class="col s12 m12 l4">
        <!-- EXEMPLO DE IMAGEM COM LEGENDA E LIGHTBOX -->
        <figure uk-lightbox uk-scrollspy="cls:uk-animation-fade">
          <a href="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1280x720v.jpg" data-caption="Nam volutpat arcu risus, eu aliquet est efficitur vel." data-alt="img-1280x720v.jpg">
            <!-- <img class="responsive-img fit-media" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1280x720v.jpg" alt="img-1280x720v.jpg"> -->
          </a>
          <figcaption>Nam volutpat arcu risus, eu aliquet est efficitur vel.</figcaption>
        </figure>
      </div>
    </div>

    <!-- EXEMPLO DE CONTEÚDO: SLIDER E PRE/CODE -->

    <div class="row">
      <div class="col s12 m11 l9 center">
        <!-- EXEMPLO HR DE DIVIDER (DIVISÓRIA) -->
        <hr class="col s12 center">

        <!-- EXEMPLO DE SLIDER -->
        <div uk-slideshow>
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slideshow-items">
              <li class="m-bg-deep-purple bg-dark-1">
                <div class="uk-position-center uk-position-large txt-center txt-white txt-flow pd-medium">
                  <h3>1</h3>
                  <span>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa.</span>
                </div>
              </li>
              <li class="m-bg-deep-purple bg-dark-1">
                <!-- <img src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1280x720h.jpg" alt="" uk-cover="" class="uk-cover"> -->
              </li>
              <li class="m-bg-pink bg-dark-4">
                <div class="uk-position-center uk-position-large txt-center txt-white txt-flow pd-medium">
                  <h3>2</h3>
                  <span>Etiam elit est, suscipit et egestas vitae, venenatis ut odio. Duis tincidunt sapien eu est maximus aliquam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis lacinia semper nisi, sed malesuada mi vestibulum ut.</span>
                </div>
              </li>
              <li class="m-bg-pink bg-dark-4">
                <!-- <iframe src="https://www.youtube.com/embed/xSB0A0Csx6Y?rel=0" frameborder="0" allowfullscreen width="100%" height="100%" uk-cover></iframe> -->
              </li>
              <li class="m-bg-red bg-dark-4">
                <div class="uk-position-center uk-position-large txt-center txt-white txt-flow pd-medium">
                  <h3>3</h3>
                  <span>Donec quis elit ut enim euismod dictum eu mollis est.</span>
                </div>
              </li>
            </ul>

            <span class="uk-position-center-left uk-position-small uk-hidden-hover cursor-pointer" uk-slideshow-item="previous">
              <i class="icon pill txt-big bg-transparent mdi mdi-chevron-left"></i>
            </span>
            <span class="uk-position-center-right uk-position-small uk-hidden-hover cursor-pointer" uk-slideshow-item="next">
              <i class="icon pill txt-big bg-transparent mdi mdi-chevron-right"></i>
            </span>

          </div>

          <ul class="uk-slideshow-nav uk-dotnav uk-flex-center mg-medium"></ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <pre class="txt-pre">
          <code>#include stdio.h</code>
          <code>#define SAL_MIN 998.00</code>
          <code></code>
          <code><span class="m-txt-red dark-1 txt-italic">main</span>() {</code>
          <code>	<span class="m-txt-light-blue dark-1">int codigo, classificacao, i;</span></code>
          <code>	float precomp, imp, lucro, prevend;</code>
          <code></code>
          <code>	<span class="m-txt-light-blue dark-1">for (i = 1; i = 10; i++) {</span></code>
          <code>		printf("\nENTRADA DE DADOS DO PRODUTO\n");</code>
          <code></code>
          <code>		printf("Digite o codigo do produto: ");</code>
          <code>		scanf("%d", &amp;codigo);</code>
          <code>		printf("Digite o preco de compra: R$ ");</code>
          <code>		scanf("%f", &amp;precomp);</code>
          <code></code>
          <code>		imp = precomp * 35 / 100;</code>
          <code>		lucro = precomp * 47 / 100;</code>
          <code>		prevend = precomp + imp + lucro;</code>
          <code></code>
          <code>		if (prevend  SAL_MIN * 0.05)</code>
          <code>			classificacao = 1;</code>
          <code>		else if ((prevend = SAL_MIN * 0.05) &amp;&amp; (prevend  SAL_MIN * 0.15))</code>
          <code>			classificacao = 2;</code>
          <code>		else</code>
          <code>			classificacao = 3;</code>
          <code></code>
          <code>		printf("\nLISTA DOS DADOS DO PRODUTO");</code>
          <code></code>
          <code>		<span class="m-txt-light-teal dark-1">printf("\n| Codigo | Preco Compra | Imposto | Lucro | Preco Venda | Classificacao |");</span></code>
          <code>		<span class="m-txt-light-teal dark-1">printf("\n+-----------------------------------------------------------------------+");</span></code>
          <code>		<span class="m-txt-light-teal dark-1">printf("\n+-----------------------------------------------------------------------+");</span></code>
          <code></code>
          <code>		switch (classificacao) {</code>
          <code>			case 1: printf("\n| %6d | %12.2f | %7.2f | %5.2f | %11.2f | %-13s |", codigo, precomp, imp, lucro, prevend, "Barato"); break;</code>
          <code>			case 2: printf("\n| %6d | %12.2f | %7.2f | %5.2f | %11.2f | %-13s |", codigo, precomp, imp, lucro, prevend, "Normal"); break;</code>
          <code>			case 3: printf("\n| %6d | %12.2f | %7.2f | %5.2f | %11.2f | %-13s |", codigo, precomp, imp, lucro, prevend, "Caro");</code>
          <code>		}</code>
          <code></code>
          <code>		printf("\n+-----------------------------------------------------------------------+");</code>
          <code>	}</code>
          <code>}</code>
        </pre>
      </div>
    </div>
  </div>
</div>

<!-- INFOGRÁFICO - CONTENT SECTION 5 -->
<div id="cs5" data-cc="on" class="infografico section">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-image-outline mg-s-right"></i>
        <span>Infográfico</span>
      </h2>
    </div>

    <div class="row">

      <!-- EXEMPLO DE CONTEÚDO CENTRALIZADO -->
      <div class="col s12 m11 l9 center">
        <p>Suspendisse sit amet mi a ante mattis efficitur. Cras ullamcorper ipsum nec egestas lacinia. Donec facilisis, orci sed fringilla sodales, neque turpis suscipit libero, ut lobortis nulla ante non mi. Vestibulum efficitur ornare diam vel tincidunt. Nam volutpat arcu risus, eu aliquet est efficitur vel. Pellentesque tincidunt turpis risus, vitae blandit odio dictum non. Etiam elit est, suscipit et egestas vitae, venenatis ut odio.</p>

        <!-- EXEMPLO DE IMAGEM COM LEGENDA E LIGHTBOX -->
        <figure uk-lightbox>
          <a href="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1920x1080v.jpg" data-caption="Img.1 - Infográfico." data-alt="img-1920x1080v.jpg">
            <!-- <img class="responsive-img fit-media" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1920x1080v.jpg" alt="img-1920x1080v.jpg"> -->
          </a>
          <figcaption>Img.1 - Infográfico.</figcaption>
        </figure>
      </div>

    </div>
  </div>
</div>

<!-- MAPA MENTAL - CONTENT SECTION 6 -->
<div id="cs6" data-cc="on" class="mapa-mental section bg-grey bg-light">
  <div class="container">
    <header class="">
      <div class="section-title dots">
        <h2 class="title-text">
          <i class="icon mdi mdi-strategy mg-s-right"></i>
          <span>Mapa Mental</span>
        </h2>
      </div>
    </header>

    <div class="row">
      <div class="col s12 m11 l9 center">

        <p>Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu. Aenean laoreet justo in dapibus tincidunt. Nullam interdum enim urna. Aliquam posuere, enim quis pulvinar mollis, magna ante rhoncus neque, ut lobortis ante orci quis nulla. Donec et augue ultricies, lacinia risus a, malesuada dui. In hac habitasse platea dictumst. Aliquam at ex consequat, rhoncus massa ut, placerat lectus. Donec non nibh ligula?</p>

        <!-- EXEMPLO DE TEXTO COM RECUO -->
        <blockquote class="blockquote bd-blue" cite="#">
          <p>Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu. Aenean laoreet justo in dapibus tincidunt. Nullam interdum enim urna. Aliquam posuere, enim quis pulvinar mollis, magna ante rhoncus neque, ut lobortis ante orci quis nulla. Donec et augue ultricies, lacinia risus a, malesuada dui. In hac habitasse platea dictumst. Aliquam at ex consequat, rhoncus massa ut, placerat lectus. Donec non nibh ligula?</p>
        </blockquote>

        <!-- EXEMPLO DE IMAGEM FULLSCREEN (AS DUAS CLASSES SÃO NECESSÁRIAS) -->
        <figure class="full-width relative" uk-lightbox uk-scrollspy="cls:uk-animation-fade">
          <!-- <a href="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1920x1080h.jpg" data-caption="" data-alt="img-1920x1080h.jpg">
            <img class="responsive-img fit-media" src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1920x1080h.jpg" alt="img-1920x1080h.jpg">
          </a> -->
        </figure>

      </div>
    </div>
  </div>
</div>

<!-- PODCAST - CONTENT SECTION 7 -->
<div id="cs7" data-cc="on" class="podcast section go g-blue-dark">
  <div class="container">

    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-headphones mg-s-right"></i>
        <span>Podcast</span>
      </h2>
    </div>

    <div class="row">
      <div class="col s12 m11 l9 center">

        <!-- EXEMPLO DE PLAYER DE PODCAST (CARD) + ANIMAÇÃO -->
        <div class="card cf" uk-scrollspy="cls:uk-animation-slide-top">

          <div class="card-image bg-dot-white bg-svg-small bg-blue bg-dark uk-padding">
            <a class="btn btn-large btn-floating halfway-fab waves-effect waves-light bg-cyan hover" href="audio/podcast_01.mp3" target="_blank" alt="Download do Podcast">
              <i class="icon mdi mdi-download"></i>
            </a>
          </div>

          <div class="card-content">

            <h4>Título da Contextualização</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare in sapien id sodales. Vestibulum sed porta arcu. Duis in hendrerit nunc, id cursus sem. Integer aliquet libero arcu, ut imperdiet arcu facilisis nec. Mauris id turpis arcu. Aenean laoreet justo in dapibus tincidunt. Nullam interdum enim urna.</p>

            <p> Aliquam posuere, enim quis pulvinar mollis, magna ante rhoncus neque, ut lobortis ante orci quis nulla. Donec et augue ultricies, lacinia risus a, malesuada dui. In hac habitasse platea dictumst. Aliquam at ex consequat, rhoncus massa ut, placerat lectus. Donec non nibh ligula.</p>

          </div>

          <div class="card-action">

            <audio class="js-player" controls>
              <source src="audio/podcast_01.mp3" type="audio/mp3" />
              <source src="audio/podcast_01.ogg" type="audio/ogg" />
              <source src="audio/podcast_01.webm" type="audio/webm" />
            </audio>

          </div>
          <!-- EXEMPLO DE TRANSCRIÇÃO DO ÁUDIO - OCULTAR CASO NÃO TENHA CONTEÚDO -->
          <div class="card-action pd-0">
            <div uk-accordion class="accordion no-margin">
              <div>
                <a class="uk-accordion-title bg-transparent txt-cyan txt-hover bd-0 no-margin" href="#">
                  <div class="txt-center center">
                    <span>
                      <i class="col s2 icon mdi mdi-text-subject"></i>
                      <h5 class="col s10 txt-bold">Clicar aqui para ler a Transcrição do Áudio</h5>
                    </span>
                  </div>
                </a>

                <div class="uk-accordion-content bd-0uk-accordion-content bd-0 pd-m">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet.</p>

                  <hr class="s6 center">

                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa. Maecenas pharetra ligula ligula, non tempus felis mattis sit amet. Praesent varius finibus urna in viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis elit ut enim euismod dictum eu mollis est. Sed arcu nulla, aliquam a sapien ut, faucibus vehicula lorem. Mauris non maximus turpis.</p>

                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>

                  <p>Vivamus vitae diam id metus condimentum fermentum. Vivamus mollis, lorem et cursus molestie, justo neque tincidunt dui, quis sagittis urna turpis eget erat. Donec nec tempus nunc. Nam nibh ipsum, placerat id tincidunt vitae, blandit vel turpis. Vivamus cursus mi ac sodales dignissim. In eget purus lectus. Fusce sed urna eget dolor imperdiet vehicula. Aenean fermentum mauris vel sagittis sagittis. Mauris eu ligula turpis. Nam ut fringilla ligula. Proin vulputate metus nec feugiat semper. Donec ac ultrices magna, quis semper diam. Sed eget magna eu eros auctor euismod. Nam eleifend dapibus ex, non suscipit leo hendrerit sed. Proin a mattis urna, a mattis velit. Proin auctor diam et mi interdum lacinia.</p>

                  <hr class="s6 center">

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- EADúvida? - CONTENT SECTION 8 -->
<div id="cs8" data-cc="on" class="eaduvida section bg-05 bg-center bg-cover bg-fixed valign-wrapper go g-cyan-dark">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-help-circle-outline mg-s-right"></i>
        <span>EADúvida?</span>
      </h2>
    </div>

    <div class="row txt-white">
      <div class="col s12 m11 l9 center">
        <h4 class="txt-center">Título da Contextualização</h4>

        <hr>

        <p>Vestibulum in urna sit amet ligula dapibus condimentum ut ut elit. Donec mi mi, blandit non tincidunt at, dictum vel risus. Proin volutpat laoreet facilisis. Nullam sed erat euismod, maximus diam a, ornare mi. Nam pretium odio id urna finibus, vel mollis orci sollicitudin. Morbi bibendum dolor turpis, eget faucibus erat laoreet eget. Sed cursus nisl sit amet eros accumsan faucibus. In non iaculis magna. Duis rutrum libero ante, at blandit libero vehicula id.</p>
      </div>

      <div class="col s12 m11 l9 center">
        <!-- EXEMPLO DE VÍDEO. RESPONSIVO - COLOCAR AS MEDIDAS DE WIDTH E HEIGHT E A PROPRIEDADE uk-responsive -->
        <!-- <iframe src="https://www.youtube.com/embed/xSB0A0Csx6Y?rel=0" frameborder="0" allowfullscreen width="1920" height="1080" uk-responsive></iframe> -->
      </div>
    </div>
  </div>
</div>

<!-- SAIBA MAIS - CONTENT SECTION 9 -->
<div id="cs9" data-cc="on" class="saiba-mais section go g-blue-light">
  <div class="container">

    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-school-outline mg-s-right"></i>
        <span>Saiba Mais</span>
      </h2>
    </div>

    <div class="row">
      <div class="col s12 m11 l9 center">
        <!-- EXEMPLO DE CARD COM BOTÃO + ANIMAÇÃO -->
        <div class="bx bx-content br-5 mg-big-bottom" uk-scrollspy="cls:uk-animation-fade">
          <h4>Exemplo de Título do Saiba Mais</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.</p>

          <a href="#" target="_blank" class="btn outside out-br">Acesse aqui</a>
        </div>

        <!-- EXEMPLO DE CARD COM BOTÃO + ANIMAÇÃO -->
        <div class="bx bx-content br-5 mg-big-bottom" uk-scrollspy="cls:uk-animation-fade">
          <h4>Exemplo de Título do Saiba Mais Maior e com Mais Palavras</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.</p>

          <a href="#" target="_blank" class="btn outside out-br">Acesse aqui</a>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- EXERCÍCIOS - CONTENT SECTION 10 -->
<div id="cs10" data-cc="on" class="exercicios section bg-01 bg-center bg-cover bg-fixed go g-blue-dark txt-white">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-pencil mg-s-right"></i>
        <span>Exercícios</span>
      </h2>
    </div>

    <ul class="questions uk-switcher">

      <!--QUESTÃO 1-->
      <li id="screen-1" class="screen row">

        <div class="question-description col s12 m12 l6">

          <h4>QUESTÃO 1</h4>

          <p>Pergunta.</p>

        </div>

        <ul class="alternatives col s12 m12 l6" uk-accordion>

          <li class="alt alt-1 br-5" data-a="a">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">A</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet.</p>

              <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa. Maecenas pharetra ligula ligula, non tempus felis mattis sit amet. Praesent varius finibus urna in viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis elit ut enim euismod dictum eu mollis est. Sed arcu nulla, aliquam a sapien ut, faucibus vehicula lorem. Mauris non maximus turpis.</p>

              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
            </div>

          </li>

          <li class="alt alt-2 br-5" data-a="b">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">B</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-3 br-5" data-a="c">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">C</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-4 br-5" data-a="d">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">D</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-5 br-5" data-a="e">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">E</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

        </ul>
      </li>

      <!--QUESTÃO 2-->
      <li id="screen-2" class="screen row">

        <div class="question-description col s12 m12 l6">

          <h4>QUESTÃO 2</h4>

          <p>Pergunta.</p>

        </div>

        <ul class="alternatives col s12 m12 l6" uk-accordion>

          <li class="alt alt-1 br-5" data-a="a">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">A</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-2 br-5" data-a="b">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">B</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-3 br-5" data-a="c">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">C</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-4 br-5" data-a="d">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">D</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-5 br-5" data-a="e">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">E</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

        </ul>
      </li>

      <!--QUESTÃO 3-->
      <li id="screen-3" class="screen row">

        <div class="question-description col s12 m12 l6">

          <h4>QUESTÃO 3</h4>

          <p>Pergunta.</p>

        </div>

        <ul class="alternatives col s12 m12 l6" uk-accordion>

          <li class="alt alt-1 br-5" data-a="a">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">A</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-2 br-5" data-a="b">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">B</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-3 br-5" data-a="c">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">C</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-4 br-5" data-a="d">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">D</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-5 br-5" data-a="e">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">E</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

        </ul>
      </li>

      <!--QUESTÃO 4-->
      <li id="screen-4" class="screen row">
        <div class="question-description col s12 m12 l6">

          <h4>QUESTÃO 4</h4>

          <p>Pergunta.</p>

        </div>

        <ul class="alternatives col s12 m12 l6" uk-accordion>

          <li class="alt alt-1 br-5" data-a="a">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">A</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-2 br-5" data-a="b">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">B</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-3 br-5" data-a="c">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">C</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-4 br-5" data-a="d">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">D</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-5 br-5" data-a="e">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">E</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

        </ul>
      </li>

      <!--QUESTÃO 5-->
      <li id="screen-5" class="screen row">

        <div class="question-description col s12 m12 l6">

          <h4>QUESTÃO 5</h4>

          <p>Pergunta.</p>

        </div>

        <ul class="alternatives col s12 m12 l6" uk-accordion>

          <li class="alt alt-1 br-5" data-a="a">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">A</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-2 br-5" data-a="b">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">B</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-3 br-5" data-a="c">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">C</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-4 br-5" data-a="d">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">D</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

          <li class="alt alt-5 br-5" data-a="e">

            <a class="alt-title uk-accordion-title" href="#">
              <div class="letter"><span class="pill bg-cyan bg-dark txt-white">E</span></div>
              <span>Alternativa.</span>
            </a>

            <div class="alt-feedback uk-accordion-content">
              <p>Resposta incorreta.</p>
            </div>

          </li>

        </ul>
      </li>

      <!--FEEDBACK-->
      <li id="screen-6" class="feedback-final screen row">
        <div class="question-description col s12 m8 l8">
          <h5>CONCLUSÃO</h5>

          <p><strong>Teste concluído com sucesso!</strong><br>
            Você fez <span class="tries-txt">15</span> tentativas e acertou <span class="points-txt">5</span>, tendo um aproveitamento de <span class="percent-txt">33.33</span>%.</p>
        </div>
        <div class="col s12 m4 l4 uk-inline">
          <!-- GRAFICO -->
          <div class="donut-svg center br-circle overflow-hidden">
            <svg id="d-two-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <circle class="circle-svg" r="16" cx="16" cy="16" style="stroke-dasharray: 75 100" />
            </svg>
          </div>
          <div class="txt-center txt-huge txt-white uk-position-center">
            <span class="percent-txt">100</span>%
          </div>
        </div>
      </li>

    </ul>

    <div class="row questions-nav">
      <dvi class="col s12 m8 l8">
        <ul class="questions-index uk-subnav" uk-switcher="connect: .questions; active: 0; animation: uk-animation-fade">

          <li class="screen-1" data-item="1" data-correct="a"><a class="pill" href="#">1</a></li>
          <li class="screen-2 uk-disabled" data-item="2" data-correct="a"><a class="pill" href="#">2</a></li>
          <li class="screen-3 uk-disabled" data-item="3" data-correct="a"><a class="pill" href="#">3</a></li>
          <li class="screen-4 uk-disabled" data-item="4" data-correct="a"><a class="pill" href="#">4</a></li>
          <li class="screen-5 uk-disabled" data-item="5" data-correct="a"><a class="pill" href="#">5</a></li>

          <li class="screen-6 uk-disabled" data-item="6">
            <a class="pill" href="#">
              <i class="icon mdi mdi-check-bold"></i>
            </a>
          </li>
        </ul>
      </dvi>
      <div class="questions-next col s12 m4 l4">
        <a class="btn next right opacity-0 transition" href="#">
          <span>AVANÇAR</span>
          <i class="icon mdi mdi-arrow-right mg-s-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- REFERÊNCIAS - CONTENT SECTION 11 -->
<div id="cs11" data-cc="on" class="referencias section bg-03 bg-center bg-cover bg-fixed go g-blue-deep">
  <div class="container">
    <div class="section-title dots">
      <h2 class="title-text">
        <i class="icon mdi mdi-book-open-outline mg-s-right"></i>
        <span>Referências</span>
      </h2>
    </div>

    <div class="row">
      <div class="col s12 m11 l9 center txt-white">
        <ul class="ref-content">
          <li class="ref-text">
            <div>Referência <strong>Livro</strong>.</div>
          </li>

          <li class="ref-web">
            <div>Referência <strong>Site</strong>: <a href="#" target="_blank">Link Site</a>.</div>
          </li>

          <li class="ref-video">
            <div>Referência <strong>Vídeo</strong>: <a href="#" target="_blank">Link Vídeo</a>. </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>