<div class="row content">
  <div class="col s12 m11 l9 center">

    <h4 class="txt-center">EADúvida?</h4>

  </div>
</div>

<script id="template-info" type="text/template">
  {
    "sectionId": "cs8",
    "sectionClasses": "eaduvida",
    "sectionTitle": "EADúvida?",
    "sectionBg": ""
  }
</script>