<div class="row content">
  <div class="col s12 m11 l9 center">

    <h4 class="txt-center">Teoria na Prática</h4>

  </div>
</div>

<script id="template-info" type="text/template">
  {
    "sectionId": "cs4",
    "sectionClasses": "teoria-na-pratica",
    "sectionTitle": "Teoria na Prática",
    "sectionBg": ""
  }
</script>