<div class="row txt-white" data-content="content">
  <div class="col s12 l4">
    <h4>Título da Contextualização</h4>

    <p>Vestibulum in urna sit amet ligula dapibus condimentum ut ut elit. Donec mi mi, blandit non tincidunt at, dictum vel risus. Proin volutpat laoreet facilisis. Nullam sed erat euismod, maximus diam a, ornare mi. Nam pretium odio id urna finibus, vel mollis orci sollicitudin. Morbi bibendum dolor turpis, eget faucibus erat laoreet eget. Sed cursus nisl sit amet eros accumsan faucibus. In non iaculis magna. Duis rutrum libero ante, at blandit libero vehicula id.</p>
  </div>

  <div class="col s12 l8">
    <!-- EXEMPLO DE VÍDEO. RESPONSIVO - COLOCAR AS MEDIDAS DE WIDTH E HEIGHT E A PROPRIEDADE uk-responsive -->
    <!-- <iframe src="https://www.youtube.com/embed/xSB0A0Csx6Y?rel=0" frameborder="0" allowfullscreen width="1920" height="1080" uk-responsive></iframe> -->
  </div>
</div>

<script id="template-info" type="text/template">
  {
    "id": "cs3",
    "classes": "videoaula bg-02 bg-center bg-cover bg-fixed go g-blue-light",
    "title": "Videoaula do Juca",
    "iconClass": "mdi mdi-presentation-play",
    "bgImg": "",
    "template": "_section-content.html",
    "templateTarget": "main-content",
    "templateUnwrap": false,
    "contentTarget": "section-content"
  }
</script>