﻿body,
html {
	height: 100%;
	margin: 0;
	font-size: 14px !important;
	color: #8D8D8D;
	padding-bottom: 70px;
	background: #E4E4E4;
}

.referentes {
	height: 620px;
	/* background: #99cc03; */
	overflow: auto;
}

.imglateral {
	height: 730px !important;
	background-size: cover !important;
	position: relative;
	margin-left: -10px;
}

.termometro {
	color: #fff;
	border-right: 30px;
	height: 500px;
	right: 40px;
	width: 20px;
	z-index: 2000;
	position: absolute;
	display: none;
	background: #1e5799;
	/* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
	/* IE6-9 */
	top: 140px;
}

.barraprogresso {
	width: 56px;
	background-color: #08529d;
	height: 29px;
	position: absolute;
	left: -20px;
	text-align: center;
	line-height: 30px;
	bottom: 0;
	display: none;
}

.corfinal {
	background: #99cc03 !important;
}

@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url(../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'),
		url(../fonts/futura-bold-condensed-bt.woff) format('woff'),
		url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'),
		url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}

@font-face {
	font-family: 'Futura Extra Black Condensed BT';
	src: url(../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'),
		url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'),
		url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}

@font-face {
	font-family: 'Futura Book BT';
	src: url(../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'),
		url(../fonts/futura-book-bt.woff) format('woff'),
		url(../fonts/futura-book-bt.ttf) format('truetype'),
		url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}

.total {
	position: relative;
}

h1 {
	color: #095BA5;
	font-size: 3em;
	font-family: 'Futura Bold Condensed BT';
}

.telas {
	padding-top: 72px;
	min-height: 100%;
	border-bottom: 1px inset #eee;
	background-color: #E4E4E4;
	display: none;
}

.leitura .conteudoGeral {
	min-height: 100%;
}

/*Tela Introdução*/
.introducao {
	display: none;
	z-index: 1000;
	height: 100%;
	position: absolute;
	width: 100%;
	/*background: url(../imgCurso/intro.jpg) center center no-repeat;*/
	background-size: cover;
}

.introducao h1 {
	position: absolute;
	padding: 30px 80px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	top: 30%
}

.entrar {
	width: 280px;
	/* height: 80px; */
	display: block;
	font-size: 4rem;
	color: #fff;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -140px;
	bottom: 20%;
	cursor: pointer;
	line-height: 20px;
	background: #FFBF00 !important;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	font-family: 'Futura Bold Condensed BT';
	height: 120px;
	/* border-bottom: 4px solid #10223A; */
}

.entrar:hover {
	background: #1180D3;
	transition: 0.5s;
	/*border-bottom:4px solid #fff*/
}

.entrar i {
	font-size: 1.8em;
	color: #fff;
	transition: 0.5s;
}

.entrar i:hover {
	color: #fff;
	transition: 0.5s;
}

.barraSuperior {
	background-color: #737693;
	overflow: hidden;
	height: 80px;
	position: absolute;
	top: -60px;
	width: 100%;
	padding: 4px;
}

.barraSuperior li {
	float: right;
	height: 75px;
	font-weight: lighter;
	color: #fff;
	line-height: 51px;
	padding: 0 10px;
	cursor: pointer;
	font-family: 'Futura Bold Condensed BT';
	font-size: 1.3rem
}

.barrainferior {
	border-bottom: 2px inset #fff;
	transition: 0.5s;
}

.barraSuperior li:hover {
	border-bottom: 3px inset #fc0;
	transition: 0.5s;
}

.barraSuperior ul {
	margin: 0 !important
}

.conteudoGeral {
	position: relative;
	background: #fff;
	margin: 20px;
	min-height: 95%;
	-webkit-border-radius: 10px;
	/*height:95%;*/
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
}

.centralizinando {
	text-align: center;
	width: 100%
}

.ativado {
	background: url(../imgEstrutura/checked.png) no-repeat 3px 4px;
}

.ativo {
	border-bottom: 3px inset #fc0;
}

.avancar2,
.voltar2 {
	background: #FFBF00;
	width: 4em;
	height: 4em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	transition: 1s;
	display: none
}

.avancar2:hover,
.voltar2:hover {
	transition: 1s;
	background-color: #10223A;
}

.avancar2 {
	right: 0;
}

.voltar2 {
	left: 0;
}

.avancar2 i,
.voltar2 i {
	color: #fff;
	font-size: 4em;
}

.menuResponsivo {
	display: none;
	width: 51px;
	height: 51px;
	margin: 1px auto;
	color: #fff;
	text-align: center;
}

.menuResponsivo i {
	font-size: 3.5em;
	cursor: pointer;
}

.fecharMenu {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 40px !important;
	height: 40px !important;
	position: absolute;
	background: #D4393B;
	color: #fff !important;
	text-align: center;
	line-height: 40px;
	font-size: 1.5em;
	right: 5px;
	top: 4px;
	display: none;
	cursor: pointer;
}

.inativo {
	background: rgba(48, 36, 20, 0.4);
}

.introFoto {
	background: url(../imgCurso/introfoto.jpg) no-repeat center;
	background-size: cover;
}

.height100 {
	height: 98%;
	overflow: hidden;
}

.row {
	margin-bottom: 0 !important;
}

.row {
	height: 100%;
}

.tip1,
.tip2 {
	background: #FFBF00;
	color: #fff;
	padding: 4px 8px;
	position: absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tip2 {
	left: 5em;
}

.tip1 {
	right: 5em;
}

.todatela {
	height: 100%;
}

.imglateral {
	height: 710px;
	background-size: cover !important;
	position: relative;
	margin-left: -10px;
}

.mascara {
	background-size: cover;
	background: url(../imgEstrutura/lateral.png) no-repeat;
	height: 100%;
}

.l_img1 {
	background: url(../imgCurso/1.jpg) top left no-repeat;
}

.l_img2 {
	background: url(../imgCurso/2.jpg) -170px 20px no-repeat;
}

.l_img3 {
	background: url(../imgCurso/3.jpg) top left no-repeat;
}

.l_img4 {
	background: url(../imgCurso/4.jpg) top left no-repeat;
}

.l_img5 {
	background: url(../imgCurso/5.jpg) top left no-repeat;
}

.l_img6 {
	background: url(../imgCurso/6.jpg) top left no-repeat;
}

.l_img7 {
	background: url(../imgCurso/7.jpg) top left no-repeat;
}

.l_img8 {
	background: url(../imgCurso/8.jpg) top left no-repeat;
}

.imglateral h1 {
	display: none;
	color: #fff;
	font-size: 2.2em;
	position: absolute;
	padding: 10px;
	background-color: #737693;

	margin-right: 40px;
}

.imglateral h2 {
	color: #fff;
	font-size: 1.8em;
	position: absolute;
	padding: 10px;
	background: rgba(9, 91, 165, 0.7);
	right: 0;
}

.lerapostila img,
.baixarApostila img {
	float: left;
	margin-right: 10px;
	width: 4em;
	height: 4em;
}

.lerapostila,
.baixarApostila {
	line-height: 4em;
	margin: 10px;
	display: block;
	margin: 20px 0;
	cursor: pointer;
	border: 1px solid #f1f1f1;
	padding: 10px;
	background: #f3f3f3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 400px;
}

.lerapostila {
	margin-bottom: 100px !important;
}

.icone {
	width: 40px;
	height: 50px;
	float: left;
	margin-right: 8px;
}

/*// tela introducao*/
iframe {
	height: 56.25vw;
	width: 100%;
}

.telaBranca {
	border: 2px inset #f7f7f7;
	;
	background: #f7f7f7;
	position: absolute;
	width: 98%;
	height: 93%;
	margin: 1%;
	z-index: 100000;
	display: none;
}

.fecharBox,
.fb {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	width: 40px !important;
	height: 40px !important;
	position: absolute;
	background: #D4393B;
	color: #fff !important;
	text-align: center;
	line-height: 40px;
	font-size: 1.5em;
	right: 5px;
	top: 4px;
	cursor: pointer;
}

.iframe {
	width: 98%;
	height: 98%;
	margin: 1%;
}

.play {
	border: 4px solid #fff;
	background: #095BA5;
	position: absolute;
	right: 0;
	height: 70px;
	width: 70px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	top: 50%;
	margin-top: -35px;
	margin-right: -35px;
	transition: 0.5s;
}

.play:hover {
	transition: 0.5s;
	background-color: #959595;
}

button {
	background: #095BA5;
	padding: 10px;
	color: #fff;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 50px;
	border-radius: 10px;
	line-height: 10px;
}

button:hover {
	background: #959595;
	padding: 10px;
	color: #fff;
	border: none;
}

.play i {
	font-size: 3.1em;
	line-height: 62px;
	color: #fff;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}

.textoGlossario {
	padding: 20px;
	background-color: #F3F3F3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 100px;
}

.textoGlossario strong {
	padding: 3px 6px;
	border: 1px solid #C8C8C8;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 4px 2px;
	background-color: #fff;
	cursor: pointer;
}

.janelaGlossario {
	width: 100%;
	padding: 20px;
	background: #095BA5;
	border: 1px solid #fff;
	margin-bottom: 10px;
	display: none;
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.janelaGlossario a {
	color: #fc0 !important;
}

.janelaGlossario i {
	margin-right: 10px;
}

.celular {
	display: none;
}

.computador {
	display: block;
}

.video_resposnsivo {
	margin-bottom: 100px;
}

.download {
	background: #333;
	padding: 10px;
	color: #fff;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 100px;
}

.download i {
	color: #fff;
	line-height: 30px !important;
	font-size: 15px;
	margin-right: 12px;
}

.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.click img {
	height: 70px;
}

.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

.img-responsive.materialboxed.active {
	max-width: none;
	max-height: none;
}

.card {
	background-color: #FFF;
	border: 1px inset rgba(107, 107, 107, 0.15);
	position: relative;
	min-height: 180px !important;
}

.card .btn {
	background: #095BA5;
	width: 100%;
}

.infoimagem {
	/*margin-bottom: 100px*/
	margin: 50px auto;
	height: 400px;
}

/*QUIZ*/

.marcada {
	background-color: #ffcc03;
	color: #fff;
}

.pegapergunta {
	display: none;
}

.pergunta {
	font-size: 1.1em;
	margin-bottom: 20px;
}

.q {
	padding: 10px;
	width: 100%;
	margin: auto;
	/*border:1px solid #D6D6D6;*/
	background-color: #d3ddf2;
	border-radius: 10px;
}

.r {
	background: #fff;
	border-radius: 10px;
	margin: 5px 0;
	padding: 10px;
	cursor: pointer;
}

.r:hover {
	background: #8ab5e1;
	color: #FFF;
}

.errou {
	padding: 10px;
	background-color: #E3C1C1;
	color: #C11F21;
	border-radius: 10px;
	margin: 5px 0;
}

.acertou {
	padding: 10px;
	background-color: #CDE4D5;
	color: #237022;
	border-radius: 10px;
	margin: 5px 0;
}

.tela_final {
	font-weight: bold;
	color: #444;
}

/*---FIM QUIZ----*/

.classcerta {
	/*order-color: #27ae60 !important;*/
	color: #abcaaa !important;
}

.classerrada {
	/*border-color: #e74c3c !important;*/
	color: #c9a9a9 !important;
}

/*----GLOSSÁRIO----*/
.corpo-glossario {
	width: 100%;
	height: 100%;
	margin: auto;
}

.corpo-glossario .palavra-glossario {
	width: 90%;
	height: 90%;
	margin: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.corpo-glossario .palavra-glossario:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 16px;
	color: #fff;
	float: right;
	margin-left: 5px;
}

.corpo-glossario .palavra-glossario.active:after {
	content: '\2796';
	/* Unicode character for "minus" sign (-) */
}

.corpo-glossario .significado-glossario {
	width: 85%;
	height: 100%;
	margin: auto;
}

/*----FIM GLOSSÁRIO----*/

/*----REFERENCIA----*/
.Ref {
	background-image: url(../imgEstrutura/Livro.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
	/*margin-right: 10px;*/
	border: 0px !important;
}

.Vid {
	background-image: url(../imgEstrutura/Video.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
	/*margin-right: 10px;*/
	border: 0px !important;
}

.Site {
	background-image: url(../imgEstrutura/site.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
	/*margin-right: 10px;*/
	border: 0px !important;
}

div .RefContent {
	display: inline-block;
	width: 100%;
	/*margin-left: -15px;
	margin-right: -15px;*/
	margin: 0;
	padding: 15px;
	background-color: rgba(252, 252, 252);
	/*#d3ddf2;*/
	border-radius: 5px;
}

div .RefIco {
	float: left;
	width: 5%;
}

div .RefDados {
	float: left;
	width: 95%;
}

div .RefEscuro {
	background-color: rgba(122, 122, 122, 0.02);
	border-radius: 5px;
}

.exibindoAbas,
.superaba {
	width: 90%;
	margin: auto;
}

.exibindoAbas {
	overflow: hidden;
	border-bottom: 1px solid #00AEEF;
}

.abas {
	cursor: pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 18% !important;
	margin: 0 1%;
	float: left;
	height: 35px;
	line-height: 35px;
	background-color: #00AEEF;
	text-align: center;
	color: #fff;
}

.superaba {
	border: 1px solid #00AEEF;
	padding: 15px;
}

.ab {
	display: none;
}

.aba1 {
	display: block;
}

figure {
	margin: 1em 10px;
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 41.25%;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 80%;
	border: 0;
}

.celular {
	display: none;
}

.outros {
	display: block;
}


@media only screen and (max-width: 939px) {
	.termometro {
		display: none;
		bottom: 110px !important;
	}

	.embed-responsive.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}

	.embed-responsive {
		position: relative;
		display: block;
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	div .RefIco {
		float: left;
		width: 18%;
	}

	div .RefDados {
		float: left;
		width: 75%;
	}

	.RefContent:last-child {
		margin-bottom: 100px;
	}

	.card:last-child {
		margin-bottom: 100px;
	}

	.l_img2 {
		background: url(../imgCurso/2.jpg) 170px 2px no-repeat;
	}

	.l_img6 {
		background: url(../imgCurso/6.jpg) 0px -110px no-repeat;
	}

	.celular {
		display: block;
		margin-bottom: 100px;
	}

	.computador {
		display: none;
	}

	.play {
		border: 4px solid #fff;
		background: #095BA5;
		position: absolute;
		left: 50%;
		height: 70px;
		width: 70px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		top: 165px;
		margin-top: 0;
		margin-left: -35px;
	}

	.lerapostila,
	.baixarApostila {
		line-height: 4em;
		margin: 10px;
		display: block;
		margin: 20px 0;
		cursor: pointer;
		border: 1px solid #f1f1f1;
		padding: 10px;
		background: #f3f3f3;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		width: 100%;
	}

	.telaBranca {
		background: #f7f7f7;
		position: absolute;
		width: 100%;
		margin-left: -50%;
		z-index: 100000;
		left: 50%;
		height: 100%;
		top: 50%;
		margin-top: -73%;
	}

	/*// tela introducao*/
	/*// tela introducao*/
	.imglateral {
		height: 760px;
		background-size: cover;
		margin-top: 10px;
		margin-left: 0;
	}

	.icone {
		width: 31px;
		height: 35px;
		float: left;
		margin-right: 8px;
	}

	.height100 {
		height: 200px;
	}

	.menuResponsivo {
		display: block;
	}

	.barraSuperior ul {
		position: fixed;
		top: 62px;
		left: -100%;
		width: 96%;
		z-index: 10000;
		background-color: #095BA5;
		padding: 8px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: 2px solid #fff;
	}

	.fecharMenu {
		display: block;
	}

	.barraSuperior li {
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.barraSuperior li:last-child {
		border: none;
	}

	h1 {
		font-size: 2.2rem;
		line-height: 110%;
		margin: 2.1rem 0 1.68rem 0;
	}

	.introducao h1 {
		position: absolute;
		padding: 30px 80px;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
		top: 20px;
		text-align: center;
	}
}

/*grafico circular*/
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
	clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
	position: absolute;
	border: 0.08em solid #ffcc00;
	width: 0.84em;
	height: 0.84em;
	clip: rect(0em, 0.5em, 1em, 0em);
	border-radius: 50%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.c100 {
	position: relative;
	font-size: 120px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	float: left;
	margin: 0 0.1em 0.1em 0;
	background-color: #fff;
}

.c100 *,
.c100 *:before,
.c100 *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.c100.center {
	float: none;
	margin: 0 auto;
}

.c100.big {
	font-size: 240px;
}

.c100.small {
	font-size: 50px;
}

.c100>span {
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	width: 5em;
	line-height: 5em;
	font-size: 0.2em;
	color: #fff;
	display: block;
	text-align: center;
	white-space: nowrap;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.c100:after {
	position: absolute;
	top: 0.08em;
	left: 0.08em;
	display: block;
	content: " ";
	border-radius: 50%;
	background-color: #0D47A1;
	width: 0.84em;
	height: 0.84em;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
}

.c100 .slice {
	position: absolute;
	width: 1em;
	height: 1em;
	clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
	-webkit-transform: rotate(3.6deg);
	-moz-transform: rotate(3.6deg);
	-ms-transform: rotate(3.6deg);
	-o-transform: rotate(3.6deg);
	transform: rotate(3.6deg);
}

.c100.p2 .bar {
	-webkit-transform: rotate(7.2deg);
	-moz-transform: rotate(7.2deg);
	-ms-transform: rotate(7.2deg);
	-o-transform: rotate(7.2deg);
	transform: rotate(7.2deg);
}

.c100.p3 .bar {
	-webkit-transform: rotate(10.8deg);
	-moz-transform: rotate(10.8deg);
	-ms-transform: rotate(10.8deg);
	-o-transform: rotate(10.8deg);
	transform: rotate(10.8deg);
}

.c100.p4 .bar {
	-webkit-transform: rotate(14.4deg);
	-moz-transform: rotate(14.4deg);
	-ms-transform: rotate(14.4deg);
	-o-transform: rotate(14.4deg);
	transform: rotate(14.4deg);
}

.c100.p5 .bar {
	-webkit-transform: rotate(18deg);
	-moz-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(18deg);
	transform: rotate(18deg);
}

.c100.p6 .bar {
	-webkit-transform: rotate(21.6deg);
	-moz-transform: rotate(21.6deg);
	-ms-transform: rotate(21.6deg);
	-o-transform: rotate(21.6deg);
	transform: rotate(21.6deg);
}

.c100.p7 .bar {
	-webkit-transform: rotate(25.2deg);
	-moz-transform: rotate(25.2deg);
	-ms-transform: rotate(25.2deg);
	-o-transform: rotate(25.2deg);
	transform: rotate(25.2deg);
}

.c100.p8 .bar {
	-webkit-transform: rotate(28.8deg);
	-moz-transform: rotate(28.8deg);
	-ms-transform: rotate(28.8deg);
	-o-transform: rotate(28.8deg);
	transform: rotate(28.8deg);
}

.c100.p9 .bar {
	-webkit-transform: rotate(32.4deg);
	-moz-transform: rotate(32.4deg);
	-ms-transform: rotate(32.4deg);
	-o-transform: rotate(32.4deg);
	transform: rotate(32.4deg);
}

.c100.p10 .bar {
	-webkit-transform: rotate(36deg);
	-moz-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	transform: rotate(36deg);
}

.c100.p11 .bar {
	-webkit-transform: rotate(39.6deg);
	-moz-transform: rotate(39.6deg);
	-ms-transform: rotate(39.6deg);
	-o-transform: rotate(39.6deg);
	transform: rotate(39.6deg);
}

.c100.p12 .bar {
	-webkit-transform: rotate(43.2deg);
	-moz-transform: rotate(43.2deg);
	-ms-transform: rotate(43.2deg);
	-o-transform: rotate(43.2deg);
	transform: rotate(43.2deg);
}

.c100.p13 .bar {
	-webkit-transform: rotate(46.800000000000004deg);
	-moz-transform: rotate(46.800000000000004deg);
	-ms-transform: rotate(46.800000000000004deg);
	-o-transform: rotate(46.800000000000004deg);
	transform: rotate(46.800000000000004deg);
}

.c100.p14 .bar {
	-webkit-transform: rotate(50.4deg);
	-moz-transform: rotate(50.4deg);
	-ms-transform: rotate(50.4deg);
	-o-transform: rotate(50.4deg);
	transform: rotate(50.4deg);
}

.c100.p15 .bar {
	-webkit-transform: rotate(54deg);
	-moz-transform: rotate(54deg);
	-ms-transform: rotate(54deg);
	-o-transform: rotate(54deg);
	transform: rotate(54deg);
}

.c100.p16 .bar {
	-webkit-transform: rotate(57.6deg);
	-moz-transform: rotate(57.6deg);
	-ms-transform: rotate(57.6deg);
	-o-transform: rotate(57.6deg);
	transform: rotate(57.6deg);
}

.c100.p17 .bar {
	-webkit-transform: rotate(61.2deg);
	-moz-transform: rotate(61.2deg);
	-ms-transform: rotate(61.2deg);
	-o-transform: rotate(61.2deg);
	transform: rotate(61.2deg);
}

.c100.p18 .bar {
	-webkit-transform: rotate(64.8deg);
	-moz-transform: rotate(64.8deg);
	-ms-transform: rotate(64.8deg);
	-o-transform: rotate(64.8deg);
	transform: rotate(64.8deg);
}

.c100.p19 .bar {
	-webkit-transform: rotate(68.4deg);
	-moz-transform: rotate(68.4deg);
	-ms-transform: rotate(68.4deg);
	-o-transform: rotate(68.4deg);
	transform: rotate(68.4deg);
}

.c100.p20 .bar {
	-webkit-transform: rotate(72deg);
	-moz-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	transform: rotate(72deg);
}

.c100.p21 .bar {
	-webkit-transform: rotate(75.60000000000001deg);
	-moz-transform: rotate(75.60000000000001deg);
	-ms-transform: rotate(75.60000000000001deg);
	-o-transform: rotate(75.60000000000001deg);
	transform: rotate(75.60000000000001deg);
}

.c100.p22 .bar {
	-webkit-transform: rotate(79.2deg);
	-moz-transform: rotate(79.2deg);
	-ms-transform: rotate(79.2deg);
	-o-transform: rotate(79.2deg);
	transform: rotate(79.2deg);
}

.c100.p23 .bar {
	-webkit-transform: rotate(82.8deg);
	-moz-transform: rotate(82.8deg);
	-ms-transform: rotate(82.8deg);
	-o-transform: rotate(82.8deg);
	transform: rotate(82.8deg);
}

.c100.p24 .bar {
	-webkit-transform: rotate(86.4deg);
	-moz-transform: rotate(86.4deg);
	-ms-transform: rotate(86.4deg);
	-o-transform: rotate(86.4deg);
	transform: rotate(86.4deg);
}

.c100.p25 .bar {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.c100.p26 .bar {
	-webkit-transform: rotate(93.60000000000001deg);
	-moz-transform: rotate(93.60000000000001deg);
	-ms-transform: rotate(93.60000000000001deg);
	-o-transform: rotate(93.60000000000001deg);
	transform: rotate(93.60000000000001deg);
}

.c100.p27 .bar {
	-webkit-transform: rotate(97.2deg);
	-moz-transform: rotate(97.2deg);
	-ms-transform: rotate(97.2deg);
	-o-transform: rotate(97.2deg);
	transform: rotate(97.2deg);
}

.c100.p28 .bar {
	-webkit-transform: rotate(100.8deg);
	-moz-transform: rotate(100.8deg);
	-ms-transform: rotate(100.8deg);
	-o-transform: rotate(100.8deg);
	transform: rotate(100.8deg);
}

.c100.p29 .bar {
	-webkit-transform: rotate(104.4deg);
	-moz-transform: rotate(104.4deg);
	-ms-transform: rotate(104.4deg);
	-o-transform: rotate(104.4deg);
	transform: rotate(104.4deg);
}

.c100.p30 .bar {
	-webkit-transform: rotate(108deg);
	-moz-transform: rotate(108deg);
	-ms-transform: rotate(108deg);
	-o-transform: rotate(108deg);
	transform: rotate(108deg);
}

.c100.p31 .bar {
	-webkit-transform: rotate(111.60000000000001deg);
	-moz-transform: rotate(111.60000000000001deg);
	-ms-transform: rotate(111.60000000000001deg);
	-o-transform: rotate(111.60000000000001deg);
	transform: rotate(111.60000000000001deg);
}

.c100.p32 .bar {
	-webkit-transform: rotate(115.2deg);
	-moz-transform: rotate(115.2deg);
	-ms-transform: rotate(115.2deg);
	-o-transform: rotate(115.2deg);
	transform: rotate(115.2deg);
}

.c100.p33 .bar {
	-webkit-transform: rotate(118.8deg);
	-moz-transform: rotate(118.8deg);
	-ms-transform: rotate(118.8deg);
	-o-transform: rotate(118.8deg);
	transform: rotate(118.8deg);
}

.c100.p34 .bar {
	-webkit-transform: rotate(122.4deg);
	-moz-transform: rotate(122.4deg);
	-ms-transform: rotate(122.4deg);
	-o-transform: rotate(122.4deg);
	transform: rotate(122.4deg);
}

.c100.p35 .bar {
	-webkit-transform: rotate(126deg);
	-moz-transform: rotate(126deg);
	-ms-transform: rotate(126deg);
	-o-transform: rotate(126deg);
	transform: rotate(126deg);
}

.c100.p36 .bar {
	-webkit-transform: rotate(129.6deg);
	-moz-transform: rotate(129.6deg);
	-ms-transform: rotate(129.6deg);
	-o-transform: rotate(129.6deg);
	transform: rotate(129.6deg);
}

.c100.p37 .bar {
	-webkit-transform: rotate(133.20000000000002deg);
	-moz-transform: rotate(133.20000000000002deg);
	-ms-transform: rotate(133.20000000000002deg);
	-o-transform: rotate(133.20000000000002deg);
	transform: rotate(133.20000000000002deg);
}

.c100.p38 .bar {
	-webkit-transform: rotate(136.8deg);
	-moz-transform: rotate(136.8deg);
	-ms-transform: rotate(136.8deg);
	-o-transform: rotate(136.8deg);
	transform: rotate(136.8deg);
}

.c100.p39 .bar {
	-webkit-transform: rotate(140.4deg);
	-moz-transform: rotate(140.4deg);
	-ms-transform: rotate(140.4deg);
	-o-transform: rotate(140.4deg);
	transform: rotate(140.4deg);
}

.c100.p40 .bar {
	-webkit-transform: rotate(144deg);
	-moz-transform: rotate(144deg);
	-ms-transform: rotate(144deg);
	-o-transform: rotate(144deg);
	transform: rotate(144deg);
}

.c100.p41 .bar {
	-webkit-transform: rotate(147.6deg);
	-moz-transform: rotate(147.6deg);
	-ms-transform: rotate(147.6deg);
	-o-transform: rotate(147.6deg);
	transform: rotate(147.6deg);
}

.c100.p42 .bar {
	-webkit-transform: rotate(151.20000000000002deg);
	-moz-transform: rotate(151.20000000000002deg);
	-ms-transform: rotate(151.20000000000002deg);
	-o-transform: rotate(151.20000000000002deg);
	transform: rotate(151.20000000000002deg);
}

.c100.p43 .bar {
	-webkit-transform: rotate(154.8deg);
	-moz-transform: rotate(154.8deg);
	-ms-transform: rotate(154.8deg);
	-o-transform: rotate(154.8deg);
	transform: rotate(154.8deg);
}

.c100.p44 .bar {
	-webkit-transform: rotate(158.4deg);
	-moz-transform: rotate(158.4deg);
	-ms-transform: rotate(158.4deg);
	-o-transform: rotate(158.4deg);
	transform: rotate(158.4deg);
}

.c100.p45 .bar {
	-webkit-transform: rotate(162deg);
	-moz-transform: rotate(162deg);
	-ms-transform: rotate(162deg);
	-o-transform: rotate(162deg);
	transform: rotate(162deg);
}

.c100.p46 .bar {
	-webkit-transform: rotate(165.6deg);
	-moz-transform: rotate(165.6deg);
	-ms-transform: rotate(165.6deg);
	-o-transform: rotate(165.6deg);
	transform: rotate(165.6deg);
}

.c100.p47 .bar {
	-webkit-transform: rotate(169.20000000000002deg);
	-moz-transform: rotate(169.20000000000002deg);
	-ms-transform: rotate(169.20000000000002deg);
	-o-transform: rotate(169.20000000000002deg);
	transform: rotate(169.20000000000002deg);
}

.c100.p48 .bar {
	-webkit-transform: rotate(172.8deg);
	-moz-transform: rotate(172.8deg);
	-ms-transform: rotate(172.8deg);
	-o-transform: rotate(172.8deg);
	transform: rotate(172.8deg);
}

.c100.p49 .bar {
	-webkit-transform: rotate(176.4deg);
	-moz-transform: rotate(176.4deg);
	-ms-transform: rotate(176.4deg);
	-o-transform: rotate(176.4deg);
	transform: rotate(176.4deg);
}

.c100.p50 .bar {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.c100.p51 .bar {
	-webkit-transform: rotate(183.6deg);
	-moz-transform: rotate(183.6deg);
	-ms-transform: rotate(183.6deg);
	-o-transform: rotate(183.6deg);
	transform: rotate(183.6deg);
}

.c100.p52 .bar {
	-webkit-transform: rotate(187.20000000000002deg);
	-moz-transform: rotate(187.20000000000002deg);
	-ms-transform: rotate(187.20000000000002deg);
	-o-transform: rotate(187.20000000000002deg);
	transform: rotate(187.20000000000002deg);
}

.c100.p53 .bar {
	-webkit-transform: rotate(190.8deg);
	-moz-transform: rotate(190.8deg);
	-ms-transform: rotate(190.8deg);
	-o-transform: rotate(190.8deg);
	transform: rotate(190.8deg);
}

.c100.p54 .bar {
	-webkit-transform: rotate(194.4deg);
	-moz-transform: rotate(194.4deg);
	-ms-transform: rotate(194.4deg);
	-o-transform: rotate(194.4deg);
	transform: rotate(194.4deg);
}

.c100.p55 .bar {
	-webkit-transform: rotate(198deg);
	-moz-transform: rotate(198deg);
	-ms-transform: rotate(198deg);
	-o-transform: rotate(198deg);
	transform: rotate(198deg);
}

.c100.p56 .bar {
	-webkit-transform: rotate(201.6deg);
	-moz-transform: rotate(201.6deg);
	-ms-transform: rotate(201.6deg);
	-o-transform: rotate(201.6deg);
	transform: rotate(201.6deg);
}

.c100.p57 .bar {
	-webkit-transform: rotate(205.20000000000002deg);
	-moz-transform: rotate(205.20000000000002deg);
	-ms-transform: rotate(205.20000000000002deg);
	-o-transform: rotate(205.20000000000002deg);
	transform: rotate(205.20000000000002deg);
}

.c100.p58 .bar {
	-webkit-transform: rotate(208.8deg);
	-moz-transform: rotate(208.8deg);
	-ms-transform: rotate(208.8deg);
	-o-transform: rotate(208.8deg);
	transform: rotate(208.8deg);
}

.c100.p59 .bar {
	-webkit-transform: rotate(212.4deg);
	-moz-transform: rotate(212.4deg);
	-ms-transform: rotate(212.4deg);
	-o-transform: rotate(212.4deg);
	transform: rotate(212.4deg);
}

.c100.p60 .bar {
	-webkit-transform: rotate(216deg);
	-moz-transform: rotate(216deg);
	-ms-transform: rotate(216deg);
	-o-transform: rotate(216deg);
	transform: rotate(216deg);
}

.c100.p61 .bar {
	-webkit-transform: rotate(219.6deg);
	-moz-transform: rotate(219.6deg);
	-ms-transform: rotate(219.6deg);
	-o-transform: rotate(219.6deg);
	transform: rotate(219.6deg);
}

.c100.p62 .bar {
	-webkit-transform: rotate(223.20000000000002deg);
	-moz-transform: rotate(223.20000000000002deg);
	-ms-transform: rotate(223.20000000000002deg);
	-o-transform: rotate(223.20000000000002deg);
	transform: rotate(223.20000000000002deg);
}

.c100.p63 .bar {
	-webkit-transform: rotate(226.8deg);
	-moz-transform: rotate(226.8deg);
	-ms-transform: rotate(226.8deg);
	-o-transform: rotate(226.8deg);
	transform: rotate(226.8deg);
}

.c100.p64 .bar {
	-webkit-transform: rotate(230.4deg);
	-moz-transform: rotate(230.4deg);
	-ms-transform: rotate(230.4deg);
	-o-transform: rotate(230.4deg);
	transform: rotate(230.4deg);
}

.c100.p65 .bar {
	-webkit-transform: rotate(234deg);
	-moz-transform: rotate(234deg);
	-ms-transform: rotate(234deg);
	-o-transform: rotate(234deg);
	transform: rotate(234deg);
}

.c100.p66 .bar {
	-webkit-transform: rotate(237.6deg);
	-moz-transform: rotate(237.6deg);
	-ms-transform: rotate(237.6deg);
	-o-transform: rotate(237.6deg);
	transform: rotate(237.6deg);
}

.c100.p67 .bar {
	-webkit-transform: rotate(241.20000000000002deg);
	-moz-transform: rotate(241.20000000000002deg);
	-ms-transform: rotate(241.20000000000002deg);
	-o-transform: rotate(241.20000000000002deg);
	transform: rotate(241.20000000000002deg);
}

.c100.p68 .bar {
	-webkit-transform: rotate(244.8deg);
	-moz-transform: rotate(244.8deg);
	-ms-transform: rotate(244.8deg);
	-o-transform: rotate(244.8deg);
	transform: rotate(244.8deg);
}

.c100.p69 .bar {
	-webkit-transform: rotate(248.4deg);
	-moz-transform: rotate(248.4deg);
	-ms-transform: rotate(248.4deg);
	-o-transform: rotate(248.4deg);
	transform: rotate(248.4deg);
}

.c100.p70 .bar {
	-webkit-transform: rotate(252deg);
	-moz-transform: rotate(252deg);
	-ms-transform: rotate(252deg);
	-o-transform: rotate(252deg);
	transform: rotate(252deg);
}

.c100.p71 .bar {
	-webkit-transform: rotate(255.6deg);
	-moz-transform: rotate(255.6deg);
	-ms-transform: rotate(255.6deg);
	-o-transform: rotate(255.6deg);
	transform: rotate(255.6deg);
}

.c100.p72 .bar {
	-webkit-transform: rotate(259.2deg);
	-moz-transform: rotate(259.2deg);
	-ms-transform: rotate(259.2deg);
	-o-transform: rotate(259.2deg);
	transform: rotate(259.2deg);
}

.c100.p73 .bar {
	-webkit-transform: rotate(262.8deg);
	-moz-transform: rotate(262.8deg);
	-ms-transform: rotate(262.8deg);
	-o-transform: rotate(262.8deg);
	transform: rotate(262.8deg);
}

.c100.p74 .bar {
	-webkit-transform: rotate(266.40000000000003deg);
	-moz-transform: rotate(266.40000000000003deg);
	-ms-transform: rotate(266.40000000000003deg);
	-o-transform: rotate(266.40000000000003deg);
	transform: rotate(266.40000000000003deg);
}

.c100.p75 .bar {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.c100.p76 .bar {
	-webkit-transform: rotate(273.6deg);
	-moz-transform: rotate(273.6deg);
	-ms-transform: rotate(273.6deg);
	-o-transform: rotate(273.6deg);
	transform: rotate(273.6deg);
}

.c100.p77 .bar {
	-webkit-transform: rotate(277.2deg);
	-moz-transform: rotate(277.2deg);
	-ms-transform: rotate(277.2deg);
	-o-transform: rotate(277.2deg);
	transform: rotate(277.2deg);
}

.c100.p78 .bar {
	-webkit-transform: rotate(280.8deg);
	-moz-transform: rotate(280.8deg);
	-ms-transform: rotate(280.8deg);
	-o-transform: rotate(280.8deg);
	transform: rotate(280.8deg);
}

.c100.p79 .bar {
	-webkit-transform: rotate(284.40000000000003deg);
	-moz-transform: rotate(284.40000000000003deg);
	-ms-transform: rotate(284.40000000000003deg);
	-o-transform: rotate(284.40000000000003deg);
	transform: rotate(284.40000000000003deg);
}

.c100.p80 .bar {
	-webkit-transform: rotate(288deg);
	-moz-transform: rotate(288deg);
	-ms-transform: rotate(288deg);
	-o-transform: rotate(288deg);
	transform: rotate(288deg);
}

.c100.p81 .bar {
	-webkit-transform: rotate(291.6deg);
	-moz-transform: rotate(291.6deg);
	-ms-transform: rotate(291.6deg);
	-o-transform: rotate(291.6deg);
	transform: rotate(291.6deg);
}

.c100.p82 .bar {
	-webkit-transform: rotate(295.2deg);
	-moz-transform: rotate(295.2deg);
	-ms-transform: rotate(295.2deg);
	-o-transform: rotate(295.2deg);
	transform: rotate(295.2deg);
}

.c100.p83 .bar {
	-webkit-transform: rotate(298.8deg);
	-moz-transform: rotate(298.8deg);
	-ms-transform: rotate(298.8deg);
	-o-transform: rotate(298.8deg);
	transform: rotate(298.8deg);
}

.c100.p84 .bar {
	-webkit-transform: rotate(302.40000000000003deg);
	-moz-transform: rotate(302.40000000000003deg);
	-ms-transform: rotate(302.40000000000003deg);
	-o-transform: rotate(302.40000000000003deg);
	transform: rotate(302.40000000000003deg);
}

.c100.p85 .bar {
	-webkit-transform: rotate(306deg);
	-moz-transform: rotate(306deg);
	-ms-transform: rotate(306deg);
	-o-transform: rotate(306deg);
	transform: rotate(306deg);
}

.c100.p86 .bar {
	-webkit-transform: rotate(309.6deg);
	-moz-transform: rotate(309.6deg);
	-ms-transform: rotate(309.6deg);
	-o-transform: rotate(309.6deg);
	transform: rotate(309.6deg);
}

.c100.p87 .bar {
	-webkit-transform: rotate(313.2deg);
	-moz-transform: rotate(313.2deg);
	-ms-transform: rotate(313.2deg);
	-o-transform: rotate(313.2deg);
	transform: rotate(313.2deg);
}

.c100.p88 .bar {
	-webkit-transform: rotate(316.8deg);
	-moz-transform: rotate(316.8deg);
	-ms-transform: rotate(316.8deg);
	-o-transform: rotate(316.8deg);
	transform: rotate(316.8deg);
}

.c100.p89 .bar {
	-webkit-transform: rotate(320.40000000000003deg);
	-moz-transform: rotate(320.40000000000003deg);
	-ms-transform: rotate(320.40000000000003deg);
	-o-transform: rotate(320.40000000000003deg);
	transform: rotate(320.40000000000003deg);
}

.c100.p90 .bar {
	-webkit-transform: rotate(324deg);
	-moz-transform: rotate(324deg);
	-ms-transform: rotate(324deg);
	-o-transform: rotate(324deg);
	transform: rotate(324deg);
}

.c100.p92 .bar {
	-webkit-transform: rotate(331.2deg);
	-moz-transform: rotate(331.2deg);
	-ms-transform: rotate(331.2deg);
	-o-transform: rotate(331.2deg);
	transform: rotate(331.2deg);
}

.c100.p93 .bar {
	-webkit-transform: rotate(334.8deg);
	-moz-transform: rotate(334.8deg);
	-ms-transform: rotate(334.8deg);
	-o-transform: rotate(334.8deg);
	transform: rotate(334.8deg);
}

.c100.p94 .bar {
	-webkit-transform: rotate(338.40000000000003deg);
	-moz-transform: rotate(338.40000000000003deg);
	-ms-transform: rotate(338.40000000000003deg);
	-o-transform: rotate(338.40000000000003deg);
	transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
	-webkit-transform: rotate(342deg);
	-moz-transform: rotate(342deg);
	-ms-transform: rotate(342deg);
	-o-transform: rotate(342deg);
	transform: rotate(342deg);
}

.c100.p96 .bar {
	-webkit-transform: rotate(345.6deg);
	-moz-transform: rotate(345.6deg);
	-ms-transform: rotate(345.6deg);
	-o-transform: rotate(345.6deg);
	transform: rotate(345.6deg);
}

.c100.p97 .bar {
	-webkit-transform: rotate(349.2deg);
	-moz-transform: rotate(349.2deg);
	-ms-transform: rotate(349.2deg);
	-o-transform: rotate(349.2deg);
	transform: rotate(349.2deg);
}

.c100.p98 .bar {
	-webkit-transform: rotate(352.8deg);
	-moz-transform: rotate(352.8deg);
	-ms-transform: rotate(352.8deg);
	-o-transform: rotate(352.8deg);
	transform: rotate(352.8deg);
}

.c100.p99 .bar {
	-webkit-transform: rotate(356.40000000000003deg);
	-moz-transform: rotate(356.40000000000003deg);
	-ms-transform: rotate(356.40000000000003deg);
	-o-transform: rotate(356.40000000000003deg);
	transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.c100:hover {
	cursor: default;
}

.c100:hover>span {
	width: 3.33em;
	line-height: 3.33em;
	font-size: 0.3em;
	color: #fff;
}

.c100:hover:after {
	top: 0.04em;
	left: 0.04em;
	width: 0.92em;
	height: 0.92em;
}

.c100.dark {
	background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
	border-color: #c6ff00 !important;
}

.c100.dark>span {
	color: #777777;
}

.c100.dark:after {
	background-color: #666666;
}

.c100.dark:hover>span {
	color: #c6ff00;
}

.c100.green .bar,
.c100.green .fill {
	border-color: #4db53c !important;
}

.c100.green:hover>span {
	color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
	border-color: #5fd400 !important;
}

.c100.green.dark:hover>span {
	color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
	border-color: #dd9d22 !important;
}

.c100.orange:hover>span {
	color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
	border-color: #e08833 !important;
}

.c100.orange.dark:hover>span {
	color: #e08833;
}

.c100.p92 .bar {
	-webkit-transform: rotate(331.2deg);
	-moz-transform: rotate(331.2deg);
	-ms-transform: rotate(331.2deg);
	-o-transform: rotate(331.2deg);
	transform: rotate(331.2deg);
}

.c100.p93 .bar {
	-webkit-transform: rotate(334.8deg);
	-moz-transform: rotate(334.8deg);
	-ms-transform: rotate(334.8deg);
	-o-transform: rotate(334.8deg);
	transform: rotate(334.8deg);
}

.c100.p94 .bar {
	-webkit-transform: rotate(338.40000000000003deg);
	-moz-transform: rotate(338.40000000000003deg);
	-ms-transform: rotate(338.40000000000003deg);
	-o-transform: rotate(338.40000000000003deg);
	transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
	-webkit-transform: rotate(342deg);
	-moz-transform: rotate(342deg);
	-ms-transform: rotate(342deg);
	-o-transform: rotate(342deg);
	transform: rotate(342deg);
}

.c100.p96 .bar {
	-webkit-transform: rotate(345.6deg);
	-moz-transform: rotate(345.6deg);
	-ms-transform: rotate(345.6deg);
	-o-transform: rotate(345.6deg);
	transform: rotate(345.6deg);
}

.c100.p97 .bar {
	-webkit-transform: rotate(349.2deg);
	-moz-transform: rotate(349.2deg);
	-ms-transform: rotate(349.2deg);
	-o-transform: rotate(349.2deg);
	transform: rotate(349.2deg);
}

.c100.p98 .bar {
	-webkit-transform: rotate(352.8deg);
	-moz-transform: rotate(352.8deg);
	-ms-transform: rotate(352.8deg);
	-o-transform: rotate(352.8deg);
	transform: rotate(352.8deg);
}

.c100.p99 .bar {
	-webkit-transform: rotate(356.40000000000003deg);
	-moz-transform: rotate(356.40000000000003deg);
	-ms-transform: rotate(356.40000000000003deg);
	-o-transform: rotate(356.40000000000003deg);
	transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.c100:hover {
	cursor: default;
}

.c100:hover>span {
	width: 3.33em;
	line-height: 3.33em;
	font-size: 0.3em;
	color: #fff;
}

.c100:hover:after {
	top: 0.04em;
	left: 0.04em;
	width: 0.92em;
	height: 0.92em;
}

.c100.dark {
	background-color: #777777;
}

.c100.dark .bar,
.c100.dark .fill {
	border-color: #c6ff00 !important;
}

.c100.dark>span {
	color: #777777;
}

.c100.dark:after {
	background-color: #666666;
}

.c100.dark:hover>span {
	color: #c6ff00;
}

.c100.green .bar,
.c100.green .fill {
	border-color: #4db53c !important;
}

.c100.green:hover>span {
	color: #4db53c;
}

.c100.green.dark .bar,
.c100.green.dark .fill {
	border-color: #5fd400 !important;
}

.c100.green.dark:hover>span {
	color: #5fd400;
}

.c100.orange .bar,
.c100.orange .fill {
	border-color: #dd9d22 !important;
}

.c100.orange:hover>span {
	color: #dd9d22;
}

.c100.orange.dark .bar,
.c100.orange.dark .fill {
	border-color: #e08833 !important;
}

.c100.orange.dark:hover>span {
	color: #e08833;
}

.nomeunidade {
	text-align: right;
	font-weight: 500;
	font-size: 1.5em;
	color: #fff;
}

.baixo {
	float: left;
	margin: 2px;
	text-indent: -2000px;
	width: 30px;
	height: 30px;
	background: #99cc03;
	border-radius: 4px;
	cursor: pointer
}

.cor1 {
	background: #A34A4A !important;
	;
	border: 2px solid #A34A4A;
}

.cor2 {
	background: #B25D5D !important;
	;
	border: 2px solid #B25D5D;
}

.cor3 {
	background: #BC8158 !important;
	;
	border: 2px solid #BC8158;
}

.cor4 {
	background: #C0958A !important;
	;
	border: 2px solid #C0958A;
}

.cor5 {
	background: #C4C391 !important;
	;
	border: 2px solid #C4C391;
}

.cor6 {
	background: #8AC0BB !important;
	;
	border: 2px solid #8AC0BB;
}

.cor7 {
	background: #77AED2 !important;
	;
	border: 2px solid #77AED2;
}

.cor8 {
	background: #8A8BC0 !important;
	;
	border: 2px solid #8A8BC0;
}

.tcor1 {
	color: #A34A4A !important;
}

.tcor2 {
	color: #B25D5D !important;
}

.tcor3 {
	color: #BC8158 !important;
}

.tcor4 {
	color: #C0958A !important;
}

.tcor5 {
	color: #C4C391 !important;
}

.tcor6 {
	color: #8AC0BB !important;
}

.tcor7 {
	color: #77AED2 !important;
}

.tcor8 {
	color: #8A8BC0 !important;
}

.rodape {
	background: #737693;
	position: relative;
	bottom: 0;
	width: calc(100% - 40px);
	padding: 10px;

	/* margin: 19px; */
	border-radius: 10px;
	/* width: 100%; */
	margin: 0 20px;
}


.tela_final {
	font-weight: bold;
	color: #444;
}

/*---FIM QUIZ----*/

.classcerta {
	/*order-color: #27ae60 !important;*/
	color: #abcaaa !important;
}

.classerrada {
	/*border-color: #e74c3c !important;*/
	color: #c9a9a9 !important;
}

/*----GLOSSÁRIO----*/
.corpo-gl ossario {
	width: 100%;
	height: 100%;
	margin: auto;
}

.corpo-g lossario .palavra-glossario {
	width: 90%;
	height: 90%;
	margin: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 1 0px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.corpo-glossario .palavra-glossario:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */

	font-size: 16px;
	color: #fff;
	float: righ t;
	margin-left: 5px;
}

.Ref {
	background-image: url(../imgEstrutura/Livro.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
}

.Vid {
	background-image: url(../imgEstrutura/Video.png);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
	/*margin-right: 10px;*/
	border: 0px !important;
}

.Site {
	background-image: url(../imgEstrutura/site.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35px;
	height: 35px;
	float: left;
	/*margin-right: 10px;*/
	border: 0px !important;
}

div .RefConte nt {
	display: inline-block;
	width: 10% 0%;


	margin: 0;
	padding: 15px;
	background-color: rgba(252, 252, 252);
	/*#d3ddf2;*/
	border-radius: 5px;
}

div .RefIco {
	float: left;
	width: 5%;
	margin-top: -20px;
}

div .RefDados {
	float: left;
	width: 95%;
}

div .RefEscuro {
	background-color: rgba(122, 122, 1 22, 0.02);
	border-radius: 5px;
}

.exibindoAbas,
.superaba {
	width: 90%;
	margin: auto;
}

.exibindoAbas {
	overflow: hidden;
	border-bottom: 1px solid #00AEEF;
}

.abas {
	cursor: pointer;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 18% !important;
	margin: 0 1%;
	float: left;
	height: 35px;
	line-height: 35px;
	background-color: #00AEEF;
	text-align: center;
	color: #fff;
}

.superaba {
	border: 1px solid #00AEEF;
	padding: 15px;
}

.a b {
	display: none;
}

.aba1 {
	display: block;
}

figure {
	margin: 1em 10px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
}

.transcricao {
	height: 400px;
	width: 95%;
	overflow-y: auto;
	margin-top: 10px;
}

.botoesacessivel {
	margin-top: 30px;
}

.card-content {
	background: #f3f3f3 !important;
}

@media screen and (min-width: 800px) {
	iframe {
		height: 29vw;
		width: 60%;
	}
}

@media only screen and (max-height: 900px) {
	.imglateral {
		height: 460px !important;
		background-size: cover !important;
		position: relative;
		margin-left: -10px;
	}

	.transcricao {
		height: 230px;
		overflow-y: auto;
		margin-top: 10px;
	}

	.referentes {
		height: 400px;
		overflow: auto;
	}

	div .RefDados {
		float: left;
		width: 70%;
	}

	div .RefIco {
		float: left;
		width: 7%;
	}
}

@media only screen and (max-width: 600px) {
	.imglateral {
		height: 200px !important;
		background-size: cover;
		margin-top: 10px;
		margin-left: 0;
	}

	.barraSuperior li:last-child {
		border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;

	}

	.barraSuperior li:hover {
		border-bottom: 3px inset #fc0 !important;
		transition: 0.5s;
	}

	.nomeunidade {
		display: none
	}

	.imglateral h1 {

		display: block !important;

	}

	.termometro {
		height: 150px;
		top: 110px;
		display: none;
	}

	.abas {
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		width: 100% !important;
		margin: 1%;
		float: left;
		height: 35px;
		line-height: 35px;
		background-color: #00AEEF;
		text-align: center;
		color: #fff;
	}

	.tela_final {
		margin-bottom: 30px;
	}

	.embed-responsive {
		position: relative;
		display: block;
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	.celular {
		display: block;
	}

	.outros {
		display: none;
	}

	.barraSuperior li {
		float: right;
		height: 75px;
		font-weight: lighter;
		color: #fff;
		line-height: 51px;
		padding: 0 10px;
		cursor: pointer;
		font-family: 'Futura Bold Condensed BT';
		font-size: 1.3rem;
		float: left !important;
		margin: 10px;
		width: 80px;
	}
}