<div class="section-content row" data-content="content">
  <div class="col s12 m11 l6">

    <h4 class="unit-title">Título da Unidade</h4>

    <hr>

    <div class="col s12 m11 l8 right outside out-r z-negative">
      <figure class="img-bubbles bg-center bg-cover br-circle" data-src="img/cover.jpg" uk-img>
      </figure>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum ac odio sed fringilla. Suspendisse eros leo, porta ut mi eu, sodales vestibulum leo. Nunc ac libero mattis, dapibus orci tristique, sodales lectus. Morbi in metus efficitur, pretium erat eget, dictum risus. Etiam euismod cursus pulvinar. Sed placerat lacus at lectus eleifend, eu ultrices velit condimentum. Nullam scelerisque blandit nunc, a consectetur libero porttitor ut. Quisque tincidunt rhoncus mauris, sit amet varius purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam efficitur eros sit amet pharetra faucibus. Curabitur sagittis ante volutpat felis dignissim ultricies. Aliquam erat volutpat. Quisque vitae enim sit amet est suscipit laoreet.</p>

    <!-- <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vitae orci erat. Etiam sed tortor massa. Maecenas pharetra ligula ligula, non tempus felis mattis sit amet. Praesent varius finibus urna in viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis elit ut enim euismod dictum eu mollis est. Sed arcu nulla, aliquam a sapien ut, faucibus vehicula lorem. Mauris non maximus turpis.</p> -->

    <!-- <button>button</button>

    <div class="col s6">
      <figure class="same-size overflow-hidden bg-center bg-cover br-circle" data-src="https://unigranrio.blackboard.com/bbcswebdav/institution/nead_wd/templates/2020/v3.7/img/img-1920x1080h.jpg" uk-img>
      </figure>
    </div> -->
  </div>
</div>

<script id="template-info" type="text/template">
  {
    "id": "cs1",
    "classes": "apresentacao bg-center bg-cover",
    "title": "Apresentação",
    "iconClass": "mdi mdi-card-bulleted-outline",
    "bgImg": "img/_base/dots-shadow-bg.png",
    "template": "_section-content.html",
    "templateTarget": "main-content",
    "templateUnwrap": false,
    "contentTarget": "section-content"
  }
</script>