<div class="row content">
  <div class="col s12 m11 l9 center">

    <h4 class="txt-center">Livro Didático</h4>

  </div>
</div>

<script id="template-info" type="text/template">
  {
    "sectionId": "cs2",
    "sectionClasses": "livro",
    "sectionTitle": "Livro Didático",
    "sectionBg": ""
  }
</script>