button.accordion {
    background-color: #008bb6;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
	font-weight: bold;
    transition: 0.4s;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: -18px;
}

button.accordion.active, button.accordion:hover {
    background-color: ##8ab5e1;
}

button.accordion:after {
    content: '\002B';
    color: #FFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    /*padding: 0 18px;*/
	padding-top: 25px;
	padding-left: 15px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
	border-radius: 10px;
	border: 0;
	box-shadow: none;
	margin-bottom: auto;
}