@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F9F9F9;
}

#BarraMenu{
    position: fixed;
    top:0;
    left: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 9999;
	background-color: transparent;
}

#BgMenu {
	background-color: rgba(0,79,159,0.95);
	width: 100%;
	height: 56px;
	position: fixed;
	border-bottom: 1px solid #FFF;
}

span {margin-bottom: 10px;}

	/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	/*left:15%;*/
	margin-left:auto;
	margin-right:auto;
	display: table;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	/*margin-right: 1px;*/
}

/*Style for menu links*/
li a {
	display:block;
	/*min-width:170px;
	height: 50px;*/
	text-align: left;
	line-height: 33px;
	font-family: 'Futura Book BT', arial;
	color: #FFFFFF;
	/*background-color: rgba(4,49,97,0.95);*/
	background-color: rgba(0,79,159,0);
	text-decoration: none;
	padding: 12px 10px 10px 22px;
	font-size: 1.2em;
	margin: 0;
	/*border-bottom: 1px solid #FFF;*/
	cursor: pointer;
}

/*Hover state for top level links*/
li a:hover {
	background: #65a0dd;
	text-decoration: none;
	color: #FFFFFF;
}

 li a:focus {
	background: #65a0dd;
	text-decoration: none;
	color: #FFFFFF;
}

/*Estilo submenu link*/
/*li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}*/

/*Hover submenu link*/
/*li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}*/

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
	cursor: pointer;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background-color: rgba(0,79,159,0.9);
	text-align: left;
	padding: 10px 0;
	display: none;
	cursor: pointer;
	border-bottom: 1px solid #FFF;
	margin-bottom: 0px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*CSS MOBILE RESPONSIVO*/
@media screen and (max-width : 1024px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
		left: 0!important;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: -1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		min-width: 106%;
		font-size: 1.2em;
		left: 0;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display: block;
	}
	
	li a{
		background-color: rgba(4,49,97,0.95);
		cursor: pointer;
		/*border-bottom: 1px solid #FFF;*/
	}
	
	li a:hover {
		background: #65a0dd!important;
		text-decoration: none;
		color: #FFFFFF;
	}
	
	li a:focus {
		background: #65a0dd!important;
		text-decoration: none;
		color: #FFFFFF;
	}
	
	#BgMenu {display: none}
}

/*CSS DESKTOP --- 1024px*/
@media screen and (min-width: 1024px) and (max-width: 1366px){
	ul {
	/*list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left:1.8rem;*/
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	/*left:15%;*/
	margin-left:auto!important;
	margin-right:auto!important;
	display: table;
	}
	
	li a {
	display:block;
	/*min-width:170px;
	height: 50px;*/
	text-align: left;
	line-height: 33px;
	font-family: 'Futura Book BT', arial;
	color: #FFFFFF;
	/*background-color: rgba(4,49,97,0.95);*/
	background-color: rgba(0,79,159,0);
	text-decoration: none;
	padding: 12px 10px 10px 5px!important;
	font-size: 1.2em;
	margin: 0;
	/*border-bottom: 1px solid #FFF;*/
	cursor: pointer;
	}
	/*Hover state for top level links*/
	li a:hover {
		background: #65a0dd;
		text-decoration: none;
		color: #FFFFFF;
	}

	 li a:focus {
		background: transparent;
		text-decoration: none;
		color: #FFFFFF;
	}

	/*Hide dropdown links until they are needed*/
	li ul {
		display: none;
	}

	/*Make dropdown links vertical*/
	li ul li {
		display: block;
		float: none;
	}

	/*Prevent text wrapping*/
	li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
		cursor: pointer;
	}

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
		display: block;
	}
	
}


/*CSS DESKTOP --- 1440px*/
@media screen and (min-width: 1440px){
	ul {
	/*list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	left:1.8rem;*/
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	/*left:15%;*/
	margin-left:auto!important;
	margin-right:auto!important;
	display: table;
	}
	
	li a {
	display:block;
	/*min-width:170px;
	height: 50px;*/
	text-align: left;
	line-height: 33px;
	font-family: 'Futura Book BT', arial;
	color: #FFFFFF;
	/*background-color: rgba(4,49,97,0.95);*/
	background-color: rgba(0,79,159,0);
	text-decoration: none;
	padding: 12px 10px 10px 5px!important;
	font-size: 1.2em;
	margin: 0;
	/*border-bottom: 1px solid #FFF;*/
	cursor: pointer;
	}
	/*Hover state for top level links*/
	li a:hover {
		background: #65a0dd;
		text-decoration: none;
		color: #FFFFFF;
	}

	 li a:focus {
		background: transparent;
		text-decoration: none;
		color: #FFFFFF;
	}

	/*Hide dropdown links until they are needed*/
	li ul {
		display: none;
	}

	/*Make dropdown links vertical*/
	li ul li {
		display: block;
		float: none;
	}

	/*Prevent text wrapping*/
	li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
		cursor: pointer;
	}

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
		display: block;
	}
	
}
/*--- FIM 1440px ---*/

/*-------------- ÍCONE MENU ----------------*/
#nav-icon {
  width: 60px;
  height: 43px;
  position: relative;
  margin: 4px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #FFFFFF;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
  height: 5px;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
  height: 5px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/*-------------- FIM ÍCONE MENU ----------------*/
