// Border-radius
@mixin border-radius($radius)
  border-radius: $radius
  background-clip: padding-box

// Box-shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false)
  @if $inset
    box-shadow:inset $top $left $blur $color
  @else
    box-shadow: $top $left $blur $color

// Font Face
@mixin font-face($name, $weight: normal, $style: normal, $local: false, $path: false)
  font-family: '#{$name}'
  font-style: $weight
  font-weight: $style
  @if $local
    src: local('#{$local}'), local('#{to-lower-case(str-replace($local, " ", "-"))}')
  @if $path
    src: url('#{$path}.eot')
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg?#webfont') format('svg')

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {String | List | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...)
  @if is-direction($direction) == false
    $color-stops: ($direction, $color-stops)
    $direction: 180deg;

  background: nth(nth($color-stops, 1), 1)
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
  background: linear-gradient($direction, $color-stops)