@charset "utf-8";

html {height: 100%; background-color: #FFF;}

body {
	font-family: Arial, 'Arial Narrow' ;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url( ../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-bold-condensed-bt.woff) format('woff'), url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'), url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}
@font-face { 
	font-family: 'Futura Extra Black Condensed BT';
	src: url( ../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'), url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}
@font-face {
	font-family: 'Futura Book BT';
	src: url( ../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-book-bt.woff) format('woff'), url(../fonts/futura-book-bt.ttf) format('truetype'), url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

a {word-wrap: break-word; text-decoration: none!important;}

a:focus {border: none;}

header{
	/*background-color: rgba(4,49,97,0.8);
	background-color: rgba(0,79,159,0.9);*/
	background-color: rgba(0, 0, 0, 0.6);
	/*max-height:200px;
	width: 75%;*/
	padding-top: 21px;
	border-bottom: 0px solid #FFF;
	position:absolute;
	top:45%;
	left:0;
	margin-top:-94px;
	line-height: 50px;
}

h1 {

	font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
	text-align: left;
	font-weight: 600;
	/*font-size: 42px!important;*/
	font-size: 3em!important;
	color:#FFF;	
	padding-left: 90px;
	padding-right: 50px;
	padding-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*text-transform: uppercase;*/
	/*margin: 0 10px;
	margin-top: 0px;*/
	/*padding-top: 40px;*/
	
}

h3 {
	font-family: 'Futura Book BT'; 
	text-transform: uppercase; 
	font-weight: 500;
	padding-top: 100px;
	padding-bottom: 20px;
	font-size: 1.5em!important;
	color: #A01114;
}

/*#h1Topo{
	font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
	text-align:center;
	font-weight: 400;	
	color:#20558B;
	padding-bottom: 60px;
}*/

#containerMiddle{
	max-height: 600px;
}

#rowContainerMiddle{	
	float: none;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.2em;/*17px;*/
	font-weight: lighter;
}

#parallaxBar{
	/*height:795px;*/
	/*background-color:#004c82;*/
	background: url(../imgcursos/intro.jpg) no-repeat center center fixed;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100vh;
	z-index: 0;
}

section {
	margin: 0 auto;
	min-height:100vh;
}

/*ÍCONES*/
.ico-Apresentacao 			{background: url(../img/ico-Apresentacao.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Conteudo				{background: url(../img/ico-Conteudo.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-FiquePorDentro 		{background: url(../img/ico-fique_por_dentro.png)		no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Glossario				{background: url(../img/ico-Glossario.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-LeituraComplementar	{background: url(../img/ico-LeituraComplementar.png)	no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Desafio 				{background: url(../img/ico-Desafio.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Infografico 			{background: url(../img/ico-Infografico.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-ConteudoLivro 			{background: url(../img/ico-ConteudoLivro.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-DicaProf 				{background: url(../img/ico-DicaProf.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-NaPratica 				{background: url(../img/ico-NaPratica.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Exercicios				{background: url(../img/ico-Exercicios.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-SaibaMais 				{background: url(../img/ico-SaibaMais.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Sintese 				{background: url(../img/ico-Sintese.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Referencia				{background: url(../img/ico-Referencia.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-PDF					{background: url(../img/ico-PDF.png) 					no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Midiateca				{background: url(../img/ico-Midiateca.png) 				no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-FAQ					{background: url(../img/ico-FAQ.png) 					no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}

.Topo {
	display:scroll;
	position:fixed;
	bottom:2px;
	right:2px;
}

#Rodape{
	color:#444444;
	font-family: 'Futura Bold Condensed BT';
	font-size:14px;
	font-weight: 500;
	text-align: center;
	padding-top: 30px;
	margin-top: 130px;
}

p {margin-bottom: 20px;}

hr {border-top: 1px dashed #004f9f;}

.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type=button] {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 7px;
	font-family: Arial;
	color: #ffffff;
	font-size: 0.8em;
	background: #851010;
	padding: 5px;
	text-decoration: none;
	border: 0px;
	/*margin: 0 auto;*/
	display: table;
	font-weight: 600;
	float: left!important;
	height: 30px;
	width: 184px;
}

input[type=button]:hover {
	-moz-box-shadow:0 0 24px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	text-decoration: none;
}

/*footer{
	height:60px;
	background-color:#004c82;
	display: block;
	position: relative;
	bottom:0px;
	width: 100%;
}

#footerMenu{
	margin-top:40px;
	margin-bottom: 0px;
}





.socialIcons li{
	display: inline-block;
	list-style: none;
	margin-left:10px;
}

.socialIcons li:hover{
	opacity:0.5;
	filter:Alpha(opacity=50);
}
*/

@media screen and (max-width : 1024px){
	
	header{
		/*background-color: rgba(4,49,97,0.8);
		background-color: rgba(0,79,159,0.9);*/
		background-color: rgba(0, 0, 0, 0.6);
		max-height:100%;
		width: 100%;
		padding-top: 0px;
		border-bottom: 0px solid #FFF;
		position:absolute;
		top:50%;
		left:0;
		/*margin-top:-94px;*/
		line-height: 50px;
	}

	h1 {

		font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
		text-align:center;
		font-weight: 600;	
		color:#FFF;	
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/*text-transform: uppercase;*/
		/*margin: 0 10px;
		margin-top: 0px;*/
		/*padding-top: 40px;*/

		}
		
	.ImgTopo {	
		width: 40px;
		height: 40px;
	}
	
	div .RefIco {
		float: left!important; 
		width: 15%!important;
		}

	div .RefDados {
		float: left!important; 
		width: 85%!important;
		}
}

@media screen and (min-width : 1366px){
	
	header{
		/*background-color: rgba(4,49,97,0.8);
		background-color: rgba(0,79,159,0.9);*/
		background-color: rgba(0, 0, 0, 0.6);
		/*max-height:200px;
		width: 75%;*/
		padding-top: 21px;
		border-bottom: 0px solid #FFF;
		position:absolute;
		top:50%;
		left:0;
		margin-top:-94px;
		line-height: 50px;
}

	h1 {
		font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
		text-align: left;
		font-weight: 600;
		color:#FFF;	
		padding-left: 55px;
		padding-right: 50px;
		padding-bottom: 40px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/*text-transform: uppercase;*/
		/*margin: 0 10px;
		margin-top: 0px;*/
		/*padding-top: 40px;*/

	}	
	
}

/*inicio quiz*/

.marcada{ background-color:#ffcc03; color:#fff;}
.pegapergunta{ display:none;}
.pergunta{ font-size: 1.1em; margin-bottom: 20px;}
.q{ padding:10px; width:100%; margin:auto; /*border:1px solid #D6D6D6;*/ background-color:#d3ddf2;border-radius:10px;}
.r{ background:#fff; border-radius:10px; margin:5px 0; padding:10px; cursor:pointer;}
.r:hover{ background:#8ab5e1; color: #FFF;}
.errou{ padding:10px; background-color:#E3C1C1; color:#C11F21;border-radius:10px; margin:5px 0;}
.acertou{ padding:10px; background-color: #CDE4D5; color:#237022;border-radius:10px; margin:5px 0;}
.tela_final {font-weight: bold; color: #444;}

/*fim quiz*/

/*----GLOSSÁRIO----*/
.corpo-glossario {
	width: 100%;
	height: 100%;
	margin: auto; 
}

.corpo-glossario .palavra-glossario {
	width: 90%;
	height: 90%;
	margin: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.corpo-glossario .palavra-glossario:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 16px;
	color: #fff;
	float: right;
	margin-left: 5px; 
}

.corpo-glossario .palavra-glossario.active:after {
	content: '\2796';
	/* Unicode character for "minus" sign (-) */ 
}

.corpo-glossario .significado-glossario {
	width: 85%;
	height: 100%;
	margin: auto; 
}
/*----FIM GLOSSÁRIO----*/


/*----REFERENCIA----*/

.Ref {
  background-image: url(../img/Livro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}
.Vid {
  background-image: url(../img/Video.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}
.Site {
  background-image: url(../img/site.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}

div .RefContent {
	display: inline-block; 
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	background-color: rgba(252,252,252,0.5);
	border-radius: 5px;
}

div .RefIco {
	float: left; 
	width: 5%;
}

div .RefDados {
	float: left; 
	width: 95%;
}

div .RefEscuro{
	background-color: rgba(122,122,122,0.07);
	border-radius: 5px;
}

video {  
   width:100%; 
   max-width:960px; 
   height:auto; 
}

.panel{
	background-color: aliceblue !important;
	border-radius: 5px;
}

.btn-fique{
	margin: 20px auto;
	font-weight: bolder;
	padding: 15px; border-radius: 5px; background-color: #008bb6; color: aliceblue; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

.linha{
		border: 1px solid rgba(0,79,159,0.95); 
		width: 100%; 
		height: 1px; 
		margin: 30px auto;
	}

.linhaMetade{
		border: 1px solid rgba(0,79,159,0.95); 
		width: 100%; 
		/*height: 1px; */
		margin: -15px 25% 30px 0;
	}

fechar{
	background-color: rgba(172,0,2,1.00);
	color: #fff;
	float: right;
	padding: 15px;
	cursor: pointer;
	border-radius: 5px;;
}

.bullet{	
	background-image: url(../img/bullet.png);
	float: left;
	width: 15px;
	height: 15px;
	margin: 2px 10px;
}

input[type="button"].btn-block a:hover {
  text-decoration: none!important;
}

h2 {
	color: rgba(0,79,159,0.95)!important;
	text-align: center!important;
	margin-top: 55px;
}

.btn {
	font-weight: lighter!important; 
	font-family: 'Futura Bold Condensed BT', Arial!important;
	text-transform: uppercase!important;
	font-size: 2.1rem!important;
}

.btn-danger, .btn-warning, .btn-info {
	font-size: 2.1rem!important;
	margin-bottom: 10px;
}

.btn-info {border-color: #3d99b5!important;}

.btn-warning {color: #000!important; border-color:#b67e3b!important;}

.btn-danger:hover {
	text-decoration: none!important;
}

img.CapaLivro {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}




