@charset "utf-8";

.tela_final {
	margin-bottom: 30px;
	margin-top: -140px;
}

@media screen and (max-width: 640px) {

	.carousel {height:32vh!important}
	
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

	.carousel {height: 58vh!important}
	
}

@media screen and (max-width: 320px) {

	.introducao h1 {top:10%!important;}
	.entrar {top: 267px!important;}
	h1 {font-size: 2.1rem!important;}
	.avancar2, .voltar2 {bottom: -58px!important;}
	.PadLeft {padding-left: 14px!important;}
	
}

@media screen and (min-width: 320px) and (max-width: 480px) {

	.introducao h1 {top:11%!important;}
	.entrar {top: 335px!important;}
	h1 {padding-left: 2.3rem!important;}
	
}

@media screen and (min-width: 320px) and (max-width: 640px) {
	
	.avancar2, .voltar2 {bottom: -80px!important;}
	.PadLeft {padding-left: 15px!important;}
	h2 {font-size: 2rem!important;}
	
}

@media screen and (min-width: 480px) and (max-width: 640px) {

	h1 {padding-left: 3.3rem!important; width: 100%!important;}
	.entrar {top: 400px!important;}
}

@media screen and (min-width: 320px) and (max-width: 1024px){

	figure.Vid, figure.Site, figure.Ref {margin: -7px!important;}
	
	div .RefIco {
		float: left; 
		width: 31px!important;
		}
	/*.row .col.m2 {display: none!important;}*/
	
	.TxtBox {padding: 1.3rem 0 1.3rem 0!important;}
	
	.carousel {width: 100%!important;}
	
	.carousel .indicators .indicator-item {
		height: 12px!important;
		width: 12px!important;
		margin: -3px 5px!important;
	}
}

@media screen and (min-width: 480px) and (max-width: 600px) {

	.introducao h1 {top:5%!important;}
	.entrar {top: 191px!important;}
	.PadLeft {padding-left: 15px!important;}

}

@media only screen and (max-width: 600px) {

    .abas{ -webkit-border-top-left-radius: 0px;    -webkit-border-top-right-radius: 0px;    -moz-border-radius-topleft: 0px;    -moz-border-radius-topright: 0px;    border-top-left-radius: 0px;    border-top-right-radius: 0px; width: 100% !important; margin:  1%; float: left; height: 35px; line-height: 35px; background-color: #4abbc0; text-align: center;color:#fff;}
	
	h1 {font-size: 2.4rem!important; }
	
	.icone {
		width: 50px;
		height: 50px;
		float: left;
		margin-right: 8px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px){

	.introducao h1 {text-align: center!important; width: 100%!important; top: 155px !important;}

}

@media only screen and (min-width: 601px) {

	.row .col.m6, .row .col.m9 {width: 70%!important;}
	
}

@media screen and (max-width: 1920px) {

	.imglateral {display: none!important;}
	.barraSuperior {position: fixed!important; z-index: 9999!important;}
	
}

@media screen and (min-width: 600px) and (max-width: 1080px){

	.row .col.m6, .row .col.m9 {/*width: 70%!important;*/width: 93%!important; padding-left: 81px!important;}
}

@media screen and (min-width: 1920px){

	.row .col.m6, .row .col.m9 {width: 65%!important;}
}

@media only screen and (max-width: 1500px)
{
	
	.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

	/*.btnNav {
	font-family: 'Futura Book BT';
    width: 25px;
    height: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #004f9f;
    line-height: 25px;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 4px;
     /*float: left;*/
	/*display: inline-block;*/
/*}*/
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
	div .RefIco {
    float: left;
    width: 18%;
}
div .RefDados {
    float: left;
    width: 75%;
}
.RefContent:last-child{ margin-bottom:100px } 
	.card:last-child{ margin-bottom:100px } 
	.l_img2 {
    background: url(../imgCurso/2.jpg) 170px 2px no-repeat; 
}
.l_img6 {
    background: url(../imgCurso/6.jpg) 0px -110px no-repeat;
}
	.celular{ display:block; margin-bottom:100px}
	.computador{ display:none}
	.play {
    border: 4px solid #fff;
    background: #095BA5;
    position: absolute;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 165px;
    margin-top: 0;
    margin-left: -35px;
}
	.lerapostila, .baixarApostila {
    line-height: 4em;
    display: block;
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    padding: 10px;
	background:#f3f3f3;
	 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	width:100%;
}
.telaBranca {
   background: #f7f7f7;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    z-index: 100000;
    left: 50%;
    height: 100%;
    top: 50%;
    margin-top: -73%;
}
	
	/*// tela introducao*/
	/*// tela introducao*/

	.height100{ height:200px}
	.menuResponsivo{ display:block}
	
	.barraSuperior ul {
    position: fixed;
    top: 62px;
    left: -100%;
    width: 96%;
    z-index: 10000;
    /*background-color: #095BA5;*/
	background:  url(../imgEstrutura/BgSubmenu.jpg) repeat-x left top;
    padding: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px solid #fff;
}
.fecharMenu{ display:block}
.barraSuperior li{ float:none; border-bottom:0px solid rgba(255,255,255,0.4)}
.barraSuperior li:last-child{ border:none}

h1 {
    font-size: 2.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
	}

}


@media screen and (max-width: 1280px) {
	
	.btn-floating.btn-large {
		top:8px!important;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1366px ) {

	.imglateral {height: 553px!important;}
}

@media screen and (min-width: 1366px) and (max-width: 1440px ) {

	.imglateral {height: 685px!important;}
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
	
	.barraSuperior li {padding: 0 22px!important;}
	.ativado { background-position: 3px 19px!important;}
	.imglateral {height: 685px!important;}
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

	.barraSuperior li {
		padding: 0 8px!important;
		padding-left: 23px!important;
		}
	.ativado {background: url(../imgEstrutura/checked.png) no-repeat 3px 19px!important;}
}

@media only screen and (min-width: 1680px) and (max-width: 1920px) {

	.imglateral {height: 708px!important;}
}

@media only screen and (min-width: 1920px) {

	.imglateral {height: 848px!important;}
	.barraSuperior li {
		padding: 0 14px!important;
		padding-left: 33px!important;
		}
	.ativado {background: url(../imgEstrutura/checked.png) no-repeat 10px 19px!important;}
}

/*-- CARROSEL DE TEXTO --*/
@media only screen and (min-width: 320px) and (max-width: 568px) {

	.carousel.carousel-slider .carousel-item p {font-size: 0.9rem!important; margin: 9px 20px 0;}
	.carousel .indicators .indicator-item {	margin: 0px 5px;}
	.carousel-item-text {font-family: "Roboto", sans-serif!important;}
		
}

@media only screen and (min-width: 568px) and (max-width: 1023px) {

	.carousel.carousel-slider .carousel-item p {font-size: 1.1rem!important; margin: 20px 20px 0;}
	.carousel .indicators .indicator-item {	margin: 0px 5px;}
	.carousel-item-text {font-family: "Roboto", sans-serif!important;}
		
}


@media only screen and (min-width: 1280px) and (max-width: 1439px) {

	.carousel.carousel-slider .carousel-item p {margin: 100px 20px 0;}
		
}