/* Accordion */
#uni .accordion {
  margin: 1.5rem 0;
}
#uni .accordion>li {
  background: #ffffff;
}
#uni .accordion:not(.spaced)>li {
  margin: 0;
}
#uni .accordion.popout>li {
  margin: 0;
}
#uni .accordion.popout>li.active {
  margin: 1rem -1.5rem;
}
#uni .accordion a,
#uni .accordion a:hover {
  background: none;
}
#uni .collapsible-header,
#uni .uk-accordion-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
#uni .accordion .uk-accordion-title::after,
#uni .accordion .collapsible-header::after,
#uni .accordion .uk-accordion-title::before,
#uni .accordion .collapsible-header::before {
  display: none;
}
#uni .accordion .uk-accordion-title > *,
#uni .accordion .collapsible-header > * {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  vertical-align: middle;
}
#uni .accordion li [class*="icon"] {
  margin-right: 1em;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#uni .accordion li[class*="active"] [class*="icon"],
#uni .accordion li[class*="open"] [class*="icon"] {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#uni .uk-accordion-content,
#uni .collapsible-body {
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0;
}