/* Animated Hover  Underline*/
#uni .animate-underline {
  position: relative;
  display: inline;
  overflow: visible;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(transparent calc(100% - 1px), #444444 1px); */
  background-image: -moz-linear-gradient(transparent calc(100% - 2px), #444444 1px);
  background-image: -webkit-linear-gradient(transparent calc(100% - 2px), #444444 1px);
  background-image: -o-linear-gradient(transparent calc(100% - 2px), #444444 1px);
  background-image: -ms-linear-gradient(transparent calc(100% - 2px), #444444 1px);
  background-image: linear-gradient(transparent calc(100% - 2px), #444444 1px);

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-background-size: 0 100% !important;
  -moz-background-size: 0 100% !important;
  -o-background-size: 0 100% !important;
  background-size: 0 100% !important;
}
#uni .animate-underline:hover {
  -webkit-background-size: 100% 100% !important;
  -moz-background-size: 100% 100% !important;
  -o-background-size: 100% 100% !important;
  background-size: 100% 100% !important;
}