
/* Backgrounds */
/* Backgrounds images */
.bg-01 { background-image: url("../img/_base/img-01.jpg"); }
.bg-02 { background-image: url("../img/_base/img-02.jpg"); }
.bg-03 { background-image: url("../img/_base/img-03.jpg"); }
.bg-04 { background-image: url("../img/_base/img-04.jpg"); }
.bg-05 { background-image: url("../img/_base/img-05.jpg"); }

.bg-circles { background-image: url("../img/_base/outline-circles.png"); }
.bg-dot-blue {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-cyan {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-green {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-violet {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%236260A8%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-yellow {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23FFA000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-grey {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-white {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-black {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-square-blue {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-cyan {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-green {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-violet {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%236260A8;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-yellow {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFA000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-grey {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-white {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-black {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-svg-small {
  background-position: 3px 3px;
  -webkit-background-size: 0.5rem;
  -moz-background-size: 0.5rem;
  -o-background-size: 0.5rem;
  background-size: 0.5rem;
}
.bg-svg-medium {
  background-position: 2px 2px;
  -webkit-background-size: 1rem;
  -moz-background-size: 1rem;
  -o-background-size: 1rem;
  background-size: 1rem;
}
.bg-svg-large {
  background-position: 8px 8px;
  -webkit-background-size: 2rem;
  -moz-background-size: 2rem;
  -o-background-size: 2rem;
  background-size: 2rem;
}