/* Boxes / Cards / Tile */
#uni .bx,
#uni .card {
  position: relative;
  display: block;
  min-height: 1em;
  min-width: 1em;
  padding: 0;
  margin: 0 0 1.5rem 0;
  background-color: #FFFFFF;
}
#uni .bx:last-child,
#uni .card:last-child {
  margin-bottom: 0;
}
/* #uni .bx:not(:first-child),
#uni .card:not(:first-child) { margin-top: 1rem; } */
#uni .bx-content,
#uni .card-content { padding: .75rem; }

#uni .bx .bx-content,
#uni .bx .card-content,
#uni .card .bx-content,
#uni .card .card-content,
#uni .bx.bx-content,
#uni .bx.card-content,
#uni .card.bx-content,
#uni .card.card-content { padding: 1.33rem; }

#uni .bx p,
#uni .card p { margin-bottom: 1.33rem; }

#uni .bx *:last-child,
#uni .card *:last-child {
  margin-bottom: 0;
}

#uni .bx-ghost {
  border: 1px solid;
  background-color: transparent;
}

#uni .bx-lines {
  background-color: transparent;
  border-bottom: 5px solid #cccccc;
}
#uni .bx-lines:not(:first-child) { margin: 1.5rem 0 2rem !important; }
#uni .bx-lines .bx-title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 3rem;
  border-bottom: 5px solid #cccccc;
}
#uni .bx-lines .bx-title [class*="icon"] {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF !important;
  background: #31A6A6;
  -webkit-transform: translateY(3%);
  -moz-transform: translateY(3%);
  -ms-transform: translateY(3%);
  -o-transform: translateY(3%);
  transform: translateY(3%);
}
#uni .bx-lines .bx-content { padding: 0 0 1.5rem; }
#uni .bx-line.no-title { border-top: 5px solid #cccccc; }
#uni .bx-lines.no-title .bx-content { padding-top: 1.5rem; }

#uni .bx-pattern { background-color: transparent; }
#uni .bx-pattern::before,
#uni .bx-pattern::after {
  content: " ";
  display: block;
  padding: .75rem;
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");

  background-position: 3px 3px;

  -webkit-background-size: 0.5rem;
  -moz-background-size: 0.5rem;
  -o-background-size: 0.5rem;
  background-size: 0.5rem;
}
#uni .bx-pattern.dot-blue::before,
#uni .bx-pattern.dot-blue::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-cyan::before,
#uni .bx-pattern.dot-cyan::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-green::before,
#uni .bx-pattern.dot-green::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-violet::before,
#uni .bx-pattern.dot-violet::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%236260A8%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-yellow::before,
#uni .bx-pattern.dot-yellow::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23FFA000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-grey::before,
#uni .bx-pattern.dot-grey::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-white::before,
#uni .bx-pattern.dot-white::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-black::before,
#uni .bx-pattern.dot-black::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}

#uni .bx-pattern.square-blue::before,
#uni .bx-pattern.square-blue::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-cyan::before,
#uni .bx-pattern.square-cyan::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-green::before,
#uni .bx-pattern.square-green::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-violet::before,
#uni .bx-pattern.square-violet::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%236260A8;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-yellow::before,
#uni .bx-pattern.square-yellow::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFA000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-grey::before,
#uni .bx-pattern.square-grey::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-white::before,
#uni .bx-pattern.square-white::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-black::before,
#uni .bx-pattern.square-black::after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern .bx-title {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
  -webkit-transform: translate(-0%, -15%);
  -ms-transform: translate(-0%, -15%);
  -moz-transform: translate(-0%, -15%);
  -o-transform: translate(-0%, -15%);
  transform: translate(0, -15%);
}
#uni .bx-pattern .bx-content {padding: 1.5rem 0;}

/* Box Card Image Reveal (AKA flip-card) */
#uni .bx-img-reveal .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
#uni .bx-img-reveal .card-reveal {
  padding: 1.5rem;
}