/* Botões */
.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-flat {
  font-size: 1rem;
  font-family: inherit;
  color: #FFFFFF;
  background-color: #444444;
  background-image: none !important;
  outline: 0;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #222222;
  box-shadow: none;
}
.btn,
.btn-large,
.btn-small {
  height: auto;
  line-height: 1;
  padding: .7em 1.5em;
  margin: 0;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-small {
  font-size: .8rem;
}
.btn-large {
  font-size: 1.4rem;
}
.btn-floating {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 2em !important;
  height: 2em !important;
  line-height: 2em !important;
  vertical-align: middle;
  border-radius: 10rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.btn i,
.btn-large i,
.btn-small i,
.btn-flat i {
  position: relative;
  font-size: 150% !important;
  color: inherit !important;
  line-height: 0 !important;
  vertical-align: middle;
}
.btn-floating i {
  font-size: inherit !important;
  line-height: inherit !important;
}