/* Preformated Text - Code */
#uni .txt-pre {
  color: #eeeeee;
  background: #222222;
}
#uni .txt-pre > * {
  display: inline-block;
  counter-increment: line;
}
#uni .txt-pre > *::before {
  content: counter(line);
  display: inline-block;
  width: 3rem;
  padding: 0 1rem;
  margin-right: 1rem;
  text-align: right;
  color: inherit;
  border-right: 1px solid;
}