/* Dropcaps */
#uni .txt-dropcap::first-letter,
#uni .uk-dropcap::first-letter,
#uni .txt-dropcap>p:first-of-type::first-letter,
#uni .uk-dropcap>p:first-of-type::first-letter {
  display: block;
  float: left;
  font-size: 2.9em;
  font-weight: bold;
  line-height: 1;
  margin: 0 0.5rem -0.5rem 0;
  text-shadow: 5px -5px 0px #a2a2a2;
}
#uni .txt-dropcap.txt-dcs-blue::first-letter,
#uni .uk-dropcap.txt-dcs-blue::first-letter,
#uni .txt-dropcap.txt-dcs-blue>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-blue>p:first-of-type::first-letter {
  text-shadow: 5px -5px 0px #004F9F;
}
#uni .txt-dropcap.txt-dcs-cyan::first-letter,
#uni .uk-dropcap.txt-dcs-cyan::first-letter,
#uni .txt-dropcap.txt-dcs-cyan>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-cyan>p:first-of-type::first-letter {
  text-shadow: 5px -5px 0px #5CBDEE;
}
#uni .txt-dropcap.txt-dcs-green::first-letter,
#uni .uk-dropcap.txt-dcs-green::first-letter,
#uni .txt-dropcap.txt-dcs-green>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-green>p:first-of-type::first-letter {
  text-shadow: 5px -5px 0px #52CCCC;
}
#uni .txt-dropcap.txt-dcs-violet::first-letter,
#uni .uk-dropcap.txt-dcs-violet::first-letter,
#uni .txt-dropcap.txt-dcs-violet>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-violet>p:first-of-type::first-letter {
  text-shadow: 5px -5px 0px #6260A8;
}
#uni .txt-dropcap.txt-dc-yellow::first-letter,
#uni .uk-dropcap.txt-dc-yellow::first-letter,
#uni .txt-dropcap.txt-dc-yellow>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dc-yellow>p:first-of-type::first-letter {
  text-shadow: 5px -5px 0px #FFA000;
}
#uni .txt-dropcap.txt-no-shadow::first-letter,
#uni .uk-dropcap.txt-no-shadow::first-letter,
#uni .txt-dropcap.txt-no-shadow>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-no-shadow>p:first-of-type::first-letter {
  text-shadow: none !important;
}