/* Icons */
#uni [class*="icon"] {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
#uni [class*="icon"].tiny { font-size: .7em !important; }
#uni [class*="icon"].small { font-size: 1.5em !important; }
#uni [class*="icon"].medium { font-size: 3em !important; }
#uni [class*="icon"].large { font-size: 6em !important; }