/* Masks */
.bubble {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;

  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  border-radius: 100rem;
}

.bubble::before {
  top: -2%;
  right: -2%;
}
.bubble::after {
  bottom: -2%;
  left: -2%;
}

.img-bubbles {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.img-bubbles::before,
.img-bubbles::after {
  content: "";
  position: absolute;
  height: 0;
  top: -15%;
  left: -65%;
  width: 220%;
  padding-bottom: 180%;

  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.img-bubbles::before {
  background-image: url(../img/_base/img-bubbles-1.png);
  z-index: 1;
}

.img-bubbles::after {
  background-image: url(../img/_base/img-bubbles-2.png);
  z-index: -1;
}