/* Media Lightbox */
#uni .materialboxed.active {
  z-index: 9999999999 !important;
  margin: 0;
  min-width: auto;
  min-height: auto;
}
#uni .transparent-img[class*="active"],
#uni [class*="lightbox"] [class*="active"] .transparent-img {
  padding: 1rem;
  background-color: #ffffff;
}
#uni #materialbox-overlay {
  z-index: 99999;
}

#uni [uk-lightbox] a {
  cursor: zoom-in;
  background-image: none;
}
#uni .uk-lightbox [class*="active"] {
  cursor: zoom-out;
}
#uni .uk-lightbox [class*="active"] img {
  cursor: default;
  margin: 0;
}
#uni .uk-lightbox > .uk-lightbox-toolbar.uk-position-top {
  left: auto;
}
#uni .uk-lightbox.uk-open {
  z-index: 9999999;
}