a
  color: $base-link-color
  background: none
  &:hover
    color: $base-link-color
    text-decoration: underline

.white-text a,
.txt-white a
  color: $base-link-color-inverse
  &:hover
    color: $base-link-color-inverse

// Links Color & Animation
a
  position: relative
  display: inline
  text-decoration: none !important
  color: $base-link-color
  overflow: visible
  background-repeat: no-repeat
  background-image: linear-gradient(transparent calc(100% - 2px), $base-link-color 1px)
  transition: all 0.3s ease-out
  background-size: 0 100% !important

.white-text a,
.txt-white a
  color: $base-link-color-inverse
  background-image: linear-gradient(transparent calc(100% - 2px), $base-link-color-inverse 1px)

a:hover,
.white-text a:hover,
.txt-white a:hover
  background-size: 100% 100% !important

@media only screen and (max-width: 960px)
  nav ul a
    font-size: .9rem