/* Icon list */
#uni [class*="-list"] {
  position: relative;
  list-style: none;
  padding-left: 1.5rem;
}
#uni .browser-default li,
#uni [class*="-list"] li {
  position: relative;
  margin-bottom: .2rem;
}
#uni .flat-list {
  padding: 0 !important;
}
#uni .arrow-list li::before {
  font-family: "Material Design Icons";
  content: "\F142";
  font-size: 1.4em;
  line-height: 1;
  color: inherit;

  position: absolute;
  left: -1rem;
  -webkit-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  -moz-transform: translate(-60%, 0);
  -o-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}
#uni .bullet-list li::before {
  font-family: "Material Design Icons";
  content: "\F9DD";
  font-size: 1em;
  line-height: 1.5;

  position: absolute;
  left: -1rem;
  -webkit-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  -moz-transform: translate(-60%, 0);
  -o-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}
#uni .square-list li::before {
  font-family: "Material Design Icons";
  content: "\FA12";
  font-size: 1em;
  line-height: 1.5;

  position: absolute;
  left: -1rem;
  -webkit-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  -moz-transform: translate(-60%, 0);
  -o-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}
#uni .dash-list li::before {
  font-family: "Material Design Icons";
  content: "\F374";
  font-size: 1.2em;
  line-height: 1.2;

  position: absolute;
  left: -1rem;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#uni .blue-list li::before { color: #004F9F; }
#uni .cyan-list li::before { color: #0098E5; }
#uni .green-list li::before { color: #52CCCC; }
#uni .violet-list li::before { color: #6260A8; }
#uni .yellow-list li::before { color: #FFA000; }