/* Media Player */
.plyr:not(:last-child) {
  margin: 0 0 1.5rem 0;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true],
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
  background: #0098E5;
  color: #fff;
}
.plyr__controls .plyr__progress__container {
  flex: 1;
}
.plyr__control.plyr__tab-focus {
  box-shadow: none;
  outline: 0;
}
.plyr__control {
  border-radius: 10rem;
  padding: .7em;
}
.plyr--full-ui input[type=range] {
  color: #0098E5;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: none;
}