/* Modal */
[uk-modal],
.modal {
  z-index: 9999999;
}
[uk-modal] .uk-modal-body,
.modal .uk-modal-body {
  top: 10%;
}
/* Tabs */
.uk-tab a {
  background-image: none;
}
.uk-tab .icon {
  position: relative;
  margin-left: -1em;
  margin-right: 1em;
  -webkit-transform: translate(0, 8%);
  -ms-transform: translate(0, 8%);
  -moz-transform: translate(0, 8%);
  -o-transform: translate(0, 8%);
  transform: translate(0, 8%);
}
.uk-tab>.uk-active>a {
  color: inherit;
  border-color: inherit;
}