/* Posicionamento Flutuante "Outside the Box" */
/* top */
#uni .outside {
  float: none;
  position: absolute;
}
#uni .outside[class*="out-t"] {
  top: 0;
}
#uni .outside.out-t {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#uni .outside.out-tr {
  right: 1.4rem;

  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#uni .outside.out-tr.corner {right: 0;}
#uni .outside.out-tl {
  left: 1.4rem;

  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#uni .outside.out-tl.corner {left: 0;}
/* right */
#uni .outside[class*="out-r"] {
  right: 0;
}
#uni .outside.out-r {
  top: 50%;

  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
#uni .outside.out-rt {
  top: 1.4rem;

  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
#uni .outside.out-rb {
  bottom: 1.4rem;

  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
/* bottom */
#uni .outside[class*="out-b"] {
  bottom: 0;
}
#uni .outside.out-b {
  left: 50%;

  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
#uni .outside.out-br {
  right: 1.4rem;

  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
#uni .outside.out-br.corner {right: 0rem;}
#uni .outside.out-bl {
  left: 1.4rem;

  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
#uni .outside.out-bl.corner {left: 1.4rem;}
/* left */
#uni .outside[class*="out-l"] {
  left: 0;
}
#uni .outside.out-l {
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#uni .outside.out-lt {
  top: 1.4rem;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#uni .outside.out-lb {
  bottom: 1.4rem;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}