/* Gradient Overlays */
.go::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 0;
}
.g-blue::after {
  background: rgb(0, 79, 159);
  background: -moz-linear-gradient(top,
    rgba(0, 79, 159, 1) 20%,
    rgba(0, 51, 102, 1) 100%);
  background: -webkit-linear-gradient(top,
    rgba(0, 79, 159, 1) 20%,
    rgba(0, 51, 102, 1) 100%);
  background: linear-gradient(to bottom,
    rgba(0, 79, 159, 1) 20%,
    rgba(0, 51, 102, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#003366', GradientType=0);
}
.g-blue-light::after {
  background: rgb(0, 79, 159);
  background: -moz-linear-gradient(top,
    rgba(0, 79, 159, 1) 0%,
    rgba(115, 159, 202, 1) 100%);
  background: -webkit-linear-gradient(top,
    rgba(0, 79, 159, 1) 0%,
    rgba(115, 159, 202, 1) 100%);
  background: linear-gradient(to bottom,
    rgba(0, 79, 159, 1) 0%,
    rgba(115, 159, 202, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#739FCA', GradientType=0);
}
.g-blue-dark::after {
  background: rgb(0, 79, 159);
  background: -moz-linear-gradient(top,
    rgba(0, 79, 159, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top,
    rgba(0, 79, 159, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom,
    rgba(0, 79, 159, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#000000', GradientType=0);
}
.g-blue-deep::after {
  background: rgb(0, 51, 102);
  background: -moz-linear-gradient(top,
    rgba(0, 51, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top,
    rgba(0, 51, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom,
    rgba(0, 51, 102, 1) 0%,
    rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=0);
}
.g-blue-dark-horizontal::after {
  background: rgb(0, 51, 102);
  background: -moz-linear-gradient(left,
    rgba(0, 51, 102, 0.6) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(left,
    rgba(0, 51, 102, 0.6) 0%,
    rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to right,
    rgba(0, 51, 102, 0.6) 0%,
    rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=1);
}
.g-cyan-light::after {
  background: rgb(0, 152, 229);
  background: -moz-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(0, 152, 229, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#FFFFFF', GradientType=0);
}
.g-cyan-dark::after {
  background: rgb(0, 152, 229);
  background: -moz-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(0, 152, 229, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#000000', GradientType=0);
}
.g-cyan-green::after {
  background: rgb(0, 152, 229);
  background: -moz-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(82, 204, 204, 1) 100%);
  background: -webkit-linear-gradient(top,
      rgba(0, 152, 229, 1) 0%,
      rgba(82, 204, 204, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(0, 152, 229, 1) 0%,
      rgba(82, 204, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#52CCCC', GradientType=0);
}