/* Pill */
#uni .pill {
  display: inline-block;
  font-size: 1em;
  line-height: .9em !important;
  text-align: center;
  font-weight: bold;
  min-height: 2em;
  max-height: 2.1em;
  min-width: 2.1em;
  max-width: 2.1em;
  padding: 0.5em;
  color: inherit;
  background: #eee;
  border-radius: 20rem;
}
#uni .pill [class*="icons"] {
  position: relative;
  line-height: 1 !important;
}
#uni .pill.pill-inline {
  font-size: 0.9em;
  font-weight: inherit;
  min-height: 1em;
  min-width: 1em;
  max-width: none;
  max-height: none;
  padding: 0.5em 0.6em;
}
#uni .pill.pill-inline.tiny {
  font-size: 0.5em;
  line-height: .8em !important;
  padding: 0.2em 0.4em;
}
#uni .pill.pill-inline.small {
  font-size: 0.7em;
  padding: 0.4em 0.5em;
}
#uni .pill.pill-inline.big {
  font-size: 1em;
  line-height: 1em !important;
  padding: 1em 1.5em;
}
#uni .pill.pill-inline.large {
  font-size: 2em;
  line-height: 1em !important;
  padding: 1em 2em;
}
#uni .pill.pill-inline.huge {
  font-size: 3em;
  line-height: 1em !important;
  padding: 1em 3em;
}