.img-placeholder
  position: relative
  display: flex
  width: 100%
  padding-bottom: 100%
  background-color: $base-txt-color
  &::before
    content: "PLACEHOLDER"
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 90%
    height: 90%
    top: 5%
    left: 5%
    color: get-color("grey", "light")
    font-size: $big
    border: 1px solid
  &.ph-16-9
    padding-bottom: 56.25%

