/* Blockquote */
#uni .blockquote {
  position: relative;
  margin: 0 0 1.5rem 4rem;
  padding-left: 1.5rem;
  font-style: normal;
}
#uni .blockquote::before {
  font-family: "Material Design Icons";
  content: "\F01D3";
  position: absolute;
  top: -1rem;
  left: -4.5rem;
  font-size: 2.5rem;
}
#uni .blockquote.bd-blue::before {
  color: #004F9F !important;
}
#uni .blockquote.bd-cyan::before {
  color: #0098E5 !important;
}
#uni .blockquote.bd-green::before {
  color: #52CCCC !important;
}
#uni .blockquote.bd-violet::before {
  color: #6260A8 !important;
}
#uni .blockquote.bd-yellow::before {
  color: #FFA000 !important;
}
#uni .blockquote.bd-white::before {
  color: #FFFFFF !important;
}