/* Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow: visible;
  background-color: #EEEEEE;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #999999;
  -webkit-box-shadow: none;
  box-shadow: none;
}
