/* Tables */
#uni .tbl-box {
  overflow-x: auto;
}
#uni .tbl {
  display: table;
  width: 100%;
  vertical-align: middle;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #a2a2a2;
  background-color: #ffffff;
}
#uni .tbl.tbl-fixed { table-layout: fixed; }
#uni .tbl thead,
#uni .tbl tfoot {
  background-color: #a2a2a2;
}
#uni .tbl td,
#uni .tbl th {
  padding: 1rem;
  display: table-cell;
  text-align: inherit;
  vertical-align: middle;
  border-radius: unset;
}
#uni .tbl tr:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
#uni .tbl td:not(:last-child),
#uni .tbl th:not(:last-child) {
  border-right: 1px solid #cccccc;
}