/* Title Patterns */
/* Dots */
#uni .section .section-title.dots:after {
  content: "";
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 1 auto;
  width: auto;
  height: auto;
  margin: 5px 0 5px 2rem;

  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-position: left top;
  background-color: transparent;

  -webkit-background-size: auto 45%;
  -moz-background-size: auto 45%;
  -o-background-size: auto 45%;
  background-size: auto 45%;
}
#uni .section .section-title.dots.txt-blue:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-blue.txt-light:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23739FCA%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-cyan:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-green:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-white:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-black:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
/* Squares */
#uni .section .section-title.squares:after {
  content: "";
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 1 auto;
  width: auto;
  height: auto;
  margin: 5px 0 5px 2rem;

  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");

  background-repeat: repeat;
  background-position: left top;
  background-color: transparent;

  -webkit-background-size: auto 40%;
  -moz-background-size: auto 40%;
  -o-background-size: auto 40%;
  background-size: auto 40%;
}
#uni .section .section-title.squares.txt-blue:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-blue.txt-light:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23739FCA;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-cyan:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-cyan.txt-light:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%235CBDEE;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-green:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-white:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-black:after {
  background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
/* Lines */
#uni .section .section-title.lines:after {
  content: "";
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 1 auto;
  width: auto;
  height: auto;
  margin: 5px 0 5px 2rem;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23444444;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");

  background-repeat: repeat;
  background-position: left top;
  background-color: transparent;

  -webkit-background-size: auto 23%;
  -moz-background-size: auto 23%;
  -o-background-size: auto 23%;
  background-size: auto 23%;
}
#uni .section .section-title.lines.txt-blue:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23004F9F;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-blue.txt-light:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23739FCA%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-cyan:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%230098E5;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-cyan.txt-light:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%235CBDEE;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-green:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%2352CCCC;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-white:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-black:after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23000000;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
/* Titles Float Line */
#uni .section .lined-title {
  position: relative;
  display: flex;
}
#uni .section .lined-title * {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
#uni .section .lined-title .flex-line {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: auto;
  height: auto;
}
#uni .section .lined-title .flex-line::after {
  content: "";
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 1 auto;
  width: auto;
  height: 0;
  top: 50%;
  border-bottom: 1px solid;
  margin: 0 1rem 0 2rem;
}