$colors: ("red": $red, "blue": $blue, "light-blue": $light-blue, "cyan": $cyan, "teal": $teal, "green": $green, "light-green": $light-green, "yellow": $yellow, "orange": $orange, "grey": $grey, "shades": $shades)

// Colors classes
@each $color-name, $color in $colors
  @each $color-type, $color-value in $color
    @if $color-type == "base"
      .bg-#{$color-name}
        background-color: $color-value !important
      .txt-#{$color-name}
        color: $color-value !important
      .bd-#{$color-name}
        border-color: $color-value !important
      .bg-hover-#{$color-name}:hover
        background-color: $color-value !important
      .txt-hover-#{$color-name}:hover
        color: $color-value !important
      .bd-hover-#{$color-name}:hover
        border-color: $color-value !important
    @else if $color-name != "shades"
      .bg-#{$color-name}.bg-#{$color-type}
        background-color: $color-value !important
      .txt-#{$color-name}.txt-#{$color-type}
        color: $color-value !important
      .bd-#{$color-name}.bd-#{$color-type}
        border-color: $color-value !important
      .bg-hover-#{$color-name}.bg-hover-#{$color-type}:hover
        background-color: $color-value !important
      .txt-hover-#{$color-name}.txt-hover-#{$color-type}:hover
        color: $color-value !important
      .bd-hover-#{$color-name}.bd-hover-#{$color-type}:hover
        border-color: $color-value !important

// Shade classes
@each $color, $color-value in $shades
  .bg-#{$color}
    background-color: $color-value !important
  .txt-#{$color}
    color: $color-value !important
  .bd-#{$color}
    border-color: $color-value !important
  .bg-hover-#{$color}:hover
    background-color: $color-value !important
  .txt-hover-#{$color}:hover
    color: $color-value !important
  .bd-hover-#{$color}:hover
    border-color: $color-value !important

// Gradients - Colors in _variables
.g-blue-cyan-diagonal
  @include linear-gradient(20deg, hex-rgba($g-blue, 1) 40%, hex-rgba($g-cyan, 0.8) 100%)