/*  Core */
html,
body
  position: relative
  width: 100%
  overflow-x: hidden

h1, h2, h3, h4, h5, h6,
address,
audio,
dl,
fieldset,
figure,
hr,
iframe,
img,
ol,
p,
pre,
ul,
video
  margin: 0 0 $base-space 0

ol,
ul
  padding-left: 1rem

ul
  list-style-type: disc

blockquote
  margin: 0 0 $base-space 0
  padding-left: $base-space
  border-left: 1px solid

mark
  background: $base-primary-color

*:not(pre)>code,
*:not(pre)>kbd,
*:not(pre)>samp
  background-color: get-color("grey", "dark")
  border-radius: 2px

button
  position: relative
  display: inline-block
  margin: 0
  padding: 0
  border: none
  background: transparent
  overflow: visible
  -webkit-appearance: none
  transition: all 0.3s ease-out

  &:not(:disabled)
    cursor: pointer

  &:focus
    outline: none
    background: none

figure
  &>*:not(:last-child)
    display: block
    margin-bottom: 1rem

  & img
    width: 100%
    min-width: 100%

    &:last-child
      margin: 0

iframe
  pointer-events: auto !important

@media only screen and (max-width: 960px)
  iframe
    min-height: 40vh

hr
  height: 0
  overflow: visible
  text-align: inherit
  border: 0
  border-top: 1px solid get-color("grey", "light-2")

*+hr
  margin-top: $base-space

/* General */
/* Sections */
#uni
  .section
    position: relative
    width: 100%
    min-height: 100vh
    overflow: hidden

    .section-title
      position: relative
      display: flex
      margin-bottom: 3rem
      margin-bottom: 8vh

      *
        display: flex
        flex-direction: row
        align-content: center
        justify-content: space-around

      .title-text
        font-size: 1.8rem
        font-weight: bold
        color: inherit
        line-height: 1
        margin: 0

      *+.title-text
        margin-left: 3rem

    .container
      position: relative
      width: 82% !important
      min-height: 100%
      padding-top: 1rem
      padding-bottom: 9rem
      z-index: 9

      p:first-child,
      span:first-child,
      img:first-child
        margin-top: 0

      .full-width
        width: 100vw
        left: calc(-50vw + 50%)

  &.top-fixed .section .container
    padding-top: 5rem

@media only screen and (max-width: 960px)
  #uni .section .section-title
    margin-bottom: $base-space

    *+.title-text
      margin-left: 4rem

    &:after
      margin: 3px 0 5px 1rem