// Grid Default Variables
$grid-max-width: 1280px !default
$grid-columns: 12 !default
$grid-gutter: 1.5rem !default

$grid-prefix-small: "s" !default
$grid-prefix-medium: "m" !default
$grid-prefix-large: "l" !default
$grid-prefix-huge: "h" !default

// Breackpoints
// small = < 640px, medium = 640 - 960px, large = 960 - 1200px, huge: 1200px+
$bp-small: 0 !default
$bp-medium: 640px !default
$bp-large: 960px !default
$bp-huge: 1200px !default

// Float Grid
.section
  padding-top: 1rem
  padding-bottom: 1rem

  // &.no-pad
  //   padding: 0

  // &.no-pad-bot
  //   padding-bottom: 0

  // &.no-pad-top
  //   padding-top: 0

.container
  width: 90%
  max-width: $grid-max-width
  margin: 0 auto

.row
  margin-left: -$grid-gutter / 2
  margin-right: -$grid-gutter / 2

  &:after
    content: ""
    display: table
    clear: both
  .col
    float: left
    box-sizing: border-box
    min-height: 1px
    padding: 0 $grid-gutter / 2
    margin-bottom: $grid-gutter
    left: auto
    right: auto

    > *:last-child
      margin-bottom: 0

    &[class*="push-"],
    &[class*="pull-"]
      position: relative

  @for $i from 1 through $grid-columns
    .#{$grid-prefix-small}#{$i}
      width: 100% / $grid-columns * $i
    .offset-#{$grid-prefix-small}#{$i}
      width: 100% / $grid-columns * $i
    .pull-#{$grid-prefix-small}#{$i}
      width: 100% / $grid-columns * $i
    .push-#{$grid-prefix-small}#{$i}
      width: 100% / $grid-columns * $i

@media only screen and (min-width: $bp-medium)
  .row
    @for $i from 1 through $grid-columns
      .#{$grid-prefix-medium}#{$i}
        width: 100% / $grid-columns * $i
      .offset-#{$grid-prefix-medium}#{$i}
        width: 100% / $grid-columns * $i
      .pull-#{$grid-prefix-medium}#{$i}
        width: 100% / $grid-columns * $i
      .push-#{$grid-prefix-medium}#{$i}
        width: 100% / $grid-columns * $i

@media only screen and (min-width: $bp-large)
  .row
    @for $i from 1 through $grid-columns
      .#{$grid-prefix-large}#{$i}
        width: 100% / $grid-columns * $i
      .offset-#{$grid-prefix-large}#{$i}
        width: 100% / $grid-columns * $i
      .pull-#{$grid-prefix-large}#{$i}
        width: 100% / $grid-columns * $i
      .push-#{$grid-prefix-large}#{$i}
        width: 100% / $grid-columns * $i

@media only screen and (min-width: $bp-huge)
  .row
    @for $i from 1 through $grid-columns
      .#{$grid-prefix-huge}#{$i}
        width: 100% / $grid-columns * $i
      .offset-#{$grid-prefix-huge}#{$i}
        width: 100% / $grid-columns * $i
      .pull-#{$grid-prefix-huge}#{$i}
        width: 100% / $grid-columns * $i
      .push-#{$grid-prefix-huge}#{$i}
        width: 100% / $grid-columns * $i