/* Type */
html,
body
  font-family: $font-family !important
  font-size: $base-font-size
  font-weight: normal
  line-height: $base-line-height
  color: $base-txt-color

h1, h2, h3, h4, h5, h6
  font-family: $font-family
  line-height: inherit
  color: inherit
  font-weight: bold

h1
  font-size: $title-size-1
h2
  font-size: $title-size-2
h3
  font-size: $title-size-3
h4
  font-size: $title-size-4
h5
  font-size: $title-size-5
h6
  font-size: $title-size-6

strong,
b
  font-weight: bold !important

i,
cite,
em,
var,
address,
dfn
  font-style: italic
  color: inherit !important

blockquote
  font-size: $base-font-size
  line-height: $base-line-height
  font-style: italic

mark
  color: $base-txt-color

*:not(pre)>code,
*:not(pre)>kbd,
*:not(pre)>samp
  color: get-color("grey", "light")

button,
input,
optgroup,
select,
textarea
  font-family: $font-family !important

button
  font-size: inherit
  color: inherit
  text-align: inherit
  text-transform: none
  text-decoration: none

figure
  &:hover figcaption
    color: inherit
  figcaption
    font-size: $base-font-size*0.9
    text-align: center
    color: get-color("grey", "light-1")

@media only screen and (max-width: 960px)
  #uni .section .section-title
    font-size: $base-font-size*1.4