@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#292929;
	line-height:17px;
	text-align:justify;
}

#corpo {
	width:900px;
	height:720px;
	margin:auto;
	position:relative;
	z-index:99999
}

header { width:100%;  position:relative; left:830px; top:2px; }

#coluna-conteudo { width:900px; height:700px; margin:auto; }

#coluna-conteudo p {
	margin-left:50px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	line-height:17px;
}

h2.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:verdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	padding:10px;
	margin-left:30px;
}

h2.titulo {
	font:25px Arial, Verdana, Geneva, sans-serif;
	font-weight:bold;
	margin-bottom:15px; 
}

.fig-esquerda { float:left; margin-right:5px; }

.fig-direita { float:right; margin-left:10px; }

.fig-centro { margin:0 auto; margin-bottom:10px; }

.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:versdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	text-align:center;
	padding:10px;
}

.box-azul {
	background-color:#6787A4;
	padding:15px;
	color:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-left: 30px;
	border-radius: 20px; 
	text-align:center;
}

.box-azul-claro {
	background-color:#238c87;
	padding:15px;
}

.box-borda-azul {
	border:2px #5c84a7 solid;
	border-radius:6px;
	padding:10px; 
}

.box-escuro {
	background-color:#333;
	border:2px solid #000;
	color:#fff;
	padding:10px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
}

.box-verde { background-color:#C1FFC1; padding:15px; }

.box-vermelho { background-color:#c42400; padding:15px; color:#fff; }

.box-azul-claro2 {
	width:auto;
	background:#b4e2e5;
	border:2px solid #478e8d;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	color:#000;
	font-size:11.1px;
	padding:7px;
	font-family:arial;
}

.arredondado {
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
}

.texto-importante {
	border:2px #5c84a7 solid;
	border-radius:6px; border-left:0;
	padding:10px;
}

.circulo {
    border-radius:100%;
	background-color:#ededed;
    width:120px;
    height:120px;
    margem:auto;
	text-align:center;
	padding:10px;
	color:#292929;
	line-height:120px;
	box-shadow:4px 5px 5px #666;
}

table.tab1 {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	width:auto;
	margin:auto;
}

.tab1 th {
	background-color:#EDEDED;
	color:#000;
	padding:7px;
	text-align:center;
	border:1px solid #000;
}

.tab1 td {
	padding:3px 5px;
	border:1px solid #000;
	text-align:left;
}

.col-esq {
	width:48%;
	height:600px;
	padding:5px;
	float:left;
	background-color:#DCD;
}

.col-dir {
	width:48%;
	height:600px;
	padding:5px;
	float:right;
	background-color:#333;
}

.fundo-branco {
	background-color:#fff;
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	-o-opacity:0.8;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

/* Erlan - Classes de Novas Janelas Popup */
.bloco1, .bloco2, .bloco3, .bloco4 {
	width:400px;
	padding:10px;
}

.bloco1 {
	background-color:#069;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #6CF;
}

.bloco2 {
	background-color:#333;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #000;
}

.bloco3 {
	background-color:#C30;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #C63;
}

.bloco4 {
	background-color:#fff;
	color:#000;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #999;
}

/* Fim */

a {
	color:#5c84a7;
	text-decoration:none;
}

a:hover {
	color:#06F;
}

table {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	margin:auto;
	margin-bottom:15px;
}

th {
	background-color:#5c84a7;
	color:#FFF;
	padding:7px;
	text-align:center;
	border:1px solid #fff;
}

td {
	padding:3px 5px;
	border:1px solid #5c84a7;
	text-align:left;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
	padding:50px;
	text-align:center;
	float:left;
	margin-right:10px;
}

.caixa1 { background-color:#d7d7d7; cursor:pointer; font-weight:bold; }
.caixa2 { background-color:#069; color:#fff; cursor:pointer; font-weight:bold; }
.caixa3 { background-color:#5c84a7; color:#fff; cursor:pointer; font-weight:bold; }
.caixa4 { background-color:#CF0; cursor:pointer; font-weight:bold; }
.caixa5 { background-color:#c42400; color:#fff; cursor:pointer; font-weight:bold; }

.j-modal-cinza { 
	background-color:#EDEDED;
	border:1px dashed #5c84a7;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	padding:20px;
	width:480px;
	position:relative;
	z-index:500
}

.j-modal-cinza>.fechar-modal {
	background-color:#5c84a7;
	color:#FFF;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	width:auto;
	font-weight:bold;
	text-align:right;
	margin-bottom:10px;
	cursor:pointer;
}


.j-modal-cinza .j-texto { text-align:justify; }

.fundo { background-color:#000; opacity:0.7; -moz-opacity:0.7; -webkit-opacity:0.7; -o-opacity:0.7; position:absolute; z-index:500 }

.perguntas{ padding:25px; margin:20px; background-color:#CACACA; border:1px dotted #333;	border-radius:26px;
	-moz-border-radius:26px;
	-webkit-border-radius:26px;
	-o-border-radius:26px;}
.quadro_branco{
		 border:1px dotted #333;
		 border-radius:12px;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;
		-o-border-radius:12px;
		padding:10px; background:#fff;
	display:none;
		overflow:hidden;
		position:absolute;
		margin-top:45px; margin-left:-20px; width:900px;
}
.fechar-modal{ font-weight:bold; font-size:16px; float:right; width:30px; height:30px; line-height:30px; text-align:center; margin:5px; cursor:pointer; color:#fff;	 background:#333;
		 border-radius:120px;
		-moz-border-radius:120px;
		-webkit-border-radius:120px;	}
.modaltit{
		 background:#333;
		 border-radius:12px;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;	
		color:#fff; padding:5px 10px; margin:5px 0;
		width:92%;
		font-weight:bold; font-size:14px;
	}
	.bl{ display:none;}
	.exemplo,.exemplo2{background:#333;
		 border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px; padding:5px 10px; color:#fff; margin:30px auto 10px  auto; text-transform:uppercase; text-align:center; width:600px; cursor:pointer;}
	.verexemplo,.verexemplo2{ display:none;}
	.numb{ width:30px; height:30px; background-color:#333; color:#fff; line-height:30px; text-align:center;		 border-radius:120px;		-moz-border-radius:120px;
		-webkit-border-radius:120px;
		-o-border-radius:120px; float:left; cursor:pointer; margin:5px; }
		.vermelhor{ background-color:#8B2B2D; color:#fff;}.disable{opacity:0.3; -moz-opacity:0.3; -webkit-opacity:0.3; -o-opacity:0.3; }