@charset "utf-8";
/* CSS Document */

#bt-menu li { list-style:none;  width:190px;  }

#bt-menu li a { color:#FFF; text-decoration:none; font-weight:bold; transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; }

#bt-menu li a:hover { color:#06F }

#bt-menu li #menu { display:none;  transition:all 0.6s ease-in-out; -webkit-transition:all 0.6s ease-in-out; -moz-transition:all 0.6s ease-in-out; -o-transition:all 0.6s ease-in-out; }

#bt-menu li:hover #menu { display:block; }

#menu { 
	list-style:none;  
	margin:0;
	padding:0;
	position:absolute;
	z-index:10000;
	top:25px;
}

#menu li{
	position:relative;
	width:190px;
	border-bottom:1px solid #C6C6C6;
	font-weight:bold;
	z-index:500
}

#menu li a {
	text-decoration:none;
	color:#292929;
	padding:12px 20px; 
	display:block;
	background-color:#DCDCDC;
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}

#menu li a:hover {
	color:#06F;
	border-left:4px solid #06F;
}

#menu li ul { list-style:none; padding:0; margin:0; display:none; }

#menu li:hover ul { display:block; }

#menu li:hover ul li a { padding-left:37px; } 
