/*LOGIN*/

/* @group LOGIN PAGE
----------------------------------------------- */
#loginPageContainer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

/*Display options*/
#loginHeader {
    position: absolute;
    right: 0;
    top: 0;
}

#loginHeader ul li {
    background: #777;
    background: rgba(0, 0, 0, .55);
    display: inline-block;
    margin: 0 0 0 -4px;
    position: relative;
    border-top: 0;
    vertical-align: top;
}

#loginHeader ul li a {
    text-indent: -10000px;
    display: inline-block;
    padding: 6px 12px;
    width: 28px;
    height: 18px;
}

#loginHeader ul li:hover,
#loginHeader ul li:focus,
#loginLang h2:hover,
#loginLang h2:focus,
#loginLang:hover h2,
#loginLang:focus h2 {
    -moz-box-shadow: 0 0 24px rgba(0,0,0,.5) inset;
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,.5) inset;
    box-shadow: 0 0 24px rgba(0,0,0,.5) inset;
}

#loginHeader ul li:first-child,
#loginHeader ul li:first-child a {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 0 0 0 3px;
}

#loginHeader ul li img { display: none }

#loginHeader ul li.font-size:before,
#loginHeader ul li.contrast:before {
    content: "T";
    font: 130%/1  "Utilicons";
    color: #f0f0f0;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    z-index: 2;
}

#loginHeader ul li.font-size a {
    z-index: 3;
    position: relative;
}

#loginHeader ul li.contrast a {
    z-index: 3;
    position: relative;
}

#loginHeader ul li.contrast:before { content: "c" }

#loginHeader ul li:hover:before,
#loginHeader ul li:focus:before,
#loginHeader ul li:hover,
#loginHeader ul li:focus {
    color: #FFF;
    cursor: pointer;
}

#loginHeader ul li.contrast {
    margin-left: -4px;
    border-left: 1px solid #555;
}

/*Available languages*/
#loginLang {
    left: 0px;
    position: absolute;
    top: 0;
}

#loginLang:empty { display: none }

#loginLang h2 {
    font-weight: normal;
    font-size: 100%;
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0px;
    border-radius: 0 0 3px 0px;
    display: inline-block;
    margin: 0;
    padding: 4px 16px 8px 14px;
    background: #888;
    background: rgba(0, 0, 0, .55);
    width: 16px;
    height: 17px;
}

#loginLang h2 span {
    text-indent: -999px;
    display: inline-block;
    width: 0px;
    overflow: hidden;
}

#loginLang h2:before {
    content: "W";
    font: 140%/1  "Utilicons";
    color: #f0f0f0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}

#loginLang h2:hover:before,
#loginLang h2:focus:before { color: #fff }

#loginLang ul {
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 150px;
    padding: 6px 6px;
}

#loginLang:hover ul,
#loginLang:focus ul {
    top: 28px;
    left: 0px;
    width: 175px;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

#loginLang h2:hover:after,
#loginLang h2:focus:after,
#loginLang:hover h2:after,
#loginLang:focus h2:after { z-index: 100 }

#loginLang ul li a { width: auto }

div.loginBody {
    margin: 0 auto;
    padding: 260px 0 0;
    width: 600px;
}

div.loginBody .receipt {
    margin: 0 auto 16px;
    padding: 12px 4px 14px 19px;
    width: 409px;
}

#loginBox { text-align: center; }

#loginBox ul,
#loginRedirectProviders {
    margin: 0 auto;
    width: 434px;
}

#loginRedirectProviders ul{
    z-index: 2;
}

#loginBox li { padding: 0 0 12px }

/*Forgot password*/
#loginBox form li + li + li {
    padding: 12px 0 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    float: left;
}

/*Login button*/
#loginBox form li + li + li + li {
    display: inline-block;
    position: relative;
    text-align: right;
    vertical-align: top;
    float: right;

}

#loginBox li label,
.portlet #loginBoxFull li label {
    color: #666;
    display: block;
    font-size: 120%;
    letter-spacing: 1px;
    padding: 0 0 3px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.portlet #loginBoxFull li label {
    font-weight: normal;
    font-size: 90%;
    padding: 0 0 2px;
}

#loginBox li input,
#loginRedirectProviders button {
    -moz-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
    font-size: 140%;
    padding: 10px;
    width: 100%;
}

#loginBox input[type="text"],
#loginBox input[type="password"],
#loginRedirectProviders button {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #efefef;
    padding: 6px;
    border: 2px solid #777;
    color: #666;
    margin: 0;
    box-sizing: border-box;
}

#loginBox input[type="text"]:focus,
#loginBox input[type="password"]:focus,
#loginRedirectProviders button:focus,
#loginBox input[type="text"]:hover,
#loginBox input[type="password"]:hover,
#loginRedirectProviders button:hover {
    background: #fff;
    border-color: #0188A3;
    color: #333;
}

#loginBox input:-webkit-autofill {
    background: #336699!important;
    color: #333!important;
}

#loginBox li input[type="submit"] {
  font-size: 130%;
  padding: 10px 22px;
  margin: 0;
  width: auto;
	min-width: 124px;
}

/*Hidden login page elements*/
#loginFormTitle,
#loginFormText,
#loginHeader h1,
#loginHeader h2,
#loginHeader .productLogo,
#loginOptions #gatewayButtonsTitle,
#loginOptions #gatewayButtonsInstructions{
    position: absolute;
    top:-10000px;
    left: -10000px;
}

div.portlet #loginFormTitle,
div.portlet #loginFormText {
    position: static;
    display: block;
}

#loginOptions {
    margin: 38px auto 26px;
    width: 600px;
    text-align: center;
}

#loginOptions h2 { margin: 10px }

#loginOptions p {
    margin: 10px;
    font-size: 0.85em;
    color: #444;
}

#loginOptions ul li,
#loginOptions ul li.subOption {
    display: inline-block;
    margin: 0 9px 6px;
}

#loginOptions ul li a,
#loginOptions ul li.subOption a {
    border-bottom: 1px dotted #0099B6;
}

.forgot a { border-bottom: 1px dotted #0099B6 }

#loginOptions ul li a:hover,
#loginOptions ul li a:focus,
#loginOptions ul li.subOption a:hover,
#loginOptions ul li.subOption a:focus,
.forgot a:hover,
.forgot a:focus { border-bottom-style: solid }

#loginText {
    padding: 12px 80px 18px 80px;
    background: #5f6062;
    border-top: 1px solid #777;
    text-align: center;
    display: none;
}

#loginText p span {
    font-weight: bold;
    font-size: 105%;
    color: #fff;
}

#loginText p {
    margin: 0;
    font-size: 95%;
    color: #ededed;
}

#loginImage {
    text-align: center;
    background-color: #fff;
    padding: 0;
    display: none;
}

#loginImage img { margin: 0 auto }

#loginAnnouncements {
    clear: both;
    padding: 0px 0 7px 0;
    margin: 0 auto;
}

#loginAnnouncements h3 {
    margin: 0 9px 0 9px;
    padding: 6px 3px;
    font-size: 110%;
    color: #555;
    border-bottom: 1px solid #bbb;
    display: none;
}

#loginAnnouncements ul {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

#loginAnnouncements ul li:before,
#loginAnnouncements ul li:after {
    content: "";
    position: absolute;
    bottom: 15px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#loginAnnouncements ul li:before {
    left: 8px;
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}

#loginAnnouncements ul li:after {
    right: 8px;
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}

#loginAnnouncements li {
    background: #fff;
    color: #666;
    font-size: 95%;
    padding: 18px 24px 12px;
    text-align: justify;
    vertical-align: top;
    margin: 0 0 12px 0;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    zoom: 1;
}

#loginAnnouncements ul li strong:first-child {
    color: #000;
    margin: 0 0 12px;
    font-size: 115%;
}

#loginAnnouncements ul li strong + em {
    text-align: right;
    margin: 0;
}

#loginAnnouncements ul li strong + em + br { display: none }

#loginAnnouncements .announcementDate { float: right }

#loginAnnouncements ul li .vtbegenerated {
    clear: both;
    line-height: 1.38;
}

#loginAnnouncements ul li:first-child { border-top: 0 }

#loginAnnouncements a { border-bottom: 1px dotted #128FA8 }

#loginAnnouncements a:hover,
#loginAnnouncements a:focus { border-bottom-style: solid }

#loginOptions #gatewayButtonsTitle,
#loginOptions #gatewayButtonsInstructions { display: none }


/* @end LOGIN PAGE*/

/* @group LOGIN PAGE COPYRIGHT */

.loginCopyright {
    width: 580px!important
}

.login-page #copyright .logo {
    margin: 0 0 6px;
    padding: 0;
    position: relative;
    display: inline-block;
}

.login-page #copyright  .newCopyright {
    margin: 0;
    padding: 0px;
    position: relative;
    display: inline-block;
}

.loginCopyright  .legal,
.loginCopyright  .additionalInfo {
    width: 24em;
    min-height: 2.5em;
    border: 1px solid red;
}

.loginCopyright .legal {
    border-left: none;
    padding: 3px 12px 6px 12px;
    width: 24.5em;
}

#loginPane + #copyright .legal p,
#loginPane + #copyright .additionalInfo p {
    margin: 0;
    display: inline;
}

.login-page .copyrightDetailContents {
    min-height: 6.5em;
}
#loginRedirectProviders {
  margin: 60px auto 30px auto;
}

#loginRedirectProviders button {
  font-weight: normal;
  margin-bottom: 5px;
  outline-offset: -2px;
  position: relative;
  text-align: left;
}

#loginRedirectProviders button:after {
  border-color: transparent;
  border-top-color: #777777;
  border-width: 4px;
  border-top-width: 6px;
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: 6px;
  top: 45%;
}

#loginRedirectProviderList {
  background-color: #ffffff;
  border: 2px solid #777777;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  display: none;
  position: absolute;
  text-align: left;
}

#loginRedirectProviderList.open {
  display: block;
}

#loginRedirectProviderList li {
  padding: 0;
}

#loginRedirectProviderList li:first-child a {
  border-radius: 5px 5px 0 0;
}

#loginRedirectProviderList li:last-child a {
  border-radius: 0 0 5px 5px;
}

#loginRedirectProviderList li img,
#loginRedirectProviderList li .defaultProviderIcon {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  width: 24px;
}

#loginRedirectProviderList li a {
  color: #666666;
  display: block;
  font-size: 16px;
  padding: 6px;
}

#loginRedirectProviderList li a:hover,
#loginRedirectProviderList li a:focus {
  background-color: #f0f0f0;
  text-decoration: underline;
}
/* @end LOGIN PAGE COPYRIGHT*/
