/* Service Pack 10 additions */

/*Please add specificity to this selector. It is overwriting singleControl ("unenroll" link) in the Course Menu. LL */
/*.singleControl a:hover,.singleControl a:focus,.discover a:hover,.discover a:focus
{
  background-color: #fff;
  color: #222;
}*/


/* // ITEM ANALYSIS // */

.runReportContainer {
	background-color: #EDEDED;
	border-bottom: 1px #ccc solid;
	margin: -20px -30px 20px -30px;
	padding: 10px 24px;
	top: 0;
}

.itemReceipt a {
	color: #FEFC75;
}

.previousReports .previousReports linear,
.reportTitle,
.answerOptions table td,
	/* Item Analysis Data Summary Reports */
.reportSummary .data-summary tr,
.reportSummary .data-summary td,
.data-summary-vert table,
.questionDetails .reportTable table,
.reportTable table,
.questionDetails .reportTable th,
.questionDetails .reportTable td,
.matching th, .matching td,
.questionFilter div div /*Item Analysis Fiter layout/design */
{
	border-color:#ccc;
}

.data-summary table tr:hover,
.data-summary-vert table tr:hover {background:#FFF4BF;}

.questionDetails .reportTable th,
.matching th {
	background: #EDEDED;
	border-color: #eee;
}
.matching td,
.matching .lastOption td {
	border-color: #ccc;
}
.reportKey {
	background:#FCFCFC;
	border-color: #F3F3F3;
}

.questionDetails .rumble_top {
	margin: -16px -11px 0 0;
}

.questionDetails .backLink:first-child {
	bottom: auto;
	right: auto;
	top: 0;
	left: 0;
}

.questionDetails .backLink:first-child a {
	border-width: 0 1px 1px 0;
}

/* // LOR Workbench Styles // */

#insideContent {
	position: relative;
	overflow: auto;
	border-top: 1px solid #ccc;
}
#insideContentCol {
	overflow: none;
	padding:20px;
}
.hasNav {
	padding-left: 230px;
	background: #ffffff;
}
.hasNavIcons {
	padding-left: 50px;
	background: #ffffff;
}
#insideNav {
	width: 230px;
	position: absolute;
	left: 0px;
	background-color: #ededed;

	-webkit-box-shadow: inset -1px 0px 1px 0px #999999;
	-moz-box-shadow: inset -1px 0px 1px 0px #999999;
	box-shadow: inset -1px 0px 1px 0px #999999;

	overflow: none;
}
#insideNavIcons {
	width: 50px;
	position: absolute;
	left: 0px;
	background-color: #ededed;

	-webkit-box-shadow: inset -1px 0px 1px 0px #999999;
	-moz-box-shadow: inset -1px 0px 1px 0px #999999;
	box-shadow: inset -1px 0px 1px 0px #999999;

	overflow: none;
}

#insideNav ul.tabs,
#insideNavIcons ul.tabs {
	display: block;
	margin: 0;
}
#insideNav ul.tabs > li,
#insideNavIcons ul.tabs > li {
	padding: 0;
	background: transparent;
	border-bottom: 1px solid #ccc;
	display: block;
}
#insideNav ul.tabs > li.active,
#insideNavIcons ul.tabs > li.active {
	background: #ffffff;
	z-index: 1;
}
#insideNav ul.tabs > li:last-child,
#insideNavIcons ul.tabs > li:last-child { margin-bottom: 0; }
#insideNav ul.tabs > li a,
#insideNavIcons ul.tabs > li a {
	padding: 20px 10px 20px 12px;
	display: block;
	color: #333;
	outline: none;
}
#insideNav ul.tabs > li a img {
	margin-right: 10px;
}
#insideNavIcons ul.tabs > li a img {
	margin-right: 0px;
}

#insideNav ul.tabs > li a:hover,
#insideNavIcons ul.tabs > li a:hover {
	background: #e7e7e7;
	-webkit-box-shadow: inset -1px 0px 1px 0px #999999;
	-moz-box-shadow: inset -1px 0px 1px 0px #999999;
	box-shadow: inset -1px 0px 1px 0px #999999;
}
#insideNav ul.tabs > li.active,
#insideNavIcons ul.tabs > li.active { padding-left: 0px; color: #555; }
#insideNav ul.tabs > li.active a:hover,
#insideNavIcons ul.tabs > li.active a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.split-vert {
	line-height: 0;
	height: 0;
	font-size: 0;
	border:1px solid white;
	border-top: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	background-color: rgba(255,0,0,0.5);
}

/* *** New, non-native *** */

.insideActionButton {
	display: inline-block;
	padding: 3px 8px 4px;
	vertical-align:middle;
}

.lor-filter {
	background: transparent;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	position: relative;
}
/*
.lor-filter input[type="text"] {
	padding: 0 2px;
	height: 18px;
	line-height: 18px;
}
*/

/* New Filter treatments */
.filter-knobs {
	list-style: none;
	padding: 0;
	margin: 0;
}
.filter-knobs > li {
	display: inline;
	float: left;
	margin-right: 5px;
}
.filter-knobs > li:last-child {
	margin-right: 0;
}

/*
// Getting experimental with how to handle select boxes
// and the many cross-browser ramifications of doing so
// using CSS hacks
*/
.filter-knobs select {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-appearance: none;
	-moz-appearance: none;
	/*
        appearance: none;
    */
	padding: 0px 6px;
	line-height: 21px;
	/*
        padding-right: 30px;
    */
	*padding-right: 0px !important;
	*padding: 0px;
	border: 1px solid #999;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	*background: none;

	position: relative;
	top: -2px;
	*top: 0px;
}
@-moz-document url-prefix() {
	.filter-knobs select {
		padding: 2px 3px 3px;
		background: none;
		position: relative;
		top: 0px;
	}
}

#filter-knob_types { width: 150px; }
#filter-knob_statuses { width: 200px !important; }

#contentAllSearch {
	height: 23px;
	width: 210px;

	background-color: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f7f7f7), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #f7f7f7 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #f7f7f7 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #f7f7f7 20%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #f7f7f7 20%, #ffffff 80%);
	background-image: linear-gradient(top, #f7f7f7 20%, #ffffff 80%);

	-webkit-box-shadow: inset 0px 0px 2px 0px #333;
	-moz-box-shadow: inset 0px 0px 2px 0px #333;
	box-shadow: inset 0px 0px 2px 0px #333;
	position: relative;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#contentAllSearch #searchCriteria {
	border: none;
	background: transparent;
	width: 200px;
	padding: 3px 5px;
	outline: none;
}
/*
#contentAllSearch #searchButton {
	height: 26px;
	width: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0;
	border: 1px solid #057C93;
	cursor: pointer;

	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;

	outline: none;
}
#contentAllSearch #searchButton::-moz-focus-inner { padding: 0; border: 0; }
*/

.content-search {
	border: 1px solid #ccc;
	background: #ededed;
	padding: 20px;
}

/* *** Over-rides *** */
/*
.sub-column ul { background: none; }
.sub-column ul li { background: none; }

.contextmenubar_top {
	margin-bottom: 4px;
}

.actionMenu {
	position: relative;
	top: 0px;
}

.insideActions .actionMenuButton {
	height: 27px;
	line-height: 27px;
	padding: 0 8px;
	display: inline-block;
}
.insideActions .actionMenuButton, .actionMenuButton a { color: #333; }
.insideActions .actionMenuButton:hover {
	z-index: 1000 !important;
}
.insideActions .actionMenuButton:hover .cmdiv {
	z-index: 999 !important;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	margin-left: -1px;
	background: #f0f0f0;
}
.insideActions .actionMenuButton:hover .cmdiv a {
	background: none;
}
*/
.hide { display: none; }
.yellow { background-color: yellow; }

h3.insideNavHdr {
	position: relative;
	background: #333;
	padding: 0 12px;
	line-height: 28px;
	font-size: 20px;
	color: #fff;
	margin: 0 10px 10px;
}
.handle {
	border-size: 8px 8px 0px;
	border-color: #333;
	border-width: 8px;
	height: 0px;
	width: 0px;
	line-height: 0px;
	position: absolute;
	right: 4px;
	top: 28px;
}

div.groupDelete {
	position: absolute;
	top: 6px;
	right: 4px;
}


.obj_type,
.editedby_user {
	color: #999999;
}

/* Group of object options which appears with each item in the inventory list */

ul.objectDescription {
	list-style: none;
}
ul.objectDescription li {
	display: inline;
}
ul.objectDescription li.objectActions {
	float: right;
	margin-left: 10px;
}

.objectActions ul {
	background: transparent;
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}
.objectActions ul li {
	display: inline;
	width: 24px;
	height: 24px;
	float: left;
	white-space: nowrap;
}
.objectActions ul li:hover {}


.previewLaunch {
	display: block;
	width: 15px;
	height: 14px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: -100px -100px;
	background-color: transparent;
}
.gray .previewLaunch {
	background-position: top left;
}
.previewLaunchOn {
	display: block;
	width: 15px;
	height: 14px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
}

.favStatus {
	display: block;
	width: 15px;
	height: 14px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: -100px -100px;
	background-color: transparent;
}
.gray .favStatus {
	background-position: top left;
}
.favStatusOn {
	display: block;
	width: 15px;
	height: 14px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: transparent;
}

.objStatus {
	margin-right: 5px;
	position: relative;
	top: -2px;
}
/* Group of object options which appears with each item in the inventory list */

.img-swap {cursor:pointer;display:inline-block;}

/* Header Row for content groupings within inventory list */
.groupLabelRow {
	background-image: -moz-linear-gradient(100% 100% 90deg, #dddddd, #ffffff);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ffffff), to(#dddddd));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
}
.groupLabelRow h5,
.groupLabelRow th {
	padding: 4px !important;
	margin: 0;
	line-height: 100%;
}
.groupLabelRow h5 {
	text-transform:uppercase;
	font-size: 90%;
	font-weight: normal;
}
.groupLabelRow th {
}
.groupLabelRow h5 a {
	color: #666;
	text-decoration: none;
}

/* Working with overlays in Prototype */
div.overlays {
	display: none;
}
.overlay {
	padding: 1em;
	width: 60px;
	padding: 10px;

	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px dashed #ccc;
	text-align: center;
}

/* End of Working with overlays in Prototype */


/* <<< Create Object drop-down menu UI Start */
.singleActionContainer {
	/*	position: absolute;
        top: 16px;
        right: 16px;
    */
	display: inline;
	float: left;
	margin-left: 24px;
	position: absolute;
	margin-top: -5px;
}

.singleActionContainer .actionBarMicro .mainButton > a, .singleActionContainer .actionBarMicro .secondaryButton > a {
	line-height: none;
}

/* Create Object drop-down menu UI End >>> */

.formLayer {
	clear: both;
	display: block;
	padding-bottom: 10px;
}
.formLayer li {
	display: inline;
	float: left;
	padding: 2px;
	margin: 0 !important;
}

.formLayer label {
	line-height: 24px;
}
.formLayer li {
	padding-right: 12px;
}

#searchLaunchBar {
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	clear: both;
}

/* // LIGHTBOX LAYOUT STYLES // */

/* Modal structure */

.modalExtra {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

#modalContent > p,
#modalContent > div {
	margin: 10px 0;
}
#modalContent {
	background: #fff;
	border: 1px solid #fff;
	padding: 19px;
}

/*  Modal Types */

.modal-type-warning,
.modal-type-success {
	padding: 9px;
}
.modal-type-warning {
	background-position: top left;
	background-repeat: repeat;
	background-color: #FCFFD6;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.modal-type-success {
	background-position: 20px 20px;
	background-repeat: no-repeat;
	background-color: #fff;
	padding-left: 100px;
}
.modal-type-warning #modalContent {
	padding: 10px;
}
.modal-type-warning #modalContent {
	border: 1px solid #e7e7e7;
}

/* Form Layout Help */

.optionsGroup {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.optionsGroup ul {
	list-style: none;
	padding-top: 10px;
	padding-left: 10px;
}
.optionsGroup ul > li {
	margin-right: 20px;
}
.optionsGroup ul > li:last-child {
	margin-right: 0;
}

.actionsGroup {
	padding: 10px 0 0;
}

/* // NEWLY-INTEGRATED UTILITY CLASSES // */

.u_nopad { padding: 0 !important; }

.insideContainer {
	padding: 20px;
	border-left:1px solid #ccc;
}

/*Cookie Consent specific Style - affects both standalong page and lightbox*/

.CookieConsent {
	min-width:auto;
}
.CookieConsent .container,
.CookieConsent .content,
.CookieConsent .containerPortal {
	min-height:auto;
}

.CookieConsent .contentPaneWide {
	width:560px;
	margin:0 auto;
}

.CookieConsent .container p {
	margin:0 0 15px 0px;
	line-height:16px;


}
div.CookieConsent div.lb-header {
	display:none;
}
div.CookieConsent {
	background-color:transparent;
}


/* Alternate Domain - uses STEPS WITHOUT the numbers. This causes titles not to align properly. Only targeting this form page for now. We need a system wide fix for steps without numbers to align*/

.editIsolationForm .steptitle,
.editIsolationForm .submittitle  {
	margin-left:48px;
}
.editIsolationForm .receipt {
	width:687px;
	margin:0 0 10px 186px;
}
.editIsolationForm .default {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
}


.overtimeStyle {
	color: red;
	font-weight: bold;
}

/* Content Resource Picker */

div.resourcePickerContainer div.localViewToggle {
	float: right;
}

/* end Content Resource Picker */

/* Content Resource Breadcrumbs */
#quickPath {
	padding: 10px 150px 10px 10px;
	position: relative;
}

#editablePath, #quickPath {
	margin-left: 12px;
	padding: 3px;
}

#quickPath ol li.folderIncluder, #quickPath ol li.folderCreator {
	position: absolute;
	right: 6px;
	top: 6px;
}

.pathFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathCourseFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathAllContentFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathBookmarkFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathInstitutionFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathLibraryFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathMyContentFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

.pathOrganizationFolder {
	background-position: left top !important;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 20px !important;
}

#contentActions {
	display: block;
	margin: 0 0 10px;
}

#levelUp {
	margin: 4px 2px;
}
#levelUp button {
	cursor: pointer;
	padding: 5px 7px 5px 5px;
}
#levelUp button::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.contentInput {
	outline: medium none;
	padding: 3px;
}

#contentSearch .contentInput {
	margin-right: 4px;
}

/* end Content Resource Breadcrumbs */

/* // start SURVEY RECIPIENT UI // */

.formElements .selectItems select {
	width: 100%;
	height: 200px;
}

/* TABS Style */
div.deploymentTabs {
	margin: 40px 0 20px;
	position: relative;
	width: 96%;
}

.tab_title {
	margin-bottom: 10px;
	display: none;
}

/* DIV that holds each tab*/
div.tab_content {
	margin: -1px 20px 0px 0px;
	display: inline;
	float: left;
	width: 100%;
	min-height: 110px;
	border: 1px solid #CCC;
	padding: 25px 15px 15px 15px;
}

.deploymentTabs .arrow:before,
.deploymentTabs .arrow:after {
	border-color: -moz-use-text-color transparent #FFF;
	border-style: none solid solid;
	border-width: 0 15px 15px;
	content: "";
	display: block;
	top: -15px;
	position: absolute;
}

.deploymentTabs .arrow.outer:before,
.deploymentTabs .arrow.outer:after {
	border-color: -moz-use-text-color transparent #CCC;
	border-style: none solid solid;
	border-width: 0 16px 16px;
	content: "";
	display: block;
	top: -16px;
	margin-left: -1px;
	position: absolute;
}

.arrow.firstButton:before,.arrow.firstButton:after {
	left: 9%;
}

.arrow.secondButton:before,.arrow.secondButton:after {
	left: 35%;
}

.arrow.thirdButton:before,.arrow.thirdButton:after {
	left: 58%;
}

/* Tab Bar, created via JS*/
div#tab-bar {
	margin: 0px 10px 20px 0px;
	background: #fafafa;
	margin-bottom: 0px;
}

div#tab-bar .mt-tab:first-child {
	margin-top: -1px;
}

/* Single Tab */
div#tab-bar div.mt-tab {
	float: left;
	position: relative;
	text-align: center;
	margin: -1px -1px 0px 0px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	display: inline;
	background-color: #fff;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	padding: 18px 40px;
}

/* Single Tab, when active */
div#tab-bar div.mt-tab-active {
	text-align: center;
	margin: -1px -1px 0px 0px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	display: inline;
	background: #eaeaea !important; /*tab is created dynamically so important is needed to ensure proper background*/
	border-bottom: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

/* CONTENT STYLES */
.survey-count {
	position: absolute;
	right: -42px;
	top: 43px;
	width: 170px;
	border: 1px solid #CCCCCC;
	padding: 25px 20px;
	box-shadow: 1px 5px 10px #CCCCCC;
	text-align: center;
	color: #999;
	font-size: 90%;
	background-color: #F5F5F5;
}

.survey-count .right-triangle {
	border-bottom: 10px solid #666;
	border-left: 10px solid transparent;
	height: 0;
	left: -10px;
	position: absolute;
	top: 0;
	width: 0;
}

.survey-count span {
	color: #0096B2;
	font-size: 300%;
	font-weight: normal;
}

.survey-count span img#recipient_count_preview_progress {
	height: 20%;
	width: 20%;
	position: relative;
	top: 0px;
	left: 0px;
}

.survey-count img {
	position: absolute;
	right: 20px;
	top: 43%;
}

.survey-count input.genericButton {
	margin-top: 3px;
	margin-bottom: 10px;
}

.survey-count #revert {
	-moz-transition-duration: .3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: ease-in;
	transition-duration: .3s;
	transition-timing-function: ease-in;
}

.tag-node {
	display: inline;
	margin-right: 10px;
	padding: 4px 25px 4px 10px;
	border-radius: 9px;
	border: 1px solid #CCC;
	background-color: #F5F5F5;
	font-size: 11px;
	font-weight: bold;
	position: relative;
}

.tag-node:after {
	content: "x";
	position: absolute;
	top: 10%;
	right: 9px;
	font-size: 14px;
	color: #CCC;
	font-weight: normal;
	cursor: pointer;
	text-shadow: 1px 1px 0 #FFF;;
}

.field.toggles {
	width: 100%;
	position: relative;
	z-index: 1;
}

.toggle-button {
	position: relative;
	padding: 7px 0 7px 15px;
}

.toggle-button.active {
	background-color: #f5f5f5;
	border-radius: 5px 0px 0px 5px;
}

.toggle-button.active:after {
	-moz-transform: rotate(-3deg);
	bottom: 17px;
	box-shadow: 0 17px 14px rgba(0, 0, 0, 0.4);
	content: "";
	left: 11px;
	position: absolute;
	right: 17px;
	top: -3px;
	z-index: -1;
}

.toggle-button input[type="radio"] {
	display: inline-block;
}

.toggle-button label {
	display: inline-block;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
	width: 100px;
	vertical-align: middle;
}

.selectButton { /*height: 40px;*/
	width: 180px;
	cursor: pointer;
	border-radius: 22px;
	border: 1px solid #CCC;
	margin-right: 10px;
	float: left;
	position: relative;
	padding: 15px 0;
	text-align: center;
	background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe),
	color-stop(100%, #f7f7f7) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
	/* IE10+ */
	background: linear-gradient(top, #fefefe 0%, #f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fefefe',
	endColorstr='#f7f7f7', GradientType=0 ); /* IE6-9 */
}

.selectButton.active {
	background: #f5fafb; /* Old browsers */
	background: -moz-linear-gradient(top, #f5fafb 0%, #d1eaef 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5fafb),
	color-stop(100%, #d1eaef) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5fafb 0%, #d1eaef 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5fafb 0%, #d1eaef 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5fafb 0%, #d1eaef 100%);
	/* IE10+ */
	background: linear-gradient(top, #f5fafb 0%, #d1eaef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#f5fafb',
	endColorstr='#d1eaef', GradientType=0 ); /* IE6-9 */
}

.selectButton.active:before,.selectButton.active:after {
	border-color: #D1EAEF transparent transparent;
	border-style: solid solid none;
	border-width: 15px 15px 0px;
	content: "";
	display: block;
	bottom: -15px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
}


.tab_content.deployment_type_group_content {
	background-color: #eaeaea;
}

.tab_content .formElements {
	float: left;
	width: 56%;
	padding: 17px 180px 17px 17px;
	background-color: #f5f5f5;
	min-height: 180px;
}

.tab_content .radio-selection {
	width: 175px;
	float: left;
}

.tab_content .formElements .label {
	width: 28%;
}

.tab_content .formElements .field {
	width: 72%;
}

.tab_content .formElements .field.column {
	width: 31%;
}

.type-label {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 5px;
}

.deploymentTabs .selectItems .u_floatThis-left {
	width: 43%;
}

.deploymentTabs .selectItems,
.deploymentTabs .selectItems .u_floatThis-left.selectArrows {
	width: auto;
}

/* // end SURVEY RECIPIENT UI // */

/* // start SURVEY ANALYZE REPORT // */

#numOfSurveyQuestion {
	display: inline-block;
}

.response-periods-list {
	position: relative;
}

.stepcontent li .response-periods-list li,
.response-periods-list li {
	width: 95%;
	background-color:#FFF;
	border:solid 1px #CCC !important;
	margin: 0 0 15px 0;
	padding: 10px 10px 10px 30px;
	position: relative;
}

.stepcontent li .response-periods-list li.selected,
.response-periods-list li.selected {
	background-color: #F0F0F0;
}

.response-periods-list input[type="checkbox"] {
	position: absolute;
	left: 2px;
	top: 50%;
	margin-top: -8px;
}

.response-periods-list label {
	display: block;
	color: #333;
	font-style: normal;
	font-size: 110%;
	line-height: 150%;
	cursor: pointer;
}

.response-period-description,
.response-period-data span {
	float: left;
	width: 80%;
	color: #666;
	font-style: italic;
	font-size: 90%;
}

.response-period-data {
	float: right;
	width: 20%;
	line-height: 150%;
}

.response-period-data span {
	width: 100%;
	display: block;
}

.secondary-options {
	margin-left: 40px;
}
.tertiary-options {
	margin-left: 80px;
}

.field p,
.secondary-options p,
.tertiary-options p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#receipt_floated_surveyReport.floatedReceipt {
	position: absolute;
	width: 135px;
	z-index: 1201;
}

.floatedReceipt.pointRight .arrow {
	border-left-color: #FCFBD1;
	border-left-style: solid;
	right: -30px;
	top: 100px;
}

/* // end SURVEY ANALYZE REPORT // */


/* Fix for VTBE in eval column */
.evalColumn {
	z-index: 1000;
}

/* align the node picker button with the search form submit button */
div#nodeFilter > input.browse {
	vertical-align: top;
}

/* add rendering customization for content metadata */
div.md_linear {
	margin: 6px 0;
	font-family: arial, helvetica, sans-serif;
	border-left: 1px solid rgb(101, 124, 163);
	border-bottom: 1px solid rgb(101, 124, 163);
	display: inline;
	padding-left: 3px;
}

div.md_linear a {
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

div.md_linear p {
	display: inline;
	font-size: 95%;
}

div.md_linear p span {
	display: none;
}

div.md_tabular {
	margin: 6px 0;
	font-family: arial, helvetica, sans-serif;
	border-left: 1px solid rgb(101, 124, 163);
	margin: 0pt 0pt 6px 12px;
	padding-left: 3px;
}

div.md_tabular a {
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

div.md_tabular p {
	margin: 0;
	padding: 1px 0;
	font-size: 95%;
}

div.md_tabular p span {
	font-style: italic;
	color: #444;
}

div.sample_data {
	margin: 0 0 0 24px;
}

div.sample_data div {
	float: left;
}

div.sample_data div.sample_head {
	font-weight: bold;
	border: none;
	margin: 6px 10px 2px 1px;
}
/* end rendering customization for content metadata */


/* end SP10 CSS */

/* SP11 CSS*/
/* the layout of the empty list message is styled in shared.css */
.noItems.container-empty .main-message {
	color: #777;
}

.noItems.container-empty .secondary-message {
	color: #777;
}
/**/
