/*Service Pack 8 additions*/

/* VTBE Styles

/* Restoring browser default-like treatment for lists created in vtbe*/
.vtbegenerated th {
    font-weight: bold !important;
}

.vtbegenerated td[align="center"],
.vtbegenerated th[align="center"],
.vtbegenerated tr[align="center"] > td,
.vtbegenerated tr[align="center"] > th {
    text-align: center !important
}

.vtbegenerated td[align="right"],
.vtbegenerated th[align="right"],
.vtbegenerated tr[align="right"] > td,
.vtbegenerated tr[align="right"] > th {
    text-align: right !important
}

.vtbegenerated td[align="left"],
.vtbegenerated th[align="left"],
.vtbegenerated tr[align="left"] > td,
.vtbegenerated tr[align="left"] > th {
    text-align: left !important
}

.vtbegenerated {
    font-size: small;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    display: block;
}

.vtbegenerated p{
    margin-bottom:1em;
}

.vtbegenerated div.p{
    margin-bottom:1em;
}

.vtbegenerated address {
    display: block;
    font-style: italic;
}

/* Restore img treatment in vtbe generated blocks */
.vtbegenerated IMG {
    opacity: auto !important;
    filter: alpha(opacity = auto) !important;
    max-width: 100%;
    height: auto;
}

.vtbegenerated table IMG {
    max-width: none;
}

.vtbegenerated ul,.vtbegenerated menu,.vtbegenerated dir {
    margin: 1em 0;
    padding-left: 40px;
}

.vtbegenerated ul li {
    margin: 0;
    padding: 0;
}

.vtbegenerated ol {
    margin: 1em 0;
    padding-left: 40px;
}

#loginAnnouncements li .vtbegenerated ol li, #loginAnnouncements li .vtbegenerated ul li {
    margin: 0;
    padding: 0;
}

.vtbegenerated li {
    list-style-position: outside;
}

/* nested lists have no top/bottom margins */
.vtbegenerated ul ul,.vtbegenerated ul ol,.vtbegenerated ul dir,.vtbegenerated ul menu,.vtbegenerated ul dl,.vtbegenerated ol ul,.vtbegenerated ol ol,.vtbegenerated ol dir,.vtbegenerated ol menu,.vtbegenerated ol dl,.vtbegenerated dir ul,.vtbegenerated dir ol,.vtbegenerated dir dir,.vtbegenerated dir menu,.vtbegenerated dir dl,.vtbegenerated menu ul,.vtbegenerated menu ol,.vtbegenerated menu dir,.vtbegenerated menu menu,.vtbegenerated menu dl,.vtbegenerated dl ul,.vtbegenerated dl ol,.vtbegenerated dl dir,.vtbegenerated dl menu,.vtbegenerated dl dl
{
    margin-top: 0;
    margin-bottom: 0;
}

/* 2 deep unordered lists (OL) use a circle */
.vtbegenerated ol ul li,.vtbegenerated ul ul li,.vtbegenerated menu ul li,.vtbegenerated dir ul li,.vtbegenerated ol menu,.vtbegenerated ul menu,.vtbegenerated menu menu,.vtbegenerated dir menu,.vtbegenerated ol dir,.vtbegenerated ul dir,.vtbegenerated menu dir,.vtbegenerated dir dir
{
    list-style-type: circle;
}

/* 3 deep (or more) unordered lists (OL) use a square */
.vtbegenerated ol ol ul,.vtbegenerated ol ul ul,.vtbegenerated ol menu ul,.vtbegenerated ol dir ul,.vtbegenerated ol ol menu,.vtbegenerated ol ul menu,.vtbegenerated ol menu menu,.vtbegenerated ol dir menu,.vtbegenerated ol ol dir,.vtbegenerated ol ul dir,.vtbegenerated ol menu dir,.vtbegenerated ol dir dir,.vtbegenerated ul ol ul,.vtbegenerated ul ul ul,.vtbegenerated ul menu ul,.vtbegenerated ul dir ul,.vtbegenerated ul ol menu,.vtbegenerated ul ul menu,.vtbegenerated ul menu menu,.vtbegenerated ul dir menu,.vtbegenerated ul ol dir,.vtbegenerated ul ul dir,.vtbegenerated ul menu dir,.vtbegenerated ul dir dir,.vtbegenerated menu ol ul,.vtbegenerated menu ul ul,.vtbegenerated menu menu ul,.vtbegenerated menu dir ul,.vtbegenerated menu ol menu,.vtbegenerated menu ul menu,.vtbegenerated menu menu menu,.vtbegenerated menu dir menu,.vtbegenerated menu ol dir,.vtbegenerated menu ul dir,.vtbegenerated menu menu dir,.vtbegenerated menu dir dir,.vtbegenerated dir ol ul,.vtbegenerated dir ul ul,.vtbegenerated dir menu ul,.vtbegenerated dir dir ul,.vtbegenerated dir ol menu,.vtbegenerated dir ul menu,.vtbegenerated dir menu menu,.vtbegenerated dir dir menu,.vtbegenerated dir ol dir,.vtbegenerated dir ul dir,.vtbegenerated dir menu dir,.vtbegenerated dir dir dir, .vtbegenerated ul ul ul li
{
    list-style-type: square;
}

.vtbegenerated table {
    border-collapse: separate;
}

.vtbegenerated h4, .vtbegenerated h5, .vtbegenerated h6{
    margin-bottom:1.5em;
}
.vtbegenerated h4 {
    font-size: 120%;
}

.vtbegenerated h5 {
    font-size: 110%;
}

.vtbegenerated h6 {
    font-size: 100%;
}

.vtbegenerated blockquote {
    margin: 1em 35px;
}

.vtbegenerated ul[type="circle"] li {
    list-style-type: circle
}

.vtbegenerated ul[type="square"] li {
    list-style-type: square
}

.vtbegenerated ul[type="disc"] li {
    list-style-type: disc
}

.inlineVtbegenerated {
    display: inline;
}

/* End of VTBE Styles */

/*@SP8 CSS*/

/* @Since 9.1sp8 */

/* Size down any larger icons in course menu folder view */
.tree .treeNodeIcon { width: 16px; height: 16px; }

/* For Grade Center favorites in control panel  */
.navPaletteContent .submenu li.favorite { padding-left:10px; }

.navPaletteContent ul[id*="files_groupContents"] .favorite {
    padding-left: 0;
}

.columnPalette h5 {
    color: #555;
    margin: 6px 0 3px;
}

.blogNav .stepcontent {
    margin: 0;
    padding: 6px 4px;
}

.button-split {

}

.button-split-left {
    display: inline-block;
    float: left;
    border-right: 2px solid #f6f6f6;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}

.button-split-left:hover {
    border-right: 2px solid #555;
}

.button-split-right {
    display: inline-block;
    float: left;
    border-left: 1px solid #ccc;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    padding: 4px 6px;
    margin-left: -1px;
}

.full_evaluation_view_component h3 {
    margin: 18px 0 3px;
}

.full_evaluation_view_component h3:first-child {
    margin: 9px 0 3px;
}


.gradeSide_panel .container {
    padding-right: 45%;
    position: relative;
}

.gradeSide_panel .contentListPlain {
    margin:  -20px 0 0 -30px;
}

.collabContainer {
    padding: 20px 30px 30px;
}

.gradeSide {
    right: 20px;
    top: 20px;
    width: 36%;
}

.gradeSide {
    background: none repeat scroll 0 0 #888888;
    border: 3px solid #555555;
    border-radius: 4px;
    bottom: auto;
    left: auto;
    margin: 0;
    padding: 4px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.collapseTabsData a.close {
    right: 4px;
    top: 4px;
}


.evalColumn .taskbuttondiv {
    padding: 12px 0;
}

.gradeItemsWrapper {
    overflow: visible;
}

.gradeSide .stepcontent {
    margin: 0;
    padding: 6px 4px 12px;
}

.evalColumn {
    background-color: #FFFFFF;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 6px 18px 18px;
}

.evalColumn .liveArea {
    border: 0 none;
    box-shadow: none;
}

/* new styles for Standards Documents */
.column-wrapper {
    overflow: visible !important;
    position: relative;
}

.column-nav {
    width: 190px;
    float: left;
}

.colspan2 {
    position: relative;
    margin-left: 190px;
}

#standards-column.colspan2 {
    border-left: 3px double #ccc;
    margin-bottom: -41px;
    padding-bottom: 12px;
    top: -20px;
    left: -3px;
}

.pageHead-2 {
    color: #555555;
    padding: 18px 18px;
    word-wrap: break-word;
}

.column-nav .pageHead-2 {
    padding: 18px 6px;
    display: none;
}

.pageHead-2 h2 {
    margin: 0;
    font-size: 120%;
    font-weight: normal;
}

.pageHead-2 span {
    padding: 0 6px;
    font-size: 120%;
    color: #000;
    font-weight: bold;
}

.pageHead-2 span:first-child {
    border-right: 1px dotted #aaa;
}

.column-inner {
    padding: 6px 0 12px 18px;
}

.column-nav-inner {
    padding: 0 0 12px 12px;
}

.category-column .column-nav-inner {
    border: 1px solid #ccc;
    border-left: none;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(left,  #EEEEEE 90%, #ececec 97%, #bbb 108%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(90%, #eeeeee),
    color-stop(97%, #ececec), color-stop(108%, #bbbbbb) );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #eeeeee 90%, #ececec 97%, #bbb 108%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #EEEEEE 90%, #ececec 97%, #bbb 108%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(left,  #EEEEEE 90%, #ececec 97%, #bbb 108%);
    /* IE10+ */
    filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
    '#eeeeee', endColorstr = '#cccccc', GradientType = 1 ); /* IE6-9 */
    background: linear-gradient(left,  #EEEEEE 90%, #ececec 97%, #ccc 108%);
    /* W3C */
}

#column_lrn_std_category {
    border-right: 3px double #ccc;
}

.column-inner {
    background: #FFFFFF;
    padding: 6px 18px 12px 18px !important;
}

#standards-column .column-inner {
    padding: 6px 0px 12px 18px !important;
}


.column-nav .column-inner {
    display: none;
}
.navmenu-list-item {
    display: block;
    border-bottom: 1px solid #777;
    padding: 12px 21px 12px 18px;


    position: relative;
    word-wrap: break-word;
}

.navmenu-list>li:hover {
    background: #777;
}

.navmenu-list>li>a {
    text-decoration: none;
    color: #f6f6f6;
    font-weight: 200;
    font-size: 110%;
}

.navmenu-list a span {
    display: none;
}

.navmenu-list .active,.navmenu-list .active:hover {
    border: none;
    background: #eee;
    color: #000;
    -moz-box-shadow: -4px 3px 5px #777;
    -webkit-box-shadow: -4px 3px 5px #777;
    box-shadow: -4px 3px 5px #777;
    font-weight: 600;
    /*	right: 0;*/
    padding: 12px 18px 12px 20px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    left: -3px;
    width: 142px;
    border: 1px solid #777;
    border-width: 1px 0 1px 1px;
}

.navmenu-list .active a {
    color: #000;
}

.column2-nav .category-column .navmenu-list li>a {
    padding-left: 24px;
}

.column-wrapper .actionBar>ul>li>a {
    /*	-moz-border-radius: 3px;*/
    /*	border: 1px solid #CCCCCC;*/
    padding: 8px 16px;
    /*	text-shadow: 0 1px 1px #FFFFFF;*/
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: normal;

    /*	background: #ddd;*/
    /*	background: -moz-linear-gradient(100% 100% 90deg, #DDDDDD, #FAFAFA);*/
    /*	background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#FAFAFA),
            to(#DDDDDD) );*/
}

.column-wrapper .actionBar>ul>li>a:hover {
    /*	border-radius: 3px;*/
    background: #ccc;
    /*	background: -moz-linear-gradient(100% 100% 90deg, #bbb, #eee);*/
    /*background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#eee),
        to(#bbb) );*/
}

.standards .button-2 {
    color: #444;
}

.standards .button-2:hover {
    border-color: #aaa;
}

.category-column .navmenu-list:first-child {
    margin: 12px 0 0;
}

.category-column .navmenu-list-item {
    border-color: #d6d6d6;
}

.category-column .navmenu-list-item a {
    color: #333;
}

.category-column .navmenu-list-item:hover {
    background-color: #e0e0e0;
    opacity: 1 !important;
    filter: alpha(opacity = 100) !important;
    background: -moz-linear-gradient(left, #e0e0e0 31%, #dddddd 93%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(31%, #e0e0e0),
    color-stop(93%, #dddddd), color-stop(100%, #cccccc) );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0e0e0 31%, #dddddd 93%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0e0e0 31%, #dddddd 93%, #cccccc 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(left, #e0e0e0 31%, #dddddd 93%, #cccccc 100%);
    /* IE10+ */
    filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
    '#e0e0e0', endColorstr = '#cccccc', GradientType = 1 ); /* IE6-9 */
    background: linear-gradient(left, #e0e0e0 31%, #dddddd 93%, #cccccc 100%);
    /* W3C */
}

.category-column .navmenu-list .active {
    margin-right: -1px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius:  4px 0 0 4px;
    background: #FFFFFF;
    border: 1px solid  #CCCCCC;
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    -moz-box-shadow: -4px 3px 5px #DDDDDD;
    -webkit-box-shadow: -4px 3px 5px #DDDDDD;
    box-shadow: -4px 3px 5px #DDDDDD;
    /*	left: -3px;*/
    position: relative;
    right: -4px;
    z-index: 1001;
}

.navmenu-list .inactive {
    opacity: .75;
    filter: alpha(opacity = 75);
}

.standards .actionBar {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 20px -12px;
    height: 32px;
    border-bottom: 1px solid #ccc;
}

#actionbarlrn_std_doc.actionBar {
    border-bottom-color: #777;
}

#actionbarlrn_std_doc.actionBar>ul>li>a {
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
    color: #f0f0f0;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
}

#actionbarlrn_std_doc.actionBar>ul>li>a:hover,
#actionbarlrn_std_doc.actionBar>ul>li:hover>a {

    color: #fff;
    background: #777;

}

#actionbarlrn_std_category.actionBar>ul>li>a {
    color: #666;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.6);
}

#actionbarlrn_std_category.actionBar>ul>li>a:hover {
    color: #000;
    background: #ccc;
}



#actionbarlrn_std.actionBar{
    background: #f0f0f0;
    border: 0 none;
    margin: 9px 0 20px;
}

#actionbarlrn_std.actionBar>ul>li>a {
    color: #666;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.6);
}

#actionbarlrn_std.actionBar>ul>li>a:hover {
    color: #000;
    background: #ddd;
}

.standards .actionBar > ul {
    margin: 0 !important;
    height: 32px;
}

.standards .actionBar ul li {
    float: left;
}

.standards .groupLabel {
    padding: 2px 6px 0 0;
}

.standards .searchbar .selectedItem label span {
    font-size: 90%;
}

.navmenu-actions-1 {
    background: #F0F0F0;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    left: -4px;
    padding: 1px;
    position: absolute;
    top: 4px;
}

.active .navmenu-actions-1 {
    left: -4px;
}

.navmenu-actions-2 {
    position: absolute;
    left: -4px;
    top: 22px;
    padding: 1px !important;
}

.navmenu-list-item .contextMenuContainer {
    position: absolute;
    right: 9px;
    top: 50%;
    opacity: 0;
    margin-top: -8px;
}

.navmenu-list .active .contextMenuContainer, .navmenu-list .active:hover .contextMenuContainer {
    opacity: 1;
}

.navmenu-list-item:hover .contextMenuContainer {
    opacity: .5;
}

.navmenu-list-item:hover .contextMenuContainer:hover {
    opacity: 1;
}

.standards .column-1,.standards .column-2,.standards .column-3 {
    font-size: 90%;
    min-height: 0;
}

.standards .column-2 {
    width: 46%;
    padding: 0 1%;
    border-left: 1px solid #ccc;
}

.standards .column-3 {
    width: 31%;
    margin: 0;
}

.standardForm>h3+div.column-2 {
    border: none;
}

.standards .stepcontent {
    margin: 0;
    padding: 6px 4px 12px;
}

.standards .stepcontent ol li {
    border: none;
}

.standardForm {
    position: absolute !important;
    top: 38px;
    left: 6px;
}

.inline-form-title {
    margin: 6px 0;
}

.docs-column .column-nav-inner {
    border: 1px solid #777;
    border-right: none;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    background: #666666;
    color: #fff;
    background: #999999; /* Old browsers */
    background: -moz-linear-gradient(left, #999999 0%, #999 96%, #666666 104%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #999999),
    color-stop(96%, #999), color-stop(104%, #666) );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #999999 0%, #999 96%, #666666 104%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #999999 0%, #999 96%, #666666 104%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(left, #999999 0%, #999 96%, #666666 104%);
    /* IE10+ */
    filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
    '#999999', endColorstr = '#777777', GradientType = 1 ); /* IE6-9 */
    background: linear-gradient(left, #999999 0%, #888888 94%, #777777 100%);
    /* W3C */
    min-height: 400px;
}

.docs-column .navmenu-list:first-child {
    margin: 12px 0 0;
}

.iconToggleWrapper {
    display: inline-block;
    zoom: 1;
}

.iconToggle {
    padding: 3px 5px;
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff
    100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
    color-stop(50%, #f3f3f3), color-stop(51%, #ededed),
    color-stop(100%, #ffffff) ); /* webkit */
    color: #444;
    margin: 0 0 0 -5px!important;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    zoom: 1;
    font-size: 95%;
}

.quickAddPal .iconToggle {
    margin: 0 0 0 -1px!important;
}

.iconToggle:first-child {
    margin: 0!important;
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;

}

.iconToggle:last-child {
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;

}

.iconToggleWrapper .iconToggle:last-child {

}

.iconToggle:hover {
    border-color: #999;
    background: #e8f0fe; /* old browsers */
    background: -moz-linear-gradient(top, #e8f0fe 0%, #D9E4F7 50%, #CFDDF5 51%, #e8f0fe
    100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8f0fe),
    color-stop(50%, #D9E4F7), color-stop(51%, #CFDDF5),
    color-stop(100%, #e8f0fe) ); /* webkit */
}

.stepcontent .iconToggle .fieldHelp {
    background: #fff;
    border: 1px solid #555555;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 3px 6px;
    z-index: 100;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 9px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, .3);
    font-size: 90%;
    min-width: 200px;
}

.iconToggle:hover .fieldHelp {
    display: block;
    z-index: 10;
}

.iconToggleWrapper .selectedItem {
    background: #CDCDCD;
    border-color: #999;
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2) inset;
    color: #000000;
}

.iconToggle label span {
    display: none;
    color: #555;
}

.selectedItem label span {
    display: inline;
    /*	font-weight: bold;*/
}

.selectedItem .fieldHelp strong {
    display: none;
}


#lrn_std .panelHead {
    padding:  9px 16px 9px 25px;
}

#lrn_std .sHeader {
    margin-left: -21px;
}

#lrn_std .contextMenuContainer {
    display: inline-b;
}

.lb-content .itemTray {position:absolute;}
.lb-drawer {padding-bottom:54px;}
.lb-noTitleBar #pageTitleBar {display: none;}
.lb-locationPane, .lb-locationPane #contentPanel {margin:0;}
.lb-contentBox {border:none; border-radius:0;}

/* END new styles for Standards Documents*/

.overSoftLimit {
    color: red;
}

/* Styles for autocomplete text fields. */
.autocomplete_pos {
    top: 15px!important;
    left: 0!important;
}

.autocomplete {
    position: absolute;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #888;
    z-index: 5;
    box-shadow:0 0 3px rgba(0,0,0,.3);
}

.autocomplete .selected {
    background-color: #ccc;
}

.autocomplete ul li {
    display: block;
    width: 98%;
    padding: 2px;
    cursor: pointer;
}

.quickAddPal .field, .quickAddPal .noLabelField {
    position: relative;
}

/* Rename Category Block Styling */
.renameCategory {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1200;
    display: block;
}

.renameCategory a {
    display: inline;
    padding: 0;
}

li span.labelMenuItem {
    color: #000000;
    font-weight: bold;
}

/* Styling for tooltip (used in Institutional Hierarchy node tools page) */
.hierarchy-page .tooltip {
    color: #666 !important;
    background-color: #FFF !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 15px !important;
    font-family: Open Sans !important;
    text-shadow: none !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px  !important;
    border-radius: 0px  !important;
    background-image: none !important;
    border: 1px solid #DADADA !important;
}

.hierarchy-page .tooltipContainer-bot .tooltip:after {
    display: none;
}

.hierarchy-page .tooltipContainer .tooltip:after,
.hierarchy-page .tooltipContainer-bot .tooltip:after {
    color: #3b3b3b;
}
/* End Styling for tooltip */

/* padding for metadatalists that need more vertical space */
.paddedMetadata {
    padding: 6px 6px 6px 0 !important;
}


/* Styles for transparent option in palette color picker. */

.quickAddPal .colorlist li a.transparent {
    background-position:-1px -1px;
    color:transparent
}

.quickAddPal .colorlist li a.transparent:hover {
    background-position:-2px -2px;
}

/* @Since 9.1sp8 */
div.checkListActions {
    padding-bottom: 10px;
}

.quickAddPal .colorlist li a.transparent:active, .quickAddPal .colorlist li a.transparent:focus {
    background-position:-3px -3px;
}

/* End Styles for transparent option in palette color picker. */

/* Start Styles for course theme switcher/course welcome page (wizard) */

.theme_scrollbar_content h2 {
    margin: -35px 0 15px;
    padding: 0;
    color: #333;
    text-align: left;
    font-size: 130%;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.06em;
}
#wizard .theme_scrollbar_content h2 {
    color: #CCC;
}

.theme-switch-wrapper {
    display: inline-block;
}
.theme-switch {
    border-right: 1px solid #CCCCCC;
    display: inline-block;
    margin: -14px 0px -14px 0;
    position: relative;
    vertical-align: middle;
}
.theme-switch .sub > a /*, .theme-switch > span*/ {
    display: block;
    line-height: 1;
    overflow: hidden;
    padding: 14px 12px;
}
.theme-switch .sub > a:hover, .theme-switch .sub:hover  > a {
    -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15) inset;
}
.theme-switch.dummy-switch:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.theme-switch a span, .theme-switch span span {
    display: inline-block;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.theme-switch:hover .cmdiv ul:before, .theme-switch:hover .cmdiv ul:after {
    border-color: -moz-use-text-color transparent #D1EAEF;
    border-style: none solid solid;
    border-width: 0 7px 7px;
    content: "";
    left: 10px;
    position: absolute;
    top: -7px;
}
.theme-switch:hover .cmdiv ul:before {
    border-bottom-color: #999999;
    top: -8px;
}

.theme-switch .nav .sub ul  {
    width:180px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.theme-switch .nav .sub ul li h4 {
    margin: 2px 0px;
    font-size: 100%;
    color: #999;
    padding: 9px 0 2px 4px;
    font-weight: normal;
    letter-spacing: 2px;
}

.theme-switch .nav .sub ul a  {
    width:142px;
    padding:4px 4px 4px 18px;
    font-size:95%;
    overflow:hidden;   /* needed to hide accessible label for currently selected theme */
    position:relative; /* need position relative for the abolutely positioned content in the .currentTheme marker */
}

.theme-switch .currentTheme a:after {
    content:'\f00c';
    display:block;
    font-family:FontAwesome;
    font-size:12px;
    position:absolute;
    left:3px;
    top:6px;
}

#wizard {
    position: fixed;
    width: 900px;
    margin-left: -450px;
    top: 60px;
    left: 50%;
    background: #FFF;
    z-index: 1100;
    background-clip: content-box;
    border: solid 0 #666;
    padding: 1.5625rem;
}

#wizard h1 {
    color: #666;
    padding: 10px 30px;
    margin: 1px 0 0 1px;
}

#wizard .accordion-wrapper {
    background: transparent;
    border-radius: 0 0 6px 6px;
    margin: 0 30px;
}

#wizard .accordion_toggle, #wizard .accordion_content {
    padding: 8px 0;
    font-size: 115%;
    color: #EEE;
}

#wizard .accordion_toggle {
    border-top: 1px solid #444;
    box-shadow: 0 1px 0 #666 inset;
    -webkit-box-shadow: 0 1px 0 #666 inset;
    color: #AAA;
    position:relative;
    cursor: pointer;
    text-align: right;
    padding-right: 60px;
}

#wizard .accordion_toggle .accordionTabLabel {
    float: left;
    color: #666;
    text-decoration: none;
}

#wizard .accordion_toggle span#selectedStructureName,
#wizard .accordion_toggle span#selectedThemeName {
    padding: 4px 19px 4px 5px;
    color: #000;
    border-radius: 5px;
    visibility: visible;
    margin-left: 3px;
}

#wizard .accordion_toggle_help {
    text-align: left;
}

#wizard .accordion_toggle a#unselectStructure,
#wizard .accordion_toggle a#unselectTheme {
    margin-left: 5px;
    float: right;
    display: none;

    /* Button style */
    padding: 2px 6px;
    font-size: 90%;
    color: #333333;

    color: #1EC8EA;
}
#wizard .accordion_toggle a#unselectStructure:hover,
#wizard .accordion_toggle a#unselectTheme:hover {
    visibility: visible;
}
#wizard .accordion_toggle a#unselectStructure:hover span,
#wizard .accordion_toggle a#unselectTheme:hover span {
    text-decoration: line-through;
}

#wizard .accordion_toggle:first-child {
    border-top: 0;
    box-shadow: none;
}

#wizard .accordion_content {
    padding: 0;
    background: #3D3B3B;
    text-align:  left;
    overflow: hidden;
    height: 245px;
}

#wizard .accordion_content a {
    color: #1EC8EA;
}

#wizard .right-image {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 6px;
}

#wizard .previewArea {
    background-color: #474747;
    border-width: 0px;
    font-size: 85%;
    height: 235px;
    max-height: 235px;
    overflow:hidden;
    padding: 5px 10px;
}

.course_welcome_help_scrollbar_track {
    position:absolute;
    top:0;
    right:0;
    width:10px;
    cursor:move;
    margin: 1px 0px;
    height: 99%;
}

.course_welcome_help_scrollbar_handle.selected {
    width:8px;
    cursor:move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #555555;
    border: 0px;
}

.course_welcome_help_scrollbar_handle.selected {
    background-color: rgba(0,0,0,0.5);
}

.course_welcome_help_container {
    position:relative;
}

/* Layout for Bb Help content */
#wizard .previewArea .introduction,
#wizard .previewArea .helplink,
#wizard .previewArea .customHelp {
    width: 80%;
}

#wizard .previewArea .conclusion {
    width: 20%;
    background-color: #3D3B3C;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px 10px 10px;
    font-size: 90%;
    color: #BBB;
}

#wizard .previewArea .customHelp {
    padding: 1em 0px;
    margin-top: 0.5em;
    color: #BBBBBB;
    font-size: 90%;
    border-top: 1px dotted #555;
    width: 100%;
}

/* Styling Bb Help content area */
#wizard .previewArea h3 {
    font-size: 140%;
    font-weight: normal;
    margin-top: 0.2em;
    margin-bottom: 3px;
}

#wizard .previewArea h3 span {
    color: #888;
    text-transform: uppercase;
    font-size: 65%;
    font-weight: normal;
    display: block;
}

#wizard .previewArea h3 span span {
    text-transform: lowercase;
    font-style: italic;
    display: inline;
    font-size: 95%;
}

#wizard .helplink .easylist {
    border: 0px;
    padding: 0px;
    margin-left: 0px !important;
    margin-top: 5px;
}

#wizard .helplink .easylist li {
    float: left;
    width: 46%;
    padding: 3px 0px 0px 0px;
    border-top: 2px dotted #555;
    margin: 0px 10px 10px;
}

#wizard .helplink .easylist li h3 {

}

#wizard .helplink .easylist li p {
    padding-left: 0px;
}

#wizard .helplink .easylist li p {
    color: #DDD;
}

#wizard .log-summary {
    border-width: 0px;
    box-shadow: 0px 0px 0px;
    border-radius: 0px;
}

#wizard .conclusion h3 {
    font-size: 100%;
    color: #888888;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 10px;
}

#wizard .conclusion ul {
    margin-bottom: 15px;
}

#wizard .conclusion ul li {
    margin-bottom: 5px;
}

#wizard .content-inner, .content-inner {
    height: 245px;
    position: relative;
    overflow: hidden;
    background-color: #F5F4EF;
    border: 1px solid #CCC;
}
#wizard .content-inner {
    background-color: #3D3B3B;
    border: 0px;
}

#wizard .introtext {
    padding: 1em 2em 1em 0;
    font-size: 100%;
    font-weight: normal;
    color: #CCC;
    line-height: 1.5em;
    float: left;
    width: 100%;
}

#wizard .introtext label {
    margin-left: 15px;
    font-size: 85%;
    font-style: italic;
    display: none; /* TODO: Really, no display? */
}

#wizard .introtext input {
    font-size: 200%;
    margin-bottom: 10px;
    font-style: italic;
}

#wizard .introtext .courseNameAndDescription table table {
    width: 99%;
    margin-left: 7px;
}

#wizard .defaultSkin td.mceToolbar {
    min-width: 0;
}

#wizard .courseNameAndDescription > .textboxtable {
    width: 98% !important;
    margin-left: 9px;
}

#wizard .introtext .courseNameAndDescription .textboxtable .mceSplitButton {
    margin-left: 0;
    width: auto;
    margin-top: 3px;
}

#wizard .introtext textarea {
    font-size: 110%;
}

#wizard .introtext input, #wizard .introtext textarea {
    width: 96%;
    margin-left: 15px;
    padding: 7px 0px 7px 7px;
    font-family: inherit;
    resize: none;
}

#wizard .introtext .courseNameAndDescription {
    float: left;
    width: 60%;
    margin-right: 1em;
    padding-right: 0.8em;
    border-right: 3px dotted #666;
}

#wizard .introtext p {
    font-size: 90%;
    font-style: italic;
    margin: 55px 20px 0px 0px;
    font-style: italic;
    line-height: 1.4em;
}

.themes .horizontal-block {
    width: 230px;
    margin: 35px 10px 0;
    height: 184px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DDD;
}

#wizard .themes .horizontal-block {
    border-color: #555;;
}

.help .horizontal-block {
    width: 250px;
    border: 0;
}


.themes .horizontal-block img {
    margin: 0 auto;
    width: 203px;
    height: 152px;
}

.theme-selector {
    padding: 10px 26px 0;
    text-align: left;
}

.structure .theme-selector {
    padding: 4px;

}
.theme-selector span {
    font-size: 110%;
    font-weight: bold;
}

#wizard .selected .theme-selector span {
    color: #333;
}

.selected .theme-selector span {
    color: #FFF;
}

.structure .horizontal-block:hover, .themes .horizontal-block:hover {
    background-color: #E8E7E5;
}

#wizard .structure .horizontal-block:hover,
#wizard .themes .horizontal-block:hover {
    background-color: #5B5858;
}

#wizard li.selected a,
#wizard li.selected,
#wizard .selected,
.content-inner li.selected a,
.content-inner li.selected,
.content-inner .selected,
.content-inner .selected:hover {
    background-color: #363636;
    border: 1px solid #333333;
    color: #333333;
}

#wizard li.selected a,
#wizard li.selected,
#wizard .selected,
#wizard .themes .horizontal-block.selected:hover {
    background-color: #F5F4EF;
    color: #333;
}

div.scroller {
    height: 200px;
    overflow: hidden;
}

.themes div.scroller {
    height: 245px;
}


div.scroller div.section {
    float: left;
    height: 225px;
    overflow: hidden;
    text-align: left;
    width:780px;
    padding: 0 0 0 28px;
}

.horizontal-block {
    display: inline-block;
    font-size: 80%;
    vertical-align: top;
    text-align:  left;
    width: 167px;
    padding: 3px 0 6px 18px;
    height: 214px;
    margin: 8px 0 0 7px;
    border-radius:  5px;
    float: none;
}

.horizontal-block ul {
    margin-left:4px
}

.structure .horizontal-block {
    height:178px;
    cursor:  pointer;

}

#wizard .gotocourse {
    padding: 20px;
}

#wizard .gotocourse label {
    width: auto;
    display: inline-table;
}

#wizard .gotocourse label span {
    font-size: 10px;
    color: #999999;
    display: block;
}

#wizard .gotocourse .button-2 {
    margin-left: 10px;
}
#wizard .gotocourse .button-2:hover {

}

#wizard .number {
    float: left;
    vertical-align: middle;
    margin-right: 18px;
    font-weight: bold;
    color: #666;
    position: relative;
}
#wizard .accordion_toggle_help .number {
    text-indent: -9999px;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin-right: 14px;
}

#wizard .gotocourse .button-2.secondary {

}

#wizard .gotocourse #welcomePageCancelButton {

}

#wizard a.wizard-close:before {
    content: "X";
    font: 150% "Utilicons";
}

#wizard a.wizard-close {
    position: absolute;
    right: 25px;
    top: 25px;
    color: #666;
}

.theme_scrollbar_track {
    position:absolute;
    top:0;
    right:2px;
    height:100%;
    width:10px;
    cursor:move;
    margin: 1px 0px;
    height: 99%
}

#wizard .theme_scrollbar_handle.selected,
.theme_scrollbar_handle.selected {
    width:8px;
    cursor:move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    border: 0px;
}

.theme_scrollbar_handle.selected {
    background-color: rgba(0,0,0,0.5);
}

.theme_scrollbar_content {
    overflow:hidden;
    /*    width:485px;*/
    height:245px;
    text-align: center;
}
/* End Styles for course theme switcher/course welcome page (wizard) */

/* Course Structures selector styles */

.structure_scrollbar_container {
    position:relative;
    /*    width:500px; */
}

.structure_scrollbar_track {
    position:absolute;
    top:0;
    right:0;
    width:10px;
    cursor:move;
    margin: 1px 0px;
    height: 99%;
}

div.courseStructureDescriptions .structure_scrollbar_track {
    top:10px;
    margin: 1px 3% 1px 0;
}

#wizard .structure_scrollbar_track {
    margin: 1px 0;
    top: 0;
}

#wizard .structure_scrollbar_handle.selected,
.structure_scrollbar_handle.selected {
    width:8px;
    cursor:move;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #555555;
    border: 0px;
}

#wizard .structure_scrollbar_handle.selected:hover {
    background-color: #777;
}

.structure_scrollbar_handle.selected, #wizard .courseStructureDescriptions .structure_scrollbar_handle.selected {
    background-color: rgba(0,0,0,0.15);
}
.structure_scrollbar_handle.selected:hover,
#wizard .courseStructureDescriptions .structure_scrollbar_handle.selected:hover {
    background-color: rgba(0,0,0,0.3);
}

.structure_scrollbar_content {
    overflow:hidden;
    height:370px;
    margin-top: 30px;
}

#wizard .structure_scrollbar_content {
    height: 200px;
    margin-top: 22px;
}

.courseStructureOuterDiv {
    background-color: #FFF;
    padding: 0px 10px 0px 0px;
    min-height: 400px;
    margin-bottom: 10px;
    min-width: 800px;
}
#wizard .courseStructureOuterDiv {
    min-height: 250px;
    margin-bottom: 0px;
    background-color: #3D3B3B;
    padding: 0px;
}

.courseStructureNameScroller {
    width: 170px;
    position: relative;
    float: left;
    height:400px;
    overflow:hidden;

    /* Lighter panel */
    background-color: #FFF;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 10px 0 0;
    box-shadow: -1px 0 4px #CCCCCC;
}
#wizard .courseStructureNameScroller {
    height: 220px;
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    margin-top: 0px;
    box-shadow: none;
}

.courseStructureNameScroller ol li {
    margin-bottom: 3px;
    cursor: pointer;
}
.courseStructureNameScroller ol li:focus {
    outline: 1px dotted #000;
}
.courseStructureNameScroller ol li.courseStructureChoiceLink:focus {
    outline-color: #fff;
    -moz-box-shadow:inset 0 0 6px #128FA8;
    -webkit-box-shadow:inset 0 0 6px #128FA8;
    box-shadow:inset 0 0 6px #128FA8;
}

#wizard .courseStructureNameScroller ol li {
    margin-left: 13px;
}

.courseStructureHeader {
    color: #999;
    padding: 15px 0px 5px 10px;
    font-size: 85%;
    font-style: italic;
    cursor: default !important;
}

#structureDescription h3 {
    text-align: center;
    margin-top:110px;
}

#wizard .courseStructureHeader {
    color: #AAA;
    text-shadow: 0 0 1px #222;
    padding-top: 0px;
    padding-left: 0px;
}

.courseStructureChoiceLink {
    font-weight: normal;
    text-decoration: none;
    display: block;
    font-size: 85%;
    padding: 5px 5px 5px 33px;
}
#wizard .courseStructureChoiceLink {
    padding-left: 20px;
}

.courseStructureChoiceSelected {
    color: #3D3B3B;
    background-color: #F5F4EF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.courseStructureChoiceSelected a,
#wizard .courseStructureChoiceSelected a {
    color: #333;
}

.courseStructureDescriptions {
    position: relative;
    margin-left: 170px;
    height: 400px;
}
#wizard .courseStructureDescriptions {
    height: 225px;
    position: relative;
    margin: 10px 0px 10px 170px;
}

.courseStructureDescriptionAndMenu {
    background-color: #F5F4EF;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #333333;
    line-height: 18px;
    font-size: 12px;
    padding: 0px 0px 0px 20px;
    width: 95%;
    float: left;
    margin: 10px 0 0;
    overflow: hidden;

    height: 400px;
    position: static;
    min-height: 400px;
    border: 1px solid #CCC;
}
#wizard .courseStructureDescriptionAndMenu {
    height: 225px;
    min-height: 225px;
    border: 0px;
    width: 635px;
    margin-top: 0px;
    position: static;
}

.courseStructureDescriptions p {
    margin-bottom: 15px;
}
.courseStructureDescriptions h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 120%;
    color: #666;
}
.courseStructureDescriptions br {
    display: none;
}
.structureIncludeSampleContentCheck {
    width: 100%;
    background-color: #F4F1E3;
    display: block;
    height: 40px;
    padding-top: 10px;
    box-shadow: -10px 0px 6px #CCCCCC inset;
    margin-left: -20px;
    padding-left: 15px;
}
#wizard .structureIncludeSampleContentCheck {
    background-color: #FFFFFF;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #999999;
    margin-left: -12px;
    padding: 7px 0 7px 7px;
    position: absolute;
    top: 185px;
    width: 630px;
    height: 25px;
    z-index: 1;
}

#wizard .accordion_content .useSelectedStructure {
    margin-right: 15px;
}
#wizard .accordion_content .useSelectedStructure,
#wizard .accordion_content .useExistingMenu {
    color: #333;
}

#wizard .courseStructureDescriptions .structure_scrollbar_track {
    right: 15px;
}

.courseStructureMenu {
    float:right;
    width: 200px;
    min-height: 400px;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    padding: 0px 10px;
    margin: 0px 0px 0px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #AAA;
    position: relative;
}
#wizard .courseStructureMenu {
    min-height: 265px;
    padding-bottom: 35px;
}

.courseStructureMenu .listCm .courseMenu a {
    padding: 0 0 0 30px;
}

.courseStructureMenu .listCm .courseMenu .divider {
    padding: 6px 18px;
}

.courseStructureMenu .actionBarMicro {
    display: none;
}

.courseStructureMenu #courseMenuPalette div.navPaletteContent {
    padding-top: 0px;
}

.arrow_guide {
    width: 156px;
    height: 34px;
    position: absolute;
    left: 3%;
}
#wizard .arrow_guide {
    top: 81%;
}
.courseStructureDescription img {
    margin: 10px 0px 5px;
    text-align: center;
}


.courseStructureDescription p.existing_text,
.courseStructureDescription p.existing_icon {
    text-align: center;
    margin: 0;
    color: #666;
    font-size: 95%;
}

.courseStructureDescription a.button-3 {
    margin-right: 15px;
    color: #333333;
}

.courseStructureDescription a.unselectStructureButton.existingstructure {
    margin-right: 37%;
    margin-top: 5px;
}

.courseStructureNameScroller .current-value {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 85%;
    font-weight: normal;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    padding-left: 17px;
    padding-bottom: 6px;
    width: 130px;
    white-space: nowrap;
    border-bottom: 1px solid #555;
    box-shadow: 0px -1px 0px #333333 inset;
}

#wizard .courseStructureNameScroller .current-value {
    top: 0px;
}

/* End Course Structures selector styles */

.noSectionDivider {
    border-top: none !important;
}

.dividerRow {
    border-top:1px dotted #ACC2DF;
    margin: 5px 0px 0px 0px !important;
    padding: 5px 0 0 0 !important;
}

/*@since 9.1 sp8*/
/*Accessible reordering element modifications*/
/*.keyboardAccess select {
	float:left
}*/


.keyboardAccess .selectArrows a,
.keyboardAccess .y-arrows a,
.keyboardAccess .y-arrows button,
.keyboardAccess .selectArrows button {
    display:inline-block;
    margin:0;
    width: 18px;
}
.keyboardAccess label {
    display:inline-block;
    color: #777;
    margin-bottom:3px;
}

.keyboardAccess .selectArrows, .keyboardAccess .y-arrows  {
    margin:3px 0;
    text-align:center;
}

.access-reorder-block {
    min-width: 200px;
    padding: 0 6px;
}

.access-reorder-block select {
    min-width: 200px;
}

.y-arrows {
    text-align:center;
    clear: both
}
/* /Accessible reordering element modifications*/


/*Placeholder institution logo treatment*/
.brandingImgWrap img[src*="header_institution"] {
    left: 12px;
    max-height: 60px;
    position: absolute;
    top: 0;
}
/* /Placeholder*/

.sample-content .item h3 span {
    color: #25bfcb!important;
}

.sample-content table, .sample-content .vtbegenerated {
}

.sample-content .vtbegenerated ul {
    margin:4px 0
}

.sample-content .vtbegenerated br {
    height:1px
}

.liItem.sample-content:hover, .buildList > li.sample-content:hover {
    background-color: #f6f6f6;
    border-color:#666;
}

div.loading-overwrite {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    opacity:100;
    background-color:white;
    z-index:10000;
    text-align: center;
}
div.loading-overwrite span {
    font-size: 200%;
    top: 10px;
    position: relative;
}

.sample-content  dl {
    margin: 0;
}

.sample-content dt {
    float: left;
    margin: 0;
    padding: 0;
    width: 9em;
    font-weight: bold;
}

.sample-content dd {
    margin: 0 0 0 10em;
    padding: 0;
}



/* CSS for Outcomes Module Box under my Institution. */

/* for displaying Due Date*/
.dueDate {
    color:#063;
}


/* for when items are overdue*/
.dueDatePassed {
    color:#900;

}

/* End CSS for Outcomes Module Box*/


/* End CSS for Outcomes */

/* Inactive declaration for the rest of the pages*/
.inventory_paging a.inactive, .inactive {
    opacity:0.4;
}

.linkLeftSpacesp
{
    padding:0 0 0 5px;
}


/* LRN-31895 Java files being modified when attached to assignment */
.codeFragment
{
    font-family:"Courier New";
}

.filteredTextHeader
{
    display: inline-block;
    text-align:center;
    background-color: LightYellow;
    border-style: dotted;
    border-width: 1px;
    line-height:150%;
    padding:5px;
}

.filteredText
{
    color: red;
    background-color: LightYellow;
}
/* end of LRN-31895 */

.floatedReceipt {
    margin: 0 0 6px 0 !important;
    background-color: #FCFBD1 !important;
    border: 1px solid #DDD !important;
    font-weight: normal !important;
    padding: 10px 22px 10px 10px !important;
    width: 300px;
    line-height: 1.3em;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #666666;
    color: #333 !important;
}

.floatedReceipt a.close:before {
    color: rgba(0, 0, 0, 0.7);
}
.floatedReceipt a.close:hover:before {
    color: rgba(0, 0, 0, 0.9);
}

.floatedReceipt em {
    font-weight: bold;
}

.floatedReceipt a {
    color: #333 !important;
    background: url(none) !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
    border: 0px;
}

.floatedReceipt a:hover {
    text-decoration: none !important;
}

.floatedReceipt#receipt_floated_theme {
    position: absolute;
    top: 50px;
    right: 45px;
    z-index: 1001;
}

.floatedReceipt#receipt_floated_courseMenu {
    position: absolute;
    /* top: 50px; TODO: If there is an image then it pushes the menu down and top: 50px is not enough... */
    left: 180px;
    z-index: 1201;
}

.floatedReceipt .arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 15px;
    /* Use font-size to control the size of the arrow. */
    font-size: 0px;
    height: 0;
    position: absolute;
}

.floatedReceipt.pointTop .arrow {
    left: 58%;
    top: -30px;

    border-bottom-color: #FCFBD1;
    border-bottom-style: solid;
}

.floatedReceipt.pointLeft .arrow {
    left: -30px;
    top: 10px;

    border-right-color: #FCFBD1;
    border-right-style: solid;
}


/* more tools menu */
.nav .sub .flyout .slideoutLink {
    font-weight: bold;
}

.nav .sub .slideoutLink img {
    width: 16px;
    height: 16px;
    float: right;
}

.nav .sub .slideoutLink-active {
    margin-right: -1px;
    box-shadow:-3px 0 3px rgba(0,0,0,.3);
    border: 1px solid #ccc;
    border-width:1px 0 1px 1px;
    border-radius:0;
}

.slideoutOpen {
    margin-left: -1px!important;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 95%, rgba(0,0,0,0.08) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(95%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.08))); /* Chrome,Safari4+ */
    border-right: 1px solid #ccc;
}
/* end more tools menu */

.statusFilter {
    padding-left: 8px;
    position: relative;
    font-size: 13px;
}

label.statusFilter {
    top: 0px;
}

span.statusFilter {
    top: 1px;
}

/* theme.css hides the first td by default so make sure it is shown for a reportcard */
.collapsible table.reportcard tr td:first-child {
    display:block !important;
}
/* Discover UI: do not let really long criteria values without spaces overflow the inventory list */
div#filterItemContainer div.columnPalette div.paletteItems ul li {
    overflow:auto;
}

/*@ end SP8 CSS*/

/* @since 9.1SP3 overlay for published items */
.itemIconOverlay {
    top:38px;
    position:absolute;
    background-color:#FFCC00;
    padding:0px 2px 4px;
    border:1px solid #555;
    -moz-box-shadow:-1px -1px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:-1px -1px 3px rgba(0, 0, 0, 0.4);
    /* (only BbLearn theme uses rounded corners) */
    -moz-border-radius:2px 10px 10px 10px;
    -webkit-border-radius:10px;
    -webkit-border-top-left-radius:2px;
}

.contentList .itemIconOverlay {left:54px;}

/* Discover UI: do not let really long criteria values without spaces overflow the inventory list */
.paletteItems label {
    word-wrap:break-word;
    max-width: 90%;
}

/* Fix radio and check visual alignment so they are to the left of the label. */
.paletteItems li input[type=checkbox], .paletteItems li input[type=radio] {position:absolute; left:0; top:0;}
/* targetting the Analyze screen (discover UI) to properly display inactive evaluators*/

.paletteItems .inactive {
    opacity:0.4;
    margin:0px; /* Zeroing out the margin due to conflict in the Discover UI in the NEW THEME.*/
}

/* @Since 9.1sp3 */
div.comments div div.collabComments {
    overflow:auto !important;
    max-height: 100px;
    background-color: white;
}
div.studentGradesCommentPreview {overflow:auto !important; width:200px; height:110px; }
div.grdDetEditTabCommentPreview {overflow:auto !important; height:110px; }
div.grdDetHistTabCommentPreview {overflow:auto !important; width:200px; height:110px; }


.tooltip_show:focus { /* for displaying a jump link to the vtbe. styles override .hideoff */
    width: auto;
    height: auto;
    overflow: visible;
    position: static;
}

.radio-list {
    padding-left: 20px;
}

.radio-list li {
    text-indent: -26px;
    padding: 0 0 4px !important;
}

.radio-list li input[type=radio] {
    vertical-align: bottom;
    margin-right: 6px;
}

.radio-list li .button-4 {
    margin-left: 4px;
}

/*@ Remove Copyright Info from Insert-Content Window*/
.csPicker.cartMode #copyright {display:none}
/**/

.details .key-valueTable + .vtbegenerated {
    margin-top: 12px!important;
}

.abutton {
    color: #128FA8;
}

/*@ end SP8 CSS*/
