/*    iPads (portrait and landscape) ----------- */

@media only screen 
and (min-width:737px) 
and (max-width:1024px) { 
    
    html {
        min-height: 1024px;
    }

    body {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        font-size: 14px;
        padding-top: 1px;
    }

    /*Top Frame*/

    iframe#navFrame { 
        height: 40px; 
    }

    body.topFrame {
        overflow: hidden;
        height: 40px;
    }

    .brandingImgWrap img {
        display: none;
    }

    .topTabs { 
        background-color: #333 
    }

    .container {
        padding: 12px;
        margin: 20px 0px;
        border-left: 0;
        border-right: 0;
    }

    .contextMenuContainer {
        margin-left: 10px
    }

    .selected-tab-header {
        display: block;
        height: 40px;
        width: 240px;
        font-size: 100%;
        padding-top: 11px;
        font-weight: bold;
        color: #FFF;
        box-sizing: border-box;
    }

    .tabs-pulldown {
        display: block;
        position: absolute;
        opacity: 0;
        left: 40px;
        top: 0;
        height: 40px;
        width: 260px;
    }

    .topTabs div[class^="tabWrapper"]  .appTabs,
    .topTabs-compact div[class^="tabWrapper"]  .appTabs { 
        float: left 
    }

    .tabWrapper-left,
    .tabWrapper-center,
    .tabWrapper-right {
        height: 40px;
        overflow: hidden;
        padding-left: 24px;
    }

    .appTabs { 
        display: block 
    }

    #topTab,
    .appTabs a {
        padding-left: 0;
        padding-top: 8px;
        text-align: left;
        font-weight: bold;
        height: 40px;
        color: #fff;
    }

    #topTabActive,
    .appTabs .active a,
    .appTabs .active a:hover,
    .appTabs .active a:focus {
        color: #fff;
        text-shadow: none;
    }

    .appTabs a span { 
        border: 0 
    }

    .appTabs .active .hideoff,
    .appTabs .active a:hover .hideoff,
    .appTabs .active a:focus .hideoff,
    .toppTabs-compact .appTabs .active .hideoff,
    .toppTabs-compact .appTabs .active a:hover .hideoff,
    .toppTabs-compact .appTabs .active a:focus .hideoff {
        right: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 0;
        border-top: 6px solid #FFF;
        left: auto;
        bottom: auto;
        top: 50%;
        margin-top: -3px;
        display: none;
    }

    /*Global nav*/

    .flyout-menu {
        width: 320px;
        top: 40px;
    }

    .flyout-menu .accordion-wrapper { 
        width: 272px 
    }

    .flyout-menu .accordion_toggle span {
        line-height: 34px;
        padding: 0 16px;
    }

    .flyout-menu .labelMenuItem { 
        padding: 18px 6px 0 18px 
    }

    .accordion_content li { 
        margin: 0 18px 
    }

    .nav-link {
        box-sizing: border-box;
        padding-top: 7px;
        height: 40px;
        background-color: transparent;
        padding-right: 22px;
    }
    
    .nav-link .badge {
        position: relative;
        top: auto;
        right: auto;
       }
       
    .global-nav-bar .badge, .side-nav .menu-icon span.badge {
        font-size: 11px;
        height: 12px;
        line-height: 12px;
        margin-left: 0px;
        padding: 4px 3px;
        min-width: 12px;
        height: auto;
    }

    #global-nav .global-top-avatar { 
        top: 11px 
    }

    .global-toggle { 
        top: 18px 
    }

    .global-nav-bar.logout {
        margin-top: 6px;
        height: 24px;
        overflow: hidden;
    }

    /* breadcrumbs menu for phones */

    .breadcrumbs {
        padding: 5px 0px 15px 0px;
        position: fixed;
        top: 44px;
        width: 100%;
        z-index: 900;
    }

    .breadcrumbs .path,
    .breadcrumbs ol {
        width: 100%;
    }

    .breadcrumbs ol li {
        height: 0px;
        width: 0px;
        overflow:hidden;
    }

    .breadcrumbs ol li {
        height: 0px;
        width: 0px;
        overflow:hidden;
    }

    .breadcrumbs ol li.placeholder {
        height: 10px;
        width: 100%;
        overflow: visible;
        margin: auto;
        text-align: center;
        position: absolute;
        top: 5px;
        left: 0px;
        padding-left: 0px;
    }

    .breadcrumbs ol.breadcrumb-mobile-menu-open {
        height: auto;
        width: 100%;
        overflow-y: scroll;
        top: 0px;
        margin: auto;
        z-index: 900;
        background: #fff;
        box-shadow: 0 3px 3px rgba(60, 59, 59, 0.16);
    }


    .breadcrumbs ol.breadcrumb-mobile-menu-open li,
    .breadcrumbs ol.breadcrumb-mobile-menu-open li.placeholder {
        height: 30px;
        width: 100%;
        padding: 5px 0px;
        text-align: center;
        border-bottom: 1px solid #cdcdcd;
        position: relative;
    }

    .breadcrumb-controls {
        position: absolute;
        right: 0px;
        top: 44px;
        width: 240px;
        background-color: #fff;
        padding: 0px;
        height: 300px;
        background: #333;
        right: -300px;
        -webkit-transition: right 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        -moz-transition: right 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transition: right 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    }

    .breadcrumb-controls.instructor-controls-open {
        right: 0px;
        overflow: hidden;
    }

    .student-preview-control,
    .modeSwitchWrap,
    .theme-switch-wrapper {
        width: 100%;
        float: left;
        padding: 10px;
        border-top: 1px solid #999;
        padding-left: 28px;
        position: relative;
        right: 18px;
        height: 30px;
    }

    .student-preview-control {
        height: 35px;
    }
    .theme-switch-wrapper {
        height: 25px;
        padding-top: 15px;
    }

    .student-preview-mode div.lb-wrapper div.lb-content {
        overflow-y: scroll;
    }
    

    .modeSwitchWrap {
        text-align: right;
        right: 47px;
    }

    .theme-switch .nav .sub ul {
        position: fixed;
        top: 126px !important;
        width: 80%;
        left: 10% !important;
    }

    .student-preview-control a span {
        position: absolute;
        top: 3px;
    }

    .student-preview-control a:after {
        content: attr(title);
        color: #cdcdcd;
        position: absolute;
        right: 45px;
        top: 10px;
    }

    .helpLink {
        float: left;
        height: 40px;
        border-top: 1px solid #999;
        width: 100%;
        padding: 7px 10px 0px 0px;
    }

    .theme-switch a:after {
        content: attr(title);
        color: #cdcdcd;
        position: absolute;
        left: 60px;
        top: 6px;
        width: 200px;
    }

    #content_listContainer {
        padding: 20px;
    }

    .contentList .details {
        padding-top: 10px;
        padding-left: 0px;
    }

    .breadcrumb-mobile-menu-open .courseArrow {
        position: absolute;
        right: -8px;
    }

    .mobile-course-instructor-settings-button {
        visibility: visible;
        position: fixed;
        right: 4px;
        top: 52px;
        z-index: 9999;
        width: 30px;
        height: 30px;
    }

    .mobile-course-instructor-settings-button:before {
        content: "S";
        font: 16px/1 'Utilicons';
        color: #bcbcbc;
        font-size: 28px;
    }


    .course-availability-button:hover:after, 
    .breadcrumb-controls a:hover:after {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0px;
    }
    
    /*Contextual Menu*/
    .nav .sub ul li a, 
    .cmdiv a, 
    .menumini a, 
    #loginLang ul li a,
    .cmdiv a  {
        font-size: 100%;
    }
    
    .cmdiv ul {
        width: 210px;
        box-sizing: border-box;
    }

    /*Login page*/
    

    div.loginBody {
        background-position: center 94px;
        background-size: 57%;
        width: 600px;
        margin: 0 auto;
        padding-top: 224px;
    }
    
    #loginBox li + li + li {
        text-align: left;
        float: left;
    }

    #loginBox li + li + li + li {
        text-align: right;
        float: right;
    }

    #loginBox li input[type="submit"] {
        margin: 0;
        height: 2.5em;
        min-width: 8em;
    }
    
    #loginBox ul {
        width: 435px;
    }

    #loginAnnouncements ul { 
        width: 600px;
    }

    body.login-page {
        min-height: 0;
    }

    .contentPane {
        margin-left: 0px;
        z-index: 1;
    }

    .contentPaneWide,
    .portalPane { margin: 0 6px }

    .containerPortal,
    .portal .container { 
        padding: 0 6px;
    }

    .portlet { 
        margin: 0 3px 6px;
        border-radius: 1px; 
    }

    .containerPortal > div:first-child .portlet { 
        margin: 0 3px 6px 0;
    }

    .containerPortal > div:last-child .portlet {
        margin: 0 0 6px 3px;
    }

    .containerPortal > div:nth-last-child(-n+2) .reorderableModule { 
        margin: 0 0 6px 3px 
    }

    .reorder {
        display: none;
    }

    .keyboardAccess {
        width: 460px;
    }
    
    .keyboardAccess .access-reorder-block {
        max-width: 200px;
        display: inline;
        clear: none;
    }
    
    .keyboardAccess .x-arrows {
        max-width: 30px;
        display: inline;
        clear: none;
    }

    div.itemHeaderControl {
        right: 20px;
    }

    .itemHeaderControl a {
        padding: 13px;
    }

    .portlet h2 .moduleTitle {
        margin-left: 5px;
    }

    .edit_controls a {
        opacity: 1
    }

    .edit_controls .moduleToggleLink {
        height: 14px;
        left: 0;
        opacity: 0.5;
        width: 80%;
        height: 28px;
        bottom: 0;
        background-position: 2px 5px;
    }

    .helpLink {
        margin-top: -4px;
    }

    .path,
    .simplePath {
        width: 100%;
        border: 0;
    }
    
    .helpLink a.browseIcon {
        font-size: 105%;
    }

    .browse {
        margin-bottom: 10px;
    }

    #pageHeader,
    .pageTitle h1,
    .pageTitleError h1 {
        font-size: 24px;
        margin-left: 0px;
    }

    .pageTitle a.cmimg {
        margin-top: 4px;
        margin-left: 10px;
    }

    .locationPane {
        margin-top: 0
    }

    .container {
        padding: 12px 5px
    }

    .contentList,
    .buildList,
    .contentListPlain,
    .announcementList {
        margin: -12px -18px
    }

    .contentList > li,
    .buildList > li,
    .contentListPlain > li,
    .announcementList > li,
    .contentPageItem {
        padding: 12px 18px;
        margin: 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    .liItem:hover,
    .buildList > li:hover {
        background-color: #f0f0f0;
        box-shadow: none;
        border: 1px solid #ccc;
        -webkit-transition: none;
        border-width: 1px 0 0 0;
    }

    .liItem a[onclick*="toggleDetails"] {
        position: relative;
        right: -12px;
        top: -6px;
        visibility: visible;
    }

    .leftColumn-narrow {
        width: 100%;
        background: #eee;
        border-radius: 6px;
    }

    .leftColumn-wide {
        width: 100%;
    }

    .cmLink-empty {
        position: relative;
        top: 9px;
    }

    .paneTabs { 
        margin: 0 0 6px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
    }
    
    .paneTabs a {
        padding: 12px 18px;
    }

    .breadcollapsed { 
        margin-left: 0 
    }

    .breadcollapsed .path,
    .breadcollapsed .simplePath { 
        width: 540px 
    }

    ul.nav {
        width: 100%;
    }

    .containerPortal, 
    .portal .container {
        padding: 0 6px;
    }

    .actionBar ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .container #column0, 
    .container #column1, 
    .container #column2, 
    .container .column-1, 
    .container .column-2, 
    .container .column-3, 
    .container .column-4, 
    .container .column-5 {
        width: 100%;
        min-height: 70px;
        margin: 10px 0 0 0;
    }

    div[id*="step"],
    .submittitle,
    #infoStep,
    #taskStatusStep,
    #linkedContentStep { 
        padding: 18px 18px 18px 12px 
    }

    .selectItems select {
        height: 60px;
        width: 246px;
        max-width: 246px;
    }

    .cumulativeSelectItems .previewdiv,
    .cumulativeSelectItems .previewdiv > div {
        max-width: 246px;
    }

    .selectItems { 
        width: 536px 
    }
    
    /*Error message*/
    
    .contentPane .receipt, 
    .contentPaneWide .receipt {
        margin: 0;
        -webkit-box-shadow: 0 -6px 9px rgba(0, 0, 0, 0.1) inset;
        border-radius: 0;
    }

    /*Discussions*/

    .db-message .profileCardAvatarThumb img { 
        left: -80px 
    }

    .db-message-wrapper .dbThreadFooter .threadButtons,
    .db-message-wrapper .dbThreadHeader .threadButtons,
    .db-message-wrapper .dbThreadFooter .navButtons,
    .db-message-wrapper .dbThreadHeader .navButtons {
        opacity: 1;
        -webkit-transition: none;
        transition: none;
    }

    .colophon { 
        width: 290px 
    }

    .hotSpots,
    .hotItems { 
        display: none 
    }

    /*Global Nav Bar*/

    .global-nav-bar { 
        font-size: 13px 
    }
    
    /*iframe management*/

    .scroller-bottom { 
        margin-top: 40px;
    }
    
    
    

    /*Content Area*/

    #contentArea,
    #schemePreviewBody,
    .contentBox {
        border-radius: 0;
        border: 0px;
    }
    
    .CookieConsent .contentPaneWide {
		min-width: 0;
	}

    #pageHeader,
    #schemePreviewHead,
    .pageTitle {
        padding: 16px 18px 18px;
        min-height: 60px;
        box-sizing: border-box;
        border-radius: 0;
        box-shadow: none;
        background: #f0f0f0;
    }

    .actionBar li.mainButton:first-child h2 > a,
    .actionBar li.mainButton:first-child > a { padding-left: 18px }

    .mainButton > a,
    .secondaryButton > a,
    .mainButton h2 > a,
    .secondaryButton h2 > a { 
        padding: 10px 14px 11px 
    }

   /*Data collection*/
   
   .reqfield {
       line-height: 1;
       padding-left: 20px;
    }

    .steptitle, 
    .submittitle {
        margin: 0;
    }

    select#bound {
        float: left;
        clear: both;
        width: 78%;
    }

    input#boundvalue {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    label[for="boundminvalue"] {
        clear: both;
    }

    label[for="boundmaxvalue"] {
        float: left;
    }

    input[type="text"], 
    input[type="password"],
    input[type="checkbox"] {
        border-radius: 1px;
        border: 1px solid #999;
        font-size: 100%;
    }

    input[type="checkbox"][value="1"],
    input[type="text"]:focus, 
    input[type="password"]:focus {
        border-color: #555;
        border-radius: 1px;
    }

    input[type="text"], 
    input[type="password"], 
    select {
        font-size: 100%;
    }

/*---------------------------------------  FILE PICKER */


    .itemTray {
        width: auto;
    }

    .filePickerWidget .contentBox, 
    .filePickerWidget #content,
    .content, 
    .container, 
    .containerPortal  {
        min-height: 0;
    }

    .filePickerWidget .container {
        max-height: 508px;
        overflow: auto;
    }

    body.cartMode {
        max-height: 583px;
    }

    .filePickerWidget .locationPane {
        width: 100%;
    }

    .pathFolder {
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #contentSearch .contentInput input[type="text"], 
    .locationInput input[type="text"]  {
        width: 150px;
    }


    .rumble_top {
        display: block;
    }

    .rumble, .pagingprefs {
        overflow: hidden;
     }

    .rumble ul {
        width: auto;
    }

    .nav .inventory_paging a {
        padding: 15px;
    }

    fieldset.secondaryActions {
        float: left;
    }

    .searchbar .u_floatThis-left {
        margin-left: 0px;
    }

    ul.selectList li {
        float: left;
        clear: both;
        margin-bottom: 10px;
    }

    .announcementList .details,
    #announcementList .details,
    .announcementList .item,
    .announcementList-read .item,
    #announcementList .item {
        padding-right: 5px;
        width: 100%;
    }

    .itemDetails, .announcementInfo {
        width: 100%;
        float: left;
        position: relative;
    }

    .announcementFilter {
        text-align: left;
        padding-left: 25px;
    }

    form[name="languagePackForm"] .pagingprefs a {
        display: none;
    }

    form[name="courseManagerForm"] table td {
        text-align: right;
        padding-right: 10px;
    }

    form[name="courseManagerForm"] table tr th:nth-of-type(1) {
        display: none;
    }

    .block table {
        overflow-x: scroll;
        display: block;
    }

    p.location {
        overflow-x: scroll;
    }

    .locationPane { 
        width: 100% ;
        margin-top: 33px;
    }

    .navigationPane {
        height: 1024px!important;
        width: 240px;
        top:12px;
        z-index: 900;
        -webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        -moz-transition: all 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transition: all 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    }

    #puller,
    #puller.pullcollapsed {
        z-index: 900;
        position: fixed;
        top: 54px;
        left: 6px;
        background-color: #999;
        height: 25px;
        width: 25px;
        border-radius: 20px;
        -webkit-transition: none;
    }

    #puller.pullcollapsed {
        border: 1px solid #757575;
        background-color: #fff;
    }

    #puller a,
    #puller a:hover, 
    #puller a:focus,
    #puller.pullcollapsed a,
    #puller.pullcollapsed a:hover, 
    #puller.pullcollapsed a:focus {
        margin: 0px;
        background: transparent;
        border: 0px;
        box-shadow: none;
        opacity: 1;
        width: 25px;
    }

    #puller img,
    #puller.pullcollapsed img {
        display: none;
    }

    #puller a:after,
    #puller.pullcollapsed a:after {
        font-size: 30px;
        position: absolute;
        opacity: 1;
        border: 0px;
        background-color: transparent;
        top: -10px;
        opacity: 1 !important;
         -webkit-transition: none;
    }

    #puller a:after {
        left: 4px !important;
        content: "\00D7";
        font-size: 23px;
        padding-top: 10px;
    }

     #puller.pullcollapsed a:after {
        left: 7px !important;
        color: #757575;
        padding-top: 4px;
     }

    .contentPane .submitStepBottom.submitStepFixed {
        max-width: 69%;
    }

    .contentPane.contcollapsed .submitStepBottom.submitStepFixed {
        max-width: 100%;
    }

    .navcollapsed { 
        margin-left: -240px;
    }

    .login-page #copyright {
        margin: 30px auto 0;
    }

    .scroller-top,
    .scroller-bottom { 
        width: 768px;
    }
    
   .scroller-top {
       height: 40px;
   }

    .selectItems {
        width: 100%;
    }

    #addCmItem ul {
        width: 180px;
    }

    #addCmItem ul li {
        width: 160px;
    }

    .actionBarMicro,
    .actionBar {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #555;
    }

    .ineditmode div.listCm ul.courseMenu li {
        border: 0;
        border-left: 0;
        height: 50px;
    }

    .ineditmode div.listCm ul.courseMenu li:hover {
        -webkit-transition: none;
        background-color: rgba(0,0,0,0.1) !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
        border-left: 0;
    }

    .listCm .courseMenu li a.cmimg { 
        opacity: 1; 
    }

     .actionBarMicro .nav {
       width: 50%;
    }

    .u_floatThis-left {
        clear: both;
        width: 100%;
    }

    .actionBar,
    .actionBarMicro,
    .singleControl,
    .navPalette .discover { 
        border-radius: 0;
    }

    .navPaletteContent h3 a {
        background: transparent url(images/portlet_contract_alt.gif) no-repeat 8px 13px;
    }

    .menuWrap {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5);
        border-radius: 0;
        border: 1px solid rgba(0,0,0,.1);
        border-width: 1px 1px 1px 0;
    }

    .menuWrap-inner { 
        overflow: auto;
    }

    #courseMenuPalette a, #controlPanelPalette_contents a, #courseMenuPalette span, #controlPanelPalette_contents span {
        color: #FFF;
        font-size: 15px;
        top: 15px;
        margin-bottom: 20px;
    }

    .columnPalette {
        float: left;
        width: 100%
    }

    .columnPalette form {
        float: left;
        width: 100%
    }

    .columnPalette form .genericButton{
        margin-top: 10px;
    }

    .columnPalette form .paletteItems {
        width: 100%;
        position: relative;
    }

    .helphelp,
    .pageTitle p { 
        font-size: 100%;
    }
    div.field,
    div.noLabelField {
        width: 100%;
    }

    .user-navigator {
        width: 100%;
        margin-left: 0px;
    }

    .filePickerWidget .container {
        margin: 0px;
    }

    .localViewToggle ul li {
        width: 100%;
        float: left;
    }

    .localViewToggle ul li a {
        width: 100%;
    }

    div.resourcePickerContainer div.localViewToggle {
        float:left;
        width: 90%;
    }

    table[title='Models'] .smallCell .mobile-tablet-label {
        display: none;
    }

    .pagingprefs a {
        width: 100%;
        margin-top: 10px;
    }

    #cartSubmit {
        max-height: 200px;
    }

    #levelUp {
        width: 100%;
    }

    .link.folder-nav-up, .link.folder-nav-up button{
        width: 100%;
    }

    #resourcePickerForm #containerdiv {
        padding: 0px !important; /*overiding inline style*/
    }

    
    div#quickPath {
        display: none;
    }

    div#contentSearch {
        float: left;
    }

    div#contentSearch div {
        float: left;
    }

    div#contentSearch a {
        float: left;
        margin-top:10px;
    }

    .linkables .link {
        width: 100%;
        float: left;
        clear: both;
    }

    .linkables #contentSearch .contentInput,
    .linkables #contentSearch .contentInput input {
        width: 100%;
    }

    #contentSearch {
        width: 100%;
    }

    .linkables .contentInput input,
    .linkables #contentSearch  a {
        width: 100%;
    }

    #contentSearch {
        width: 100%;
    }

    .linkables .contentInput input,
    .linkables #contentSearch  a {
        width: 100%;
    }
    #tabs[role='menubar'] {
        height: 100%;
    }

    #tabs[role='menubar'] li{
        width: 100%;
    }

    div.noLabelField {
        overflow: scroll;
    }
    
    table[title="Models"] .mobile-table-label {
        display: none;
    }

    .paging {
        float: none;
    }

     /*css for goals and assesments - outcomes styles css does not attach to both versions of the goals page so this lives here*/

     #contentPanel .contentBox#content {
         margin-left: 0px;
     }
     
     .tools-list {
         position: fixed;
         z-index: 1000;
         top: 0px;
         background: #fff;
         padding: 10px;
         background: #777;
         transition: all 300ms;
         border-radius: 6px;
         left: -130px;
     }
     
     .tools-list.tools-list-open {
         left: 0px;
     }
     
     .tools-list.tools-list-closed {
         left: -110px;
     }
     
     .tools-list:after {
         content: "\2039";
         position: absolute;
         right: -25px;
         top: 122px;
         font-size: 180%;
         color: #fff;
         padding: 4px 6px 8px 2px;
         background-color: #777;
         border-radius: 0 12px 12px 0;
         line-height: 1;
         border: 1px solid #666;
         border-width: 1px 1px 1px 0;
         -moz-transition: opacity 0.5s ease-in-out;
         -webkit-transition: opacity 0.5s ease-in-out;
         transition: opacity 0.5s ease-in-out;
         -moz-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
         -webkit-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
         transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
         z-index: 9000;
         width: 10px;
         height: 30px;
         padding-left: 8px;
         padding-top: 8px;
     }
     
     div.localViewToggle {
         width: 100%;
         position: relative;
         top: 0px;
     }
     
     .tools-list ul:before {
         border: 0px;
     }
     
     #standards-column.colspan2 {
         border: 0px;
     }

    .inventoryListCardView div.block {
        height: 160px;
    }


    /* blogs and journals mobile */

    .collabContainer .previewerInner {
        padding: 0px;
    }
    
    div.blogContainer div.blogEntry div.entryText {
        overflow: hidden;
    }

    div.blogContainer div.blogEntry h4 {
        margin-bottom: 15px;
    }

    div.blogContainer div.blogEntry h4 a {
        position: relative;
        top: -4px;
    }

    div.blogContainer div.blogEntry h4 a.cmimg {
        position: relative;
        top: 1px;
    }

    div.blogContainer div.entryDate {
        padding-left: 10px;
    }

    div.blogContainer .comment-delete {
        position: relative;
        top: 3px;
    }

    #userLst {
        text-align: left;
    }

    .showAllMembers input[type="checkbox"]+label {
        display: inline;
        float: none;
    }

    #activityCounterAndTypeHiddenElement_counterEnableActivityCounterData + div {
        width: 100%;
        float: left;
        overflow: hidden;
        height: 60px;
        display: flex;
    }

    #activityCounterAndTypeHiddenElement_counterEnableActivityCounterData + div img {
        height: 20px;
        position: relative;
        top: 15px;
        left: -13px
    }

    /* tablet bb-dialog width */
    .bb-dialog.ui-dialog {
        width: 90% !important; /* needed to override inline styles given by juquery-ui */
        left: 5% !important; /* needed to override inline styles given by juquery-ui */
    }

    /*Override fixes for vtbe popups to avoid mobile styling on desktop */

    body[id^="adv"] {
        min-width: 737px;
    }

    body[id^="adv"] .lb-wrapper {
        min-width: 737px;
    }


    /*Ultra Specific styles for tablets */

    .isUltra .mobile-course-instructor-settings-button {
        display: none;
    }

    .isUltra .shadow {
        height: 100%;
        padding-bottom: 100px;
    }

    .isUltra .shadow {
        height: 100%;
        padding-bottom: 100px;
    }

    .isUltra .breadcrumbs {
        top: 0px;
    }

    .isUltra #puller,
    .isUltra #puller.pullcollapsed {
        top: 8px;
    }


    .sideTOC_panel {
        padding-left:0; 
    }

    #tocSideButtons {
        display: none;
    }

    #learningUnitToc {
        overflow: scroll;
    }

    .tocWrapper  {
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        width: 100%;
        padding: 10px 0px;
        transition: all 0.5s;
        z-index: 100000;
        background: #333;
        box-shadow: 0 8px 8px 6px #333;
        border: none;
        border-top: 1px solid #fff;
    }

    ul#tocTree li {
        padding: 3px;
        margin: 10px 5px;
        border-bottom: 1px solid #999;
    }

    #learningUnitToc li a {
        color: #fff;
        font-size: 16px;
        font-weight: lighter;
    }

    #learningUnitToc li .treeNodeIcon {
        position: relative;
        top: -2px;
    }

    div.treeContainer ul.tree li a.itemActive, 
    #learningUnitToc ul.tree li a.itemActive, 
    ul.tree li a.itemActive {
        background-color: transparent;
        border: none;
    }

    .mobile-toc-open {
        visibility: visible;
        position: absolute;
        width: 25px;
        height: 25px;
        right: 20px;
        border: 1px solid #fff;
        top: 20px;
        border-radius: 15px;
    }

    .mobile-toc-open:after {
        content: "\203A";
        right: .05em;
        top: -24px;
        width: 30px;
        position: absolute;
        color: #fff;
        transition: all 500ms cubic-bezier(0.420,0.000,1.000,1.000);
        font-size: 30px;
        transform: rotate(-90deg);
    }

    .tocMobileOpen .mobile-toc-open:after {
        transform: rotate;
        transform: rotate(90deg);
        top: -2px;
        right: -7px;
    }

    .tocHead {
        color: #fff;
        border-bottom: 1px solid #e4e4e4;
    }

    div#tocNavControls {
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 16px;
    }
    
    div#tocNavControls .u_reverseAlign {
        width: 300px;
        margin: auto;
        text-align: center;
        padding: 0px;
    }
    
    .tocActions a {
        background-color: #fff;
        border: 1px solid #666;
        box-shadow: none;
        border-radius: 23px;
        width: 17px;
        height: 14px;
    }

    .tocActions a img {
        height: 15px;
        margin-top: 1px;
    }

    .tocActions a.button-3-img img{
        position: relative;
        right: .05em;
        top: -2px;
    }

    .actionBarMicro {
        max-height: 30px;
    }

    #courseMenuPalette .actionBarMicro a {
        max-height: 18px;
    }

    .contentList > li, 
    .buildList > li, 
    .contentListPlain > li, 
    .announcementList > li, 
    .contentPageItem {
        padding: 20px 25px;
    }

    .sideTOC_panel .contentList > li {
        padding: 20px 0px;
    }

    .tocBottom_open .container,
    .tocBottom_max .container,
    .tocBottom_min .container,
    .sideTOC_panel .container,
    .sideTOC_panelMax .container,
    .sideTOC_panelMin .container {
        padding: 18px 20px;
    }

    img.item_icon {
        left: 20px;
    }

    .sideTOC_panel .container .item_icon {
        left: -3px;
        top: 6px
    }

    #learningUnitToc div.treeContainer ul.tree li, 
    #learningUnitToc ul.tree li {
        background-image: none;
    }

    #learningUnitToc li img:first-of-type {
        display: none;
    }

    .learning-module-content .submitStepBottom.submitStepFixed {
        position: relative;
    }

    .learning-module-content div#dataCollectionContainer .taskbuttondiv:first-child,
    div#dataCollectionContainer .reqfield+.taskbuttondiv,
    div#containerdiv .mapCanvasForm .taskbuttondiv:first-child {
        padding: 18px 24px 58px 58px;
    }

    .bodyNoScroll {
        overflow: hidden;
    }


}

/* iPads (portrait) ----------- */

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 
    
}

/* iPads (landscape) ----------- */

@media only screen 
and (min-width :768px) 
and (max-width :1024px) 
and (orientation : landscape) {
 
    .scroller-top,
    .scroller-bottom { 
        width: 1024px;
    }
}



/* Retina iPads (portrait) ----------- */

@media only screen 
and (min-width:768px) 
and (max-width:1024px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2) { 
   
}

/* Retina iPads (landscape) ----------- */

@media only screen 
and (min-width:768px) 
and (max-width:1024px) 
and (orientation:landscape) 
and (-webkit-min-device-pixel-ratio: 2) 
and (min-device-pixel-ratio: 2) {

    .login-page #copyright {
        width: 1024px;
        margin-left: -512px;
    }

    .scroller-top,
    .scroller-bottom { 
        width: 1024px;
    }
}

/*table and form responsive styles*/
/*desktop displays these elements in frmaes smaller than 1024 so they are active.  They are only really needed at portrait on small tablets (< 768) so they are in their own media query*/

@media only screen and (max-width: 668px) {


    form[name='searchForm'] li {
        float: left;
        width: 100%;
    }
    form[name='searchForm'] li input,
    form[name='searchForm'] li select,
    form[name='searchForm'] li label,
    form[name='searchForm'] li a{
        float: left;
        width: 100%;
    }

    form[name='searchForm'] li input[type='radio'] {
        float: right;
        width: 30px;
        height:30px;
        clear: right;
        margin-top:10px;
    }

    form[name='searchForm'] li input[type='checkbox'] {
        float: right;
        width: 30px;
        height: 30px;
        clear: right;
        margin-top:10px;
    }

    form[name='searchForm'] li input[type='radio'] + label {
        width: 60%;
        float: left;
        clear: none;
    }

    form[name='searchForm'] li input[type='checkbox'] + label {
        width: 60%;
        float: left;
        clear: none;
    }

    form[name='searchForm'] li a {
        width: 109px;
        margin: auto;
        clear: both;
        display: inherit;
    }

        /*larger input size for tablet*/
    .stepcontent input[type="checkbox"] {
        height: 30px;
        width: 18px;
    }

    input[type="radio"] {
        width: 24px;
        height: 20px;
        margin-left: 13px;
    }

    .resourcePickerContainer .field input[type="checkbox"]+label {
        display: block;
        float: left;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .resourcePickerContainer .field input[type="checkbox"] {
        float: right;
        margin-top: 10px;
    }

    .resourcePickerContainer input[type="checkbox"]+label {
        display: block;
        float: left;
        margin-top: 8px;
        margin-bottom: 10px
    }

    .resourcePickerContainer ol li label {
        width: 80%;
        display: block;
        float: left;
    }



    input[type="checkbox"] + label {
        display: block;
        float: left;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .nestedList p input[type="radio"] {
        margin-top: 10px;
    }

    fieldset[role="radiogroup"] input {
        float: right;
        clear: both;
    }

    .helptext,
    .helpText{
        float: left;
        clear: both;
        width: 100%;
    }

    #workflowForm .label {
        width: 100%;
        max-width: 100%;
    }


    .submitStepTop {
        height: 20px;
    }

    .steptitle {
        margin-bottom: 7px;
    }

    .stepcontent {
        padding-top: 0px;
    }

    .stepcontent .datePickerButton, 
    .stepcontent .timePickerButton {
        float: right;
        clear: right;
        margin-right: 18px;
    }

    .stepcontent input[type="checkbox"],
    #start_limitAvailability, 
    #end_limitAvailability, 
    #isTracked, 
    #isAvailable {
        height: 30px;
        float: left !important;
        width: 18px;
        margin-right: 20px;
        float: right;
    }
    
    .stepcontent .fieldHelp {
        float: left;
        clear: both;
        width: 100%;
    }

    .stepcontent input[type="text"] {
        width: 75%;
        margin-bottom: 10px;
        clear: left;
        float: left;
    }

    .stepcontent ol li div.label, .stepcontent ol li label {
        width: 80%;
        display: block;
        float: left;
    }

    #nonAccessibleTableDiv {
        overflow-x: hidden;
    }

    .tab_content .radio-selection {
        width: 100%;
    }

    .collection_type_tab_content div,
    .tab_content .formElements .field {
        width: 98%;
        float: left;
        clear: both;
        padding-left: 5px;
    }

    .restriction-options {
        margin-left: 0px;
        padding-left: 0px;
    }
}
