/*COURSE CREATION WIZARD*/

.wizardBody .locationPane { margin: 0; display: block}

.wizardBody .breadcrumbs .courseName,
.wizardBody .breadcrumbs .courseId { display: none }

.wizardBody .breadcrumbs { height: 24px }

.wizardBody .path .root a:before {
    content: "H";
    color: #aaa;
    position: relative;
    top: -2px;
    font-family: 'Pictos';
    font-size: 20px;
    font-weight: normal;
}

.wizardBody .modeSwitchWrap {
    position: absolute;
    right: 12px;
    top: 15px;
}

.wizardBody { background: #fff }

.wizardBody .container { position: static }

/* wizard content pane */
.wizardBody #contentPanel {
    margin-bottom: 10px;
    padding: 12px 0 0 210px;
}

.wizardBody form#contentPanel { padding: 0 }

.wizardBody #pageTitleDiv img { display: none }

.wizardBody .reqfield {
    float: none;
    margin: 0 0 6px -6px;
}

.wizardBody #containerdiv { padding: 0 }

.wizardHead h2 {
    margin: 0;
    font-size: 110%;
}

.wizardHead .helphelp { padding: 0 }

.wizardBody .contentPaneWide > .contentBox > .pageTitle  h1 { font-size: 150% }

.wizardBody .containerWizard {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 0 12px;
    overflow: hidden;
}

.wizardBody .contentPaneWide > .contentBox > .pageTitle {
    border: 0;
    margin: -13px -12px 24px -224px;
    padding: 14px 24px 18px;
}

.wizardBody .contentPaneWide >  .contentBox {
    border: 0;
    box-shadow: none;
}

.wizardHead {
    margin-bottom: 24px;
    background: #EFEDE3;
    margin-bottom: 24px;
    padding: 12px 18px;
}

.wizardBody #dataCollectionContainer { margin: 0 }

.wizardHead + .container {
    padding: 0;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.wizardBody .containerWizard .container { height: auto }

.wizardBody .containerWizard .locationPane { margin-top: 12px; }

.wizardBody ul.contentList li div.details { overflow-x: visible }

.wizardFinishText { margin: 6px 0px 150px }

/* submit controls */
.wizardSubmit {
    border-top: 1px solid #CCCCCC;
    margin: 0 0 -79px -210px;
    padding: 18px 18px 6px;
    position: relative;
    top: 18px;
}

.wizardSubmit input[name="cancel"],
.wizardSubmit input[name="Previous"],
.wizardSubmit input[name="finish"]  {
    padding: 6px 16px 7px;
    text-decoration: none;
    vertical-align: middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #CFCFCF;
    background-image: -moz-linear-gradient(100% 100% 90deg, #cfcfcf, #efefef);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#efefef), to(#cfcfcf));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#cfcfcf";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#cfcfcf);
    border: 1px solid #BBBBBB;
    color: #444444;
    font-size: 105%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.wizardSubmit input[name="cancel"]:hover,
.wizardSubmit input[name="cancel"]:focus,
.wizardSubmit input[name="Previous"]:hover,
.wizardSubmit input[name="Previous"]:focus {
    background: #EFEFEF;
    color: #000000;
    background-image: -moz-linear-gradient(100% 100% 90deg, #cfcfcf, #cfcfcf);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#cfcfcf), to(#cfcfcf));
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #999999;
}

.wizardSubmit input[type=image] { padding: 2px 3px 3px }

.wizardSubmit span {
    color: #999;
    margin: 0 18px;
}

.wizardSubmit span strong { color: #000 }

/* progress tracker (wizard nav pane) */
.navigationPane.navigationPaneWizard {
    margin-top: 63px;
    width: 190px;
    padding: 0 0 0 12px;
}

.navigationPaneWizard .navPalette { border: 0 }

.wizardBody #courseMenuPalette {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), -1px 0 1px #F9F9F9 inset,  -6px 6px 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), -1px 0 1px #F9F9F9 inset,  -6px 6px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #999;
    border-width: 1px 1px 1px 0;
    margin: 0 0 12px;
    padding: 0;
    background: rgba(255, 255, 255, .5);
    background: #eee;
    background: -moz-linear-gradient(100% 200% 180deg, #eee, #dedede);
    background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#dedede), to(#eee));
    width: 200px;
}

.wizardBody #courseMenuPalette div.navPaletteContent {
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
}

.navigationPaneWizard h2 {
    color: #00ADD0;
    font-size: 90%;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 6px 12px;
    text-transform: uppercase;
}

.navigationPaneWizard .navPalette span {
    display: block;
    padding: 6px 9px;
    background-color: #ededed;
}

.navigationPaneWizard .navPalette li {
    margin: 0;
    overflow-x: hidden;
    padding: 6px 12px;
    color: #777;
    font-size: 95%;
}

.navigationPaneWizard .navPalette ul li:first-child {
    border-top: none;
    position: relative;
}

.navigationPaneWizard .navPalette ul li.currentStep {
    font-weight: bold;
    color: #000;
}

.navigationPaneWizard .navPalette ul li.currentStep:after {
    color: #999999;
    content: "→";
    font-size: 18px;
    line-height: 0.5;
    position: absolute;
    right: 0;
    top: 9px;
}

.containerWizard .controlPanel .navPaletteContent a {
    display: block;
    font-weight: normal;
    margin: 0;
    overflow-x: hidden;
    padding: 4px 9px 4px 23px;
    text-decoration: none;
}

.containerWizard .navPaletteContent h2 {
    margin: 0;
    font-size: 105%;
}

.containerWizard .navPaletteContent h2 a {
    border-top: 0 none;
    font-weight: bold;
    padding: 6px 9px 6px 23px;
}

.containerWizard .controlpanel li { border: none }


