button.accordion {
    background-color: #78babf/*#25999b*/;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
	font-weight: lighter;
    transition: 0.4s;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: -18px;
	font-family: 'Futura Bold Condensed BT';
}

button.accordion.active, button.accordion:hover {
    background-color: #4abbc1;
}

button.accordion:after {
    content: '\002B';
    color: #FFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    /*padding: 0 18px;*/
	padding-top: 25px;
	padding-left: 15px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
	border-radius: 0px;
	border: 0px solid #E8F2F4;
	box-shadow: none;
	margin-bottom: auto;
}