@charset "utf-8";

html {height: 100%;}

body {
	font-family: Arial, 'Arial Narrow' ;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #FFFFFF /*url(../img/BgSite.jpg)*/ fixed; /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< TROCAR AKI*/
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	color: #696D6F;
}

@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url( ../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-bold-condensed-bt.woff) format('woff'), url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'), url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}
@font-face { 
	font-family: 'Futura Extra Black Condensed BT';
	src: url( ../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'), url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}
@font-face {
	font-family: 'Futura Book BT';
	src: url( ../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-book-bt.woff) format('woff'), url(../fonts/futura-book-bt.ttf) format('truetype'), url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

a {word-wrap: break-word;}

a:focus {border: none;}

header{
	/*background-color: rgba(4,49,97,0.8);
	background-color: rgba(0,79,159,0.9);*/
	background-color: rgba(0, 0, 0, 0.6);
	/*max-height:200px;
	width: 75%;*/
	padding-top: 21px;
	border-bottom: 0px solid #FFF;
	position:absolute;
	top:45%;
	left:0;
	margin-top:-94px;
	line-height: 50px;
}

h1 {
	font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
	text-align: left;
	font-weight: 600;
	/*font-size: 42px!important;*/
	font-size: 3.1em!important;
	color:#FFF;	
	padding-left: 90px;
	padding-right: 50px;
	padding-bottom: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*text-transform: uppercase;*/
	/*margin: 0 10px;
	margin-top: 0px;*/
	/*padding-top: 40px;*/
	
}

h2 {
	font-family: 'Futura Bold Condensed BT', Arial, sans-serif, 'Futura Book BT'; 
	text-transform: uppercase; 
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 40px;
	font-size: 2em!important;
	/*color: #263358;*/
	color: #004ea3;
	vertical-align: middle!important;
	display: inline-block!important;
	word-break: normal;
	width: 100%;
	/*height: 100px;*/
}

h3 {
	font-family: 'Futura Book BT', Arial, sans-serif; 
	text-transform: uppercase; 
	font-weight: 500;
	/*padding-top: 22px;*/
	font-size: 1.5em!important;
	color: #004f9f;
	vertical-align: middle!important;
	margin-bottom: 45px;
	/*display: inline-block!important;*/
	/*word-break: break-all;*/
}

h4 {
	font-family: 'Futura Book BT'!important; 
	font-weight: 500!important;
	/*padding-top: 100px;*/
	font-size: 1.4em!important;
	color: #1e9fcc;
	vertical-align: middle!important;
	/*height: 155px;*/
	margin-top: 30px;
	margin-bottom: 30px;
}

h5 {
	font-family: 'Futura Bold Condensed BT', Arial!important; 
	/*font-style: italic;*/
	font-size: 1.3em!important;
	font-weight: lighter!important;
	color: #696D6F;
	vertical-align: middle!important;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*#h1Topo{
	font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
	text-align:center;
	font-weight: 400;	
	color:#20558B;
	padding-bottom: 60px;
}*/

iframe {padding: 1.5rem 0 3rem 0;}

#containerMiddle{
	max-height: 600px;
}

#rowContainerMiddle{	
	float: none;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	/*font-size: 1.2em;*/
	font-weight: lighter;
}

#parallaxBar{
	/*height:795px;*/
	/*background-color:#004c82;*/
	background: url(../imgcursos/intro.jpg) center center fixed;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100vh;
	z-index: 0;
}

section {
	margin: 0 auto;
	min-height:100%;
	background: #FFF;
	padding: 20px;
	border-radius: 0px;
	margin-bottom: 30px;
	font-size: 1.2em;
}

section p {
	/*font-size: 1.5em;*/
	font-weight: lighter;
	padding: 1.2rem;
	line-height: 2.8rem;
}

div.Objetivo{
	background: #FF0000!important;
	width: 100%!important;
	
}

/*--ÍCONES--*/
.ico-Apresentacao 	{background: url(../img/ico-Apresentacao.png) 	no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Objetivos 		{background: url(../img/ico-Objetivos.png) 		no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-TopicosEstudo 	{background: url(../img/ico-TopicosEstudo.png) 	no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Exercicios		{background: url(../img/ico-Exercicios.png) 	no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-SaibaMais 		{background: url(../img/ico-SaibaMais.png) 		no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Sintese 		{background: url(../img/ico-Sintese.png) 		no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-Referencia		{background: url(../img/ico-Referencia.png) 	no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}
.ico-PDF			{background: url(../img/ico-PDF.png) 			no-repeat; width: 32px; height: 32px; float: left; margin-right: 10px;}

.icoTit-Apresentacao 	{background: url(../img/icoTit-Apresentacao.png) 	no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-Objetivos 		{background: url(../img/icoTit-Objetivos.png) 		no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-TopicosEstudo 	{background: url(../img/icoTit-TopicosEstudo.png) 	no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-SaibaMais 		{background: url(../img/icoTit-SaibaMais.png) 		no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-Sintese 		{background: url(../img/icoTit-Sintese.png) 		no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-Exercicios		{background: url(../img/icoTit-Exercicios.png) 		no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
.icoTit-Referencia		{background: url(../img/icoTit-Referencia.png) 		no-repeat; width: 50px; height: 50px; float: left; margin-right: 10px; margin-top: -4px;}
/*--FIM ÍCONES--*/

.Topo {
	display:scroll;
	position:fixed;
	bottom:2px;
	right:2px;
}

#Rodape{
	color:#444444;
	font-family: 'Futura Bold Condensed BT';
	font-size:14px;
	font-weight: 500;
	text-align: center;
	padding-top: 30px;
	margin-top: 130px;
}

/*p {padding: 1.3rem 0 1.3rem 0;}*/

hr {border-top: 1px dashed #E5E5E5;}

.centralizado {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--BOTÕES--*/
input[type=button] {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 7px;
	font-family: Arial;
	color: #ffffff;
	font-size: 1.9rem;
	background: #851010;
	padding: 5px;
	text-decoration: none;
	border: 0px;
	/*margin: 0 auto;*/
	display: table;
	font-weight: 600;
	float: left!important;
	height: 37px;
	width: 184px;
}

input[type=button]:hover {
	-moz-box-shadow:0 0 24px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	text-decoration: none;
}

.btn {
	font-family: 'Futura Bold Condensed BT', Arial;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 2.1rem;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn-danger {
	color: #fff;
	background-color: #851010;
	/*border-color: #d43f3a;*/
	text-decoration: none;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
	/*color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
	text-decoration: none;*/
	-moz-box-shadow:0 0 24px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	box-shadow:0 0 24px rgba(0, 0, 0, .7)  inset;
	text-decoration: none;
	
}
.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
	background-image: none;
	text-decoration: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
	background-color: #851010!important;
	border-color: #851010!important;
	text-decoration: none;
}
.btn-danger .badge {
	color: #851010!important;
	background-color: #fff;
	text-decoration: none;
}

.btn-danger, .btn-warning {
	font-size: 2.4rem!important;
	margin-bottom: 10px;
	color: #FFF!important;
}

.btn-danger:hover {
	text-decoration: none!important;
}
/*--FIM BOTÕES--*/

@media screen and (min-width: 320px) and (max-width: 768px){

	h2 {
		padding-top: 75px;
		margin-bottom: 32px;
		display: inline-block!important;
		word-break: normal;
		font-size: 1.6em!important;
	}
	
	h3 {font-size: 1.2em!important;}

}

@media screen and (min-width: 320px) and (max-width: 1024px){

	figure.Vid, figure.Site, figure.Ref {margin: -7px!important;}
	
	div .RefIco {
		float: left; 
		width: 31px!important;
		}
	
	h1 {font-size: 2.7em!important; font-weight: lighter!important;}
	
}

@media screen and (max-width: 1280px){

	body {
		background: #FFF;
		}
		
	section {
		margin: 0 auto;
		/*min-height:100vh;*/
	}
	
	header{
		/*background-color: rgba(4,49,97,0.8);
		background-color: rgba(0,79,159,0.9);*/
		background-color: rgba(0, 0, 0, 0.6);
		max-height:100%;
		width: 100%;
		padding-top: 0px;
		border-bottom: 0px solid #FFF;
		position:absolute;
		top:50%;
		left:0;
		/*margin-top:-94px;*/
		line-height: 50px;
	}

	h1 {

		font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
		text-align:center;
		margin-left: auto!important;
		margin-right: auto!important;
		font-weight: 600;	
		color:#FFF;	
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 15px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/*text-transform: uppercase;*/
		/*margin: 0 10px;
		margin-top: 0px;*/
		/*padding-top: 40px;*/

		}
		
	.ImgTopo {	
		width: 40px;
		height: 40px;
	}
}

@media screen and (min-width : 1366px){
	
	header{
		/*background-color: rgba(4,49,97,0.8);
		background-color: rgba(0,79,159,0.9);*/
		background-color: rgba(0, 0, 0, 0.6);
		/*max-height:200px;
		width: 75%;*/
		padding-top: 21px;
		border-bottom: 0px solid #FFF;
		position:absolute;
		top:50%;
		left:0;
		margin-top:-94px;
		line-height: 50px;
		}

	h1 {
		font-family: 'Futura Bold Condensed BT', Arial, sans-serif;
		text-align: left;
		font-weight: 600;
		color:#FFF;	
		padding-left: 55px;
		padding-right: 50px;
		padding-bottom: 40px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/*text-transform: uppercase;*/
		/*margin: 0 10px;
		margin-top: 0px;*/
		/*padding-top: 40px;*/
		
		}	
	
}

/*QUIZ*/

.marcada{ background-color:#ffcc03; color:#fff;}
.pegapergunta{ display:none;}
.pergunta{ /*font-size: 1.1em;*/ margin-bottom: 20px; line-height: 2.5rem;}
.q{ padding:10px; width:100%; margin:auto; /*border:1px solid #D6D6D6;*/ background-color:#d3ddf2;border-radius:10px;}
.r{ background:#fff; border-radius:10px; margin:5px 0; padding:10px; cursor:pointer; line-height: 2.5rem;}
.r:hover{ background:#8ab5e1; color: #FFF;}
.errou{ padding:10px; background-color:#E3C1C1; color:#C11F21;border-radius:10px; margin:5px 0;}
.acertou{ padding:10px; background-color: #CDE4D5; color:#237022;border-radius:10px; margin:5px 0;}
.tela_final {font-weight: bold; color: #444;}

/*---FIM QUIZ----*/

.classcerta {
    /*order-color: #27ae60 !important;*/
    color: #abcaaa !important; 
}

.classerrada {
    /*border-color: #e74c3c !important;*/
    color: #c9a9a9 !important;
}

/*----GLOSSÁRIO----*/
.corpo-glossario {
	width: 100%;
	height: 100%;
	margin: auto; 
}

.corpo-glossario .palavra-glossario {
	width: 90%;
	height: 90%;
	margin: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.corpo-glossario .palavra-glossario:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 16px;
	color: #fff;
	float: right;
	margin-left: 5px; 
}

.corpo-glossario .palavra-glossario.active:after {
	content: '\2796';
	/* Unicode character for "minus" sign (-) */ 
}

.corpo-glossario .significado-glossario {
	width: 85%;
	height: 100%;
	margin: auto; 
}
/*----FIM GLOSSÁRIO----*/

/*----REFERENCIA----*/
.Ref {
  background-image: url(../img/Livro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}

.Vid {
  background-image: url(../img/Video.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  padding-right: 1rem;
  border: 0px !important;
}

.Site {
  background-image: url(../img/site.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}

div .RefContent {
	display: inline-block; 
	width: 100%;
	/*margin-left: -15px;
	margin-right: -15px;*/
	margin: 0;
	padding: 15px;
	background-color: rgba(252,252,252,0.5);  /*#d3ddf2;*/
	border-radius: 5px;
}

div.RefIco {
	float: left; 
	width: 37px;
}

div.RefDados {
	float: left; 
	width: 95%;
	line-height: 2.4rem!important;
}

div.RefEscuro{
	background-color: rgba(211, 221, 242, 0.4)/*rgba(122,122,122,0.09)*/;
	border-radius: 5px;
}
/*--FIM REFERÊNCIA--*/

video {  
   width:100%; 
   max-width:960px; 
   height:auto;
   margin-left: 5%;
}

.bullet{	
	background: url(../img/bullet.png) no-repeat;
	float: left;
	width: 15px;
	height: 15px;
	margin: 2px 10px;
}

fechar, fechar02, fechar03, fechar04, fechar05, fechar06{
	/*background-color: rgba(172,0,2,1.00);
	color: #fff;
	float: left;
	padding: 15px;
	border-radius: 5px;*/
	cursor: pointer;
}

div.Legenda {
	color:#444444;
	font-family: Arial;
	font-size:1.3rem;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

blockquote {
	font-weight: lighter!important;
	border: none!important;
	font-size: 1em!important;
}

img.Graf {
	margin-top: 30px;
	margin-bottom: 20px;
}

.modal-content {top: 155px;}

.modal-header {border:none!important;}

.Box {margin: 3rem 0rem;}

.Box p {padding-left: 6rem;}

.BoxIco-NaPratica {
	float: left;
	background: url(../img/BoxIco-NaPratica.png) no-repeat;
	width: 60px;

	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Importante {
	float: left;
	background: url(../img/BoxIco-Importante.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-SaibaMais {
	float: left;
	background: url(../img/BoxIco-SaibaMais.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Artigo {
	float: left;
	background: url(../img/BoxIco-Artigo.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Glossario {
	float: left;
	background: url(../img/BoxIco-Glossario.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxTit {
	/*background-color: #E8F2F4;*/
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #E8F2F4;
}

.BoxTit2 {
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #D3D6De;
}

.TitBox {
	font-family: 'Futura Bold Condensed BT', Arial!important;
	font-size: 2.7rem!important;
	padding-top: 1.1rem;
}

.TxtBox {
	padding: 1.3rem 0 1.3rem 0;
}

.Tarja {border: solid /*#78babf*/ #E8F2F4 2px; }

.Tarja2 {border: solid #D3D6De 2px; }

.btn{
	background-color: #8ab5e1;
	color: aliceblue;	
}
.btn:hover{
	color: aliceblue;
	background-color: #004f9f;
}

.B-Baixe {
	width: 100%;
	background-color: #d3ddf2;
	display: inline-block;
	
}

.Ico-BaixeConteudo {
	float: left;
	background: url(../img/Ico-BaixeConteudo.png) no-repeat;
	width: 106px;
	height: 82px;
	/*margin-right: 10px;*/
    /*margin:-12px 11px 0px 0px;*/
}

.TxtBaixe{
	font-family: 'Futura Bold Condensed BT', Arial!important;
	font-size: 2.2rem!important;
	word-break: keep-all!important;
	padding: 3rem 0 0 0;
	text-align: center!important;
	
}



