@charset "utf-8";

.exibindoAbas,.superaba{ width: 90%; margin: auto}

.exibindoAbas{ overflow: hidden; border-bottom: 1px solid #00AEEF }

.abas{
	cursor: pointer; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 18% !important; 
	margin: 0 1%; 
	float: left; 
	height: 35px; 
	line-height: 35px; 
	background-color: #00AEEF;
	text-align: center;
	color:#fff;
}

.abas:hover {
	background: #263358;
	text-decoration: none;
	color: #FFFFFF;
}

.abas:focus {
	background: #263358;
	text-decoration: none;
	color: #FFFFFF;
}

.superaba {border: 1px solid #00AEEF; padding: 15px; }

.ab { display: none}

.aba1 { display: block;}

.aba1, .aba2, .aba3, .aba4, .aba5 { line-height: 2.5rem};

@media screen and (min-width: 320px) and (max-width: 600px){
	
	.abas {font-size: 0.8rem!important;}

}

@media screen and (min-width: 600px) and (max-width: 768px){
	
	.abas {font-size: 1.5rem!important;}

}


/*@media screen and (max-width: 600px) {
	
	.abas { 
			-webkit-border-top-left-radius: 0px;   
			-webkit-border-top-right-radius: 0px;    
			-moz-border-radius-topleft: 0px;    
			-moz-border-radius-topright: 0px;    
			border-top-left-radius: 0px;    
			border-top-right-radius: 0px; 
			width: 100% !important; 
			margin: 1%; 
			float: left; 
			height: 35px; 
			line-height: 35px; 
			background-color: #00AEEF; 
			text-align: center;
			color:#fff;
		}
}*/

.acertos, .respostas, .aproveitamento {font-weight: bold;}

.tela_final {margin-bottom: 30px; font-weight: lighter;}