<div data-id="id" data-class="classes" class="section">
  <div class="cover-img uk-animation-kenburns" uk-img
    data-template-bind='[
      {"attribute":"data-src", "value":"bgImg"}
    ]'
  ></div>
  <div class="cover-overlay"></div>

  <div data-contentTarget="cover-content"></div>

  <a class="scroll-arrow" href="#main-content" uk-scroll>
    <i class="icon bounce animated infinite mdi mdi-chevron-down"></i>
  </a>
</div>