<!-- APRESENTAÇÃO - CONTENT SECTION 1 -->
<div data-id="id" data-class="classes" class="section" data-cc="on" data-template-bind='[
    {"attribute":"data-src", "value":"bgImg"}
  ]' uk-img>
  <div class="container">

    <header class="section-header">
      <div class="section-title dots txt-cyan">
        <h2 class="title-text">
          <i class="icon mg-s-right" data-class="iconClass"></i>
          <span data-content="title"></span>
        </h2>
      </div>
      <hr class="hide-m-up bd-dotted bd-cyan bd-light-3">
    </header>

    <div data-contentTarget="section-content"></div>

  </div>
</div>