$font-size: 16px
$font-family: Helvetica, Tahoma, sans-serif
$font-color: #aaa
$bg: #222

body *
	display: flex
	margin: 0
html, body
	margin: 0
	padding: 0
	height: 100%
body
	font-family: $font-family
	font-size: $font-size
	background-color: $bg
	color: $font-color
	#app
		justify-content: center
		align-content: center
		flex-direction: row
		height: 100%
		> *
			align-self: center
