@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:15px "Century Gothic", Arial, Helvetica, sans-serif;
	color:#292929;
	background-size:100%;
}

#content {
	width:930px;
	height:719px;
	margin:0 auto;
	border:1px solid #333;
	border-top:0;
	font:12px Verdana, Geneva, sans-serif, Arial;
	border-radius:0 0 30px 30px; -moz-border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; -o-border-radius:0 0 30px 30px;
}

#topo {
	width:100%;
	color:#fff;
	line-height:15px;
}

#menu ul { margin:10px auto; margin-left:680px; list-style:none; }

#menu ul li {
	position:relative;
	float:left;
	font-weight:bold;
}

#menu ul li a {
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#292929;
	padding:10px 0;
	width:80px; 
	display:block;
	transition:0.5s ease-in-out;
	-webkit-transition:0.5s ease-in-out;
	-moz-transition:0.5s ease-in-out;
	-o-transition:0.5s ease-in-out;
}

#menu ul li a:hover {
	background-color:#E4E4E4;
	color:#06F;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}

#menu ul li figcaption { display:none; transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out;
font:12px "Century Gothic", Arial, Serif; }

#menu ul li:hover figcaption { display:block; }

#conteudo { text-align:justify; width:930px; height:500px; padding-top:20px; }

#conteudo p {
	margin:10px 20px 20px 30px;
	line-height:18px;
}

#conteudo ul { list-style:none; margin-left:40px; padding:10px; font:12px Verdana, Geneva, sans-serif, Arial; background-color:#e4e4e4;
border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; -o-border-radius:0 0 10px 10px; width:850px; box-shadow:4px 3px 8px #4A4A4A }

#conteudo ul li { font-weight:normal; padding:10px; }

a { color:#066; transition:all 0.4s ease-in-out; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; text-decoration:none; }

a:hover { color:#09F; }


iframe {
	height:530px; 
	width:930px; 
	overflow:hidden;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

#menu {height:80px;}

.img_comp{float:left; margin-right:10px; margin-top:-30px;}

.img_ref{float:left; margin-right:20px; margin-top:-30px; margin-left:15px;}

.texto{margin-top:30px;}

.cabecalho1 {
	background-color:#E4E4E4;
	width:860px;
	padding:5px;
	margin-left:40px;
	border-radius:0 5px 5px 0;
}

.cabecalho2 {
	background-color:#E4E4E4;
	width:860px;
	padding:5px;
	margin-top:50px;
	margin-left:40px;
	border-radius:0 5px 5px 0;
	clear:both; 
	
}