/* --- Components --- */
/* Capa (cover) */
#uni #cover {
	position: relative;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	color: #ffffff;
	overflow: hidden;
	z-index: 999999;
}
#uni .cover-img {
	height: 100vh;
	position: absolute;
	width: 100%;
	background: url(../img/capa.png) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#uni.pos2 .cover-img {
	background: url(../img/capa-2.jpg) center center no-repeat fixed;
}
#uni .cover-overlay {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	z-index: 7;
}
#uni.grd .cover-overlay {
	background-image: url(../img/_base/cover-overlay-v3.png);
}
#uni.pos .cover-overlay {
	background-image: url(../img/_base/outline-circles-2.png);
}
#uni.pos2 .cover-overlay {
	background-image: url(../img/_base/cover-overlay-v1.png);
}
#uni .cover-title {
	position: relative;
	display: table;
	width: 80%;
	height: 70%;
	padding: 4rem;
	margin: 0 auto;
	z-index: 9;
}
#uni .cover-title>* {
	display: table-cell;
	height: 100%;
	margin: 0;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: inherit;
}
#uni #cover .scroll-arrow {
	position: absolute;
	width: 100%;
	height: 4rem;
	padding: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #ffffff;
	font-size: 3rem;
	z-index: 8;
}
#uni #cover .scroll-arrow>* {
	font-size: 3rem;
}
/* Navegação - Navegação Fixa no Topo */
#uni .top-bar {
	position: relative;
	display: none;
	width: 100%;
	height: 0;
	overflow: hidden;
	z-index: 999999;
}
#uni.top-fixed .top-bar {
	display: block;
}
#uni .top-bar .top-wrapper {
	position: fixed;
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 3.56rem;
	line-height: 3.56rem;
	color: #ffffff;
	background-color: #004F9F;
	box-shadow: none !important;
}
#uni.grd .top-bar .top-wrapper {
	background-color: #004F9F;
}
#uni.pos .top-bar .top-wrapper {
	background-color: #0098E5;
}
#uni.pos2 .top-bar .top-wrapper {
	background-color: #52CCCC;
}
#uni .top-bar.hide .top-wrapper {
	height: 0;
	overflow: hidden;
}
#uni .top-bar .top-wrapper a {
	background-image: none !important;
}
#uni .top-bar .top-wrapper * {
	display: flex;
	align-items: center;
	align-content: center;
}
#uni .top-bar .top-wrapper > * {
	width: auto;
	flex: 0 1 auto;
	padding: 0 1rem;
}
#uni .top-bar .top-wrapper .main-title {
	justify-content: left;
	min-width: 25%;
	max-width: 80%;
	height: 100%;
	margin: 0 auto 0 0;
	font-size: 1rem;
}
#uni .top-bar .top-wrapper .main-title > * {
	justify-content: left;
	height: 100%;
	margin: 0;
	/* padding: 0 1rem; */
	font-size: inherit;
	text-align: left;
	line-height: 1;
	color: #ffffff;
}
#uni .top-bar .top-wrapper .nav-bar {
	height: 100%;
	line-height: 100%;
	background: none;
	box-shadow: none;
}
#uni .top-bar .top-wrapper .nav-bar ul {
	/* display: flex; */
	justify-content: space-between;
	height: 100%;
	/* max-width: 95%; */
	margin: 0 auto;
}
/* #uni .top-bar .top-wrapper .nav-bar ul,
#uni .top-bar .top-wrapper .nav-bar ul li,
#uni .top-bar .top-wrapper .nav-bar ul li a {
	display: flex;
	align-items: center;
} */
#uni .top-bar .top-wrapper .nav-bar ul li {
	position: relative;
	height: 100%;
}
#uni .top-bar .top-wrapper .nav-bar a {
	font-size: 0.9rem;
	line-height: 1.2;
	color: #ffffff;
	height: 100%;
	padding: 0.9em 1rem;
	cursor: pointer;
}
#uni .top-bar .top-wrapper .nav-bar a[class$="active"] {
	background-color: rgba(0, 0, 0, 0.2);
}
#uni .top-bar .top-wrapper i,
#uni .top-bar .top-wrapper [class^="mdi-"],
#uni .top-bar .top-wrapper [class*="mdi-"],
#uni .top-bar .top-wrapper i.material-icons {
	display: flex;
	align-items: center;
	font-size: 1.5em;
	height: 100%;
	padding-right: 1rem;
}
#uni .top-bar .top-wrapper .nav-oc-trigger::after {
	display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger i {
	margin: 0;
	padding: 0;
}
#uni .top-bar .top-wrapper .nav-oc-trigger.open .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger .close {
	display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger.open .close {
	display: flex;
}
#uni .top-bar .top-wrapper .dropdown-content {
	display: none;
	width: auto !important;
	max-width: fit-content !important;
	height: auto !important;
	top: 100% !important;
	box-shadow: none;
}
#uni.grd .top-bar .top-wrapper .dropdown-content {
	background-color: #004F9F;
}
#uni.pos .top-bar .top-wrapper .dropdown-content {
	background-color: #0098E5;
}
#uni.pos2 .top-bar .top-wrapper .dropdown-content {
	background-color: #52CCCC;
}
#uni .top-bar .top-wrapper .dropdown-content li:hover,
#uni .top-bar .top-wrapper .dropdown-content li[class$="active"] {
	background: none;
}
#uni .top-bar .top-wrapper .dropdown-content a {
	width: 100%;
	white-space: nowrap;
}
#uni .top-bar .top-wrapper .dropdown-content li a:hover,
#uni .top-bar .top-wrapper .dropdown-content li a[class$="active"] {
	background-color: rgba(0, 0, 0, 0.2);
}

/* Sidenav - Menu Mobile (hamburguer) */
#uni .nav-off-canvas {
	position: fixed;
	max-width: 80%;
	width: 300px;
	/* width: fit-content; */
	height: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	color: inherit;
	overflow-x: hidden;
	overflow-y: auto;

	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);

	z-index: 999999;
}
#uni.grd .nav-off-canvas {
	background-color: #004F9F;
}
#uni.pos .nav-off-canvas {
	background-color: #0098E5;
}
#uni.pos2 .nav-off-canvas {
	background-color: #52CCCC;
}

#uni .nav-off-canvas .nav-menu {
	width: 100%;
	max-width: 100%;
	height: 100%;
	height: 100vh;
	padding: 2rem 0;
}
#uni .nav-off-canvas .nav-menu::before,
#uni .nav-off-canvas .nav-menu::after {
	content: "";
	position: relative;
	display: block;
}
#uni .nav-off-canvas .nav-menu::before {
	width: 300px;
	height: 60px;
	margin-top: -52px;
	top: -5px;
	left: -148px;
	background: url(../img/_base/dots-light-horizontal.png) top center no-repeat transparent;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
#uni .nav-off-canvas .nav-menu::after {
	width: 360px;
	height: 20px;
	bottom: -30px;
	left: 30px;
	background: url(../img/_base/dots-light-horizontal.png) bottom center no-repeat transparent;
	-webkit-background-size: 80%;
	-moz-background-size: 80%;
	-o-background-size: 80%;
	background-size: 80%;
}
/* #uni .nav-off-canvas .nav-menu .side-title {
	margin: 2rem 0;
	padding: 0 2rem;
	text-transform: uppercase;
} */
#uni .nav-off-canvas .nav-menu-overlay {
	z-index: 999998;
}
#uni .nav-off-canvas .nav-menu li {
	float: none;
	display: block;
	height: auto;
	font-size: .9em;
}
#uni .nav-off-canvas .nav-menu li:last-child {
	border: 0;
}
#uni .nav-off-canvas .nav-menu li * {
	color: #FFFFFF !important;
}
#uni .nav-off-canvas .nav-menu li a {
	font-size: inherit;
	line-height: 3rem;
	font-weight: normal;
	height: 100%;
	padding: 0 2rem;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#uni .nav-off-canvas .nav-menu li>i,
#uni .nav-off-canvas .nav-menu li>a>i,
#uni .nav-off-canvas .nav-menu li>a>[class^="mdi-"],
#uni .nav-off-canvas .nav-menu li>a li>a>[class*="mdi-"],
#uni .nav-off-canvas .nav-menu li>a>i.material-icons {
	float: left;
	height: 3rem;
	line-height: 3rem;
	margin: 0 2rem 0 0;
	width: 1.5rem;
}

#uni .nav-off-canvas .nav-menu li a:hover,
#uni .nav-off-canvas .nav-menu li a:focus,
#uni .nav-off-canvas .nav-menu li a[class*="active"] {
	background-color: rgba(0, 0, 0, 0.2);
	background-image: none;
}

/* Floating Action Nav - Menu Flutuante */
#uni .nav-fab {
	position: relative;
	display: none;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 9999999;
}
#uni.nav-floating .nav-fab {
	display: block;
	height: 100%;
	overflow: auto;
}
#uni .nav-fab.active::after {
	content: "";
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#uni .nav-fab .nav-fab-trigger {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	padding: 1.4rem;
	bottom: 1rem;
	right: 1rem;
	z-index: 20;
	background-color: #0098E5
}
#uni .nav-fab .nav-fab-trigger:hover,
#uni .nav-fab .nav-fab-trigger:active,
#uni .nav-fab .nav-fab-trigger:focus {
	background-color: #006192;
	outline: none;
}
#uni .nav-fab[class$="active"] .nav-fab-trigger .menu,
#uni .nav-fab .nav-fab-trigger .close {
	display: none;
}
#uni .nav-fab .nav-fab-trigger .menu,
#uni .nav-fab[class$="active"] .nav-fab-trigger .close {
	display: flex;
}
#uni .nav-fab #bullet-menu {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	height: 85%;
	width: fit-content;
	width: -moz-fit-content;
	padding: 0 1.5rem;
	bottom: 4rem;
	right: 0;
	left: auto;
	z-index: 99;
}
#uni .nav-fab #bullet-menu * {
	color: #ffffff;
}
#uni .nav-fab #bullet-menu li {
	display: table;
	width: 100%;
	margin: 0;
}
#uni .nav-fab #bullet-menu li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
	background-image: none !important;
}
#uni .nav-fab #bullet-menu li a::after {
	content: none;
}
#uni .nav-fab #bullet-menu li a .btn-floating {
	overflow: visible;
	background: #0098E5;
}
#uni .nav-fab #bullet-menu li a:hover .btn-floating,
#uni .nav-fab #bullet-menu li a[class$="active"] .btn-floating {
	width: fit-content !important;
	width: -moz-fit-content !important;
	overflow: hidden;
	background: #006192;
	box-shadow: none;
}
#uni .nav-fab #bullet-menu li a .fab-title {
	width: fit-content;
	width: -moz-fit-content;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	line-height: 2em;
	white-space: nowrap;
	right: 0;
	left: auto;
	padding: 0 0.5em;
}
#uni .nav-fab #bullet-menu li a .fab-title *:first-child {
	padding: 0 1rem;
}
#uni .nav-fab #bullet-menu li a:hover .fab-title,
#uni .nav-fab #bullet-menu li a[class$="active"] .fab-title {
	position: relative;
}

/* Floating Content Nav - Menu Flutuante */
#uni .content-nav {
	position: relative;
	height: 0;
	z-index: 99999;
}
#uni .content-nav > * {
	bottom: 0;
	padding: 1rem;
}

/* Botões */
.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-flat {
	font-size: 1rem;
	font-family: inherit;
	color: #FFFFFF;
	background-color: #444444;
	background-image: none !important;
	outline: 0;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
	background-color: #222222;
	box-shadow: none;
}
#uni.grd .btn,
#uni.grd .btn-large,
#uni.grd .btn-small,
#uni.grd .btn-floating,
#uni.grd .btn-flat {
	color: #FFFFFF;
	background-color: #FFA000;
}
#uni.grd .btn:hover,
#uni.grd .btn-large:hover,
#uni.grd .btn-small:hover,
#uni.grd .btn:focus,
#uni.grd .btn-large:focus,
#uni.grd .btn-small:focus,
#uni.grd .btn-floating:focus {
	background-color: #D18300;
	box-shadow: none;
}
#uni.pos .btn,
#uni.pos .btn-large,
#uni.pos .btn-small,
#uni.pos .btn-floating,
#uni.pos .btn-flat {
	color: #FFFFFF;
	background-color: #52CCCC;
}
#uni.pos .btn:hover,
#uni.pos .btn-large:hover,
#uni.pos .btn-small:hover,
#uni.pos .btn:focus,
#uni.pos .btn-large:focus,
#uni.pos .btn-small:focus,
#uni.pos .btn-floating:focus {
	background-color: #2D7070;
	box-shadow: none;
}
#uni.pos2 .btn,
#uni.pos2 .btn-large,
#uni.pos2 .btn-small,
#uni.pos2 .btn-floating,
#uni.pos2 .btn-flat {
	color: #FFFFFF;
	background-color: #0098E5;
}
#uni.pos2 .btn:hover,
#uni.pos2 .btn-large:hover,
#uni.pos2 .btn-small:hover,
#uni.pos2 .btn:focus,
#uni.pos2 .btn-large:focus,
#uni.pos2 .btn-small:focus,
#uni.pos2 .btn-floating:focus {
	background-color: #006192;
	box-shadow: none;
}

.btn,
.btn-large,
.btn-small {
	height: auto;
	line-height: 1;
	padding: .7em 1.5em;
	margin: 0;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn-small {
	font-size: .8rem;
}
.btn-large {
	font-size: 1.4rem;
}
.btn-floating {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 2em !important;
	height: 2em !important;
	line-height: 2em !important;
	vertical-align: middle;
	border-radius: 10rem;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
}
.btn i,
.btn-large i,
.btn-small i,
.btn-flat i {
	font-size: 140% !important;
	color: inherit !important;
	line-height: 0.7 !important;
}
.btn-floating i {
	font-size: inherit !important;
	line-height: inherit !important;
}

/* Icons */
i.tiny { font-size: .7em !important; }
i.small { font-size: 1.5em !important; }
i.medium { font-size: 3em !important; }
i.large { font-size: 6em !important; }

/* Pill */
.pill {
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	font-weight: bold;
	min-height: 2em;
	min-width: 2.1em;
	padding: 0.5em;
	color: inherit;
	background: #eee;
	border-radius: 20rem;
}
.pill.pill-inline {
	font-size: 0.9em;
	font-weight: inherit;
	min-height: 1em;
	min-width: 1em;
	padding: 0.2em 0.6em;
}

/* Animated Underline Hover */
.animate-underline {
	background-image: none !important;
}
.animate-underline::after {
	content: "";
	position: absolute;
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.animate-underline:hover::after {
	width: 100%;
}

/* Gradient Overlays */
.go::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 0;
}
.g-blue::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#003366', GradientType=0);
}
.g-blue-light::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#739FCA', GradientType=0);
}
.g-blue-dark::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#000000', GradientType=0);
}
.g-blue-deep::after {
	background: rgb(0, 51, 102);
	background: -moz-linear-gradient(top,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=0);
}
.g-blue-dark-horizontal::after {
	background: rgb(0, 51, 102);
	background: -moz-linear-gradient(left,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(left,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to right,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=1);
}
.g-cyan-light::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#FFFFFF', GradientType=0);
}
.g-cyan-dark::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#000000', GradientType=0);
}
.g-cyan-green::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#52CCCC', GradientType=0);
}
/* Backgrounds */
.bg-ghost {
	background-color: transparent !important;
	border: 1px solid;
}
/* Backgrounds images */
.bg-01 { background-image: url("../img/_base/img-01.jpg"); }
.bg-02 { background-image: url("../img/_base/img-02.jpg"); }
.bg-03 { background-image: url("../img/_base/img-03.jpg"); }
.bg-04 { background-image: url("../img/_base/img-04.jpg"); }
.bg-05 { background-image: url("../img/_base/img-05.jpg"); }
.bg-06 { background-image: url("../img/_base/img-06.jpg"); }
.bg-07 { background-image: url("../img/_base/img-07.jpg"); }
.bg-08 { background-image: url("../img/_base/img-08.jpg"); }
.bg-09 { background-image: url("../img/_base/img-09.jpg"); }
.bg-10 { background-image: url("../img/_base/img-10.jpg"); }
.bg-11 { background-image: url("../img/_base/img-11.jpg"); }
.bg-12 { background-image: url("../img/_base/img-12.jpg"); }
/* Black & White (pb) */
.bg-01.pb { background-image: url("../img/_base/img-pb-01.jpg"); }
.bg-02.pb { background-image: url("../img/_base/img-pb-02.jpg"); }
.bg-03.pb { background-image: url("../img/_base/img-pb-03.jpg"); }
.bg-04.pb { background-image: url("../img/_base/img-pb-04.jpg"); }
.bg-05.pb { background-image: url("../img/_base/img-pb-05.jpg"); }
.bg-06.pb { background-image: url("../img/_base/img-pb-06.jpg"); }
.bg-07.pb { background-image: url("../img/_base/img-pb-07.jpg"); }
.bg-08.pb { background-image: url("../img/_base/img-pb-08.jpg"); }
.bg-09.pb { background-image: url("../img/_base/img-pb-09.jpg"); }
.bg-10.pb { background-image: url("../img/_base/img-pb-10.jpg"); }
.bg-11.pb { background-image: url("../img/_base/img-pb-11.jpg"); }
.bg-12.pb { background-image: url("../img/_base/img-pb-12.jpg"); }

.bg-circles { background-image: url("../img/_base/outline-circles-2.png"); }
.bg-dots-blue {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dots-light-blue {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23739FCA%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dots-white {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dots-black {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dots-small {
	background-position: 3px 3px;
	-webkit-background-size: 0.5rem;
	-moz-background-size: 0.5rem;
	-o-background-size: 0.5rem;
	background-size: 0.5rem;
}
.bg-dots-medium {
	background-position: 2px 2px;
	-webkit-background-size: 1rem;
	-moz-background-size: 1rem;
	-o-background-size: 1rem;
	background-size: 1rem;
}
.bg-dots-large {
	background-position: 8px 8px;
	-webkit-background-size: 2rem;
	-moz-background-size: 2rem;
	-o-background-size: 2rem;
	background-size: 2rem;
}

/* Modal */
[uk-modal],
.modal {
	z-index: 9999999;
}
[uk-modal] .uk-modal-body,
.modal .uk-modal-body {
	top: 10%;
}

/* Preformated Text - Code */
#uni .txt-pre {
	color: #eeeeee;
	background: #222222;
}
#uni .txt-pre > * {
	display: inline-block;
	counter-increment: line;
}
#uni .txt-pre > *::before {
	content: counter(line);
	display: inline-block;
	width: 3rem;
	padding: 0 1rem;
	margin-right: 1rem;
	text-align: right;
	color: inherit;
	border-right: 1px solid;
}

/* Media Player */
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true],
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
	background: #0098E5;
	color: #fff;
}
.plyr__controls .plyr__progress__container {
	flex: 1;
}
.plyr__control.plyr__tab-focus {
	box-shadow: none;
	outline: 0;
}
.plyr__control {
	border-radius: 10rem;
	padding: .7em;
}
.plyr--full-ui input[type=range] {
	color: #0098E5;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
	box-shadow: none;
}

/* Scrollbars */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	overflow: visible;
	background-color: #EEEEEE;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #999999;
	-webkit-box-shadow: none;
}