/* --- Helper classes --- */
/* = Position and Shape = */
.absolute { position: absolute !important; }
.relative { position: relative !important; }
.fixed { position: fixed !important; }
/* = Overflow and Scroll = */
.overflow-hidden {overflow: hidden;}
.overflow-visible {overflow: visible;}
.overflow-scroll {overflow: scroll;}
.overflow-x-hidden {overflow-x: hidden;}
.overflow-x-visible {overflow-x: visible;}
.overflow-x-scroll {overflow-x: scroll;}
.overflow-y-hidden {overflow-y: hidden;}
.overflow-y-visible {overflow-y: visible;}
.overflow-y-scroll {overflow-y: scroll;}
/* Float */
.left, .float-left { float:left; }
.right, .float-right { float:right; }
.center {
	float: none !important;
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.no-float { float: none !important; }
.no-margin { margin: 0 !important;}
.no-padd { margin: 0 !important;}
/* = Text = */
.txt-left { text-align:left; }
.txt-right { text-align:right; }
.txt-center { text-align:center; }
.txt-hidden { text-indent:-9999em; font-size: 0;}
.txt-upper { text-transform: uppercase; }
.txt-low { text-transform: lowercase; }
.txt-cap { text-transform: capitalize; }
.txt-bold { font-weight: bold; }
.txt-italic { font-style: italic; }
.txt-flat-list { list-style: none; padding: 0; }
.txt-underline { border-bottom: 1px solid; }
.txt-no-underline { border-bottom: 0; }
.txt-no-underline::before,
.txt-no-underline::after { display:none; }
.txt-flow,
.txt-fit,
.txt-flow *,
.txt-fit * {
	font-size: 3.5vw !important;
	font-size: 4vmin !important;
	font-size: 4vm !important;
	/* margin-bottom: 1em !important; */
	line-height: 1.5em;
}
.txt-small { font-size: 75% !important; }
.txt-large { font-size: 125% !important; }
/* = Fit image/video/frame = */
.fit-media {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
}
/* = Cursor = */
.cursor-auto { cursor: auto; }
.cursor-pointer { cursor: pointer; }
.cursor-text { cursor: text; }
.cursor-not { cursor: not-allowed; }
/* = Hide only visually, but have it available for screenreaders: h5bp.com/v = */
.invisible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* = Extends the .invisible class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p = */
.invisible.focusable:active,
.invisible.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/* = Hide visually= */
.hide {height: 0 !important; min-height: 0 !important; overflow: hidden;}
/* = Hide from both screenreaders and browsers: h5bp.com/u = */
[hidden], .hidden { display: none !important; visibility: hidden; }
/* = Alpha = */
.opacity-0 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-filter: opacity(0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.opacity-25 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-webkit-filter: opacity(0.25);
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}
.opacity-50 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-filter: opacity(0.5);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.opacity-75 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-webkit-filter: opacity(0.75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
.opacity-100 {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-webkit-filter: opacity(1);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}
/* = Rouded Borders = */
.br-2 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.br-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.br-10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.br-20 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.br-50 {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.br-circle {
	-webkit-border-radius: 100rem;
	-moz-border-radius: 100rem;
	border-radius: 100rem;
}
/* = Background Position = */
.bg-center { background-position: center center; }
.bg-left { background-position: left center; }
.bg-right { background-position: right center; }
.bg-top { background-position: center top; }
.bg-bottom { background-position: center bottom; }
/* = Background Attachment & Repeat = */
.bg-fixed { background-attachment: fixed; }
.bg-no-repeat { background-repeat: no-repeat; }
/* = background Image Size = */
.bg-contain {
	-webkit-background-size: contain !important;
	-moz-background-size: contain !important;
	-o-background-size: contain !important;
	background-size: contain !important;
}
.bg-cover {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.bg-full-width {
	-webkit-background-size: 100% auto !important;
	-moz-background-size: 100% auto !important;
	-o-background-size: 100% auto !important;
	background-size: 100% auto !important;
}
.bg-full-height {
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
}
/* = Clearfix = */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
/* = Transitions = */
.transition,
.transition:before,
.transition:after {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}