/* --- Core --- */

/* Basic */
html, body {
	position: relative;
	width: 100%;
	font-family: "PT Sans", sans-serif, arial !important;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.4;
	color: #444444;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans", sans-serif, arial !important;
	line-height: inherit;
	color: inherit;
	margin: 0 0 2rem 0;
}
h1 { font-size: 5rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; font-weight: bold; }
a {
	position: relative;
	display: inline;
	text-decoration: none !important;
	color: #0098E5;
	overflow: visible;
	background-image: linear-gradient(transparent calc(100% - 1px), #0098E5 1px);
	background-repeat: no-repeat;

	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-background-size: 0 100% !important;
	-moz-background-size: 0 100% !important;
	-o-background-size: 0 100% !important;
	background-size: 0 100% !important;
}
.white-text a,
.txt-white a {
	color: #5CBDEE;
	background-image: linear-gradient(transparent calc(100% - 1px), #5CBDEE 1px);
}
a:hover,
.white-text a:hover,
.txt-white a:hover {
	-webkit-background-size: 100% 100% !important;
	-moz-background-size: 100% 100% !important;
	-o-background-size: 100% 100% !important;
	background-size: 100% 100% !important;
}
a:hover { color: #0098E5; }
.white-text a:hover,
.txt-white a:hover { color: #5CBDEE; }
strong, b {
	font-weight: bold !important;
}
i,
cite,
em,
var,
address,
dfn {
	font-style: italic;
	color: inherit !important;
}
ol,
ul {
	padding-left: 17px;
}
iframe {
	min-height: 50vh;
}
iframe.uk-cover {
	pointer-events: auto;
}
button,
input,
optgroup,
select,
textarea {
	font-family: "PT Sans", sans-serif, arial;
}
button:focus {
	outline: none;
	background: none;
}
blockquote {
	margin: 0 0 1.25rem 0;
	font-size: 1rem;
	line-height: 1.5;
	font-style: italic;
	color: inherit;
	border-left: 2px solid #004F9F;
}

/* Sections */
#uni.pos2 #main-content {
	background: url(../img/_base/bg-content.jpg) center center white;
	background-size: cover;
}
#uni .section {
	position: relative;
	width: 100%;
	min-height: 100vh;
}
#uni .section .container {
	position: relative;
	min-height: 100%;
	padding-top: 1rem;
	padding-bottom: 5rem;
	z-index: 9;
}
#uni.top-fixed .section .container {
	padding-top: 5rem;
}
#uni .section .section-title {
	position: relative;
	display: flex;
	margin-bottom: 3rem;
	margin-bottom: 8vh;
}

/* Title Bullets Grid */
#uni .section .section-title:after {
	content: "";
	position: relative;
	display: block;
	flex: 1 1 auto;
	width: auto;
	height: auto;
	margin: 5px 0 5px 2rem;

	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;

	-webkit-background-size: auto 45%;
	-moz-background-size: auto 45%;
	-o-background-size: auto 45%;
	background-size: auto 45%;
}
#uni.pos2 .section .section-title:after {
	-webkit-background-size: auto 30%;
	-moz-background-size: auto 30%;
	-o-background-size: auto 30%;
	background-size: auto 30%;
}
#uni .section .section-title.txt-blue:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.txt-blue.light:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23739FCA%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.txt-green:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.txt-white:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title:after,
#uni .section .section-title.txt-black:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dots' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title > *:not(.material-icons) {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: inherit;
	line-height: 1;
	margin: 0;
}
#uni .section .material-icons {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}

#uni .section .container p:first-child,
#uni .section .container span:first-child,
#uni .section .container img:first-child {
	margin-top: 0;
}
#uni .section .materialboxed.active {
	z-index: 9999999999 !important;
	margin: 0;
}
#uni .section #materialbox-overlay {
	z-index: 99999;
}
#uni .section img.responsive-img,
#uni .section video.responsive-video {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Content Sections */

/* Desafio */
#desafio .challenge-fields,
#desafio .challenge-fields li {
	background-color: transparent;
	box-shadow: none;
}
#desafio .challenge-fields li > *:not(.btn) {
	background: #ffffff;
}
#desafio .challenge-fields .collapsible-header {
	display: inline-block;
	color: #ffffff;
	text-transform: uppercase;
	box-shadow: none;
	border: 0;
}
#desafio .challenge-fields li.active .collapsible-header {
	display: none;
	height: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
#desafio .challenge-answer.active {
	margin: 1rem 0;
	box-shadow: none;
	border: 1px solid #cccccc;
}
#desafio .challenge-answer .collapsible-body {
	position: relative;
	top: -1px;
	border: 0;
	padding: 0;
	margin: 0;
}
#desafio .challenge-answer .challenge-text {
	position: relative;
	height: auto;
	top: 7px;
	margin: 0;
	padding: 1rem;
	border: 0;
	outline: none;
	line-height: 1.8em;
	resize: vertical;
}
#desafio .challenge-fields.finished .challenge-text {
	color: #999999;
	cursor: not-allowed;
}

#desafio .challenge-fields .challenge-feedback {
	display: none;
}
#desafio .challenge-fields.active .challenge-feedback {
	display: block;
}
#desafio .challenge-fields .challenge-feedback .collapsible-body {
	border: 1px solid #cccccc;
}

/* Exercicios */
#exercicios .questions {
	width: 100%;
	/* min-height: 60vh; */
	border: 1px solid #ccc;
	padding: 2rem .5rem 1.5rem;
	margin-bottom: 1rem;
}
#exercicios .questions a {
	background-image: none;
}
#exercicios .questions > li > div > h4 {
	font-weight: bold;
	margin-bottom: .5rem;
}
#exercicios .questions .alternatives {
	margin: 0;
}
#exercicios .questions .alt {
	background: #ffffff;
	overflow: hidden;
}
#exercicios .questions .alt [class*="title"],
#exercicios .questions .alt [class*="content"] {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1rem;
	color: #444444;
}
#exercicios .questions .alt [class*="title"] {
	padding: .5rem;
}
#exercicios .questions .alt [class*="title"]::before {
	content: none;
}
#exercicios .questions .alt [class*="content"] {
	padding: 1rem;
	margin: 0;
}
#exercicios .questions .alt.correct [class*="content"] {
	color: #004d40;
	background: #A5D6A7;
}
#exercicios .questions .alt.wrong [class*="content"] {
	color: #8b1014;
	background: #EF9A9A;
}
#exercicios .questions .alt .letter {
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	height: 100%;
}
#exercicios .questions .alt .pill {
	margin: 0 1rem 0 0;
}
#exercicios .questions-nav .questions-index .pill {
	color: inherit;
	background: transparent;
	border: 1px solid;
}
#exercicios .questions-nav .questions-index :not([class*="active"]) .pill:hover {
	color: #0098E5;
}
#exercicios .questions-nav .questions-index [class*="active"] .pill {
	border-color: #0098E5;
	background: #0098E5;
}
#exercicios .questions-nav .questions-index [class*="disabled"] .pill {
	color: #444444;
}
@media only screen and (max-width: 640px) {
	#exercicios .questions-nav .questions-index,
	#exercicios .questions-nav .questions-next {
		display: flex;
		justify-content: center;
	}
}

/* Referências */
#referencias .ref-content {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 1rem 0;
	border-radius: 0;
	word-wrap: break-word;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	color: #ffffff;
	font-size: 1.2rem;
}

/* Media Queries - Responsive Custom Code -------------------------------------------------- */
/*
	--breakpoint-s: 640px;
	--breakpoint-m: 960px;
	--breakpoint-l: 1200px;
	--breakpoint-xl: 1600px; x
*/
/* ATÉ s/m/l ou menos */
@media only screen and (max-width: 640px) {}
@media only screen and (max-width: 960px) {
	nav ul a {
		font-size: .9rem;
	}
	iframe {
		min-height: 40vh;
	}
	#cover {
		position: relative;
	}
	.cover-title {
		width: 90%;
		height: 85%;
		padding: 0;
	}
	.cover-title>* {
		font-size: 2rem;
	}
	#uni .section .section-title {
		margin-bottom: 2rem;
	}
	#uni .section .section-title:after {
		height: 1rem;
		margin: 3px 0 5px 1rem;
	}
	#uni .section .section-title>*:not(.material-icons) {
		font-size: 1.4rem;
	}
}
@media only screen and (max-width: 1200px) {}

/* APARTIR de s/m/l ou mais */
@media only screen and (min-width: 640px) { }
@media only screen and (min-width: 960px) {
	.container {
		width: 90% !important;
	}
}
@media only screen and (min-width: 1200px) {}