
#addPersonalArtifact .reqfield:before, #addPersonalArtifact .required > .label > label:before, #savePortfolioSettingsForm .reqfield:before, #savePortfolioSettingsForm .required > .label > label:before {
    font-size:16px!important;
}
.portfolioRightPage .actionBar {
    padding: 0 10px;
}

.portNavMobileBUtton {
	visibility: hidden;
}

.portfolioLeftPage ul li.active a:after {
	right: -6px;
}

#artifactPickerLightbox .locationPane {
	background: #fff;
}

#artifactPickerLightbox .container.picker {
	border: 0;
}

#filterContainer {
	border-right: 1px solid #CCCCCC;
}

#filterContainer ul {
    padding-right: 10px;
}

@media only screen
and (min-width:0px) and
(max-width:1024px) {
	
	.portfolioRightPage {
		margin: 0px;
	}

	.portfolioLeftPage {
		position: absolute;
		z-index: 1000;
		top: 0px;
		background: #fff;
		padding: 10px;
		background: #777;
		transition: all 300ms;
		border-radius: 6px;
		left: -130px;
	}

	.portfolioLeftPage {
		left: -130px;
	}

	.portfolioLeftPage.tools-list-open {
		left: 0px;
	}

	.portfolioLeftPage:after {
		content: "\2039";
		position: absolute;
		right: -25px;
		top: 20px;
		font-size: 180%;
		color: #fff;
		padding: 4px 6px 8px 2px;
		background-color: #777;
		border-radius: 0 12px 12px 0;
		line-height: 1;
		border: 1px solid #666;
		border-width: 1px 1px 1px 0;
		-moz-transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
		-moz-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		-webkit-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		z-index: 9000;
		width: 10px;
		height: 30px;
		padding-left: 8px;
		padding-top: 8px;
	}

	div.localViewToggle {
		width: 100%;
		position: relative;
		top: 0px;
	}

	.portfolioLeftPage ul:before{
		border: 0px;
	}

	.portfolioRightPage {
		padding-bottom: 300px;
	}

	.portfolioRightPage .localViewToggle {
		position: relative;
	}

	#addPersonalArtifact .reqfield:before, 
	#addPersonalArtifact .required > .label > label:before, 
	#savePortfolioSettingsForm .reqfield:before, 
	#savePortfolioSettingsForm .required > .label > label:before {
	    font-size:16px!important;
	}

	.portfolio-authoring .actionBar {
	    position: relative;
	    width: 100%;
	    left: -16px;
	    margin-left:  0px;
	}

	.portNav {
		left: -256px;
		padding: 10px;
		background: #777;
		transition: all 300ms;
		border-radius: 6px;
		background: #fff;
		position: absolute;
		box-shadow: 0px 5px 5px rgba(82, 81, 81, 0.27);
		z-index: 100;
	}

	.portNav.portNavOpen {
		left: 0px;
	}

	.portNavMobileButton {
		position: absolute;
		right: -25px;
		top: 13px;
		font-size: 180%;
		color: #fff;
		padding: 4px 6px 8px 2px;
		background-color: #777;
		border-radius: 0 12px 12px 0;
		line-height: 1;
		border: 1px solid #666;
		border-width: 1px 1px 1px 0;
		-moz-transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
		-moz-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		-webkit-transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		transition: left 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
		z-index: 9000;
		width: 10px;
		height: 30px;
		padding-left: 8px;
		padding-top: 8px;
		visibility: visible;
		opacity: 0.5;
	}

	.portNavMobileButton:after {
		content: "\2039";
		font-size: 180%;
		position: absolute;
		top: 0px;
		left: 5px;
	}


	#portBody {
		width: 100%;
		margin-left: 0px;
	}

	h1.page-wide-editable {
    	margin: 0px 0px 0px 20px;
	}

	.artifacts {
		overflow: hidden;
		padding-left: 0px;
	}
	
	#portBody .subList {
		width: 100%;
		padding: 0px 20px 0px 0px;
	}
	.addArtifact,
	.portfolioSection li.artifact {
		width: 100%;
		float: left;
		clear: both;
		left: 0px;
		position: relative;
		margin-bottom: 20px;
		z-index: 1;
		position: relative;
	}

	.portfolioSection .reflectionButtons .deleteSection, .portfolioSection .editSection {
		padding: 0px 10px 0px 10px;
		font-size: 23px;
	}

	.inventory {
		overflow: hidden;
	}
	/*!importants overiding inline styles*/
	.introjs-tooltip {
	    position: fixed;
	    left: 0px !important;
	    max-height: 190px;
	    overflow-y: scroll;
	    bottom: 0px !important;
	    top: auto !important;
	    width: 100%;
	    padding: 10px;
	    max-width: 94%;
	}


	.forcedWideTooltip {
	    min-width: 30px;
	    max-width: 100%;
	}
}