﻿/*	Template Theme Styles */

/* UNIDADE */
/* Nav */
#uni.pos .top-bar .top-wrapper { background-color: #25a9dd; }
#uni.pos .top-bar .top-wrapper .dropdown-content { background-color: #25a9dd; }
#uni.pos .nav-off-canvas { background-color: #25a9dd; }
/* Cover */
#uni.pos #cover:after {
	opacity: 0.8;
}
#uni.pos .cover-overlay { background-image: url(../img/_base/cover-overlay-pos.png); }
#uni.pos #main-content.bg-content {
	background: url(../img/_base/bg-content-pos.jpg) center center no-repeat fixed white;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* Buttons Colors */
#uni.pos .btn,
#uni.pos .btn-large,
#uni.pos .btn-small,
#uni.pos .btn-floating,
#uni.pos .btn-flat {
	color: #FFFFFF;
	background-color: #52CCCC;
}

#uni.pos .btn:hover,
#uni.pos .btn-large:hover,
#uni.pos .btn-small:hover,
#uni.pos .btn:focus,
#uni.pos .btn-large:focus,
#uni.pos .btn-small:focus,
#uni.pos .btn-floating:focus {
	background-color: #2D7070;
	box-shadow: none;
}
/* EXERCÍCIOS */
#uni .exercicios .questions-nav .questions-index [class*="active"] .pill {
	border-color: #52CCCC;
	background: #52CCCC;
}
#uni .exercicios .questions-nav .questions-index :not([class*="active"]) .pill:hover {
	color: #52CCCC;
}
/* PARA O CURSO */
#uni .bx-lines .bx-title [class*="icon"] {
	background: #25a9dd;
}

/* Jogo da Memória */
#uni .memory-game {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem !important;
}
#uni .memory-game.blocked::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 8;
}
#uni .memory-game.blocked.game-overlay::after {
	background: rgba(0, 0, 0, 0.2) !important;
}
#uni .memory-game .flip-card {
	background-color: transparent !important;
	width: 8em !important;
	height: 12em !important;
	margin: 0.4em !important;
	perspective: 1000px;
}
#uni .memory-game .flip-card:not(.match) {
	cursor: pointer;
}
#uni .memory-game.show-all .flip-card .flip-card-inner {
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#uni .memory-game .flip-card.flip .flip-card-inner {
	border-radius: 5px;
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card .flip-card-inner::before,
#uni .memory-game .flip-card .flip-card-inner::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backface-visibility: hidden;
}
#uni .memory-game .flip-card .flip-card-inner::after {
	background-image: url(../img/jm-sprite.png);
	background-position: left bottom;
	background-size: auto 301%;
}

#uni .memory-game .flip-card .flip-card-inner::before {
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card#one .flip-card-inner::before {
	background-image: url(../img/jm-sprite.png);
	background-position: left top;
	background-size: auto 301%;
}
#uni .memory-game .flip-card#two .flip-card-inner::before {
	background-image: url(../img/jm-sprite.png);
	background-position: right top;
	background-size: auto 301%;
}
#uni .memory-game .flip-card#three .flip-card-inner::before {
	background-image: url(../img/jm-sprite.png);
	background-position: left center;
	background-size: auto 301%;
}
#uni .memory-game .flip-card#four .flip-card-inner::before {
	background-image: url(../img/jm-sprite.png);
	background-position: right center;
	background-size: auto 301%;
}

#uni .memory-game .flip-card.match .flip-card-inner::before,
#uni .memory-game .flip-card.match .flip-card-inner::after {
	border: 5px solid #7dd9d9;
}
/* Small Screens */
@media only screen and (max-width: 640px) {
	#uni .memory-game { font-size: 75%; }

	#uni .memory-game .flip-card {
		width: 6em !important;
		height: 9em !important;
	}
}