﻿/*	Template Theme Styles */

/* UNIDADE */
/* Nav */
#uni.grd .top-bar .top-wrapper { background-color: #004F9F; }
#uni.grd .top-bar .top-wrapper .dropdown-content { background-color: #004F9F; }
#uni.grd .nav-off-canvas { background-color: #004F9F; }
/* Cover */
@media only screen and (max-width: 960px) {
  #uni.grd #cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 9;

    /* background: rgb(0, 79, 159);
    background: -moz-linear-gradient(top,
      rgba(0, 79, 159, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top,
      rgba(0, 79, 159, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom,
      rgba(0, 79, 159, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#000000', GradientType=0); */

    background: rgb(0, 79, 159);
    background: -moz-linear-gradient(20deg, rgba(0, 79, 159, 1) 40%, rgba(0, 156, 204, 0.8) 100%);
    background: -webkit-linear-gradient(20deg, rgba(0, 79, 159, 1) 40%, rgba(0, 156, 204, 0.8) 100%);
    background: linear-gradient(20deg, rgba(0, 79, 159, 1) 40%, rgba(0, 156, 204, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004f9f", endColorstr="#009ccc", GradientType=1);
  }
}
#uni.grd .cover-overlay { background-image: url(../img/_base/cover-overlay-grd.png); }
/* #uni.grd #main-content.bg-content {
  background: url(../img/_base/grd/bg-content-grd.jpg) center center no-repeat fixed white;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
/* Buttons Colors */
#uni.grd .btn,
#uni.grd .btn-large,
#uni.grd .btn-small,
#uni.grd .btn-floating,
#uni.grd .btn-flat {
  color: #FFFFFF;
  background-color: #FF9900;
}
#uni.grd .btn:hover,
#uni.grd .btn-large:hover,
#uni.grd .btn-small:hover,
#uni.grd .btn:focus,
#uni.grd .btn-large:focus,
#uni.grd .btn-small:focus,
#uni.grd .btn-floating:focus {
  background-color: #E65100;
  box-shadow: none;
}

/* TESTE 2020 */

/* Floating Action Nav - Menu Flutuante */
/* GERAL */
html.fan-active,
#uni.fan-active {
  overflow: hidden;
}
#uni .nav-fan,
#uni .nav-fan .menu-group {
  position: fixed;
  width: 2.5rem;
  height: 92vh;
  top: 1.8rem;
  right: 1rem;
  bottom: auto;
  left: auto;
}
#uni .nav-fan,
#uni .nav-fan * {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#uni .nav-fan a {
  background-image: none;
}

/* WRAPPER */
#uni .nav-fan {
  display: block;
  /* height: 2.5rem; */
  z-index: 99;
  overflow: hidden;

  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  border-radius: 100rem;

  background-attachment: fixed;
  background-position: right top;
  background-color: #009CCC;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border: 0.1px solid black; /* fix the line around bug */
}

/* OVERLAY */
#uni .nav-fan::after {
  content: "";
  position: absolute;
  display: block;

  width: 200vw;
  height: 200vh;

  top: 0;
  right: 0;
  bottom: auto;
  left: auto;

  background-image: url(../img/_base/nav-overlay-grd.png);
  background-attachment: fixed;
  background-position: right top;
  background-color: transparent;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;
}

#uni .nav-fan .menu-group,
#uni .nav-fan .menu-group > * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
}
#uni .nav-fan.closed .menu-group > * {
  overflow: hidden;
}
#uni .nav-fan.closed .menu-group > *:hover {
  overflow: visible;
}
#uni .nav-fan .menu-group {
  /* height: 92vh; */
  padding: 0.5rem 0;
  background-color: transparent;
  box-shadow: none;
  z-index: 2;
  overflow: hidden;

  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#uni .nav-fan .menu-group .menu-iten {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  justify-content: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.5rem;
  min-height: 1.5rem;
  margin: 0 0 1vh;
}
#uni .nav-fan .menu-group .menu-iten a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: right;
}
#uni .nav-fan .menu-group .menu-iten a > * {
  position: relative;
  display: table;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;

  border-radius: 10rem;

  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  z-index: 1;
}
#uni .nav-fan .menu-group .menu-iten .menu-name {
  padding: .2rem 1rem;
  opacity: 0;
  z-index: -1;
}
#uni .nav-fan .menu-group .menu-iten .menu-icon {
  width: 2.5rem !important;
  margin-left: .1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
#uni .nav-fan .menu-group .menu-iten .menu-icon .icon {
  position: absolute;
  width: 100%;
  left: 0;
}
#uni .nav-fan .nav-title {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 10% 10%;
  z-index: 1;
}

#uni .nav-fan .nav-title .unit-title {
  font-size: 2.5rem;
  font-size: 5vw;
  font-size: 6vmin;
  font-size: 6vm;

  font-weight: bold;
  color: #ffffff;
  line-height: 1.2em;
}
#uni .nav-fan .nav-title .discipline-title {
  font-size: 1.5rem;
  font-size: 3vw;
  font-size: 3.5vmin;
  font-size: 3.5vm;

  font-weight: lighter;
  color: #cccccc;
}

/* OPENED, HOVER & ACTIVE */
#uni .nav-fan.opened {
  width: 200vw;
  height: 200vh;

  top: -50%;
  right: -50%;

  z-index: 999;
}
#uni .nav-fan.opened .nav-title {
  display: block;
}

#uni .nav-fan.opened .menu-group,
#uni .nav-fan .menu-group:hover {
  overflow: visible;
}
#uni .nav-fan.opened .menu-group .menu-iten a .menu-name,
#uni .nav-fan .menu-group .menu-iten:hover a:not(.disabled) .menu-name {
  opacity: 1;
  z-index: 1;
}
#uni .nav-fan .menu-group .menu-iten:hover a:not(.disabled) .menu-name,
#uni .nav-fan .menu-group [class*="active"] .menu-name {
  width: -moz-fit-content !important;
  width: fit-content !important;
  overflow: hidden;
  background-color: #FF9900;
  box-shadow: none;
}
#uni .nav-fan .menu-group .menu-iten:hover a:not(.disabled) .menu-icon,
#uni .nav-fan .menu-group .menu-iten [class*="active"] .menu-icon {
  color: #FF9900;
}
#uni .nav-fan.closed .menu-group .menu-iten .menu-icon .icon[class*="close"],
#uni .nav-fan.opened .menu-group .menu-iten .menu-icon .icon[class*="menu"] {
  display: none;
}
#uni .nav-fan .menu-group .menu-nav .menu-iten .menu-icon .icon:not(.icon-bullet) {
  display: none;
}
#uni .nav-fan.opened .menu-group .menu-nav .menu-iten .menu-icon .icon.icon-bullet,
#uni .nav-fan .menu-group .menu-nav .menu-iten:hover .menu-icon .icon.icon-bullet {
  display: none;
}
#uni .nav-fan.opened .menu-group .menu-nav .menu-iten .menu-icon .icon:not(.icon-bullet),
#uni .nav-fan .menu-group .menu-nav .menu-iten:hover .menu-icon .icon:not(.icon-bullet) {
  display: table;
}
/* MOBILE */
@media (hover: none) {
  #uni .nav-fan.closed .menu-group .menu-iten a:not(.disabled) .menu-name {
    opacity: 0;
    z-index: -1;
  }
  /* #uni .nav-fan.opened .menu-group .menu-iten a:not(.disabled) .menu-name {
    display: table;
  } */
  #uni .nav-fan .menu-group .menu-iten.menu-trigger * {
    color: #ffffff !important;
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 640px) {
  #uni .nav-fan {
    height: 2.5rem;
  }
  #uni .nav-fan.closed .menu-group > * {
    height: 2rem;
  }
  #uni .nav-fan.closed .menu-group .menu-iten:not(.menu-trigger) {
    display: none;
  }
  #uni .section .section-title {
    max-width: 80%;
  }
  #uni .nav-fan.opened .nav-title,
  #uni .section .section-title::after {
    content: none !important;
    display: none;
  }
}
@media only screen and (max-height: 640px) {
  #uni .nav-fan {
    height: 2.5rem;
  }
  #uni .nav-fan.closed .menu-group > * {
    height: 2rem;
  }
  #uni .nav-fan .menu-group .menu-nav {
    margin: 1rem 0;
  }
  #uni .nav-fan.opened .menu-group .menu-nav {
    overflow-y: scroll;
    margin: 1rem 0;
  }
  #uni .nav-fan .menu-group .menu-iten {
    margin: 0 0 .2rem;
  }
  #uni .nav-fan.closed .menu-group .menu-iten:not(.menu-trigger) {
    display: none;
  }
  #uni .nav-fan.opened .menu-group {
    height: 82vh;
  }
}

/* Section Header */
#uni .section .section-header .section-title .title-text {
  color: #25B7D2;
}
#uni .section .section-header .section-title .title-text .icon {
  color: #E65100 !important;
}

/* Arrows Floating Content Nav - Menu Flutuante */
#uni .content-menu {
  display: none;
  z-index: -1;
}
@media only screen and (max-width: 640px), (max-height: 640px) {
  #uni .content-menu {
    position: fixed;
    display: flex;
    flex-flow: column;
    width: 2.5rem;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 100;
  }
  #uni.cover-active .content-menu {
    z-index: 0;
  }
  #uni .content-menu > * {
    margin: .5vh auto;
  }
}