@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#292929;
	line-height:17px;
	text-align:justify;
}

#corpo {
	width:920px;
	height:530px;
	margin:0 auto;
	overflow:hidden;
}

header {
	height:50px;
	width:100%;
}

.titulo {
	font-size:18px;
	line-height:25px;
	background-color:#EFEFEF;
	width:auto;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px; 
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	font-family:Arial, Helvetica, sans-serif;
}

#conteudo {  width: 870px; height:530px; margin-left: 25px;
	position:absolute; overflow:hidden;}

#conteudo p {
	margin-left:55px;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;
	line-height:17px;
}

#conteudo2 {
	width: 860px;
	height: 480px;
	margin: auto;
	left: 5px;
	top: 46px;
	position: absolute;
	overflow:hidden;
}

#conteudo2-sem-titulo {
	width: 860px;
	height: 525px;
	margin: auto;
	left: 5px;
	top: 0px;
	position: absolute;
}

h2.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:versdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	padding:10px;
	margin-left:45px;
	text-align:left
}

.fig-esquerda { float:left; margin-right:5px; }

.fig-direita { float:right; margin-left:10px; }

.fig-centro { margin:0 auto; margin-bottom:10px; }



.box-cinza {
	font-weight:bold;
	font-size:15px;
	font-family:versdana, Arial, Helvetica, verdana;
	width:auto;
	color:#292929;
	letter-spacing:1px;
	margin-bottom:15px;
	background-color:#EFEFEF;
	border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	-o-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	text-align:center;
	padding:10px;
}

.box-azul {
	background-color:#6787A4;
	padding:10px;
	color:#fff;
	margin-left: 30px;
	text-align:center;
	font-weight:bold;
}

.box-azul-claro {
	background-color:#238c87;
	padding:15px;
}

.box-borda-azul {
	border:2px #5c84a7 solid;
	border-radius:6px;
	padding:10px; 
}

.box-escuro {
	background-color:#333;
	border:2px solid #000;
	color:#fff;
	padding:10px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
}

.box-verde { background-color:#C1FFC1; padding:15px; }

.box-vermelho { background-color:#c42400; padding:15px; color:#fff; }

.box-azul-claro2 {
	width:auto;
	background:#b4e2e5;
	border:2px solid #478e8d;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	color:#000;
	font-size:11.1px;
	padding:7px;
	font-family:arial;
}

.arredondado {
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
}

.texto-importante {
	border:2px #333 solid;
	border-radius:5px; border-left:0;
	background-color:#EBEBEB;
	margin-left:160px;
	margin-top:-110px;
	padding:10px;
	color:#292929;
}

.circulo {
    border-radius:100%;
	background-color:#ededed;
    width:120px;
    height:120px;
    margem:auto;
	text-align:center;
	padding:10px;
	color:#292929;
	line-height:120px;
	box-shadow:4px 5px 5px #666;
}

table.tab1 {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	width:auto;
	margin:auto;
}

.tab1 th {
	background-color:#EDEDED;
	color:#000;
	padding:7px;
	text-align:center;
	border:1px solid #000;
}

.tab1 td {
	padding:3px 5px;
	border:1px solid #000;
	text-align:left;
}

.col-esq {
	width:48%;
	height:600px;
	padding:5px;
	float:left;
	background-color:#DCD;
}

.col-dir {
	width:48%;
	height:600px;
	padding:5px;
	float:right;
	background-color:#333;
}

.fundo-branco {
	background-color:#fff;
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	-o-opacity:0.8;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

/* Erlan - Classes de Novas Janelas Popup */
.bloco1, .bloco2, .bloco3, .bloco4 {
	width:400px;
	padding:10px;
}

.bloco1 {
	background-color:#069;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #6CF;
}

.bloco2 {
	background-color:#333;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #000;
}

.bloco3 {
	background-color:#C30;
	color:#fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #C63;
}

.bloco4 {
	background-color:#fff;
	color:#000;
	border-radius:8px;
	-moz-border-radius:8px;
	-o-border-radius:8px;
	-webkit-border-radius:8px;
	border:5px double #999;
}

/* Fim */

a {
	color:#5c84a7;
	text-decoration:none;
}

a:hover {
	color:#06F;
}

table {
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-collapse:collapse;
	margin:auto;
	margin-bottom:15px;
}

th {
	background-color:#5c84a7;
	color:#FFF;
	padding:7px;
	text-align:center;
	border:1px solid #fff;
}

td {
	padding:3px 5px;
	border:1px solid #5c84a7;
	text-align:left;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
	padding:50px;
	text-align:center;
	float:left;
	margin-right:10px;
}

.caixa1 { background-color:#d7d7d7; cursor:pointer; font-weight:bold; }
.caixa2 { background-color:#069; color:#fff; cursor:pointer; font-weight:bold; }
.caixa3 { background-color:#5c84a7; color:#fff; cursor:pointer; font-weight:bold; }
.caixa4 { background-color:#CF0; cursor:pointer; font-weight:bold; }
.caixa5 { background-color:#c42400; color:#fff; cursor:pointer; font-weight:bold; }

.j-modal-cinza { 
	background-color:#EDEDED;
	border:1px dashed #5c84a7;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	padding:20px;
	width:480px;
	position:relative;
	z-index:200
}

.j-modal-cinza>.fechar-modal {
	background-color:#5c84a7;
	color:#FFF;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	width:auto;
	font-weight:bold;
	text-align:right;
	margin-bottom:10px;
	cursor:pointer;
}


.j-modal-cinza .j-texto { text-align:justify; }

.bt-voltar {
	position:absolute;
	top:200px;
	margin-left:0px;
	text-decoration:none;
	z-index:100;
	text-align:center;
	padding:5px;
	background-image:url(../imagens/voltar.png);
	background-repeat:no-repeat;
	width:30px;
	height:80px;
	transition:0.7s;
	-webkit-transition:0.7s;
	-moz-transition:0.7s;
	-o-transition:0.7s;
}

.bt-voltar:hover { background-image:url(../imagens/voltar-hover.png); background-repeat:no-repeat; width:30px; }

.bt-avancar {
	position:absolute;
	top:200px;
	margin-left:890px;
	z-index:100;
	text-align:center;
	padding:5px;
	background-image:url(../imagens/avancar.png);
	background-repeat:no-repeat;
	width:30px;
	height:80px;
	transition:0.7s;
	-webkit-transition:0.7s;
	-moz-transition:0.7s;
	-o-transition:0.7s;
}

.bt-avancar:hover { background-image:url(../imagens/avancar-hover.png); background-repeat:no-repeat; width:30px; }

iframe { margin-left:50px; }

figcaption { text-align:center; background-color:#dcdcdc; border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:3px;}

.caption-importante { color:#333; font:19px Impact, Arial, Serif; background-color:#fff; }

.tooltip { background-color:#333; color:#FFF; padding:5px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; width:70px }

.fundo { background-color:#000; opacity:0.7; -moz-opacity:0.7; -webkit-opacity:0.7; -o-opacity:0.7; 
position:absolute; width:110%; margin-left:-20px; height:100%; z-index:1000 }

.janela-branca {
	background-color:#FFF;
	width:auto;
	height:auto;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px;
	border:1px thick #999;
	margin:auto;
	border:2px double #F1F1F1;
	box-shadow:0px 0px 10px #666;
}

.janela-branca>.titulo-bloco { 
	background-color:#C7C7C7; 
	color:#069; 
	padding:5px; 
	border-radius:2px; -moz-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px;
	font-size:15px Arial, Serif;
	font-weight:bold;
	margin-bottom:5px;
}

.janela-branca>.conteudo-bloco {
	padding:10px;
}

.resumo {
	background-color:#ECECEC;
	padding:10px;
	border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px;
	border:2px dashed #6787A4;
}
