/* @group TOP FRAME
----------------------------------------------- */

/* @group TOP FRAME LAYOUT */

/*Branding image container.*/

/*Application tabs (top frame)*/

/* Alteração feita por Julio Bonifacio*/
@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url('fonts/futura/futura-bold-condensed-bt.eot');
	src: url('fonts/futura/futura-bold-condensed-bt.eot?#iefix') format('embedded-opentype'), url('fonts/futura/futura-bold-condensed-bt.woff') format('woff'), url('fonts/futura/futura-bold-condensed-bt.ttf') format('truetype'), url('fonts/futura/futura-bold-condensed-bt.svg#futura_boldcondensedbt') format('svg');
	font-weight: lighter;
}

@font-face {
	font-family: 'Futura Book BT';
	src: url('fonts/futura/futura-book-bt.eot');
	src: url('fonts/futura/futura-book-bt.eot?#iefix') format('embedded-opentype'), url('fonts/futura/futura-book-bt.woff') format('woff'), url('fonts/futura/futura-book-bt.ttf') format('truetype'), url('fonts/futura/futura-book-bt.svg#futura_ltcnbt') format('svg');
}

@font-face { 
	font-family: 'Futura Extra Black Condensed BT';
	src: url('fonts/futura/futura-xblkcn-bt.eot');
	src: url('fonts/futura/futura-xblkcn-bt.eot?#iefix') format('embedded-opentype'), url('fonts/futura/futura-xblkcn-bt.woff') format('woff'), url('fonts/futura/futura-xblkcn-bt.ttf') format('truetype'), url('fonts/futura/futura-xblkcn-bt.svg#futura_xblkcnbt') format('svg');
	font-weight: lighter;
}
/* Fim da alteração feita por Julio Bonifacio */

table.bouncer {
    width: 100%;
}

table.bouncer td {
    padding:0;
}

.brandingImgWrap {
    overflow:hidden;
}

/*Branding image is hidden when compact tabs are used*/
.topTabs-compact .bannerImage, .topTabs-compact .brandingImgWrap {
    display:none;
}

/*Compact tabs*/
.topTabs-compact {
    position:relative;
}

/*Center aligned tabs*/
.topTabs .tabWrapper-center .appTabs, .topTabs-compact .tabWrapper-center .appTabs {
    margin: 0 auto;
}

/*Right aligned tabs.*/
.topTabs .tabWrapper-right .appTabs, .topTabs-compact .tabWrapper-right .appTabs {
    float: right;
}

#topFrame /*@branding - do not remove*/,
    /*---*/
.bgBanner {
    background-position: 0 0px;
    background-repeat: no-repeat;
    color:#CCCCCC;
}

.brandingImgWrap {
    height:50px;
}

.brandingImgWrap a {
    display: inline-block;
    position: absolute;
}

.brandingImgWrap a:focus {
    outline-color: #CCC;
}

.bannerImage {
    max-height: 35px;
}

.brandingImgWrap img[src*="header_institution"] {
    left: 20px;
    max-height: 60px;
    position: absolute;
    top: 0px;
    z-index: 9001;
}

.brandingImgWrap img {
    left: 20px;
    max-height: 50px;
    max-width: 140px;
    position: absolute;
    top: 7px;
    z-index: 9001;
}

/*Branding image, hot spots and hot links are hidden when compact tabs are used*/
.topTabs-compact .bannerImage, .topTabs-compact .brandingImgWrap, .topTabs-compact .hotItems {
    display:none;
}

/*Nav*/
.global-nav-bar-wrap {
    background-color: #000;
    width: 100%;
    height: 0px;
    background: #333;
}

/* from theme specific */
/*Regular tabs*/
.topTabs {
    padding: 0;
    background-color: #333; /*@pal*/
    box-shadow: none;
    color: #FFFFFF;
    height: 100%;
}


/*Compact tabs*/
.topTabs-compact {
    height: 52px;
}

/*Tab wrapper*/
.tabWrapper-left, .tabWrapper-center, .tabWrapper-right {
    width: auto;
    padding: 0px 28px;
}

/*Table that contains application tabs*/
/*Regular tabs*/
.appTabs {
    width: auto;
    position: relative;
}

.topTabs-compact .tabWrapper-left, .topTabs-compact .tabWrapper-center, .topTabs-compact .tabWrapper-right {
    padding-top: 24px;
}

/* @end */

/* @group APPLICATION TABS */

/*Application tabs*/
/*Regular tabs*/
.appTabs a {
    font-size:110%;
    text-align:center;
    display:block;
    text-decoration:none;
    padding: 10px 1.2em 19px;
    color:#efefef;
    color:rgba(255,255,255,0.9);
    z-index:100;
    white-space:nowrap;
    position: relative;
    border: 1px solid transparent;
    border-width: 1px 1px 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 1.1rem;
}

/*@branding - do not remove*/
#topTab {
    background: transparent;
    color:#efefef;
}

.appTabs a span {
    border-bottom: 1px dotted transparent;
    padding-bottom: 1px;
}

.topTabs-compact .appTabs a span {
    padding-bottom: 0;
}


.appTabs a:hover, .appTabs a:focus {
    color:#fff;
}

.appTabs a:hover span, .appTabs a:focus span {
    border: 0px !important;
    color: #fff;

}

/*@branding - do not remove*/
#topTabActive,
.appTabs .active a, .appTabs .active a:hover, .appTabs .active a:focus {
    color:#fff;
    font-weight:bold;
    text-shadow: 0 0 6px #000;
    z-index:100;
}

.appTabs .active a  span, .appTabs .active a:hover span, .appTabs .active a:focus span {
    border: 0;
}

.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff,
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff {
    bottom: 0;
    border-left:0px solid transparent;
    border-right:0px solid transparent;
    border-top:0;
    margin-left: -12px;
    bottom: 0px;
    line-height: 0;
    left: 50%;
    top: auto;
    color: transparent;
    font-size: 0;
    z-index: 100;

}

.topTabs-compact .appTabs .active .hideoff {
    display: none;
}

.topTabs-compact .appTabs .active .hideoff,
.topTabs-compact .appTabs .active a:hover .hideoff,
.topTabs-compact .appTabs .active a:focus .hideoff {
    border-width: 0 7px 7px;
    margin-left: -7px;
}

.topTabs-compact .appTabs a,
.topTabs-compact  .appTabs .active a:hover,
.topTabs-compact  .appTabs .active a:focus {
    font-size: 95%;
    padding: 0.4em 1em .7em;
}

.appTabs a {
    color: #cdcdcd;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
}

.appTabs a:hover span,
.appTabs a:focus span {
    border-bottom: 1px double #FFF;
}

/*@branding - do not remove*/
#topTab {
    background: transparent;
    color: #666;
}

.appTabs a span {
    padding-bottom: 1px;
    border-bottom: 0px;
}

.appTabs a:hover, .appTabs a:focus {
    color: #666;
}

/*@branding - do not remove*/
#topTabActive,
.appTabs .active a, .appTabs .active a:hover, .appTabs .active a:focus {
    font-weight: bold;
    z-index: 1000;
    text-shadow: none;
    color: #FFFFFF;
}

.appTabs td.active {
    border-bottom: 3px solid #c56fd5;
}

.appTabs td {
    padding-bottom: 14px !important
}

#topTabActive, .appTabs .active a, .appTabs .active a:hover, .appTabs .active a:focus {
    color: #fff;
}

.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff,
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff {
    border-bottom: 14px solid #fff;
}


/*Rounding options*/
.round1 a {
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.round2 a {
    -moz-border-radius:12px 12px 0 0;
    -webkit-border-radius:12px 12px 0 0;
    border-radius:12px 12px 0 0;
}

/* @end */


/* @group TOP FRAME LINKS (HOME, HELP, LOGOUT)
----------------------------------------------- */

/*Top frame links*/

.topGlobalLinks {
    background-color: rgba(0,0,0, 0.15);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000020, endColorstr=#33000020";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000020, endColorstr=#33000020);
}

.topGlobalLinks ul {
    z-index: 1001
}

.topGlobalLinks  ul li {
    color: #ccc;
    display: inline-block;
    margin: 0  0 0 -4px;
}

.topGlobalLinks ul li:first-child {
    margin: 0;
}

.topGlobalLinks a {
    display: inline-block;
    color: #ccc;
    text-align: left;
    padding: 3px 5px;
    text-indent: -10000px;
    min-width: 18px;
    overflow: hidden;
    background: none!important;
}

.topGlobalLinks a .link-icon {
    background-image: url(images/utilicons_sprite_rev.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 16px;
    width: 16px;
    overflow: hidden;
}

.topGlobalLinks .home .link-icon {
    background-position: -129px 0
}

.topGlobalLinks .home:hover .link-icon,
.topGlobalLinks .home:focus .link-icon {
    background-position: -129px -16px
}

.topGlobalLinks .logout .link-icon {
    display: none
}

.topGlobalLinks .logout {
    text-indent: 0;
    padding: 2px 9px;
    width: auto!important;
}

.topGlobalLinks .help .link-icon {
    background-position: -145px 1px
}

.topGlobalLinks .help:hover .link-icon,
.topGlobalLinks .help:focus .link-icon  {
    background-position: -145px 1px
}

.topGlobalLinks a:hover,
.topGlobalLinks a:focus {
    color: #eee;
    background-color: rgba(0,0,0, 0.25)!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#44000025, endColorstr=#44000025";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#44000025, endColorstr=#44000025);
}

/* @end TOP FRAME LINKS*/

/* @group TOP FRAME HOT ITEMS
----------------------------------------------- */

.hotItems {
    position: relative;
    margin-right: 3px;
    width: 240px;
    min-height: 28px;
    color: #ddd;
    text-align: center;
    background-color: rgba(0,0,0, 0.20);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000020, endColorstr=#33000020";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000020, endColorstr=#33000020);
}

.hotSpots {
    max-height: 46px;
    overflow: auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding: 3px 3px 5px;
}

.hotSpots li {
    display: inline-block;
    display: inline\9;/*IE8*/
    padding: 0 0 2px;
}

.hotSpots a {
    background: transparent;
    color: #ddd;
    display: inline-block;
    padding: 0 6px 0 0;
}

.hotSpots li:after {
    content: "\2022";
    color: #999999;
    position: relative;
    right: 1px;
}

.hotSpots li:last-child:after {
    content: none
}

.hotSpots a:hover,
.hotSpots a:focus {
    color: #eee;
}

/* @end TOP FRAME HOT*/

/* // GLOBAL NAV // */
/* these styles override the icons set on the Customize Brand page. This is specific to the 2012 theme */
.bottom-buttons-home a.home {
    background: transparent
    url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
    50% 6px;
}

.bottom-buttons-help a.help {
    background: transparent
    url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
    50% -13px;
}

.bottom-buttons-logout a.logout {
    background: transparent
    url('/images/ci/mybb/mybb_nav_bottombuttons_sprite.png ') no-repeat
    50% -33px;
}

.global-nav-bar a.logout-link, .global-nav-bar a.logout-link:hover, .global-nav-bar a.logout-link:focus {
    background-image: url('/images/ci/mybb/mybb_nav_logout.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.global-nav-bar a.logout-link:hover, .global-nav-bar a.logout-link:focus {
    background-position: 50% -22px;
}
/* // end GLOBAL NAV // */


#quick_links_wrap {
    width: 20px;
    overflow: hidden;
}

#quick_links_wrap:hover {
    width: 100px;
    overflow: visible;
    left: -10px;
    background: #333;
}

#quick_links_wrap a {
    position: absolute;
    right: 0px;
}

#globalNavPageNavArea{
    background:#333;
}

/* moved from theme 2106 css */

.global-nav-bar-wrap {
    background-color: #000;
    width: 100%;
    height: 0px;
}

.global-nav-bar {
    margin: 0px 10px;
}

.topTabs .tabWrapper-right {
    height: 66px;
}

.topTabs .tabWrapper-right .appTabs {
    height: 100%;
}

/* Higher contrast outlines for dark backgorunds */
/* manin/global navigation */
.appTabs input:focus, .appTabs button:focus, .appTabs select:focus, .appTabs a:focus,
/* my bb links and logout */
.global-nav-bar input:focus, .global-nav-bar button:focus, .global-nav-bar  select:focus, .global-nav-bar  a:focus,
/* mybb side nav */
.mybb-tools input:focus, .mybb-tools button:focus, .mybb-tools  select:focus, .mybb-tools  a:focus,
.mybb-div .side-nav input:focus, .mybb-div .side-nav button:focus, .mybb-div .side-nav select:focus, .mybb-div .side-nav a:focus,
/* course menu */
.navPalette input:focus, .navPalette button:focus, .navPalette select:focus, .navPalette a:focus,
/* inline grading headers */
.gradeHeader input:focus, .gradeHeader button:focus, .gradeHeader select:focus, .gradeHeader a:focus, 
.gradingPanelHeader input:focus, .gradingPanelHeader button:focus, .gradingPanelHeader select:focus, .gradingPanelHeader a:focus,
.inlineGrader .resizeControls input:focus, .inlineGrader .resizeControls button:focus, .inlineGrader .resizeControls select:focus, .inlineGrader .resizeControls a:focus  {
    outline: 2px solid #e3b7eb;
}

/* @end TOP FRAME */


@media only screen and (min-width:320px) and (max-width:1024px) {

    /*hamburgers*/

    .global-nav-bar-wrap { 
        position: fixed;
        z-index: 9009;
    }
    
    #quick_links_wrap {
        visibility: hidden;
    }

    .brandingImgWrap {
        position: fixed;
        width: 71px;
        top: -3px;
        left: 0px;
        height: 47px !important;
        z-index: 2000;
    }

    .brandingImgWrap img[src*="header_institution"] {
        height: 38px;
        width: 38px;
        margin-left: 4px;
    }

    .brandingImgWrap img {
        display: none;
    }
    
    /*global nav*/

    .global-nav-bar-wrap { 
        position: fixed;
        height: 35px;
        padding-top: 9px;
        background-color: transparent;
    }

    .mybb-shell .global-nav-bar-wrap {
        background-color: #333;
    }

    .global-nav-bar-wrap-mobile-nav {
        height: 33px;
        width: auto;
        top: 0px;
        position: fixed;
        visibility: visible;
    }

    .global-nav-bar {
        position: relative;
        width: 100%;
        height: 44px;
        margin: 0px;
    }

    #global-nav .nav-link.u_floatThis-right {
        float: left;
        width: 100%;
        height: 75px;
        color: transparent;
    }


    #global-nav .nav-link {
        width: 30px;
        box-sizing: border-box;
        overflow: hidden;
        color: transparent;
        background: transparent;
        box-sizing: border-box;
        background-color: transparent;
        padding-right: 22px;
    }


    #global-nav .global-top-avatar {
        float: left;
        height: 30px;
        width: 30px;
        left: 0;
        right: 0;
        margin: auto;
        top: 49px;
    }

    #badgeTotal {
        position: absolute;
        top: 34px;
        right: 43%;
    }

    .nav-link:hover, .nav-link:focus {
        background-color: transparent;
    }

    .global-nav-bar.logout {
        position: fixed;
        top: 10px;
        right: 5px;
        height: 20px;
        width: 30px;
        left: auto;
        overflow: hidden;
    }

    .global-nav-bar .logout-link {
        width: 30px;
        background: transparent;
    }

    .nav-link .badge {
        position: relative;
        top: auto;
        right: auto;
    }

    .global-nav-bar .badge, 
    .side-nav .menu-icon span.badge {
        font-size: 11px;
        height: 12px;
        line-height: 12px;
        margin-left: 0px;
        padding: 4px 3px;
        min-width: 12px;
        height: auto;
    }

    div#global-nav > .hideoff {
        width: 100%;
        height: 44px;
        left: 0px;
        top: 11px;
        font-size: 16px;
        text-align: center;
        color: #d8d3d3;
    }

    .global-toggle {
        display: none;
    }

    #globalNavPageNavArea {
        height: 44px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
        overflow: hidden;
        background: #333;
    }

    #globalNavPageNavArea.main-nav-open {
        overflow: visible;
    }

    .brandingImgWrap {
        position: fixed;
        width: 71px;
        top: -3px;
        left: 10px;
        height: 47px !important;
        z-index: 2000;
    }

    .brandingImgWrap img {
        display: none;
    }


    .appTabs td {
        padding-bottom: 0 !important;
    }

     /*top frame*/
    .mobile-nav-menu-icon {
        visibility: visible;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
    }

    .tabWrapper-left, 
    .tabWrapper-center,
    .tabWrapper-right {
        max-height: 0px;
        position: fixed;
        top: 0px;
        z-index: 9000;
        background: #333;
        -webkit-transition: height 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* Safari */
        transition:  height 300ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
        height: 0px;
        padding-top: 0px;
    }

    .main-nav-open .tabWrapper-left, 
    .main-nav-open .tabWrapper-center,
    .main-nav-open .tabWrapper-right {
        top: 44px;
    }

    table.bouncer {
        height: 44px;
        background: #333;
    }

    table.bouncer td {
        padding: 0;
        width: 100%;
        float: left;
        height: 44px;
    }

    div[class^="topTabs"] div[class^="tabWrapper"]  .appTabs {
        height: 0px;
        max-height: 0px;
        overflow: visible;
        top: -1000px;
    }
    
    .appTabs td.active {
        position: fixed;
        top: 0px;
        left: 0px;
        background: #333;
    }

    .mobile-menu-indicator-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 7px 7px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        margin: auto;
        top: 33px;
        left: 50%;
    }

    .main-nav-open .mobile-menu-indicator-arrow {
        visibility: hidden;
    }

    .appTabs td.active a {
        padding-bottom: 7px;
        position: relative;
    }

    /* for mybb pages */
    .mybb-shell .appTabs td:first-of-type {
       height: 44px;
    }

    .mybb-shell .appTabs td a:first-of-type {
        color: #fff;
        font-weight: bold;
        z-index: 100;
        font-weight: normal;
        padding-bottom: 13px;
        padding-top: 19px;
    }
    
    .paneTabs ul {
        margin-left: 0px;
    }

    .paneTabs ul li:first-of-type {
        visibility: hidden;
        height: 0px;
        width: 0px;
        overflow: hidden;
    }

    .flyout-menu {
        top: 47px;
        width: 100%;
        left: 0px;
        position: fixed;
    }

    #flyoutMenuContent .mybb-tools {
        width: 15%;
    }

    #flyoutMenuContent .accordion-wrapper {
        width: 85%;
    }

    #global-list-tools {
        margin: auto;
    }

    .mybb-shell .topTabs-compact {
        height: 40px;
    }

    .mybb-shell div[class^="tabWrapper"]  {
        padding-top: 2px;
    }

    #globalNavPageContentArea {
        top: 44px;
    }

    #paneTabs {
        visibility: hidden;
    }

    .hiddenTabsLink {
        visibility: hidden;
        height: 0px;
    }

    /* open system menu */

    .main-nav-open table.bouncer,
    .main-nav-open table.bouncer td {
        height: 667px;
    }

    .main-nav-open  div[class^="topTabs"] div[class^="tabWrapper"]  .appTabs {
        height: auto;
        visibility: visible;
        float: none;
        min-width: 100%;
    }
    
    .main-nav-open  div[class^="topTabs"] div[class^="tabWrapper"] {
        height: 667px;
        max-height: 667px;
        overflow-y: auto;
        padding: 0px;
        background: transparent;
        width: 100%;
    }


    .main-nav-open  div[class^="topTabs"] div[class^="tabWrapper"] .appTabs {
        height: auto;
        background-color: #333;
        /*box-shadow: 0px 0px 9px 3px #666; */
        top: 0px;
    }

    .main-nav-open table.bouncer .appTabs td {
        position: relative;
        border-bottom: 1px solid #999;
        height: auto;
    }

    .main-nav-open .appTabs td.active {
        position: relative;
    }

    .main-nav-open .appTabs td a {
        padding-bottom: 20px;
        font-size: 16px;
        height: 22px;
        text-shadow: none;
        padding-top: 12px;
    }

    .main-nav-open .appTabs td ul a {
        padding-bottom: 10px;
        font-size: 13px;
        text-shadow: none;
    }

    .main-nav-open table.bouncer .appTabs td.active {
        border-bottom: 1px solid #c56fd5;
    }

   .main-nav-open table.bouncer .appTabs td.active ul a {
        border-bottom: 0px;
   }

    .main-nav-open #paneTabs {
        visibility: visible;
        float: left;
        width: 100%;
        display: block;
        background-color: #333;
    }

    .main-nav-open #paneTabs li {
        width: 100%;
        float: left;
        display: block;
    }

    .main-nav-open #paneTabs li:first-of-type {
        visibility: hidden;
        height: 0px;
    }

    .main-nav-open #paneTabs .more li:first-of-type {
        visibility: visible;
        height: auto;
    }

    .main-nav-open .appTabs .hiddenTabsLink {
        height: 0px;
        padding: 0px;
    }

    ul#overflowULId {
        display: block;
        position: relative;
    }

    ul#overflowULId {
        display: block;
        position: relative;
        z-index: 90000;
        background: #333;
        border: 0px;
        padding: 0px;
        margin: 0px;
        float: left;
        width: 100%;
        top: 0px;
    }

   .main-nav-open .nav .sub ul li a {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff !important;
        padding-left: 0px;
        font-weight: lighter;
        font-size: 13px;
    }

    .mybb-tools li.risktracker a {
        height: auto;
        width: auto;
    }

}

/*Tablet Styles*/
@media only screen and (min-width:668px) and (max-width:1024px) {
    .topTabs { 
        padding-top: 20px;
    }

    .brandingImgWrap {
        height: 0px;
    }

     .global-nav-bar.logout {
        top: 5px;

    }
}

/*hamburger css */

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 
.hamburger {
    padding: 11px 0px 0px 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}


/*
   * Squeeze
   */

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Alterações feita por Júlio Bonifácio */

/* Colocar a cor de fundo branca. */

div#content {
    background-color: #fff !important;
}

/* Tirar o ícone verde que vem no tema padrão da blackboard. */

.brandingImgWrap img[src*="header_institution"] {
    display: none !important;
}

/* Diminuir a altura do cabeçalho. */

#topFrame, .bgBanner {
    height: 92px !important;
}

/* Centralizar o texto dos menus superiores. */

.appTabs a span{
    margin-top: 10px !important;
}

.good, .adding {
    background: #507a19 !important;
    border-color: #507a19 !important;
}

.container {
    border: none !important; 
}

.actionBar ul li a {
    background: #2D7070 !important;
    color: #fff !important;
}

.actionBar ul li a:hover {
    box-shadow: 0 0 12px rgba(0,0,0,.5) inset !important;
}

li.secondaryButton a {
    font-weight: 600 !important;
}

.backLink a {
    background: #2D7070 !important;
    color: #fff !important;
    font-weight: 600 !important;
}

.backLink a:hover {
    background: #2D7070 !important;
    color: #fff !important;
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.5) inset !important;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.5) inset !important;
    box-shadow: 0 0 12px rgba(0,0,0,.5) inset !important;
    text-decoration: none !important;
}

.backLink a:before {
    color: #fff !important;
}

.backLink a:hover:before {
    color: #fff !important;
}

.helpLink a.browseIcon {
    background: #ee7722 !important;
}

.pagingprefs a {
    background: #2D7070 !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.pagingprefs a:hover {
    background: #2D7070 !important;
    color: #fff !important;
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input#newThemeFile_cancelFileButton {
    background: #52CCCC !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

input#newThemeFile_cancelFileButton:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input#bottom_Cancel {
    background: #2D7070 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: #fff !important; 
}

input#bottom_Cancel:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input#bottom_Submit {
    background: #2D7070 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

input#bottom_Submit:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

.actionBar{
    border: none !important;
    background: #fff !important;
}

#cloud-management-links span.badge {
    background: #52CCCC !important;
}

#copyright {
    display: none !important;
}

.locationPane {
    background: #fff !important;
}

#contentFrame, #schemePreview, body, .ineditmode, .topFrame, .breadcrumbs, .paneTabs, .paneTabs ul li.active, .paneTabs ul li, .wizardBody .containerWizard {
    background-color: #fff !important;
}

.contentPane .receipt, .contentPaneWide .receipt {
    margin: 0 0 0px !important;
}

h1#anonymous_element_3, .colophon {
    display: none !important;
    visibility: hidden !important
}

div#actionbar {
    margin-top: 10px !important;
}

.reorderableModule:hover h2 {
    color: #fff !important;
}

table.bouncer {
   border-bottom: none !important;
}

.landingPageColumn ul li ul {
    margin: 0.8em 0.4em 0.4em 0.8em !important;
}

.paneTabs a {
    border-left-color: #dfdfdf !important;
}

.paneTabs, .breadcrumbs {
    border-bottom-color: #dfdfdf !important;
}

img.eud-avatar {
    width: 100px !important;
    height: 100px !important;
    border-radius: 0px !important;
    transform: rotate(0deg) !important;
    margin-bottom: 8px !important;
}

.breadcrumbs, .paneTabs, .paneTabs ul li.active, .paneTabs ul li {
    background: #fff !important;
}

.paneTabs ul li:first-child {
    padding-left: 8px !important;
    padding-right: 0px !important;
}

.paneTabs ul li:first-child a {
    padding-left: 0px !important;
    padding-right: 12px !important;
}

#quick_links_wrap {
    display: none !important;
}

.button-4 {
    background: #52CCCC !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.button-4:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

.paneTabs ul li:first-child {
    margin-left: 0px !important;
}

input:focus, button:focus, select:focus, a:focus {
    outline: none !important;
}

input[type="submit"].submit {
    background: #52CCCC !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
}

input[type="submit"].submit:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
    background: #52CCCC !important;
    border-radius: 0px !important;
}

.path li {
    border-right: 1px solid #dfdfdf !important;
}

.path li:last-child{
    border-right: none !important;
}

.cmdiv li a:hover{
    background: #ebebeb !important;
 }

 ul#paneTabs .active {
    padding-right: 6px !important;
    padding-left: 0px !important;
}

input[type="text"] + input[type="submit"] {
    background: #52CCCC !important;
    box-shadow: none !important;
    color: #fff !important;
    font-weight: 600 !important;
    border-radius: 0px !important;
}

input[type="text"] + input[type="submit"]:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input[type="text"], input[type="password"], select {
    border-radius: 0px !important;
}

.paletteItems li.selectedItem, .paletteItems li.selectedItem:hover, .paletteItems li.selectedItem:focus, .paletteItems li.active, .paletteItems li.active:hover, .paletteItems li.active:focus {
    background: #ebebeb !important;
}

.contentListPlain .addModule a {
    background: #507a19 !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.contentListPlain .addModule a:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

.contentListPlain .removeModule a {
    background: #d31111 !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.contentListPlain .removeModule a:hover{
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

.jumpToPageOpen {
    background: #fff !important;
    box-shadow: none !important;
}

a.jumpToPageOpen:hover, a.jumpToPageOpen:focus {
    border-bottom: none !important;
}

.actionMenu .actionMenuItem a {
    background: #fff !important;
    color: #333 !important;
}

.actionMenu .actionMenuItem a:hover {
    box-shadow: none !important;
    background: #ebebeb !important;
}

#listContainer_nav_batch_top li.sub a, #listContainer_nav_batch_bot li.sub a {
    background: #52CCCC !important;
    box-shadow: none !important;
    color: #fff !important;
    border-radius: 0px !important;
}

#listContainer_nav_batch_top li.sub a:hover, #listContainer_nav_batch_bot li.sub a:hover {
    background: #52CCCC !important;
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
    color: #fff !important;
}

#listContainer_nav_batch_top li.sub ul li a, #listContainer_nav_batch_bot li.sub ul li a {
    background: none !important;
    color: #333 !important;
    font-weight: normal !important;
}

#listContainer_nav_batch_top li.sub ul li a:hover, #listContainer_nav_batch_bot li.sub ul li a:hover {
    background: #ebebeb !important;
    box-shadow: none !important;
    color: #333 !important;
}

#listContainer_nav_batch_top a[href^="javascript:validateRefresh();"], #listContainer_nav_batch_bot a[href^="javascript:validateRefresh();"]{
    background: #52CCCC !important;
    box-shadow: none !important;
    color: #fff !important;
    border-radius: 0px !important;
}

#listContainer_nav_batch_top a[href^="javascript:validateRefresh();"]:hover, #listContainer_nav_batch_bot a[href^="javascript:validateRefresh();"]:hover{
    background: #52CCCC !important;
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
    color: #fff !important;
}

#listContainer_nav_batch_bot a[href^="javascript:validateRemove();"], #listContainer_nav_batch_top a[href^="javascript:validateRemove();"]{
    background: #d31111 !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

#listContainer_nav_batch_bot a[href^="javascript:actionSubmit(document.listForm,removeUrl)"], #listContainer_nav_batch_top a[href^="javascript:actionSubmit(document.listForm,removeUrl)"] {
    background: #d31111 !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

#listContainer_nav_batch_bot a[href^="javascript:validateRemove();"]:hover, #listContainer_nav_batch_top a[href^="javascript:validateRemove();"]:hover{
    background: #d31111 !important;
    color: #fff !important;
    border-radius: 0px !important;
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

#listContainer_nav_batch_bot a[href^="javascript:actionSubmit(document.listForm,removeUrl)"]:hover, #listContainer_nav_batch_top a[href^="javascript:actionSubmit(document.listForm,removeUrl)"]:hover{
    background: #d31111 !important;
    color: #fff !important;
    border-radius: 0px !important;
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input[name="browse"] {
    background: #52CCCC !important;
    border: none !important;
    font-size: 11px !important;
    padding: 7px 10px !important;
    color: #fff !important;
    font-weight: 600 !important;
}

input[name="browse"]:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
    cursor: pointer !important;
}

input#targetPath_csBrowse {
    background: #52CCCC !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
}

input#targetPath_csBrowse:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input[type="button"][disabled], input[type="button"][disabled]:hover {
    font-size: 12px !important;
    padding: 5px 15px !important;
    border: 3px solid #ccc !important;
}

input.visibleInput {
    background: #52CCCC !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    color: #fff !important;
    font-weight: 600 !important;
}

input.visibleInput:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input#image_main_cancelFileButton {
    background: #52CCCC !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

input#image_main_cancelFileButton:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

a[title^="Limpar Intervalo"] {
    background: #52CCCC !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

a[title^="Limpar Intervalo"]:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

#listContainer_nav_batch_top li a, #listContainer_nav_batch_bot li a, input[value^="Pesquisar"] {
    background: #52CCCC !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

input[value^="Pesquisar"] {
    background: #52CCCC !important;
    color: #fff !important;
}

#listContainer_nav_batch_top li a:hover, #listContainer_nav_batch_bot li a:hover, input[value^="Pesquisar"]:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
}

input[value^="Pesquisar"]:hover, input[value^="Pesquisar Meu Computador"]:hover {
    box-shadow: 0 0 6px rgba(0,0,0,.5) inset !important;
    cursor: pointer;
}

div.localViewToggle, .actionBarMicro{
    background: none !important;
}

.bgBanner{
    background-color: #60C0C5 !important;
    background-repeat: no-repeat !important;
}

#courseMenuPalette {
    background-color: none !important ;
}

a.submenuLink {
    margin-right: 6px !important;
}

.navDivider {
    padding: 10px 0 0 20px !important;
    border-top: none !important;
}

div#menuWrap {
    background: #fff !important;
}

.divider hr {
    border-top: 1px solid #999 !important;
    margin-right: 10px !important;
}

#courseMenuPalette {
    background-color: #EEE !important;
}

#courseMenu_link:before {
    content: none !important;
}

a.submenuLink img {
    height: 25px !important;
}

.singleControl a {
    padding-left: 35px !important;
}

.contentPane .shadow {
    border-top: 0px !important;
}

.contentPane{
    background: #fff !important;
}

.appTabs .active a span {
    color: inherit !important;
}

.global-nav-bar {
    margin: none !important;
}

#courseMenuPalette div.navPaletteContent ul li a,
#courseMenuPalette h3 a,
#courseMenuPalette div.navPaletteContent ul li a span {
    color: #373736 !important;
}

#courseMenuPalette h3 span:hover {
    color: #373736 !important;
}

.menuWrap-inner {
    background: #eee !important;
}

.item .reorder {
    background: #60C0C5 url(images/reorder_bg.png) repeat 0 0 !important;
}

#courseMenuPalette div.navPaletteContent ul li a:hover {
    color: #373736 !important;
}

table.gbtable .gbtable_header {
    width: 100% !important;
}

.portlet h2 .moduleTitle {
    word-wrap: break-word;
    font-weight: 600 !important;
}

.gbtable tbody tr td, .gbtable tbody tr th, .gbtable_header th, .gbtable thead th {
    padding: 0px 10px !important;
}

.warningReceipt, .warningReceipt a.areceipt {
    background: #FFA000 !important;
}

.navigationPane {
    top: 0px !important;
}

.listCm .courseMenu a:hover span, .listCm .courseMenu a:focus span {
    color: #73D0FF !important;
}

#courseMenuPalette ul {
    background-color: #fff !important;
}

#bcMenu li a, #evaMenu li a, #aitMenu li a {
    background: #fff !important;
    color: #333 !important;
}

#bcMenu li a:hover, #evaMenu li a:hover, #aitMenu li a:hover {
    background: #ebebeb !important;
    box-shadow: none !important;

}

.contentPane .receipt, .contentPaneWide .receipt {
    margin: 10px 10px 0 10px !important;
}

.warningReceipt, .warningReceipt a.areceipt {
    top: 0px !important;
}

.buildList li .contextMenuContainer a, .item .contextMenuContainer a, .listCm .courseMenu a.cmimg {
    opacity: 0 !important;
}

.buildList li .contextMenuContainer a, .item .contextMenuContainer a, .listCm .courseMenu a.cmimg:hover {
    opacity: 1 !important;
}

/* Deixar o menu lateral fixo */

.navcollpased {
    margin-left: 0px!important;
}
    
.navigationPane {
    margin-left: 0px!important;
}

.contcollpased {
    margin-left: 222px!important;
}

.contentPane {
    margin-left: 222px!important;
}

.menuWrap-inner {
    opacity: unset!important;
}

#puller{
    display: none !important;
}

/* Fim do código que fixa o menu lateral */

input[value^="Salvar rascunho"] {
    display: none !important;
}

p.taskbuttonhelp {
    display: none !important;
}

#courseMenuPalette span{
    color: #333
}

h3[id^="anonymous"] {
    color: #222 !important;
    font-weight: 600 !important;
    background: rgb(189,215,238) !important;
    padding: 6px !important;
    font-size: 1.1em !important;
}

h4.u_indent {
    color: #222 !important;
    font-weight: 600 !important;
    background: rgb(189,215,238) !important;
    padding: 6px !important;
    font-size: 1.1em !important;
}