﻿body, html{ height:100%; margin:0; font-size:16px !important; color:#777777;}

@font-face {
	font-family: 'Futura Bold Condensed BT';
	src: url( ../fonts/futura-bold-condensed-bt.eot);
	src: url(../fonts/futura-bold-condensed-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-bold-condensed-bt.woff) format('woff'), url(../fonts/futura-bold-condensed-bt.ttf) format('truetype'), url(../fonts/futura-bold-condensed-bt.svg#futura_boldcondensedbt) format('svg');
}
@font-face { 
	font-family: 'Futura Extra Black Condensed BT';
	src: url( ../fonts/futura-xblkcn-bt.eot);
	src: url(../fonts/futura-xblkcn-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-xblkcn-bt.woff) format('woff'), url(../fonts/futura-xblkcn-bt.ttf) format('truetype'), url(../fonts/futura-xblkcn-bt.svg#futura_xblkcnbt) format('svg');
}
@font-face {
	font-family: 'Futura Book BT';
	src: url( ../fonts/futura-book-bt.eot);
	src: url(../fonts/futura-book-bt.eot?#iefix) format('embedded-opentype'), url(../fonts/futura-book-bt.woff) format('woff'), url(../fonts/futura-book-bt.ttf) format('truetype'), url(../fonts/futura-book-bt.svg#futura_ltcnbt) format('svg');
}

a {color: #4abbc0!important;}

a:hover {text-decoration: underline!important;}

h1{ 
	font-size: 3.5rem!important; 
	font-family: 'Futura Extra Black Condensed BT', Arial;
	text-transform: uppercase;
}

h2 { 
	color:#48babf;
	font-size: 2.5rem!important;
	font-family: 'Futura Bold Condensed BT', Arial;
	text-transform: uppercase;
	margin-bottom: 3rem!important;
	margin-top: 0px!important;
}

h3 {
	font-family: 'Futura Bold Condensed BT', Arial!important; 
	text-transform: uppercase; 
	font-weight: 500;
	/*padding-top: 22px;*/
	font-size: 1.8rem!important;
	color: #52A6AB;
	vertical-align: middle!important;
	margin-bottom: 45px;
	/*display: inline-block!important;*/
	/*word-break: break-all;*/
}

h4 {
	font-family:  'Futura Bold Condensed BT', Arial!important;
	font-weight: 500!important;
	/*padding-top: 100px;*/
	font-size: 1.5em!important;
	color: #4abbc0;
	vertical-align: middle!important;
	/*height: 155px;*/
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase!important;
}

h5 {
	font-family: 'Futura Bold Condensed BT', Arial!important; 
	/*font-style: italic;*/
	font-size: 1.3em!important;
	font-weight: lighter!important;
	color: #696D6F;
	vertical-align: middle!important;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase!important;
}

.total,.container{ position:relative; }
.infos,.sint{ display: none;}

.navTopicos,.navResumo{ 
	position: relative;
	/*right:20px;  */
	top:0;
	width:100%;
	display: inline-block;
	text-align: center;
	margin: auto 0;
	
}

.btnNav {
	font-family: 'Futura Book BT';
    width: 40px;
    height: 40px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 40px;
    background: #4abbc0;
    line-height: 40px;
    color: #fff;
    font-size: 2em;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 10px;
    /*float: left;*/
	display: inline-block;
}

.btnNav:hover{ background: #52A6AB; transition: 0.5s}

.btnNavAtivo {background: #52A6AB; transition: 0.5s}

.telas{
	padding-top: 16px; 
	min-height:100%; 
	border-bottom:1px inset #eee; 
	background-color:#FFF; 
	display:none;
}

.tela_final {
	margin-bottom: 30px;
	margin-top: -140px;
	text-align: center;
}

.leitura .conteudoGeral {min-height:100%;} 

/*Tela Introdução*/
.introducao{z-index:1000; height:100%; position:absolute;  width:100%; background:url(../imgCurso/intro.jpg) center center no-repeat; background-size:cover;}
.introducao h1{ position:absolute; padding:30px 80px; background:rgba(0,79,159,0); color:#fff ; top:30%; left: 0;}
.avancar {background:#4abbc0; float:right }
.voltar {background:#4abbc0; float:left }
.navegacao{ margin-bottom:100px}
.avancar:hover {background:#52A6AB;}
.entrar {
    width: 280px;
    display: block;
    font-size: 4rem;
    color: #fff;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -140px;
    bottom: 20%;
    cursor: pointer;
    line-height: 27px;
    background: url(../imgEstrutura/entrar.png) no-repeat center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 14px;
    font-family: 'Futura Bold Condensed BT';
    height: 120px;
  }
.entrar i {font-size: 1.7em; color: #FFFFFF; /*transition:0.5s;*/ margin-top: -1px!important; margin-left: 1px;}

.entrar i:hover { color: #FFFFFF; /*transition:0.5s;*/}

.barraSuperior {
    /*background-color: #095BA5;*/
	background:  url(../imgEstrutura/BgMenu.jpg) no-repeat; 
	background-position: center;
	background-size: cover;
    overflow: hidden;
    height: 65px;
    position: fixed;
    top: -65px;
    width: 100%;
    padding: 4px;
	border-bottom: 1px solid #FFF;
	z-index: 9999;
}
.barraSuperior li{ 
	float:left; 
	height:60px; 
	font-weight:lighter; 
	color:#fff; 
	line-height:51px; 
	padding:0 30px; 
	cursor:pointer;	
	font-family: 'Futura Bold Condensed BT'; 
	font-size:1.3rem;
	/*text-shadow: black 0.1em 0.1em 0.2em*/
}

.barrainferior{
	border-bottom: 0px inset #4abbc0; 
	transition:0.5s;
	background: rgba(0, 0, 0, 0.3);
}

.barraSuperior li:hover{ 
	border-bottom: 0px inset #4abbc0; 
	transition:0.5s;
	/*background: rgba(0, 0, 0, 0.3);*/
}

.barraSuperior ul{ margin:0 !important}

.conteudoGeral{ 
	position:relative; 
	background:#fff; 
	margin: 10px; 
	min-height:95%;
	/*height:95%;*/
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px; 
	padding:0px;
}

.ativado {
    background: url(../imgEstrutura/checked.png) no-repeat 10px 19px;
}
.ativo{border-bottom: 3px inset  #fc0;}

.avancar2,.voltar2{    
	background: #4abbc0;    
	width: 3.5rem;    
	height: 3.5rem;	
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;   
	position: absolute;    
	bottom:0 ; 
	cursor:pointer; 
	transition:1s
}

.avancar2:hover,.voltar2:hover{ transition:1s; background-color: rgba(72,186,191,0.6);}

.avancar2 {

 right:0

}
.voltar2 { 
left:0;
}
.avancar2 i,.voltar2 i{ color:#fff; font-size: 3.5rem;}
.menuResponsivo{ display:none; width:51px; height:51px; margin:1px auto;  color:#fff; text-align:center; }
.menuResponsivo i{ font-size:3.5em; cursor:pointer}
.fecharMenu {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    background: #D4393B;
    color: #fff !important;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    right: 5px;
    top: 4px;
    display: none;
    cursor: pointer;
}


.inativo{ background: rgba(48, 36, 20, 0.4);}
.introFoto{ background:url(../imgCurso/introfoto.jpg) no-repeat center; background-size:cover}
.height100{ height:98%;overflow:hidden;}
.row{ margin-bottom:0 !important}
.row{ height:100%;}

.tip1, .tip2{  
	background: #4abbc0;
	color: #fff;
	padding: 4px 8px;
	position: absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}
	
.tip2{ left:5em}
.tip1{ right:5em}
.todatela{ height:100%; display: inline-block;}

.l_img1{
    background:url(../imgCurso/intro.jpg) center center no-repeat;
	}
.l_img2 {
    background: url(../imgCurso/Objetivos.jpg) no-repeat;
}
.l_img3{
    background: url(../imgCurso/Topicos.jpg) top left no-repeat;	
	}
.l_img4{
    background: url(../imgCurso/4.jpg) top left no-repeat;	
	}
.l_img5{
    background: url(../imgCurso/5.jpg) top left no-repeat;	
	}
.l_img6{
    background: url(../imgCurso/6.jpg) top left no-repeat;	
	}
.l_img7{
    background: url(../imgCurso/7.jpg) top left no-repeat;	
	}
.l_img8{
    background: url(../imgCurso/8.jpg) top left no-repeat;	
	}	
			
.imglateral h1{color:#fff; font-size:2.2em; position:absolute; padding:10px; background:rgba(255,191,0,0.7) ; margin-right:40px}
.imglateral h2{color:#fff; font-size:1.8em; position:absolute; padding:10px; background:rgba(9,91,165,0.7) ; right:0}
.lerapostila img, .baixarApostila img{ float:left; margin-right:10px;  width:4em; height:4em; }
.lerapostila, .baixarApostila {
    line-height: 4em;
    display: block;
    margin: 20px 0;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    padding: 10px;
	background:#f3f3f3;
	 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	width:400px;
}
 .lerapostila { margin-bottom:100px !important;}
 
.icone {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 8px;
}

/*// tela introducao*/

.telaBranca{ 
border:2px inset #f7f7f7;;   
background: #f7f7f7;
    position: absolute;
    width: 98%;
	height:93%;
	margin:1%;
    z-index: 100000;
	display:none;
	}
.fecharBox,.fb{     -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    background: #D4393B;
    color: #fff !important;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    right: 5px;
    top: 4px;

    cursor: pointer;
	}
	.iframe{ width:98%; height:98%; margin:1%;}
.play {
    border: 4px solid #fff;
    background: #095BA5;
    position: absolute;
    right: 0;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 50%;
    margin-top: -35px;
    margin-right: -35px; transition:0.5s; 
}
.play:hover {
	transition:0.5s; background-color:#959595}

button{background: #095BA5; padding:10px; color:#fff; border:none; -webkit-border-radius: 10px;
    -moz-border-radius: 10px; margin-bottom:50px;
    border-radius: 10px; line-height:10px;}
button:hover{background: #959595; padding:10px; color:#fff; border:none;}
.play i {
    font-size: 3.1em;
    line-height: 62px;
    color: #fff;
    text-align: center;
    margin-left: 10px; cursor:pointer;
}
.textoGlossario{ padding:20px; background-color: #F3F3F3;	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; margin-bottom:100px;}
.textoGlossario	 strong
{
	padding:3px 6px; border:1px solid #C8C8C8; display:inline-block; -webkit-border-radius: 10px;
	-moz-border-radius: 10px; border-radius: 10px;margin:4px 2px ; background-color: #fff; cursor:pointer;
}
.janelaGlossario{ width:100%; padding:20px;
 	background: #095BA5;
	border:1px solid #fff;
	margin-bottom:10px;
	display:none;
	color:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	}
.janelaGlossario a{
	color:#fc0 !important;
	}
	.janelaGlossario i{
		margin-right:10px;
	}
	.celular{ display:none}
	.computador{ display:block}
	.video_responsivo{ margin-bottom:100px}
	.download{    background: #333;
    padding: 10px;
    color: #fff;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	 margin-bottom:100px;

}
	.download i {
    color: #fff;
    line-height: 30px !important;
    font-size: 15px;
    margin-right: 12px;
}
.centralizado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralizado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
.card {
    background-color: #FFF;
	border:1px inset  rgba(107, 107, 107, 0.15);
    position: relative; 
    min-height: 180px !important;

}
.card .btn{    
    background: #095BA5;
	width:100%;

}
.infoimagem{ margin-bottom:100px}

/*QUIZ*/

.marcada{ background-color:#ffcc03; color:#fff;}
.pegapergunta{ display:none;}
.pergunta{ font-size: 1.1em; margin-bottom: 20px;}
.q{ padding:10px; width:100%; margin:auto; /*border:1px solid #D6D6D6;*/ background-color: rgba(228,243,244, 0.7)/*#ccf2f2*/; border-radius:10px;}
.r{ background:#fff; border-radius:10px; margin:5px 0; padding:10px; cursor:pointer;}
.r:hover{ background:#4abbc0; color: #FFF;}
.errou{ padding:10px; background-color:#E3C1C1; color:#C11F21;border-radius:10px; margin:5px 0;}
.acertou{ padding:10px; background-color: #CDE4D5; color:#237022;border-radius:10px; margin:5px 0;}
.tela_final {font-weight: bold; color: #444;}

/*---FIM QUIZ----*/

.classcerta {
    /*order-color: #27ae60 !important;*/
    color: #abcaaa !important; 
}

.classerrada {
    /*border-color: #e74c3c !important;*/
    color: #c9a9a9 !important;
}

/*----GLOSSÁRIO----*/
.corpo-glossario {
	width: 100%;
	height: 100%;
	margin: auto; 
}

.corpo-glossario .palavra-glossario {
	width: 90%;
	height: 90%;
	margin: auto;
	
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.corpo-glossario .palavra-glossario:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 16px;
	color: #fff;
	float: right;
	margin-left: 5px; 
}

.corpo-glossario .palavra-glossario.active:after {
	content: '\2796';
	/* Unicode character for "minus" sign (-) */ 
}

.corpo-glossario .significado-glossario {
	width: 85%;
	height: 100%;
	margin: auto; 
}
/*----FIM GLOSSÁRIO----*/

/*----REFERENCIA----*/
.Ref {
  background-image: url(../imgEstrutura/Livro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}

.Vid {
  background-image: url(../imgEstrutura/Video.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  padding-right: 1rem;
  border: 0px !important;
}

.Site {
  background-image: url(../imgEstrutura/site.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  float: left;
  /*margin-right: 10px;*/
  border: 0px !important;
}

div .RefContent {
	display: inline-block; 
	width: 100%;
	/*margin-left: -15px;
	margin-right: -15px;*/
	margin: 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.5);  /*#d3ddf2;*/
	border-radius: 5px;
	word-wrap: break-word!important;
}

div .RefIco {
	float: left; 
	width: 5%;
}

div .RefDados {
	float: left; 
	width: 95%;
}

div.RefEscuro{
	background-color: rgba(228,243,244, 0.7)/*rgba(122,122,122,0.09)*/;
	border-radius: 5px;
}



/*--FIM REFERÊNCIA--*/

.exibindoAbas,.superaba{ width: 90%; margin: auto}
.exibindoAbas{ overflow: hidden; border-bottom: 1px solid #4abbc0; }
.abas{
    cursor: pointer; -webkit-border-top-left-radius: 5px;  -webkit-border-top-right-radius: 5px;    -moz-border-radius-topleft: 5px;    -moz-border-radius-topright: 5px;    border-top-left-radius: 5px;    border-top-right-radius: 5px; width: 18% !important; margin: 0 1%; float: left; height: 35px; line-height: 35px; background-color: #4abbc0; text-align: center;color:#fff;}
	
.superaba{border: 1px solid #4abbc0; padding: 15px; }
.ab{ display: none}
.aba1{ display: block;}
figure {
    margin: 0em 10px;
}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 41.25%;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border: 0;
}

/*grafico circular*/
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #ffcc00;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #fff;
}
.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.c100.center {
    float: none;
    margin: 0 auto;
}
.c100.big {
    font-size: 240px;
}
.c100.small {
    font-size: 50px;
}
.c100 > span {
    position: absolute;
   /* width: 100%;*/
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #fff;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #4abbc0;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}
.c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}
.c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}
.c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}
.c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
}
.c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}
.c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}
.c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}
.c100.p9 .bar {

    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}
.c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}
.c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}
.c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}
.c100.p13 .bar {
    -webkit-transform: rotate(46.800000000000004deg);
    -moz-transform: rotate(46.800000000000004deg);
    -ms-transform: rotate(46.800000000000004deg);
    -o-transform: rotate(46.800000000000004deg);
    transform: rotate(46.800000000000004deg);
}
.c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}
.c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
}
.c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}
.c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}
.c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}
.c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}
.c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}
.c100.p21 .bar {
    -webkit-transform: rotate(75.60000000000001deg);
    -moz-transform: rotate(75.60000000000001deg);
    -ms-transform: rotate(75.60000000000001deg);
    -o-transform: rotate(75.60000000000001deg);
    transform: rotate(75.60000000000001deg);
}
.c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}
.c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}
.c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}
.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.c100.p26 .bar {
    -webkit-transform: rotate(93.60000000000001deg);
    -moz-transform: rotate(93.60000000000001deg);
    -ms-transform: rotate(93.60000000000001deg);
    -o-transform: rotate(93.60000000000001deg);
    transform: rotate(93.60000000000001deg);
}
.c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}
.c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}
.c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}
.c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg);
}
.c100.p31 .bar {
    -webkit-transform: rotate(111.60000000000001deg);
    -moz-transform: rotate(111.60000000000001deg);
    -ms-transform: rotate(111.60000000000001deg);
    -o-transform: rotate(111.60000000000001deg);
    transform: rotate(111.60000000000001deg);
}
.c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}
.c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}
.c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}
.c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg);
}
.c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}
.c100.p37 .bar {
    -webkit-transform: rotate(133.20000000000002deg);
    -moz-transform: rotate(133.20000000000002deg);
    -ms-transform: rotate(133.20000000000002deg);
    -o-transform: rotate(133.20000000000002deg);
    transform: rotate(133.20000000000002deg);
}
.c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}
.c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}
.c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}
.c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}
.c100.p42 .bar {
    -webkit-transform: rotate(151.20000000000002deg);
    -moz-transform: rotate(151.20000000000002deg);
    -ms-transform: rotate(151.20000000000002deg);
    -o-transform: rotate(151.20000000000002deg);
    transform: rotate(151.20000000000002deg);
}
.c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}
.c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}
.c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg);
}
.c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}
.c100.p47 .bar {
    -webkit-transform: rotate(169.20000000000002deg);
    -moz-transform: rotate(169.20000000000002deg);
    -ms-transform: rotate(169.20000000000002deg);
    -o-transform: rotate(169.20000000000002deg);
    transform: rotate(169.20000000000002deg);
}
.c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}
.c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}
.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}
.c100.p52 .bar {
    -webkit-transform: rotate(187.20000000000002deg);
    -moz-transform: rotate(187.20000000000002deg);
    -ms-transform: rotate(187.20000000000002deg);
    -o-transform: rotate(187.20000000000002deg);
    transform: rotate(187.20000000000002deg);
}
.c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}
.c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}
.c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg);
}
.c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}
.c100.p57 .bar {
    -webkit-transform: rotate(205.20000000000002deg);
    -moz-transform: rotate(205.20000000000002deg);
    -ms-transform: rotate(205.20000000000002deg);
    -o-transform: rotate(205.20000000000002deg);
    transform: rotate(205.20000000000002deg);
}
.c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}
.c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}
.c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}
.c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}
.c100.p62 .bar {
    -webkit-transform: rotate(223.20000000000002deg);
    -moz-transform: rotate(223.20000000000002deg);
    -ms-transform: rotate(223.20000000000002deg);
    -o-transform: rotate(223.20000000000002deg);
    transform: rotate(223.20000000000002deg);
}
.c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}
.c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}
.c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg);
}
.c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}
.c100.p67 .bar {
    -webkit-transform: rotate(241.20000000000002deg);
    -moz-transform: rotate(241.20000000000002deg);
    -ms-transform: rotate(241.20000000000002deg);
    -o-transform: rotate(241.20000000000002deg);
    transform: rotate(241.20000000000002deg);
}
.c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}
.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}
.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
}
.c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}
.c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}
.c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}
.c100.p74 .bar {
    -webkit-transform: rotate(266.40000000000003deg);
    -moz-transform: rotate(266.40000000000003deg);
    -ms-transform: rotate(266.40000000000003deg);
    -o-transform: rotate(266.40000000000003deg);
    transform: rotate(266.40000000000003deg);
}
.c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}
.c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}
.c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}
.c100.p79 .bar {
    -webkit-transform: rotate(284.40000000000003deg);
    -moz-transform: rotate(284.40000000000003deg);
    -ms-transform: rotate(284.40000000000003deg);
    -o-transform: rotate(284.40000000000003deg);
    transform: rotate(284.40000000000003deg);
}
.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}
.c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}
.c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}
.c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}
.c100.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}
.c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}
.c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}
.c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}
.c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}
.c100.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}
.c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}
.c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}
.c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}
.c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}
.c100.p94 .bar {
    -webkit-transform: rotate(338.40000000000003deg);
    -moz-transform: rotate(338.40000000000003deg);
    -ms-transform: rotate(338.40000000000003deg);
    -o-transform: rotate(338.40000000000003deg);
    transform: rotate(338.40000000000003deg);
}
.c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg);
}
.c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}
.c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}
.c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}
.c100.p99 .bar {
    -webkit-transform: rotate(356.40000000000003deg);
    -moz-transform: rotate(356.40000000000003deg);
    -ms-transform: rotate(356.40000000000003deg);
    -o-transform: rotate(356.40000000000003deg);
    transform: rotate(356.40000000000003deg);
}
.c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.c100:hover {
    cursor: default;
}
.c100:hover > span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #fff;
}
.c100:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}
.c100.dark {
    background-color: #777777;
}
.c100.dark .bar,
.c100.dark .fill {
    border-color: #c6ff00 !important;
}
.c100.dark > span {
    color: #777777;
}
.c100.dark:after {
    background-color: #666666;
}
.c100.dark:hover > span {
    color: #c6ff00;
}
.c100.green .bar,
.c100.green .fill {
    border-color: #4db53c !important;
}
.c100.green:hover > span {
    color: #4db53c;
}
.c100.green.dark .bar,
.c100.green.dark .fill {
    border-color: #5fd400 !important;
}
.c100.green.dark:hover > span {
    color: #5fd400;
}
.c100.orange .bar,
.c100.orange .fill {
    border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
    color: #dd9d22;
}
.c100.orange.dark .bar,
.c100.orange.dark .fill {
    border-color: #e08833 !important;
}
.c100.orange.dark:hover > span {
    color: #e08833;
}

.PadLeft {padding-left: 50px!important;}

li a, li a:hover {color:#FFF!important;}

.imglateral{
	height: 505px;
    background-size: cover;	
	margin-top:0px;
	margin-left:-22px;
}

.bullet{	
	background: url(../imgEstrutura/bullet.png) no-repeat;
	float: left;
	width: 15px;
	height: 15px;
	margin: 2px 10px;
}

a.btn {
	font-family: 'Futura Bold Condensed BT', Arial!important;
	box-shadow: none!important;
	font-size: 1.7rem!important;
	height: 42px!important;
	text-transform: capitalize!important;
	color: #FFF!important;
}

a.btn:hover { background-color: #317777!important; color: #FFF!important; text-decoration: none!important;}

div.Legenda {
	color:#777777;
	font-family: Arial;
	font-size:0.8rem;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 15px;
}

img.Graf {
	margin-top: 50px;
	margin-bottom: 30px;
}

.Box {margin: 3rem 0rem;}

/*.Box p {padding-left: 4rem;}*/

/*ÍCONES BOX*/
.BoxIco-NaPratica {
	float: left;
	background: url(../imgEstrutura/BoxIco-NaPratica.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Importante {
	float: left;
	background: url(../imgEstrutura/BoxIco-Importante.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-SaibaMais {
	float: left;
	background: url(../imgEstrutura/BoxIco-SaibaMais.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Artigo {
	float: left;
	background: url(../imgEstrutura/BoxIco-Artigo.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Video {
	float: left;
	background: url(../imgEstrutura/BoxIco-Video.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Glossario {
	float: left;
	background: url(../imgEstrutura/BoxIco-Glossario.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-LeiaMais {
	float: left;
	background: url(../imgEstrutura/BoxIco-LeiaMais.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
	margin-top: 7px;
    /*margin:-12px 11px 0px 0px;*/
}

.BoxIco-Biografia {
	float: left;
	background: url(../imgEstrutura/BoxIco-Biografia.png) no-repeat;
	width: 60px;
	height: 45px;
	margin-right: 10px;
	margin-top: 7px;
    /*margin:-12px 11px 0px 0px;*/
}
/*FIM ÍCONES BOX*/

.BoxTit {
	/*background-color: #E8F2F4;*/
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #E8F2F4;
}

.BoxTit2 {
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #D3D6De;
}

.TitBox {
	font-family: 'Futura Bold Condensed BT', Arial!important;
	font-size: 1.8rem!important;
	color: #696D6F;
}

.TitBox2 {
	font-family: 'Futura Bold Condensed BT', Arial!important;
	font-size: 1.8rem!important;
	color: #696D6F;
	margin-top: 8px;
}

.TxtBox {
	padding: 1.3rem 0 1.3rem 4rem;
}

.Tarja {border: solid /*#78babf*/ #E8F2F4 2px; }

.Tarja2 {border: solid #D3D6De 2px; }

.collapsible-header i {
  transition-duration: 0.3s!important;
}
.collapsible-header.active i {
  -ms-transform: rotate(45deg)!important; /* IE 9 */
  -webkit-transform: rotate(45deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(45deg)!important;
  transition-duration: 0.3s!important;
}

.NavTop {top: 20px!important;}

.btn-floating.btn-large {
	top:23px!important;
	box-shadow: none!important;
	/*right:-491px !important;*/
}

.B-Baixe {
	width: 100%;
	background-color: #4abbc0;
	display: inline-block;
	margin-top: 50px;
	
}

.Ico-BaixeConteudo {
	float: left;
	background: url(../imgEstrutura/Ico-BaixarApostila.png) no-repeat;
	width: 106px;
	height: 82px;
	/*margin-right: 10px;*/
    /*margin:-12px 11px 0px 0px;*/
}

.TxtBaixe{
	font-family: 'Futura Bold Condensed BT', Arial!important;
	font-size: 1.8rem!important;
	word-break: keep-all!important;
	padding-top: 1rem;
	padding-left:  0.8rem;
	text-align: center!important;
	color: #FFF;
	
}

/*.indicators .indicator-item {
	background-color: #4abbc0!important;
}*/

.carousel {
	width: /*74%*/100%!important;
	height: 50vh!important;
	margin-top: 53px!important;
	margin-bottom: 53px!important
}

.carousel .indicators .indicator-item {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin: 23px 5px;
	background-color: /*rgba(255,255,255,0.5)*/ #CCC!important;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	border-radius: 50%
}
.carousel .indicators .indicator-item.active {
	background-color: #4abbc0!important
}

a.modal-trigger,  a.modal-trigger:hover {color: #4abbc0!important;}

.Pad-0 {padding-left: 0!important;}

.MargTop {margin-top: 30px!important;}

.MargBottom {margin-bottom: 30px!important;}

.card .card-content .card-title {font-family: 'Futura Bold Condensed BT'!important; color:#FFF!important;}

.card .card-content {background-color: #78b9be!important; color:#FFFFFF!important;}

.card .card-reveal {background-color: #dceff0!important;}

.card-panel span {font-family: 'Futura Bold Condensed BT', arial!important; font-size: 1.5rem!important; color:#FFF!important;}

.collapsible-header {background-color: #78b9be!important; color: #FFF!important; font-family: 'Futura Bold Condensed BT'!important; font-size: 1.4rem!important;}

.collapsible-body {background-color:#dceff0!important;}

.collapsible {box-shadow: none!important; margin: 2rem 0 2rem 0!important;}

b, strong {
	font-size: 17px!important;
	font-weight: bold!important;
}

img.Bio {
	margin-right: 20px;
	margin-bottom: 10px;
}

blockquote {border-left: 0px solid #78b9be!important;}

.waves-effect, .waves-effect:hover  {font-family: 'Futura Bold Condensed BT'!important; font-size: 1.6rem!important; text-decoration: none!important;}

.btn-large {box-shadow: none!important; border-radius: 5px!important; height:61px!important; line-height: 64px!important; margin-top:40px!important; margin-left: -3px!important;}

.IcoApostila {margin-top: -2px!important; font-size: 2.6rem!important; margin-left: -6px!important; margin-right: 11px!important;}

.carousel-item-text {font-family: 'Futura Bold Condensed BT'!important; font-size: 1.8rem!important; padding-left: 20px; padding-right: 20px; color: #FFF;}

.carousel.carousel-slider .carousel-item p {font-size: 1.8rem!important; margin: 142px 20px 0;}

/*-- MENU --*/
nav {background-color: /*#48babf*/#35a9d1!important; box-shadow: none!important;}

nav .brand-logo {
	font-weight: bold!important;
	padding-left: 26px!important;
	font-size: 1.2rem!important;
	width: 34%!important;
	margin-top: 9px!important;
	word-break: normal!important;
	line-height: 21px;
}

i.medium {margin-top: -4px!important; font-size: 3.2rem!important;}

i.left {margin-right: 5px!important;}


.side-nav li > a {color: #48babf!important;}
.side-nav li > a:hover {color: #48babf!important; text-decoration: none!important;}
nav ul a:hover {text-decoration: none!important;}

/*-- FIM MENU --*/

nav .button-collapse i {color: #FFFFFF!important;}

.card .card-reveal .card-title {font-family: 'Futura Bold Condensed BT'!important; color: #777777!important;}

nav a:hover {text-decoration: none!important;}

.collapsible.popout > li {box-shadow: none!important;}

/*.BgVideo {
	background-image: url(../imgCurso/BgVideo.png); 
	background-size:auto;
	height: 430px;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	padding-top: 1px;
	
}*/

.Pelicula {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, #004f9f 32%, #4abbc0 77%, #4abbc0 100%); 
	background: -webkit-linear-gradient(top, #004f9f 32%,#4abbc0 77%,#4abbc0 100%); 
	background: linear-gradient(to bottom, #004f9f 32%,#4abbc0 77%,#4abbc0 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f9f', endColorstr='#4abbc0',GradientType=0 );
	opacity: 0.85;
}

.objetivos span {
	font-family: 'Futura Bold Condensed BT'; 
	font-size: 1.5rem;
	transition-timing-function: ease-out;
}

.MargTopVideo {margin-top: 60px!important;}

.MargBottomVideo {margin-bottom: 60px!important;}

.Citacao {font-size: 0.9rem;}

.Bullet {color:#78b9be; vertical-align:middle; margin-top: -3px!important;}
