/* --- Components --- */
/* Capa (cover) */
#uni #cover {
	position: relative;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	color: #ffffff;
	overflow: hidden;
	z-index: 999999;
}
#uni .cover-img {
	height: 100vh;
	position: absolute;
	width: 100%;
	background: url(../img/cover.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#uni .cover-overlay {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	z-index: 7;
}
#uni .cover-title {
	position: relative;
	display: table;
	width: 80%;
	height: 82%;
	padding: 4%;
	margin: 0 auto;
	z-index: 9;
}
#uni .cover-title>* {
	display: table-cell;
	height: 100%;
	margin: 0;
	font-size: 2rem;
	font-size: 8vmin;
	font-weight: bold;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
	color: inherit;
}
#uni #cover .scroll-arrow {
	position: absolute;
	width: 100%;
	height: 4rem;
	padding: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #ffffff;
	font-size: 3rem;
	z-index: 8;
}
#uni #cover .scroll-arrow>* {
	font-size: 3rem;
}
/* Navegação - Navegação Fixa no Topo */
#uni .top-bar {
	position: relative;
	display: none;
	width: 100%;
	height: 0;
	overflow: hidden;
	z-index: 999999;
}
#uni.top-fixed .top-bar {
	display: block;
}
#uni .top-bar .top-wrapper {
	position: fixed;
	display: flex;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 3.56rem;
	line-height: 3.56rem;
	color: #ffffff;
	background-color: #004F9F;
	box-shadow: none !important;
}
#uni .top-bar.hide .top-wrapper {
	height: 0;
	overflow: hidden;
}
#uni .top-bar .top-wrapper a {
	background-image: none !important;
}
#uni .top-bar .top-wrapper * {
	display: flex;
	align-items: center;
	align-content: center;
}
#uni .top-bar .top-wrapper > * {
	width: auto;
	flex: 0 1 auto;
	padding: 0 1rem;
}
#uni .top-bar .top-wrapper .main-title {
	justify-content: left;
	min-width: 25%;
	max-width: 80%;
	height: 100%;
	margin: 0 auto 0 0;
	font-size: 1rem;
}
#uni .top-bar .top-wrapper .main-title > * {
	display: table;
	height: auto;
	margin: 0;
	font-size: inherit;
	text-align: left;
	line-height: 1;
	color: #ffffff;
}
#uni .top-bar .top-wrapper .main-title>*>* {
	display: inline;
}
#uni .top-bar .top-wrapper .nav-bar {
	height: 100%;
	line-height: 100%;
	background: none;
	box-shadow: none;
}
#uni .top-bar .top-wrapper .nav-bar ul {
	justify-content: space-between;
	height: 100%;
	margin: 0 auto;
}
#uni .top-bar .top-wrapper .nav-bar ul li {
	position: relative;
	display: table;
	height: 100%;
}
#uni .top-bar .top-wrapper .nav-bar a {
	display: table-cell;
	vertical-align: middle;
	font-size: 0.9rem;
	line-height: 1.2;
	color: #ffffff;
	height: 100%;
	padding: 0.9em;
	cursor: pointer;
}
#uni .top-bar .top-wrapper .nav-bar a > * {
	display: inline-block;
}
#uni .top-bar .top-wrapper .nav-bar a[class$="active"] {
	background-color: rgba(0, 0, 0, 0.2);
}
#uni .top-bar .top-wrapper i,
#uni .top-bar .top-wrapper [class^="mdi-"],
#uni .top-bar .top-wrapper [class*="mdi-"],
#uni .top-bar .top-wrapper i.material-icons {
	vertical-align: middle;
	font-size: 1.5em;
	line-height: 1.4em;
	height: 100%;
	padding-right: .5rem;
}
#uni .top-bar .top-wrapper .nav-oc-trigger::after {
	display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger i {
	margin: 0;
	padding: 0;
}
#uni .top-bar .top-wrapper .nav-oc-trigger.open .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger .close {
	display: none;
}
#uni .top-bar .top-wrapper .nav-oc-trigger .menu,
#uni .top-bar .top-wrapper .nav-oc-trigger.open .close {
	display: flex;
}
#uni .top-bar .top-wrapper .dropdown-content {
	display: none;
	width: auto !important;
	max-width: fit-content !important;
	height: auto !important;
	top: 100% !important;
	box-shadow: none;
}
#uni .top-bar .top-wrapper .dropdown-content li:hover,
#uni .top-bar .top-wrapper .dropdown-content li[class$="active"] {
	background: none;
}
#uni .top-bar .top-wrapper .dropdown-content a {
	width: 100%;
	min-width: 300px;
	min-width: 25vw;
	display: flex;
	flex-flow: row;
	align-items: center;
	align-content: stretch;
	justify-content: start;
	font-size: inherit;
	line-height: 1rem;
	font-weight: normal;
	height: auto;
	padding: 1rem 2rem;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#uni .top-bar .top-wrapper .dropdown-content a > [class*="icon"] {
	flex: 0 0 auto;
	height: auto;
	margin: 0 1rem 0 0;
	width: 1.5rem;
}
#uni .top-bar .top-wrapper .dropdown-content li a:hover,
#uni .top-bar .top-wrapper .dropdown-content li a[class$="active"] {
	background-color: rgba(0, 0, 0, 0.2);
}

/* Sidenav - Menu Mobile (hamburguer) */
#uni .nav-off-canvas {
	position: fixed;
	max-width: 80%;
	width: 300px;
	height: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	color: inherit;
	overflow-x: hidden;
	overflow-y: auto;

	will-change: transform;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateX(-105%);
	-moz-transform: translateX(-105%);
	-ms-transform: translateX(-105%);
	-o-transform: translateX(-105%);
	transform: translateX(-105%);

	z-index: 999999;
}
#uni .nav-off-canvas .nav-menu {
	width: 100%;
	max-width: 100%;
	height: 100%;
	height: 100vh;
	padding: 2rem 0;
}
#uni .nav-off-canvas .nav-menu::before {
	content: "";
	position: absolute;
	display: block;
}
#uni .nav-off-canvas .nav-menu::before {
	width: 280px;
	height: 60px;
	top: -40px;
	left: 0;
	background: url(../img/_base/dots-light-horizontal.png) bottom center no-repeat transparent;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
#uni .nav-off-canvas .nav-menu-overlay {
	z-index: 999998;
}
#uni .nav-off-canvas .nav-menu li {
	float: none;
	display: block;
	height: auto;
	font-size: .9em;
}
#uni .nav-off-canvas .nav-menu li:last-child {
	border: 0;
}
#uni .nav-off-canvas .nav-menu li * {
	color: #FFFFFF !important;
}
#uni .nav-off-canvas .nav-menu li a {
	display: flex;
	flex-flow: row;
	align-items: center;
	align-content: stretch;
	justify-content: start;
	font-size: inherit;
	line-height: 1rem;
	font-weight: normal;
	height: auto;
	padding: 1rem 2rem;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#uni .nav-off-canvas .nav-menu li>i,
#uni .nav-off-canvas .nav-menu li>a>i,
#uni .nav-off-canvas .nav-menu li>a>[class^="mdi-"],
#uni .nav-off-canvas .nav-menu li>a li>a>[class*="mdi-"],
#uni .nav-off-canvas .nav-menu li>a>[class*="icon"],
#uni .nav-off-canvas .nav-menu li>a>i.material-icons {
	flex: 0 0 auto;
	height: auto;
	margin: 0 1rem 0 0;
	width: 1.5rem;
}

#uni .nav-off-canvas .nav-menu li a:hover,
#uni .nav-off-canvas .nav-menu li a:focus,
#uni .nav-off-canvas .nav-menu li a[class*="active"] {
	background-color: rgba(0, 0, 0, 0.2);
	background-image: none;
}

/* Floating Action Nav - Menu Flutuante */
#uni .nav-fab {
	position: relative;
	display: none;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 9999999;
}
#uni.nav-floating .nav-fab {
	display: block;
	height: 100%;
	overflow: auto;
}
#uni .nav-fab.active::after {
	content: "";
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#uni .nav-fab .nav-fab-trigger {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	padding: 1.4rem;
	bottom: 1rem;
	right: 1rem;
	z-index: 20;
	background-color: #0098E5
}
#uni .nav-fab .nav-fab-trigger:hover,
#uni .nav-fab .nav-fab-trigger:active,
#uni .nav-fab .nav-fab-trigger:focus {
	background-color: #006192;
	outline: none;
}
#uni .nav-fab[class$="active"] .nav-fab-trigger .menu,
#uni .nav-fab .nav-fab-trigger .close {
	display: none;
}
#uni .nav-fab .nav-fab-trigger .menu,
#uni .nav-fab[class$="active"] .nav-fab-trigger .close {
	display: flex;
}
#uni .nav-fab #bullet-menu {
	position: fixed;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
	height: 85%;
	width: fit-content;
	width: -moz-fit-content;
	padding: 0 1.5rem;
	bottom: 4rem;
	right: 0;
	left: auto;
	z-index: 99;
}
#uni .nav-fab #bullet-menu * {
	color: #ffffff;
}
#uni .nav-fab #bullet-menu li {
	display: table;
	width: 100%;
	margin: 0 0 1vh;
}
#uni .nav-fab #bullet-menu li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
	background-image: none !important;
}
#uni .nav-fab #bullet-menu li a::after {
	content: none;
}
#uni .nav-fab #bullet-menu li a .btn-floating {
	overflow: visible;
	background: #0098E5;
}
#uni .nav-fab #bullet-menu li a:hover .btn-floating,
#uni .nav-fab #bullet-menu li a[class$="active"] .btn-floating {
	width: fit-content !important;
	width: -moz-fit-content !important;
	overflow: hidden;
	background: #006192;
	box-shadow: none;
}
#uni .nav-fab #bullet-menu li a .fab-title {
	width: fit-content;
	width: -moz-fit-content;
	max-width: 90vw;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	line-height: 2em;
	white-space: nowrap;
	right: 0;
	left: auto;
	padding: 0 0.5em;
}
#uni .nav-fab #bullet-menu li a .fab-title > *:first-child {
	max-width: 100%;
	padding: 0 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
#uni .nav-fab #bullet-menu li a .fab-title .icon {
	min-width: 1rem;
	text-align: center;
	font-weight: bold;
}
#uni .nav-fab #bullet-menu li a:hover .fab-title,
#uni .nav-fab #bullet-menu li a[class$="active"] .fab-title {
	position: relative;
}

/* Floating Content Nav - Menu Flutuante */
#uni .content-nav {
	position: relative;
	height: 0;
	z-index: 99999;
}
#uni .content-nav > * {
	position: fixed;
	width: 100%;
	height: 0;
	bottom: 50%;
	padding: 0 1rem;
}
@media only screen and (max-width: 640px) {
	#uni .content-nav>* {
		bottom: 3rem;
	}
}

/* Title Patterns */
/* Dots */
#uni .section .section-title.dots:after {
	content: "";
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex: 1 1 auto;
	width: auto;
	height: auto;
	margin: 5px 0 5px 2rem;

	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;

	-webkit-background-size: auto 45%;
	-moz-background-size: auto 45%;
	-o-background-size: auto 45%;
	background-size: auto 45%;
}
#uni .section .section-title.dots.txt-blue:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-blue.txt-light:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23739FCA%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-cyan:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-green:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-white:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .section .section-title.dots.txt-black:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
/* Squares */
#uni .section .section-title.squares:after {
	content: "";
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex: 1 1 auto;
	width: auto;
	height: auto;
	margin: 5px 0 5px 2rem;

	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");

	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;

	-webkit-background-size: auto 40%;
	-moz-background-size: auto 40%;
	-o-background-size: auto 40%;
	background-size: auto 40%;
}
#uni .section .section-title.squares.txt-blue:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-blue.txt-light:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23739FCA;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-cyan:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-cyan.txt-light:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%235CBDEE;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-green:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-white:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .section .section-title.squares.txt-black:after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
/* Lines */
#uni .section .section-title.lines:after {
	content: "";
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex: 1 1 auto;
	width: auto;
	height: auto;
	margin: 5px 0 5px 2rem;

	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23444444;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");

	background-repeat: repeat;
	background-position: left top;
	background-color: transparent;

	-webkit-background-size: auto 23%;
	-moz-background-size: auto 23%;
	-o-background-size: auto 23%;
	background-size: auto 23%;
}
#uni .section .section-title.lines.txt-blue:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23004F9F;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-blue.txt-light:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23739FCA%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-cyan:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%230098E5;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-cyan.txt-light:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%235CBDEE;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-green:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%2352CCCC;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-white:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
#uni .section .section-title.lines.txt-black:after {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg id='svg-lines' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cstyle type='text/css'%3E.svg-lines%7Bfill:%23000000;%7D%3C/style%3E%3Cpolygon class='svg-lines' points='24,0 22.6,0 0,22.6 0,24 1.4,24 24,1.4'/%3E%3Cpolygon class='svg-lines' points='0,1.4 1.4,0 0,0'/%3E%3Cpolygon class='svg-lines' points='24,22.6 22.6,24 24,24'/%3E%3C/svg%3E");
}
/* Titles Float Line */
#uni .section .lined-title {
	position: relative;
	display: flex;
}
#uni .section .lined-title * {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
}
#uni .section .lined-title .flex-line {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	width: auto;
	height: auto;
}
#uni .section .lined-title .flex-line::after {
	content: "";
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
	flex: 1 1 auto;
	width: auto;
	height: 0;
	top: 50%;
	border-bottom: 1px solid;
	margin: 0 1rem 0 2rem;
}
/* Animated Hover  Underline*/
#uni .animate-underline {
	position: relative;
	display: inline;
	overflow: visible;
	background-repeat: no-repeat;
	/* background-image: linear-gradient(transparent calc(100% - 1px), #444444 1px); */
	background-image: -moz-linear-gradient(transparent calc(100% - 2px), #444444 1px);
	background-image: -webkit-linear-gradient(transparent calc(100% - 2px), #444444 1px);
	background-image: -o-linear-gradient(transparent calc(100% - 2px), #444444 1px);
	background-image: -ms-linear-gradient(transparent calc(100% - 2px), #444444 1px);
	background-image: linear-gradient(transparent calc(100% - 2px), #444444 1px);

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	-webkit-background-size: 0 100% !important;
	-moz-background-size: 0 100% !important;
	-o-background-size: 0 100% !important;
	background-size: 0 100% !important;
}
#uni .animate-underline:hover {
	-webkit-background-size: 100% 100% !important;
	-moz-background-size: 100% 100% !important;
	-o-background-size: 100% 100% !important;
	background-size: 100% 100% !important;
}

/* Botões */
.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-flat {
	font-size: 1rem;
	font-family: inherit;
	color: #FFFFFF;
	background-color: #444444;
	background-image: none !important;
	outline: 0;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
	background-color: #222222;
	box-shadow: none;
}
.btn,
.btn-large,
.btn-small {
	height: auto;
	line-height: 1;
	padding: .7em 1.5em;
	margin: 0;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn-small {
	font-size: .8rem;
}
.btn-large {
	font-size: 1.4rem;
}
.btn-floating {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 2em !important;
	height: 2em !important;
	line-height: 2em !important;
	vertical-align: middle;
	border-radius: 10rem;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
}
.btn i,
.btn-large i,
.btn-small i,
.btn-flat i {
	font-size: 140% !important;
	color: inherit !important;
	line-height: 0.7 !important;
}
.btn-floating i {
	font-size: inherit !important;
	line-height: inherit !important;
}

/* Posicionamento Flutuante "Outside the Box" */
/* top */
#uni .outside {
	float: none;
	position: absolute;
}
#uni .outside[class*="out-t"] {
	top: 0;
}
#uni .outside.out-t {
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#uni .outside.out-tr {
	right: 1.4rem;

	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#uni .outside.out-tr.corner {right: 0;}
#uni .outside.out-tl {
	left: 1.4rem;

	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#uni .outside.out-tl.corner {left: 0;}
/* right */
#uni .outside[class*="out-r"] {
	right: 0;
}
#uni .outside.out-r {
	top: 50%;

	-webkit-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
	-moz-transform: translate(50%, -50%);
	-o-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}
#uni .outside.out-rt {
	top: 1.4rem;

	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	-moz-transform: translate(50%, 0);
	-o-transform: translate(50%, 0);
	transform: translate(50%, 0);
}
#uni .outside.out-rb {
	bottom: 1.4rem;

	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	-moz-transform: translate(50%, 0);
	-o-transform: translate(50%, 0);
	transform: translate(50%, 0);
}
/* bottom */
#uni .outside[class*="out-b"] {
	bottom: 0;
}
#uni .outside.out-b {
	left: 50%;

	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}
#uni .outside.out-br {
	right: 1.4rem;

	-webkit-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	-moz-transform: translate(0, 50%);
	-o-transform: translate(0, 50%);
	transform: translate(0, 50%);
}
#uni .outside.out-br.corner {right: 0rem;}
#uni .outside.out-bl {
	left: 1.4rem;

	-webkit-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	-moz-transform: translate(0, 50%);
	-o-transform: translate(0, 50%);
	transform: translate(0, 50%);
}
#uni .outside.out-bl.corner {left: 1.4rem;}
/* left */
#uni .outside[class*="out-l"] {
	left: 0;
}
#uni .outside.out-l {
	top: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#uni .outside.out-lt {
	top: 1.4rem;

	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#uni .outside.out-lb {
	bottom: 1.4rem;

	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/* Icons */
#uni .material-icons {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
}
#uni .material-icons.tiny { font-size: .7em !important; }
#uni .material-icons.small { font-size: 1.5em !important; }
#uni .material-icons.medium { font-size: 3em !important; }
#uni .material-icons.large { font-size: 6em !important; }

/* Icon list */
#uni [class*="-list"] {
	position: relative;
	list-style: none;
	padding-left: 1rem;
}
#uni .browser-default li,
#uni [class*="-list"] li {
	position: relative;
	margin-bottom: .2rem;
}
#uni .flat-list {
	padding: 0 !important;
}
#uni .arrow-list li::before {
	font-family: "Material Icons";
	content: "\e5cc";
	font-size: 1.4em;
	line-height: 1;
	color: inherit;

	position: absolute;
	left: -1rem;
	-webkit-transform: translate(-40%, 0);
	-ms-transform: translate(-40%, 0);
	-moz-transform: translate(-40%, 0);
	-o-transform: translate(-40%, 0);
	transform: translate(-40%, 0);
}
#uni .bullet-list li::before {
	font-family: "Material Icons";
	content: "\e061";
	font-size: .55em;
	line-height: 2.5;

	position: absolute;
	left: -1rem;
	-webkit-transform: translate(-40%, 0);
	-ms-transform: translate(-40%, 0);
	-moz-transform: translate(-40%, 0);
	-o-transform: translate(-40%, 0);
	transform: translate(-40%, 0);
}
#uni .square-list li::before {
	font-family: "Material Icons";
	content: "\e047";
	font-size: .55em;
	line-height: 2.5;

	position: absolute;
	left: -1rem;
	-webkit-transform: translate(-40%, 0);
	-ms-transform: translate(-40%, 0);
	-moz-transform: translate(-40%, 0);
	-o-transform: translate(-40%, 0);
	transform: translate(-40%, 0);
}
#uni .dash-list li::before {
	font-family: "Material Icons";
	content: "\e15b";
	font-size: .7em;
	line-height: 2;

	position: absolute;
	left: -1rem;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
#uni .blue-list li::before { color: #004F9F; }
#uni .cyan-list li::before { color: #0098E5; }
#uni .green-list li::before { color: #52CCCC; }
#uni .violet-list li::before { color: #6260A8; }
#uni .yellow-list li::before { color: #FFA000; }

/* Dropcaps */
#uni .txt-dropcap::first-letter,
#uni .uk-dropcap::first-letter,
#uni .txt-dropcap>p:first-of-type::first-letter,
#uni .uk-dropcap>p:first-of-type::first-letter {
	display: block;
	float: left;
	font-size: 2.9em;
	font-weight: bold;
	line-height: 1;
	margin: 0 0.5rem -0.5rem 0;
	text-shadow: 5px -5px 0px #a2a2a2;
}
#uni .txt-dropcap.txt-dcs-blue::first-letter,
#uni .uk-dropcap.txt-dcs-blue::first-letter,
#uni .txt-dropcap.txt-dcs-blue>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-blue>p:first-of-type::first-letter {
	text-shadow: 5px -5px 0px #004F9F;
}
#uni .txt-dropcap.txt-dcs-cyan::first-letter,
#uni .uk-dropcap.txt-dcs-cyan::first-letter,
#uni .txt-dropcap.txt-dcs-cyan>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-cyan>p:first-of-type::first-letter {
	text-shadow: 5px -5px 0px #5CBDEE;
}
#uni .txt-dropcap.txt-dcs-green::first-letter,
#uni .uk-dropcap.txt-dcs-green::first-letter,
#uni .txt-dropcap.txt-dcs-green>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-green>p:first-of-type::first-letter {
	text-shadow: 5px -5px 0px #52CCCC;
}
#uni .txt-dropcap.txt-dcs-violet::first-letter,
#uni .uk-dropcap.txt-dcs-violet::first-letter,
#uni .txt-dropcap.txt-dcs-violet>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dcs-violet>p:first-of-type::first-letter {
	text-shadow: 5px -5px 0px #6260A8;
}
#uni .txt-dropcap.txt-dc-yellow::first-letter,
#uni .uk-dropcap.txt-dc-yellow::first-letter,
#uni .txt-dropcap.txt-dc-yellow>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-dc-yellow>p:first-of-type::first-letter {
	text-shadow: 5px -5px 0px #FFA000;
}
#uni .txt-dropcap.txt-no-shadow::first-letter,
#uni .uk-dropcap.txt-no-shadow::first-letter,
#uni .txt-dropcap.txt-no-shadow>p:first-of-type::first-letter,
#uni .uk-dropcap.txt-no-shadow>p:first-of-type::first-letter {
	text-shadow: none !important;
}

/* Pill */
#uni .pill {
	display: inline-block;
	font-size: 1em;
	line-height: .9em !important;
	text-align: center;
	font-weight: bold;
	min-height: 2em;
	max-height: 2.1em;
	min-width: 2.1em;
	max-width: 2.1em;
	padding: 0.5em;
	color: inherit;
	background: #eee;
	border-radius: 20rem;
}
#uni .pill [class*="icons"] {
	position: relative;
	line-height: 1 !important;
}
#uni .pill.pill-inline {
	font-size: 0.9em;
	font-weight: inherit;
	min-height: 1em;
	min-width: 1em;
	max-width: none;
	max-height: none;
	padding: 0.5em 0.6em;
}
#uni .pill.pill-inline.tiny {
	font-size: 0.5em;
	line-height: .8em !important;
	padding: 0.2em 0.4em;
}
#uni .pill.pill-inline.small {
	font-size: 0.7em;
	padding: 0.4em 0.5em;
}
#uni .pill.pill-inline.big {
	font-size: 1em;
	line-height: 1em !important;
	padding: 1em 1.5em;
}
#uni .pill.pill-inline.large {
	font-size: 2em;
	line-height: 1em !important;
	padding: 1em 2em;
}
#uni .pill.pill-inline.huge {
	font-size: 3em;
	line-height: 1em !important;
	padding: 1em 3em;
}

/* Boxes / Cards / Tile */
#uni .bx,
#uni .card {
	position: relative;
	display: block;
	min-height: 1em;
	min-width: 1em;
	padding: 0;
	margin: 0 0 1.5rem 0;
	background-color: #FFFFFF;
}
#uni .bx:last-child,
#uni .card:last-child {
	margin-bottom: 0;
}
/* #uni .bx:not(:first-child),
#uni .card:not(:first-child) { margin-top: 1rem; } */
#uni .bx-content,
#uni .card-content { padding: .75rem; }

#uni .bx .bx-content,
#uni .bx .card-content,
#uni .card .bx-content,
#uni .card .card-content,
#uni .bx.bx-content,
#uni .bx.card-content,
#uni .card.bx-content,
#uni .card.card-content { padding: 1.33rem; }

#uni .bx p,
#uni .card p { margin-bottom: 1.33rem; }

#uni .bx *:last-child,
#uni .card *:last-child {
	margin-bottom: 0;
}

#uni .bx-ghost {
	border: 1px solid;
	background-color: transparent;
}

#uni .bx-lines {
	background-color: transparent;
	border-bottom: 5px solid #cccccc;
}
#uni .bx-lines:not(:first-child) { margin: 1.5rem 0 2rem !important; }
#uni .bx-lines .bx-title {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 3rem;
	border-bottom: 5px solid #cccccc;
}
#uni .bx-lines .bx-title [class*="icon"] {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
	font-size: 1.2rem;
	line-height: 3rem;
	text-align: center;
	color: #FFFFFF !important;
	background: #31A6A6;
	-webkit-transform: translateY(3%);
	-moz-transform: translateY(3%);
	-ms-transform: translateY(3%);
	-o-transform: translateY(3%);
	transform: translateY(3%);
}
#uni .bx-lines .bx-content { padding: 0 0 1.5rem; }
#uni .bx-line.no-title { border-top: 5px solid #cccccc; }
#uni .bx-lines.no-title .bx-content { padding-top: 1.5rem; }

#uni .bx-pattern { background-color: transparent; }
#uni .bx-pattern::before,
#uni .bx-pattern::after {
	content: " ";
	display: block;
	padding: .75rem;
	margin: 0;
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");

	background-position: 3px 3px;

	-webkit-background-size: 0.5rem;
	-moz-background-size: 0.5rem;
	-o-background-size: 0.5rem;
	background-size: 0.5rem;
}
#uni .bx-pattern.dot-blue::before,
#uni .bx-pattern.dot-blue::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-cyan::before,
#uni .bx-pattern.dot-cyan::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-green::before,
#uni .bx-pattern.dot-green::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-violet::before,
#uni .bx-pattern.dot-violet::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%236260A8%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-yellow::before,
#uni .bx-pattern.dot-yellow::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23FFA000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-grey::before,
#uni .bx-pattern.dot-grey::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-white::before,
#uni .bx-pattern.dot-white::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
#uni .bx-pattern.dot-black::before,
#uni .bx-pattern.dot-black::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}

#uni .bx-pattern.square-blue::before,
#uni .bx-pattern.square-blue::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-cyan::before,
#uni .bx-pattern.square-cyan::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-green::before,
#uni .bx-pattern.square-green::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-violet::before,
#uni .bx-pattern.square-violet::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%236260A8;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-yellow::before,
#uni .bx-pattern.square-yellow::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFA000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-grey::before,
#uni .bx-pattern.square-grey::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-white::before,
#uni .bx-pattern.square-white::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern.square-black::before,
#uni .bx-pattern.square-black::after {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
#uni .bx-pattern .bx-title {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 1rem 0 0;
	font-size: 1.5rem;
	-webkit-transform: translate(-0%, -15%);
	-ms-transform: translate(-0%, -15%);
	-moz-transform: translate(-0%, -15%);
	-o-transform: translate(-0%, -15%);
	transform: translate(0, -15%);
}
#uni .bx-pattern .bx-content {padding: 1.5rem 0;}

/* Box Card Image Reveal (AKA flip-card) */
#uni .bx-img-reveal .card-title {
	font-size: 1.5rem;
	font-weight: bold;
}
#uni .bx-img-reveal .card-reveal {
	padding: 1.5rem;
}

/* Tables */
#uni .tbl-box {
	overflow-x: auto;
}
#uni .tbl {
	display: table;
	width: 100%;
	vertical-align: middle;
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid #a2a2a2;
	background-color: #ffffff;
}
#uni .tbl.tbl-fixed { table-layout: fixed; }
#uni .tbl thead,
#uni .tbl tfoot {
	background-color: #a2a2a2;
}
#uni .tbl td,
#uni .tbl th {
	padding: 1rem;
	display: table-cell;
	text-align: inherit;
	vertical-align: middle;
	border-radius: unset;
}
#uni .tbl tr:not(:last-child) {
	border-bottom: 1px solid #cccccc;
}
#uni .tbl td:not(:last-child),
#uni .tbl th:not(:last-child) {
	border-right: 1px solid #cccccc;
}

/* Media Lightbox */
#uni .materialboxed.active {
	z-index: 9999999999 !important;
	margin: 0;
	min-width: auto;
	min-height: auto;
}
#uni .transparent-img[class*="active"],
#uni [class*="lightbox"] [class*="active"] .transparent-img {
	padding: 1rem;
	background-color: #ffffff;
}
#uni #materialbox-overlay {
	z-index: 99999;
}

#uni [uk-lightbox] a {
	cursor: zoom-in;
	background-image: none;
}
#uni .uk-lightbox [class*="active"] {
	cursor: zoom-out;
}
#uni .uk-lightbox [class*="active"] img {
	cursor: default;
	margin: 0;
}
#uni .uk-lightbox > .uk-lightbox-toolbar.uk-position-top {
	left: auto;
}
#uni .uk-lightbox.uk-open {
	z-index: 9999999;
}

/* Modal */
[uk-modal],
.modal {
	z-index: 9999999;
}
[uk-modal] .uk-modal-body,
.modal .uk-modal-body {
	top: 10%;
}
/* Tabs */
.uk-tab a {
	background-image: none;
}
.uk-tab .icon {
	position: relative;
	margin-left: -1em;
	margin-right: 1em;
	-webkit-transform: translate(0, 8%);
	-ms-transform: translate(0, 8%);
	-moz-transform: translate(0, 8%);
	-o-transform: translate(0, 8%);
	transform: translate(0, 8%);
}
.uk-tab>.uk-active>a {
	color: inherit;
	border-color: inherit;
}
/* Accordion */
#uni .accordion {
	margin: 1.5rem 0;
}
#uni .accordion>li {
	background: #ffffff;
}
#uni .accordion:not(.spaced)>li {
	margin: 0;
}
#uni .accordion.popout>li {
	margin: 0;
}
#uni .accordion.popout>li.active {
	margin: 1rem -1.5rem;
}
#uni .accordion a,
#uni .accordion a:hover {
	background: none;
}
#uni .collapsible-header,
#uni .uk-accordion-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
#uni .accordion .uk-accordion-title::after,
#uni .accordion .collapsible-header::after,
#uni .accordion .uk-accordion-title::before,
#uni .accordion .collapsible-header::before {
	display: none;
}
#uni .accordion .uk-accordion-title > *,
#uni .accordion .collapsible-header > * {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0;
	vertical-align: middle;
}
#uni .accordion li .material-icons {
	margin-right: 1em;
	font-weight: bold;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#uni .accordion li[class*="active"] .material-icons,
#uni .accordion li[class*="open"] .material-icons {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#uni .uk-accordion-content,
#uni .collapsible-body {
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2rem;
	margin: 0;
}

/* Preformated Text - Code */
#uni .txt-pre {
	color: #eeeeee;
	background: #222222;
}
#uni .txt-pre > * {
	display: inline-block;
	counter-increment: line;
}
#uni .txt-pre > *::before {
	content: counter(line);
	display: inline-block;
	width: 3rem;
	padding: 0 1rem;
	margin-right: 1rem;
	text-align: right;
	color: inherit;
	border-right: 1px solid;
}

/* Resume Box */
#uni .resume-box .resume-header {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}
#uni .resume-box .resume-header>* {
	display: flex;
	flex-flow: column;
	padding: 0 1rem;
	flex: 0 1 auto;
}
#uni .resume-box .resume-header .prof-img {
	height: 7rem;
	width: 7rem;
	height: 15vw;
	width: 15vw;
	min-width: 15vmax;
	min-height: 15vmax;
}
#uni .resume-box .resume-header .prof-icon {
	position: relative;
	font-size: 12em;
	line-height: 1;
	top: -1rem;
}
@media only screen and (max-width: 640px) {
	#uni .resume-box .resume-header {
		flex-flow: column;
		align-items: center;
	}

	#uni .resume-box .prof-img {
		height: 7rem;
		width: 7rem;
		height: 30vw;
		width: 30vw;
	}
}

/* Gradient Overlays */
.go::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 0;
}
.g-blue::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 20%,
		rgba(0, 51, 102, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#003366', GradientType=0);
}
.g-blue-light::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 0%,
		rgba(115, 159, 202, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#739FCA', GradientType=0);
}
.g-blue-dark::after {
	background: rgb(0, 79, 159);
	background: -moz-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 79, 159, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004F9F', endColorstr='#000000', GradientType=0);
}
.g-blue-deep::after {
	background: rgb(0, 51, 102);
	background: -moz-linear-gradient(top,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
		rgba(0, 51, 102, 1) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=0);
}
.g-blue-dark-horizontal::after {
	background: rgb(0, 51, 102);
	background: -moz-linear-gradient(left,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(left,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to right,
		rgba(0, 51, 102, 0.6) 0%,
		rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#000000', GradientType=1);
}
.g-cyan-light::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#FFFFFF', GradientType=0);
}
.g-cyan-dark::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#000000', GradientType=0);
}
.g-cyan-green::after {
	background: rgb(0, 152, 229);
	background: -moz-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	background: -webkit-linear-gradient(top,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	background: linear-gradient(to bottom,
			rgba(0, 152, 229, 1) 0%,
			rgba(82, 204, 204, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098E5', endColorstr='#52CCCC', GradientType=0);
}
/* Backgrounds */
/* Backgrounds images */
.bg-01 { background-image: url("../img/_base/img-01.jpg"); }
.bg-02 { background-image: url("../img/_base/img-02.jpg"); }
.bg-03 { background-image: url("../img/_base/img-03.jpg"); }
.bg-04 { background-image: url("../img/_base/img-04.jpg"); }

.bg-circles { background-image: url("../img/_base/outline-circles.png"); }
.bg-dot-blue {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23004F9F%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-cyan {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%230098E5%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-green {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%2352CCCC%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-violet {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%236260A8%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-yellow {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23FFA000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-grey {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23444444%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-white {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23ffffff%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-dot-black {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-dot' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-dot%7Bfill:%23000000%7D%3C/style%3E%3Ccircle class='svg-dot' cx='1' cy='1' r='0.7'/%3E%3C/svg%3E");
}
.bg-square-blue {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23004F9F;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-cyan {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%230098E5;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-green {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%2352CCCC;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-violet {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%236260A8;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-yellow {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFA000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-grey {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23444444;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-white {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23FFFFFF;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-square-black {
	background-image: url("data:image/svg+xml,%3Csvg id='svg-square' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cstyle%3E.svg-square%7Bfill:%23000000;%7D%3C/style%3E%3Crect x='1' y='1' class='svg-square' width='3' height='3'/%3E%3C/svg%3E");
}
.bg-svg-small {
	background-position: 3px 3px;
	-webkit-background-size: 0.5rem;
	-moz-background-size: 0.5rem;
	-o-background-size: 0.5rem;
	background-size: 0.5rem;
}
.bg-svg-medium {
	background-position: 2px 2px;
	-webkit-background-size: 1rem;
	-moz-background-size: 1rem;
	-o-background-size: 1rem;
	background-size: 1rem;
}
.bg-svg-large {
	background-position: 8px 8px;
	-webkit-background-size: 2rem;
	-moz-background-size: 2rem;
	-o-background-size: 2rem;
	background-size: 2rem;
}

/* Media Player */
.plyr:not(:last-child) {
	margin: 0 0 1.5rem 0;
}
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true],
.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
	background: #0098E5;
	color: #fff;
}
.plyr__controls .plyr__progress__container {
	flex: 1;
}
.plyr__control.plyr__tab-focus {
	box-shadow: none;
	outline: 0;
}
.plyr__control {
	border-radius: 10rem;
	padding: .7em;
}
.plyr--full-ui input[type=range] {
	color: #0098E5;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
	box-shadow: none;
}

/* Scrollbars */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	overflow: visible;
	background-color: #EEEEEE;
}
::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #999999;
	-webkit-box-shadow: none;
	box-shadow: none;
}