@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; }

body {
	font:15px "Century Gothic", Arial, Helvetica, sans-serif;
	color:#292929;
	background-size:100%;
}

#content {
	width:930px;
	height:720px;
	margin:0 auto;
	border:1px solid #ccc;
	border-top:0;
	border-radius:0 0 30px 30px; -moz-border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; -o-border-radius:0 0 30px 30px;
	font:12px Verdana, Geneva, sans-serif, Arial;
}

#topo {
	width:100%;
	color:#fff;
	line-height:15px;
}

#menu ul { margin:10px auto; margin-left:680px; list-style:none; }

#menu ul li {
	position:relative;
	float:left;
	font-weight:bold;
}

#menu ul li a {
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#292929;
	padding:10px 0;
	width:80px; 
	display:block;
	transition:0.5s ease-in-out;
	-webkit-transition:0.5s ease-in-out;
	-moz-transition:0.5s ease-in-out;
	-o-transition:0.5s ease-in-out;
}

#menu ul li a:hover {
	background-color:#E4E4E4;
	color:#06F;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}

#menu ul li figcaption { display:none; transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out;
font:12px "Century Gothic", Arial, Serif; }

#menu ul li:hover figcaption { display:block; }

#conteudo { text-align:justify; position:absolute; top:200px; width:940px; }

#conteudo p {
	margin:10px 20px 10px 30px;
	line-height:18px;
}

#conteudo ul { font:12px Verdana, Geneva, sans-serif, Arial; list-style:none; }

#conteudo ul li { font-weight:normal; padding:5px;  margin-left:60px; }

