@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; border:0; }

body {
	font:15px "Century Gothic", Arial, Helvetica, sans-serif;
	color:#292929;
	background-size:100%;
}

#content {
	width:930px;
	height:719px;
	margin:0 auto;
	border:1px solid #333;
	border-top:0;
	border-radius:0 0 30px 30px; -moz-border-radius:0 0 30px 30px; -webkit-border-radius:0 0 30px 30px; -o-border-radius:0 0 30px 30px;
}

#topo {
	width:100%;
	color:#fff;
	line-height:15px;
}

#menu ul { margin:30px auto; margin-left:30px; }

ul { list-style:none; }

ul li {
	position:relative;
	float:left;
	font-weight:bold;
}

ul li a {
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	color:#292929;
	padding:20px 30px; 
	display:block;
	transition:0.5s ease-in-out;
	-webkit-transition:0.5s ease-in-out;
	-moz-transition:0.5s ease-in-out;
	-o-transition:0.5s ease-in-out;
}

ul li a:hover {
	background-color:#E4E4E4;
	color:#06F;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}

ul li .submenu { list-style:none; padding:0; margin:0; display:none; }

ul li:hover .submenu { display:block; transition:0.7s ease-in-out; -webkit-transition:0.7s ease-in-out; -moz-transition:0.7s ease-in-out; 
-o-transition:0.7s ease-in-out; }

.submenu {
	position:absolute;
	background-color:#E4E4E4;	
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;
	font-size:15px;
}

/* Mudança do menu de 8 Unidades */
.submenu li a { padding:15px 30px; }
/* Fim */

.submenu li a:hover { background-color:#C7C7C7; text-align:center; width:130px; }
