/* Hacks e estilos especificos por browser
	Suporte as ultimas 2 versões dos navegadores e OS mais relevantes (>2%):
	- Chrome
	- Mozila Firefox
	- IE 10+
	- Safari
	- Opera
	- Android (Chrome)
	- iOS (Sadfari)
*/