/* Materialize Colors - Inspired by Google Material Design */

/*	Custom Material Design Colors

	As classes do Materialize foram modificadas para atender ao nosso padrão da e paleta de cores e evitar comflitos:

	.m-		= classe do materialize
	.txt	= cor do texto
	.bg		= cor de fundo
	.bd		= cor da borda

	---

	A nossa paleta de cores (uni) possui cores de borda (.bd) e 3 niveis de variação claras e escuras:

	-light-1/2/3
	-dark-1/2/3

*/
/* txt */
.m-txt-red {color: #F44336 !important;}
.m-txt-red.txt-light-5 {color: #FFEBEE !important;}
.m-txt-red.txt-light-4 {color: #FFCDD2 !important;}
.m-txt-red.txt-light-3 {color: #EF9A9A !important;}
.m-txt-red.txt-light-2 {color: #E57373 !important;}
.m-txt-red.txt-light-1 {color: #EF5350 !important;}
.m-txt-red.txt-dark-1 {color: #E53935 !important;}
.m-txt-red.txt-dark-2 {color: #D32F2F !important;}
.m-txt-red.txt-dark-3 {color: #C62828 !important;}
.m-txt-red.txt-dark-4 {color: #B71C1C !important;}
.m-txt-red.txt-accent-1 {color: #FF8A80 !important;}
.m-txt-red.txt-accent-2 {color: #FF5252 !important;}
.m-txt-red.txt-accent-3 {color: #FF1744 !important;}
.m-txt-red.txt-accent-4 {color: #D50000 !important;}

.m-txt-pink {color: #e91e63 !important;}
.m-txt-pink.txt-light-5 {color: #fce4ec !important;}
.m-txt-pink.txt-light-4 {color: #f8bbd0 !important;}
.m-txt-pink.txt-light-3 {color: #f48fb1 !important;}
.m-txt-pink.txt-light-2 {color: #f06292 !important;}
.m-txt-pink.txt-light-1 {color: #ec407a !important;}
.m-txt-pink.txt-dark-1 {color: #d81b60 !important;}
.m-txt-pink.txt-dark-2 {color: #c2185b !important;}
.m-txt-pink.txt-dark-3 {color: #ad1457 !important;}
.m-txt-pink.txt-dark-4 {color: #880e4f !important;}
.m-txt-pink.txt-accent-1 {color: #ff80ab !important;}
.m-txt-pink.txt-accent-2 {color: #ff4081 !important;}
.m-txt-pink.txt-accent-3 {color: #f50057 !important;}
.m-txt-pink.txt-accent-4 {color: #c51162 !important;}

.m-txt-purple {color: #9c27b0 !important;}
.m-txt-purple.txt-light-5 {color: #f3e5f5 !important;}
.m-txt-purple.txt-light-4 {color: #e1bee7 !important;}
.m-txt-purple.txt-light-3 {color: #ce93d8 !important;}
.m-txt-purple.txt-light-2 {color: #ba68c8 !important;}
.m-txt-purple.txt-light-1 {color: #ab47bc !important;}
.m-txt-purple.txt-dark-1 {color: #8e24aa !important;}
.m-txt-purple.txt-dark-2 {color: #7b1fa2 !important;}
.m-txt-purple.txt-dark-3 {color: #6a1b9a !important;}
.m-txt-purple.txt-dark-4 {color: #4a148c !important;}
.m-txt-purple.txt-accent-1 {color: #ea80fc !important;}
.m-txt-purple.txt-accent-2 {color: #e040fb !important;}
.m-txt-purple.txt-accent-3 {color: #d500f9 !important;}
.m-txt-purple.txt-accent-4 {color: #aa00ff !important;}

.m-txt-deep-purple {color: #673ab7 !important;}
.m-txt-deep-purple.txt-light-5 {color: #ede7f6 !important;}
.m-txt-deep-purple.txt-light-4 {color: #d1c4e9 !important;}
.m-txt-deep-purple.txt-light-3 {color: #b39ddb !important;}
.m-txt-deep-purple.txt-light-2 {color: #9575cd !important;}
.m-txt-deep-purple.txt-light-1 {color: #7e57c2 !important;}
.m-txt-deep-purple.txt-dark-1 {color: #5e35b1 !important;}
.m-txt-deep-purple.txt-dark-2 {color: #512da8 !important;}
.m-txt-deep-purple.txt-dark-3 {color: #4527a0 !important;}
.m-txt-deep-purple.txt-dark-4 {color: #311b92 !important;}
.m-txt-deep-purple.txt-accent-1 {color: #b388ff !important;}
.m-txt-deep-purple.txt-accent-2 {color: #7c4dff !important;}
.m-txt-deep-purple.txt-accent-3 {color: #651fff !important;}
.m-txt-deep-purple.txt-accent-4 {color: #6200ea !important;}

.m-txt-indigo {color: #3f51b5 !important;}
.m-txt-indigo.txt-light-5 {color: #e8eaf6 !important;}
.m-txt-indigo.txt-light-4 {color: #c5cae9 !important;}
.m-txt-indigo.txt-light-3 {color: #9fa8da !important;}
.m-txt-indigo.txt-light-2 {color: #7986cb !important;}
.m-txt-indigo.txt-light-1 {color: #5c6bc0 !important;}
.m-txt-indigo.txt-dark-1 {color: #3949ab !important;}
.m-txt-indigo.txt-dark-2 {color: #303f9f !important;}
.m-txt-indigo.txt-dark-3 {color: #283593 !important;}
.m-txt-indigo.txt-dark-4 {color: #1a237e !important;}
.m-txt-indigo.txt-accent-1 {color: #8c9eff !important;}
.m-txt-indigo.txt-accent-2 {color: #536dfe !important;}
.m-txt-indigo.txt-accent-3 {color: #3d5afe !important;}
.m-txt-indigo.txt-accent-4 {color: #304ffe !important;}

.m-txt-blue {color: #2196F3 !important;}
.m-txt-blue.txt-light-5 {color: #E3F2FD !important;}
.m-txt-blue.txt-light-4 {color: #BBDEFB !important;}
.m-txt-blue.txt-light-3 {color: #90CAF9 !important;}
.m-txt-blue.txt-light-2 {color: #64B5F6 !important;}
.m-txt-blue.txt-light-1 {color: #42A5F5 !important;}
.m-txt-blue.txt-dark-1 {color: #1E88E5 !important;}
.m-txt-blue.txt-dark-2 {color: #1976D2 !important;}
.m-txt-blue.txt-dark-3 {color: #1565C0 !important;}
.m-txt-blue.txt-dark-4 {color: #0D47A1 !important;}
.m-txt-blue.txt-accent-1 {color: #82B1FF !important;}
.m-txt-blue.txt-accent-2 {color: #448AFF !important;}
.m-txt-blue.txt-accent-3 {color: #2979FF !important;}
.m-txt-blue.txt-accent-4 {color: #2962FF !important;}

.m-txt-light-blue {color: #03a9f4 !important;}
.m-txt-light-blue.txt-light-5 {color: #e1f5fe !important;}
.m-txt-light-blue.txt-light-4 {color: #b3e5fc !important;}
.m-txt-light-blue.txt-light-3 {color: #81d4fa !important;}
.m-txt-light-blue.txt-light-2 {color: #4fc3f7 !important;}
.m-txt-light-blue.txt-light-1 {color: #29b6f6 !important;}
.m-txt-light-blue.txt-dark-1 {color: #039be5 !important;}
.m-txt-light-blue.txt-dark-2 {color: #0288d1 !important;}
.m-txt-light-blue.txt-dark-3 {color: #0277bd !important;}
.m-txt-light-blue.txt-dark-4 {color: #01579b !important;}
.m-txt-light-blue.txt-accent-1 {color: #80d8ff !important;}
.m-txt-light-blue.txt-accent-2 {color: #40c4ff !important;}
.m-txt-light-blue.txt-accent-3 {color: #00b0ff !important;}
.m-txt-light-blue.txt-accent-4 {color: #0091ea !important;}

.m-txt-cyan {color: #00bcd4 !important;}
.m-txt-cyan.txt-light-5 {color: #e0f7fa !important;}
.m-txt-cyan.txt-light-4 {color: #b2ebf2 !important;}
.m-txt-cyan.txt-light-3 {color: #80deea !important;}
.m-txt-cyan.txt-light-2 {color: #4dd0e1 !important;}
.m-txt-cyan.txt-light-1 {color: #26c6da !important;}
.m-txt-cyan.txt-dark-1 {color: #00acc1 !important;}
.m-txt-cyan.txt-dark-2 {color: #0097a7 !important;}
.m-txt-cyan.txt-dark-3 {color: #00838f !important;}
.m-txt-cyan.txt-dark-4 {color: #006064 !important;}
.m-txt-cyan.txt-accent-1 {color: #84ffff !important;}
.m-txt-cyan.txt-accent-2 {color: #18ffff !important;}
.m-txt-cyan.txt-accent-3 {color: #00e5ff !important;}
.m-txt-cyan.txt-accent-4 {color: #00b8d4 !important;}

.m-txt-teal {color: #009688 !important;}
.m-txt-teal.txt-light-5 {color: #e0f2f1 !important;}
.m-txt-teal.txt-light-4 {color: #b2dfdb !important;}
.m-txt-teal.txt-light-3 {color: #80cbc4 !important;}
.m-txt-teal.txt-light-2 {color: #4db6ac !important;}
.m-txt-teal.txt-light-1 {color: #26a69a !important;}
.m-txt-teal.txt-dark-1 {color: #00897b !important;}
.m-txt-teal.txt-dark-2 {color: #00796b !important;}
.m-txt-teal.txt-dark-3 {color: #00695c !important;}
.m-txt-teal.txt-dark-4 {color: #004d40 !important;}
.m-txt-teal.txt-accent-1 {color: #a7ffeb !important;}
.m-txt-teal.txt-accent-2 {color: #64ffda !important;}
.m-txt-teal.txt-accent-3 {color: #1de9b6 !important;}
.m-txt-teal.txt-accent-4 {color: #00bfa5 !important;}

.m-txt-green {color: #4CAF50 !important;}
.m-txt-green.txt-light-5 {color: #E8F5E9 !important;}
.m-txt-green.txt-light-4 {color: #C8E6C9 !important;}
.m-txt-green.txt-light-3 {color: #A5D6A7 !important;}
.m-txt-green.txt-light-2 {color: #81C784 !important;}
.m-txt-green.txt-light-1 {color: #66BB6A !important;}
.m-txt-green.txt-dark-1 {color: #43A047 !important;}
.m-txt-green.txt-dark-2 {color: #388E3C !important;}
.m-txt-green.txt-dark-3 {color: #2E7D32 !important;}
.m-txt-green.txt-dark-4 {color: #1B5E20 !important;}
.m-txt-green.txt-accent-1 {color: #B9F6CA !important;}
.m-txt-green.txt-accent-2 {color: #69F0AE !important;}
.m-txt-green.txt-accent-3 {color: #00E676 !important;}
.m-txt-green.txt-accent-4 {color: #00C853 !important;}

.m-txt-light-green {color: #8bc34a !important;}
.m-txt-light-green.txt-light-5 {color: #f1f8e9 !important;}
.m-txt-light-green.txt-light-4 {color: #dcedc8 !important;}
.m-txt-light-green.txt-light-3 {color: #c5e1a5 !important;}
.m-txt-light-green.txt-light-2 {color: #aed581 !important;}
.m-txt-light-green.txt-light-1 {color: #9ccc65 !important;}
.m-txt-light-green.txt-dark-1 {color: #7cb342 !important;}
.m-txt-light-green.txt-dark-2 {color: #689f38 !important;}
.m-txt-light-green.txt-dark-3 {color: #558b2f !important;}
.m-txt-light-green.txt-dark-4 {color: #33691e !important;}
.m-txt-light-green.txt-accent-1 {color: #ccff90 !important;}
.m-txt-light-green.txt-accent-2 {color: #b2ff59 !important;}
.m-txt-light-green.txt-accent-3 {color: #76ff03 !important;}
.m-txt-light-green.txt-accent-4 {color: #64dd17 !important;}

.m-txt-lime {color: #cddc39 !important;}
.m-txt-lime.txt-light-5 {color: #f9fbe7 !important;}
.m-txt-lime.txt-light-4 {color: #f0f4c3 !important;}
.m-txt-lime.txt-light-3 {color: #e6ee9c !important;}
.m-txt-lime.txt-light-2 {color: #dce775 !important;}
.m-txt-lime.txt-light-1 {color: #d4e157 !important;}
.m-txt-lime.txt-dark-1 {color: #c0ca33 !important;}
.m-txt-lime.txt-dark-2 {color: #afb42b !important;}
.m-txt-lime.txt-dark-3 {color: #9e9d24 !important;}
.m-txt-lime.txt-dark-4 {color: #827717 !important;}
.m-txt-lime.txt-accent-1 {color: #f4ff81 !important;}
.m-txt-lime.txt-accent-2 {color: #eeff41 !important;}
.m-txt-lime.txt-accent-3 {color: #c6ff00 !important;}
.m-txt-lime.txt-accent-4 {color: #aeea00 !important;}

.m-txt-yellow {color: #ffeb3b !important;}
.m-txt-yellow.txt-light-5 {color: #fffde7 !important;}
.m-txt-yellow.txt-light-4 {color: #fff9c4 !important;}
.m-txt-yellow.txt-light-3 {color: #fff59d !important;}
.m-txt-yellow.txt-light-2 {color: #fff176 !important;}
.m-txt-yellow.txt-light-1 {color: #ffee58 !important;}
.m-txt-yellow.txt-dark-1 {color: #fdd835 !important;}
.m-txt-yellow.txt-dark-2 {color: #fbc02d !important;}
.m-txt-yellow.txt-dark-3 {color: #f9a825 !important;}
.m-txt-yellow.txt-dark-4 {color: #f57f17 !important;}
.m-txt-yellow.txt-accent-1 {color: #ffff8d !important;}
.m-txt-yellow.txt-accent-2 {color: #ffff00 !important;}
.m-txt-yellow.txt-accent-3 {color: #ffea00 !important;}
.m-txt-yellow.txt-accent-4 {color: #ffd600 !important;}

.m-txt-amber {color: #ffc107 !important;}
.m-txt-amber.txt-light-5 {color: #fff8e1 !important;}
.m-txt-amber.txt-light-4 {color: #ffecb3 !important;}
.m-txt-amber.txt-light-3 {color: #ffe082 !important;}
.m-txt-amber.txt-light-2 {color: #ffd54f !important;}
.m-txt-amber.txt-light-1 {color: #ffca28 !important;}
.m-txt-amber.txt-dark-1 {color: #ffb300 !important;}
.m-txt-amber.txt-dark-2 {color: #ffa000 !important;}
.m-txt-amber.txt-dark-3 {color: #ff8f00 !important;}
.m-txt-amber.txt-dark-4 {color: #ff6f00 !important;}
.m-txt-amber.txt-accent-1 {color: #ffe57f !important;}
.m-txt-amber.txt-accent-2 {color: #ffd740 !important;}
.m-txt-amber.txt-accent-3 {color: #ffc400 !important;}
.m-txt-amber.txt-accent-4 {color: #ffab00 !important;}

.m-txt-orange {color: #ff9800 !important;}
.m-txt-orange.txt-light-5 {color: #fff3e0 !important;}
.m-txt-orange.txt-light-4 {color: #ffe0b2 !important;}
.m-txt-orange.txt-light-3 {color: #ffcc80 !important;}
.m-txt-orange.txt-light-2 {color: #ffb74d !important;}
.m-txt-orange.txt-light-1 {color: #ffa726 !important;}
.m-txt-orange.txt-dark-1 {color: #fb8c00 !important;}
.m-txt-orange.txt-dark-2 {color: #f57c00 !important;}
.m-txt-orange.txt-dark-3 {color: #ef6c00 !important;}
.m-txt-orange.txt-dark-4 {color: #e65100 !important;}
.m-txt-orange.txt-accent-1 {color: #ffd180 !important;}
.m-txt-orange.txt-accent-2 {color: #ffab40 !important;}
.m-txt-orange.txt-accent-3 {color: #ff9100 !important;}
.m-txt-orange.txt-accent-4 {color: #ff6d00 !important;}

.m-txt-deep-orange {color: #ff5722 !important;}
.m-txt-deep-orange.txt-light-5 {color: #fbe9e7 !important;}
.m-txt-deep-orange.txt-light-4 {color: #ffccbc !important;}
.m-txt-deep-orange.txt-light-3 {color: #ffab91 !important;}
.m-txt-deep-orange.txt-light-2 {color: #ff8a65 !important;}
.m-txt-deep-orange.txt-light-1 {color: #ff7043 !important;}
.m-txt-deep-orange.txt-dark-1 {color: #f4511e !important;}
.m-txt-deep-orange.txt-dark-2 {color: #e64a19 !important;}
.m-txt-deep-orange.txt-dark-3 {color: #d84315 !important;}
.m-txt-deep-orange.txt-dark-4 {color: #bf360c !important;}
.m-txt-deep-orange.txt-accent-1 {color: #ff9e80 !important;}
.m-txt-deep-orange.txt-accent-2 {color: #ff6e40 !important;}
.m-txt-deep-orange.txt-accent-3 {color: #ff3d00 !important;}
.m-txt-deep-orange.txt-accent-4 {color: #dd2c00 !important;}

.m-txt-brown {color: #795548 !important;}
.m-txt-brown.txt-light-5 {color: #efebe9 !important;}
.m-txt-brown.txt-light-4 {color: #d7ccc8 !important;}
.m-txt-brown.txt-light-3 {color: #bcaaa4 !important;}
.m-txt-brown.txt-light-2 {color: #a1887f !important;}
.m-txt-brown.txt-light-1 {color: #8d6e63 !important;}
.m-txt-brown.txt-dark-1 {color: #6d4c41 !important;}
.m-txt-brown.txt-dark-2 {color: #5d4037 !important;}
.m-txt-brown.txt-dark-3 {color: #4e342e !important;}
.m-txt-brown.txt-dark-4 {color: #3e2723 !important;}

.m-txt-blue-grey {color: #607d8b !important;}
.m-txt-blue-grey.txt-light-5 {color: #eceff1 !important;}
.m-txt-blue-grey.txt-light-4 {color: #cfd8dc !important;}
.m-txt-blue-grey.txt-light-3 {color: #b0bec5 !important;}
.m-txt-blue-grey.txt-light-2 {color: #90a4ae !important;}
.m-txt-blue-grey.txt-light-1 {color: #78909c !important;}
.m-txt-blue-grey.txt-dark-1 {color: #546e7a !important;}
.m-txt-blue-grey.txt-dark-2 {color: #455a64 !important;}
.m-txt-blue-grey.txt-dark-3 {color: #37474f !important;}
.m-txt-blue-grey.txt-dark-4 {color: #263238 !important;}

.m-txt-grey {color: #9e9e9e !important;}
.m-txt-grey.txt-light-5 {color: #fafafa !important;}
.m-txt-grey.txt-light-4 {color: #f5f5f5 !important;}
.m-txt-grey.txt-light-3 {color: #eeeeee !important;}
.m-txt-grey.txt-light-2 {color: #e0e0e0 !important;}
.m-txt-grey.txt-light-1 {color: #bdbdbd !important;}
.m-txt-grey.txt-dark-1 {color: #757575 !important;}
.m-txt-grey.txt-dark-2 {color: #616161 !important;}
.m-txt-grey.txt-dark-3 {color: #424242 !important;}
.m-txt-grey.txt-dark-4 {color: #212121 !important;}

/* bg */

.m-bg-red {background-color: #F44336 !important;}
.m-bg-red.bg-light-5 {background-color: #FFEBEE !important;}
.m-bg-red.bg-light-4 {background-color: #FFCDD2 !important;}
.m-bg-red.bg-light-3 {background-color: #EF9A9A !important;}
.m-bg-red.bg-light-2 {background-color: #E57373 !important;}
.m-bg-red.bg-light-1 {background-color: #EF5350 !important;}
.m-bg-red.bg-dark-1 {background-color: #E53935 !important;}
.m-bg-red.bg-dark-2 {background-color: #D32F2F !important;}
.m-bg-red.bg-dark-3 {background-color: #C62828 !important;}
.m-bg-red.bg-dark-4 {background-color: #B71C1C !important;}
.m-bg-red.bg-accent-1 {background-color: #FF8A80 !important;}
.m-bg-red.bg-accent-2 {background-color: #FF5252 !important;}
.m-bg-red.bg-accent-3 {background-color: #FF1744 !important;}
.m-bg-red.bg-accent-4 {background-color: #D50000 !important;}

.m-bg-pink {background-color: #e91e63 !important;}
.m-bg-pink.bg-light-5 {background-color: #fce4ec !important;}
.m-bg-pink.bg-light-4 {background-color: #f8bbd0 !important;}
.m-bg-pink.bg-light-3 {background-color: #f48fb1 !important;}
.m-bg-pink.bg-light-2 {background-color: #f06292 !important;}
.m-bg-pink.bg-light-1 {background-color: #ec407a !important;}
.m-bg-pink.bg-dark-1 {background-color: #d81b60 !important;}
.m-bg-pink.bg-dark-2 {background-color: #c2185b !important;}
.m-bg-pink.bg-dark-3 {background-color: #ad1457 !important;}
.m-bg-pink.bg-dark-4 {background-color: #880e4f !important;}
.m-bg-pink.bg-accent-1 {background-color: #ff80ab !important;}
.m-bg-pink.bg-accent-2 {background-color: #ff4081 !important;}
.m-bg-pink.bg-accent-3 {background-color: #f50057 !important;}
.m-bg-pink.bg-accent-4 {background-color: #c51162 !important;}

.m-bg-purple {background-color: #9c27b0 !important;}
.m-bg-purple.bg-light-5 {background-color: #f3e5f5 !important;}
.m-bg-purple.bg-light-4 {background-color: #e1bee7 !important;}
.m-bg-purple.bg-light-3 {background-color: #ce93d8 !important;}
.m-bg-purple.bg-light-2 {background-color: #ba68c8 !important;}
.m-bg-purple.bg-light-1 {background-color: #ab47bc !important;}
.m-bg-purple.bg-dark-1 {background-color: #8e24aa !important;}
.m-bg-purple.bg-dark-2 {background-color: #7b1fa2 !important;}
.m-bg-purple.bg-dark-3 {background-color: #6a1b9a !important;}
.m-bg-purple.bg-dark-4 {background-color: #4a148c !important;}
.m-bg-purple.bg-accent-1 {background-color: #ea80fc !important;}
.m-bg-purple.bg-accent-2 {background-color: #e040fb !important;}
.m-bg-purple.bg-accent-3 {background-color: #d500f9 !important;}
.m-bg-purple.bg-accent-4 {background-color: #aa00ff !important;}

.m-bg-deep-purple {background-color: #673ab7 !important;}
.m-bg-deep-purple.bg-light-5 {background-color: #ede7f6 !important;}
.m-bg-deep-purple.bg-light-4 {background-color: #d1c4e9 !important;}
.m-bg-deep-purple.bg-light-3 {background-color: #b39ddb !important;}
.m-bg-deep-purple.bg-light-2 {background-color: #9575cd !important;}
.m-bg-deep-purple.bg-light-1 {background-color: #7e57c2 !important;}
.m-bg-deep-purple.bg-dark-1 {background-color: #5e35b1 !important;}
.m-bg-deep-purple.bg-dark-2 {background-color: #512da8 !important;}
.m-bg-deep-purple.bg-dark-3 {background-color: #4527a0 !important;}
.m-bg-deep-purple.bg-dark-4 {background-color: #311b92 !important;}
.m-bg-deep-purple.bg-accent-1 {background-color: #b388ff !important;}
.m-bg-deep-purple.bg-accent-2 {background-color: #7c4dff !important;}
.m-bg-deep-purple.bg-accent-3 {background-color: #651fff !important;}
.m-bg-deep-purple.bg-accent-4 {background-color: #6200ea !important;}

.m-bg-indigo {background-color: #3f51b5 !important;}
.m-bg-indigo.bg-light-5 {background-color: #e8eaf6 !important;}
.m-bg-indigo.bg-light-4 {background-color: #c5cae9 !important;}
.m-bg-indigo.bg-light-3 {background-color: #9fa8da !important;}
.m-bg-indigo.bg-light-2 {background-color: #7986cb !important;}
.m-bg-indigo.bg-light-1 {background-color: #5c6bc0 !important;}
.m-bg-indigo.bg-dark-1 {background-color: #3949ab !important;}
.m-bg-indigo.bg-dark-2 {background-color: #303f9f !important;}
.m-bg-indigo.bg-dark-3 {background-color: #283593 !important;}
.m-bg-indigo.bg-dark-4 {background-color: #1a237e !important;}
.m-bg-indigo.bg-accent-1 {background-color: #8c9eff !important;}
.m-bg-indigo.bg-accent-2 {background-color: #536dfe !important;}
.m-bg-indigo.bg-accent-3 {background-color: #3d5afe !important;}
.m-bg-indigo.bg-accent-4 {background-color: #304ffe !important;}

.m-bg-blue {background-color: #2196F3 !important;}
.m-bg-blue.bg-light-5 {background-color: #E3F2FD !important;}
.m-bg-blue.bg-light-4 {background-color: #BBDEFB !important;}
.m-bg-blue.bg-light-3 {background-color: #90CAF9 !important;}
.m-bg-blue.bg-light-2 {background-color: #64B5F6 !important;}
.m-bg-blue.bg-light-1 {background-color: #42A5F5 !important;}
.m-bg-blue.bg-dark-1 {background-color: #1E88E5 !important;}
.m-bg-blue.bg-dark-2 {background-color: #1976D2 !important;}
.m-bg-blue.bg-dark-3 {background-color: #1565C0 !important;}
.m-bg-blue.bg-dark-4 {background-color: #0D47A1 !important;}
.m-bg-blue.bg-accent-1 {background-color: #82B1FF !important;}
.m-bg-blue.bg-accent-2 {background-color: #448AFF !important;}
.m-bg-blue.bg-accent-3 {background-color: #2979FF !important;}
.m-bg-blue.bg-accent-4 {background-color: #2962FF !important;}

.m-bg-light-blue {background-color: #03a9f4 !important;}
.m-bg-light-blue.bg-light-5 {background-color: #e1f5fe !important;}
.m-bg-light-blue.bg-light-4 {background-color: #b3e5fc !important;}
.m-bg-light-blue.bg-light-3 {background-color: #81d4fa !important;}
.m-bg-light-blue.bg-light-2 {background-color: #4fc3f7 !important;}
.m-bg-light-blue.bg-light-1 {background-color: #29b6f6 !important;}
.m-bg-light-blue.bg-dark-1 {background-color: #039be5 !important;}
.m-bg-light-blue.bg-dark-2 {background-color: #0288d1 !important;}
.m-bg-light-blue.bg-dark-3 {background-color: #0277bd !important;}
.m-bg-light-blue.bg-dark-4 {background-color: #01579b !important;}
.m-bg-light-blue.bg-accent-1 {background-color: #80d8ff !important;}
.m-bg-light-blue.bg-accent-2 {background-color: #40c4ff !important;}
.m-bg-light-blue.bg-accent-3 {background-color: #00b0ff !important;}
.m-bg-light-blue.bg-accent-4 {background-color: #0091ea !important;}

.m-bg-cyan {background-color: #00bcd4 !important;}
.m-bg-cyan.bg-light-5 {background-color: #e0f7fa !important;}
.m-bg-cyan.bg-light-4 {background-color: #b2ebf2 !important;}
.m-bg-cyan.bg-light-3 {background-color: #80deea !important;}
.m-bg-cyan.bg-light-2 {background-color: #4dd0e1 !important;}
.m-bg-cyan.bg-light-1 {background-color: #26c6da !important;}
.m-bg-cyan.bg-dark-1 {background-color: #00acc1 !important;}
.m-bg-cyan.bg-dark-2 {background-color: #0097a7 !important;}
.m-bg-cyan.bg-dark-3 {background-color: #00838f !important;}
.m-bg-cyan.bg-dark-4 {background-color: #006064 !important;}
.m-bg-cyan.bg-accent-1 {background-color: #84ffff !important;}
.m-bg-cyan.bg-accent-2 {background-color: #18ffff !important;}
.m-bg-cyan.bg-accent-3 {background-color: #00e5ff !important;}
.m-bg-cyan.bg-accent-4 {background-color: #00b8d4 !important;}

.m-bg-teal {background-color: #009688 !important;}
.m-bg-teal.bg-light-5 {background-color: #e0f2f1 !important;}
.m-bg-teal.bg-light-4 {background-color: #b2dfdb !important;}
.m-bg-teal.bg-light-3 {background-color: #80cbc4 !important;}
.m-bg-teal.bg-light-2 {background-color: #4db6ac !important;}
.m-bg-teal.bg-light-1 {background-color: #26a69a !important;}
.m-bg-teal.bg-dark-1 {background-color: #00897b !important;}
.m-bg-teal.bg-dark-2 {background-color: #00796b !important;}
.m-bg-teal.bg-dark-3 {background-color: #00695c !important;}
.m-bg-teal.bg-dark-4 {background-color: #004d40 !important;}
.m-bg-teal.bg-accent-1 {background-color: #a7ffeb !important;}
.m-bg-teal.bg-accent-2 {background-color: #64ffda !important;}
.m-bg-teal.bg-accent-3 {background-color: #1de9b6 !important;}
.m-bg-teal.bg-accent-4 {background-color: #00bfa5 !important;}

.m-bg-green {background-color: #4CAF50 !important;}
.m-bg-green.bg-light-5 {background-color: #E8F5E9 !important;}
.m-bg-green.bg-light-4 {background-color: #C8E6C9 !important;}
.m-bg-green.bg-light-3 {background-color: #A5D6A7 !important;}
.m-bg-green.bg-light-2 {background-color: #81C784 !important;}
.m-bg-green.bg-light-1 {background-color: #66BB6A !important;}
.m-bg-green.bg-dark-1 {background-color: #43A047 !important;}
.m-bg-green.bg-dark-2 {background-color: #388E3C !important;}
.m-bg-green.bg-dark-3 {background-color: #2E7D32 !important;}
.m-bg-green.bg-dark-4 {background-color: #1B5E20 !important;}
.m-bg-green.bg-accent-1 {background-color: #B9F6CA !important;}
.m-bg-green.bg-accent-2 {background-color: #69F0AE !important;}
.m-bg-green.bg-accent-3 {background-color: #00E676 !important;}
.m-bg-green.bg-accent-4 {background-color: #00C853 !important;}

.m-bg-light-green {background-color: #8bc34a !important;}
.m-bg-light-green.bg-light-5 {background-color: #f1f8e9 !important;}
.m-bg-light-green.bg-light-4 {background-color: #dcedc8 !important;}
.m-bg-light-green.bg-light-3 {background-color: #c5e1a5 !important;}
.m-bg-light-green.bg-light-2 {background-color: #aed581 !important;}
.m-bg-light-green.bg-light-1 {background-color: #9ccc65 !important;}
.m-bg-light-green.bg-dark-1 {background-color: #7cb342 !important;}
.m-bg-light-green.bg-dark-2 {background-color: #689f38 !important;}
.m-bg-light-green.bg-dark-3 {background-color: #558b2f !important;}
.m-bg-light-green.bg-dark-4 {background-color: #33691e !important;}
.m-bg-light-green.bg-accent-1 {background-color: #ccff90 !important;}
.m-bg-light-green.bg-accent-2 {background-color: #b2ff59 !important;}
.m-bg-light-green.bg-accent-3 {background-color: #76ff03 !important;}
.m-bg-light-green.bg-accent-4 {background-color: #64dd17 !important;}

.m-bg-lime {background-color: #cddc39 !important;}
.m-bg-lime.bg-light-5 {background-color: #f9fbe7 !important;}
.m-bg-lime.bg-light-4 {background-color: #f0f4c3 !important;}
.m-bg-lime.bg-light-3 {background-color: #e6ee9c !important;}
.m-bg-lime.bg-light-2 {background-color: #dce775 !important;}
.m-bg-lime.bg-light-1 {background-color: #d4e157 !important;}
.m-bg-lime.bg-dark-1 {background-color: #c0ca33 !important;}
.m-bg-lime.bg-dark-2 {background-color: #afb42b !important;}
.m-bg-lime.bg-dark-3 {background-color: #9e9d24 !important;}
.m-bg-lime.bg-dark-4 {background-color: #827717 !important;}
.m-bg-lime.bg-accent-1 {background-color: #f4ff81 !important;}
.m-bg-lime.bg-accent-2 {background-color: #eeff41 !important;}
.m-bg-lime.bg-accent-3 {background-color: #c6ff00 !important;}
.m-bg-lime.bg-accent-4 {background-color: #aeea00 !important;}

.m-bg-yellow {background-color: #ffeb3b !important;}
.m-bg-yellow.bg-light-5 {background-color: #fffde7 !important;}
.m-bg-yellow.bg-light-4 {background-color: #fff9c4 !important;}
.m-bg-yellow.bg-light-3 {background-color: #fff59d !important;}
.m-bg-yellow.bg-light-2 {background-color: #fff176 !important;}
.m-bg-yellow.bg-light-1 {background-color: #ffee58 !important;}
.m-bg-yellow.bg-dark-1 {background-color: #fdd835 !important;}
.m-bg-yellow.bg-dark-2 {background-color: #fbc02d !important;}
.m-bg-yellow.bg-dark-3 {background-color: #f9a825 !important;}
.m-bg-yellow.bg-dark-4 {background-color: #f57f17 !important;}
.m-bg-yellow.bg-accent-1 {background-color: #ffff8d !important;}
.m-bg-yellow.bg-accent-2 {background-color: #ffff00 !important;}
.m-bg-yellow.bg-accent-3 {background-color: #ffea00 !important;}
.m-bg-yellow.bg-accent-4 {background-color: #ffd600 !important;}

.m-bg-amber {background-color: #ffc107 !important;}
.m-bg-amber.bg-light-5 {background-color: #fff8e1 !important;}
.m-bg-amber.bg-light-4 {background-color: #ffecb3 !important;}
.m-bg-amber.bg-light-3 {background-color: #ffe082 !important;}
.m-bg-amber.bg-light-2 {background-color: #ffd54f !important;}
.m-bg-amber.bg-light-1 {background-color: #ffca28 !important;}
.m-bg-amber.bg-dark-1 {background-color: #ffb300 !important;}
.m-bg-amber.bg-dark-2 {background-color: #ffa000 !important;}
.m-bg-amber.bg-dark-3 {background-color: #ff8f00 !important;}
.m-bg-amber.bg-dark-4 {background-color: #ff6f00 !important;}
.m-bg-amber.bg-accent-1 {background-color: #ffe57f !important;}
.m-bg-amber.bg-accent-2 {background-color: #ffd740 !important;}
.m-bg-amber.bg-accent-3 {background-color: #ffc400 !important;}
.m-bg-amber.bg-accent-4 {background-color: #ffab00 !important;}

.m-bg-orange {background-color: #ff9800 !important;}
.m-bg-orange.bg-light-5 {background-color: #fff3e0 !important;}
.m-bg-orange.bg-light-4 {background-color: #ffe0b2 !important;}
.m-bg-orange.bg-light-3 {background-color: #ffcc80 !important;}
.m-bg-orange.bg-light-2 {background-color: #ffb74d !important;}
.m-bg-orange.bg-light-1 {background-color: #ffa726 !important;}
.m-bg-orange.bg-dark-1 {background-color: #fb8c00 !important;}
.m-bg-orange.bg-dark-2 {background-color: #f57c00 !important;}
.m-bg-orange.bg-dark-3 {background-color: #ef6c00 !important;}
.m-bg-orange.bg-dark-4 {background-color: #e65100 !important;}
.m-bg-orange.bg-accent-1 {background-color: #ffd180 !important;}
.m-bg-orange.bg-accent-2 {background-color: #ffab40 !important;}
.m-bg-orange.bg-accent-3 {background-color: #ff9100 !important;}
.m-bg-orange.bg-accent-4 {background-color: #ff6d00 !important;}

.m-bg-deep-orange {background-color: #ff5722 !important;}
.m-bg-deep-orange.bg-light-5 {background-color: #fbe9e7 !important;}
.m-bg-deep-orange.bg-light-4 {background-color: #ffccbc !important;}
.m-bg-deep-orange.bg-light-3 {background-color: #ffab91 !important;}
.m-bg-deep-orange.bg-light-2 {background-color: #ff8a65 !important;}
.m-bg-deep-orange.bg-light-1 {background-color: #ff7043 !important;}
.m-bg-deep-orange.bg-dark-1 {background-color: #f4511e !important;}
.m-bg-deep-orange.bg-dark-2 {background-color: #e64a19 !important;}
.m-bg-deep-orange.bg-dark-3 {background-color: #d84315 !important;}
.m-bg-deep-orange.bg-dark-4 {background-color: #bf360c !important;}
.m-bg-deep-orange.bg-accent-1 {background-color: #ff9e80 !important;}
.m-bg-deep-orange.bg-accent-2 {background-color: #ff6e40 !important;}
.m-bg-deep-orange.bg-accent-3 {background-color: #ff3d00 !important;}
.m-bg-deep-orange.bg-accent-4 {background-color: #dd2c00 !important;}

.m-bg-brown {background-color: #795548 !important;}
.m-bg-brown.bg-light-5 {background-color: #efebe9 !important;}
.m-bg-brown.bg-light-4 {background-color: #d7ccc8 !important;}
.m-bg-brown.bg-light-3 {background-color: #bcaaa4 !important;}
.m-bg-brown.bg-light-2 {background-color: #a1887f !important;}
.m-bg-brown.bg-light-1 {background-color: #8d6e63 !important;}
.m-bg-brown.bg-dark-1 {background-color: #6d4c41 !important;}
.m-bg-brown.bg-dark-2 {background-color: #5d4037 !important;}
.m-bg-brown.bg-dark-3 {background-color: #4e342e !important;}
.m-bg-brown.bg-dark-4 {background-color: #3e2723 !important;}

.m-bg-blue-grey {background-color: #607d8b !important;}
.m-bg-blue-grey.bg-light-5 {background-color: #eceff1 !important;}
.m-bg-blue-grey.bg-light-4 {background-color: #cfd8dc !important;}
.m-bg-blue-grey.bg-light-3 {background-color: #b0bec5 !important;}
.m-bg-blue-grey.bg-light-2 {background-color: #90a4ae !important;}
.m-bg-blue-grey.bg-light-1 {background-color: #78909c !important;}
.m-bg-blue-grey.bg-dark-1 {background-color: #546e7a !important;}
.m-bg-blue-grey.bg-dark-2 {background-color: #455a64 !important;}
.m-bg-blue-grey.bg-dark-3 {background-color: #37474f !important;}
.m-bg-blue-grey.bg-dark-4 {background-color: #263238 !important;}

.m-bg-grey {background-color: #9e9e9e !important;}
.m-bg-grey.bg-light-5 {background-color: #fafafa !important;}
.m-bg-grey.bg-light-4 {background-color: #f5f5f5 !important;}
.m-bg-grey.bg-light-3 {background-color: #eeeeee !important;}
.m-bg-grey.bg-light-2 {background-color: #e0e0e0 !important;}
.m-bg-grey.bg-light-1 {background-color: #bdbdbd !important;}
.m-bg-grey.bg-dark-1 {background-color: #757575 !important;}
.m-bg-grey.bg-dark-2 {background-color: #616161 !important;}
.m-bg-grey.bg-dark-3 {background-color: #424242 !important;}
.m-bg-grey.bg-dark-4 {background-color: #212121 !important;}

/* == Uni Color Palettes == */

/* Colors - Text */

/* Azul */
.txt-blue,
.txt-blue.txt-light.txt-hover:hover,
.txt-blue.txt-light.txt-hover:focus,
.txt-blue.txt-light.txt-hover[class*="active"],
[class*="active"]>.txt-blue.txt-light.txt-hover {
	color: #004F9F !important;
}
.txt-blue.txt-dark,
.txt-blue.txt-hover:hover,
.txt-blue.txt-hover:focus,
.txt-blue.txt-hover[class*="active"],
[class*="active"]>.txt-blue.txt-hover {
	color: #002750 !important;
}
.txt-blue.txt-light		{color: #739FCA !important;}

.txt-blue.txt-dark-1	{color: #003366 !important;}
.txt-blue.txt-dark-2	{color: #002750 !important;}
.txt-blue.txt-dark-3	{color: #001428 !important;}
.txt-blue.txt-light-1	{color: #007bf7 !important;}
.txt-blue.txt-light-2	{color: #50a7ff !important;}
.txt-blue.txt-light-3	{color: #739FCA !important;}

/* Ciano */
.txt-cyan,
.txt-cyan.txt-light.txt-hover:hover,
.txt-cyan.txt-light.txt-hover:focus,
.txt-cyan.txt-light.txt-hover[class*="active"],
[class*="active"]>.txt-cyan.txt-light.txt-hover {
	color: #0098E5 !important;
}
.txt-cyan.txt-dark,
.txt-cyan.txt-hover:hover,
.txt-cyan.txt-hover:focus,
.txt-cyan.txt-hover[class*="active"],
[class*="active"]>.txt-cyan.txt-hover {
	color: #004c73 !important;
}
.txt-cyan.txt-light		{color: #73d0ff !important;}

.txt-cyan.txt-dark-1	{color: #0072ac !important;}
.txt-cyan.txt-dark-2	{color: #004c73 !important;}
.txt-cyan.txt-dark-3	{color: #002639 !important;}
.txt-cyan.txt-light-1	{color: #25a9dd !important;}
.txt-cyan.txt-light-2	{color: #73d0ff !important;}
.txt-cyan.txt-light-3	{color: #b9e7ff !important;}

/* Verde */
.txt-green,
.txt-green.txt-light.txt-hover:hover,
.txt-green.txt-light.txt-hover:focus,
.txt-green.txt-light.txt-hover[class*="active"],
[class*="active"]>.txt-green.txt-light.txt-hover {
	color: #52CCCC !important;
}
.txt-green.txt-dark,
.txt-green.txt-hover:hover,
.txt-green.txt-hover:focus,
.txt-green.txt-hover[class*="active"],
[class*="active"]>.txt-green.txt-hover {
	color: #216e6e !important;
}
.txt-green.txt-light	{color: #90DEDE !important;}

.txt-green.txt-dark-1	{color: #31a6a6 !important;}
.txt-green.txt-dark-2	{color: #216e6e !important;}
.txt-green.txt-dark-3	{color: #103737 !important;}
.txt-green.txt-light-1	{color: #7dd9d9 !important;}
.txt-green.txt-light-2	{color: #a9e5e5 !important;}
.txt-green.txt-light-3	{color: #d4f2f2 !important;}

/* Violeta */
.txt-violet,
.txt-violet.txt-light.txt-hover:hover,
.txt-violet.txt-light.txt-hover:focus,
.txt-violet.txt-light.txt-hover[class*="active"],
[class*="active"]>.txt-violet.txt-light.txt-hover {
	color: #6260A8 !important;
}
.txt-violet.txt-dark,
.txt-violet.txt-hover:hover,
.txt-violet.txt-hover:focus,
.txt-violet.txt-hover[class*="active"],
[class*="active"]>.txt-violet.txt-hover {
	color: #302f55 !important;
}
.txt-violet.txt-light	{color: #A9A8CF !important;}

.txt-violet.txt-dark-1	{color: #484680 !important;}
.txt-violet.txt-dark-2	{color: #302f55 !important;}
.txt-violet.txt-dark-3	{color: #18172b !important;}
.txt-violet.txt-light-1	{color: #8988be !important;}
.txt-violet.txt-light-2	{color: #b0afd4 !important;}
.txt-violet.txt-light-3	{color: #d8d7e9 !important;}

/* Amarelo */
.txt-yellow,
.txt-yellow.txt-light.txt-hover:hover,
.txt-yellow.txt-light.txt-hover:focus,
.txt-yellow.txt-light.txt-hover[class*="active"],
[class*="active"]>.txt-yellow.txt-light.txt-hover {
	color: #FFA000 !important;
}
.txt-yellow.txt-dark,
.txt-yellow.txt-hover:hover,
.txt-yellow.txt-hover:focus,
.txt-yellow.txt-hover[class*="active"],
[class*="active"]>.txt-yellow.txt-hover {
	color: #bf7800 !important;
}
.txt-yellow.txt-light	{color: #FFB945 !important;}

.txt-yellow.txt-dark-1	{color: #bf7800 !important;}
.txt-yellow.txt-dark-2	{color: #805000 !important;}
.txt-yellow.txt-dark-3	{color: #402800 !important;}
.txt-yellow.txt-light-1	{color: #ffb840 !important;}
.txt-yellow.txt-light-2	{color: #ffd080 !important;}
.txt-yellow.txt-light-3	{color: #ffe7bf !important;}

/* Cinza */
.txt-grey,
.txt-grey.txt-light.txt-hover:hover,
.txt-grey.txt-light.txt-hover:focus,
.txt-grey.txt-light.txt-hover[class*="active"],
[class*="active"] > .txt-grey.txt-light.txt-hover {
	color: #444444 !important;
}
.txt-grey.txt-dark,
.txt-grey.txt-hover:hover,
.txt-grey.txt-hover:focus,
.txt-grey.txt-hover[class*="active"],
[class*="active"] > .txt-grey.txt-hover {
	color: #222222 !important;
}
.txt-grey.txt-light		{color: #EEEEEE !important;}

.txt-grey.txt-dark-1	{color: #333333 !important;}
.txt-grey.txt-dark-2	{color: #222222 !important;}
.txt-grey.txt-dark-3	{color: #111111 !important;}
.txt-grey.txt-light-1	{color: #737373 !important;}
.txt-grey.txt-light-2	{color: #a2a2a2 !important;}
.txt-grey.txt-light-3	{color: #EEEEEE !important;}

/* P&B */
.txt-black				{ color: #000000 !important; }
.txt-white				{ color: #ffffff !important; }

/* Transparente */
.txt-transparent		{color: transparent !important;}

/* Colors - Background */

/* Azul */
.bg-blue,
.bg-blue.bg-light.hover:hover,
.bg-blue.bg-light.hover:focus,
.bg-blue.bg-light.hover[class*="active"],
[class*="active"] > .bg-blue.bg-light.hover {
	background-color: #004F9F !important;
}
.bg-blue.bg-dark,
.bg-blue.hover:hover,
.bg-blue.hover:focus,
.bg-blue.hover[class*="active"],
[class*="active"] > .bg-blue.hover {
	background-color: #002750 !important;
}
.bg-blue.bg-light {
	background-color: #50a7ff !important;
}
.bg-blue.bg-dark-1		{background-color: #003366 !important;}
.bg-blue.bg-dark-2		{background-color: #002750 !important;}
.bg-blue.bg-dark-3		{background-color: #001428 !important;}
.bg-blue.bg-light-1		{background-color: #007bf7 !important;}
.bg-blue.bg-light-2		{background-color: #50a7ff !important;}
.bg-blue.bg-light-3		{background-color: #739FCA !important;}

/* Ciano */
.bg-cyan,
.bg-cyan.bg-light.hover:hover,
.bg-cyan.bg-light.hover:focus,
.bg-cyan.bg-light.hover[class*="active"],
[class*="active"] > .bg-cyan.bg-light.hover {
	background-color: #0098E5 !important;
}
.bg-cyan.bg-dark,
.bg-cyan.hover:hover,
.bg-cyan.hover:focus,
.bg-cyan.hover[class*="active"],
[class*="active"] > .bg-cyan.hover {
	background-color: #004c73 !important;
}
.bg-cyan.bg-light {
	background-color: #73d0ff !important;
}
.bg-cyan.bg-dark-1		{background-color: #0072ac !important;}
.bg-cyan.bg-dark-2		{background-color: #004c73 !important;}
.bg-cyan.bg-dark-3		{background-color: #002639 !important;}
.bg-cyan.bg-light-1		{background-color: #25a9dd !important;}
.bg-cyan.bg-light-2		{background-color: #73d0ff !important;}
.bg-cyan.bg-light-3		{background-color: #b9e7ff !important;}

/* Verde */
.bg-green,
.bg-green.bg-light.hover:hover,
.bg-green.bg-light.hover:focus,
.bg-green.bg-light.hover[class*="active"],
[class*="active"] > .bg-green.bg-light.hover {
	background-color: #52CCCC !important;
}
.bg-green.bg-dark,
.bg-green.hover:hover,
.bg-green.hover:focus,
.bg-green.hover[class*="active"],
[class*="active"] > .bg-green.hover {
	background-color: #216e6e !important;
}
.bg-green.bg-light {
	background-color: #a9e5e5 !important;
}
.bg-green.bg-dark-1		{background-color: #31a6a6 !important;}
.bg-green.bg-dark-2		{background-color: #216e6e !important;}
.bg-green.bg-dark-3		{background-color: #103737 !important;}
.bg-green.bg-light-1	{background-color: #7dd9d9 !important;}
.bg-green.bg-light-2	{background-color: #a9e5e5 !important;}
.bg-green.bg-light-3	{background-color: #d4f2f2 !important;}

/* Violeta */
.bg-violet,
.bg-violet.bg-light.hover:hover,
.bg-violet.bg-light.hover:focus,
.bg-violet.bg-light.hover[class*="active"],
[class*="active"] > .bg-violet.bg-light.hover {
	background-color: #6260A8 !important;
}
.bg-violet.bg-dark,
.bg-violet.hover:hover,
.bg-violet.hover:focus,
.bg-violet.hover[class*="active"],
[class*="active"] > .bg-violet.hover {
	background-color: #302f55 !important;
}
.bg-violet.bg-light {
	background-color: #b0afd4 !important;
}
.bg-violet.bg-dark-1	{background-color: #484680 !important;}
.bg-violet.bg-dark-2	{background-color: #302f55 !important;}
.bg-violet.bg-dark-3	{background-color: #18172b !important;}
.bg-violet.bg-light-1	{background-color: #8988be !important;}
.bg-violet.bg-light-2	{background-color: #b0afd4 !important;}
.bg-violet.bg-light-3	{background-color: #d8d7e9 !important;}

/* Amarelo */
.bg-yellow,
.bg-yellow.bg-light.hover:hover,
.bg-yellow.bg-light.hover:focus,
.bg-yellow.bg-light.hover[class*="active"],
[class*="active"] > .bg-yellow.bg-light.hover {
	background-color: #FFA000 !important;
}
.bg-yellow.bg-dark,
.bg-yellow.hover:hover,
.bg-yellow.hover:focus,
.bg-yellow.hover[class*="active"],
[class*="active"] > .bg-yellow.hover {
	background-color: #bf7800 !important;
}
.bg-yellow.bg-light {
	background-color: #ffd080 !important;
}
.bg-yellow.bg-dark-1	{background-color: #bf7800 !important;}
.bg-yellow.bg-dark-2	{background-color: #805000 !important;}
.bg-yellow.bg-dark-3	{background-color: #402800 !important;}
.bg-yellow.bg-light-1	{background-color: #ffb840 !important;}
.bg-yellow.bg-light-2	{background-color: #ffd080 !important;}
.bg-yellow.bg-light-3	{background-color: #ffe7bf !important;}

/* Cinza */
.bg-grey,
.bg-grey.bg-light.hover:hover,
.bg-grey.bg-light.hover:focus,
.bg-grey.bg-light.hover[class*="active"],
[class*="active"] > .bg-grey.bg-light.hover {
	background-color: #444444 !important;
}
.bg-grey.bg-dark,
.bg-grey.hover:hover,
.bg-grey.hover:focus,
.bg-grey.hover[class*="active"],
[class*="active"] > .bg-grey.hover {
	background-color: #222222 !important;
}
.bg-grey.bg-light {
	background-color: #EEEEEE !important;
}
.bg-grey.bg-dark-1		{background-color: #333333 !important;}
.bg-grey.bg-dark-2		{background-color: #222222 !important;}
.bg-grey.bg-dark-3		{background-color: #111111 !important;}
.bg-grey.bg-light-1		{background-color: #737373 !important;}
.bg-grey.bg-light-2		{background-color: #a2a2a2 !important;}
.bg-grey.bg-light-3		{background-color: #EEEEEE !important;}

/* P&B */
.bg-black			{background-color: #000000 !important;}
.bg-white			{background-color: #ffffff !important;}

/* Transparente */
.bg-transparent		{background-color: transparent !important;}

/* Colors - Border */

/* Azul */
.bd-blue,
.bd-blue.bd-light.hover:hover,
.bd-blue.bd-light.hover:focus,
.bd-blue.bd-light.hover[class*="active"],
[class*="active"] > .bd-blue.bd-light.hover {
	border-color: #004F9F !important;
}
.bd-blue.bd-dark,
.bd-blue.hover:hover,
.bd-blue.hover:focus,
.bd-blue.hover[class*="active"],
[class*="active"] > .bd-blue.hover {
	border-color: #002750 !important;
}
.bd-blue.bd-light {
	border-color: #50a7ff !important;
}
.bd-blue.bd-dark-1		{border-color: #003366 !important;}
.bd-blue.bd-dark-2		{border-color: #002750 !important;}
.bd-blue.bd-dark-3		{border-color: #001428 !important;}
.bd-blue.bd-light-1		{border-color: #007bf7 !important;}
.bd-blue.bd-light-2		{border-color: #50a7ff !important;}
.bd-blue.bd-light-3		{border-color: #739FCA !important;}

/* Ciano */
.bd-cyan,
.bd-cyan.bd-light.hover:hover,
.bd-cyan.bd-light.hover:focus,
.bd-cyan.bd-light.hover[class*="active"],
[class*="active"] > .bd-cyan.bd-light.hover {
	border-color: #0098E5 !important;
}
.bd-cyan.bd-dark,
.bd-cyan.hover:hover,
.bd-cyan.hover:focus,
.bd-cyan.hover[class*="active"],
[class*="active"] > .bd-cyan.hover {
	border-color: #004c73 !important;
}
.bd-cyan.bd-light {
	border-color: #73d0ff !important;
}
.bd-cyan.bd-dark-1		{border-color: #0072ac !important;}
.bd-cyan.bd-dark-2		{border-color: #004c73 !important;}
.bd-cyan.bd-dark-3		{border-color: #002639 !important;}
.bd-cyan.bd-light-1		{border-color: #25a9dd !important;}
.bd-cyan.bd-light-2		{border-color: #73d0ff !important;}
.bd-cyan.bd-light-3		{border-color: #b9e7ff !important;}

/* Verde */
.bd-green,
.bd-green.bd-light.hover:hover,
.bd-green.bd-light.hover:focus,
.bd-green.bd-light.hover[class*="active"],
[class*="active"] > .bd-green.bd-light.hover {
	border-color: #52CCCC !important;
}
.bd-green.bd-dark,
.bd-green.hover:hover,
.bd-green.hover:focus,
.bd-green.hover[class*="active"],
[class*="active"] > .bd-green.hover {
	border-color: #216e6e !important;
}
.bd-green.bd-light {
	border-color: #a9e5e5 !important;
}
.bd-green.bd-dark-1		{border-color: #31a6a6 !important;}
.bd-green.bd-dark-2		{border-color: #216e6e !important;}
.bd-green.bd-dark-3		{border-color: #103737 !important;}
.bd-green.bd-light-1	{border-color: #7dd9d9 !important;}
.bd-green.bd-light-2	{border-color: #a9e5e5 !important;}
.bd-green.bd-light-3	{border-color: #d4f2f2 !important;}

/* Violeta */
.bd-violet,
.bd-violet.bd-light.hover:hover,
.bd-violet.bd-light.hover:focus,
.bd-violet.bd-light.hover[class*="active"],
[class*="active"] > .bd-violet.bd-light.hover {
	border-color: #6260A8 !important;
}
.bd-violet.bd-dark,
.bd-violet.hover:hover,
.bd-violet.hover:focus,
.bd-violet.hover[class*="active"],
[class*="active"] > .bd-violet.hover {
	border-color: #302f55 !important;
}
.bd-violet.bd-light {
	border-color: #b0afd4 !important;
}
.bd-violet.bd-dark-1	{border-color: #484680 !important;}
.bd-violet.bd-dark-2	{border-color: #302f55 !important;}
.bd-violet.bd-dark-3	{border-color: #18172b !important;}
.bd-violet.bd-light-1	{border-color: #8988be !important;}
.bd-violet.bd-light-2	{border-color: #b0afd4 !important;}
.bd-violet.bd-light-3	{border-color: #d8d7e9 !important;}

/* Amarelo */
.bd-yellow,
.bd-yellow.bd-light.hover:hover,
.bd-yellow.bd-light.hover:focus,
.bd-yellow.bd-light.hover[class*="active"],
[class*="active"] > .bd-yellow.bd-light.hover {
	border-color: #FFA000 !important;
}
.bd-yellow.bd-dark,
.bd-yellow.hover:hover,
.bd-yellow.hover:focus,
.bd-yellow.hover[class*="active"],
[class*="active"] > .bd-yellow.hover {
	border-color: #bf7800 !important;
}
.bd-yellow.bd-light {
	border-color: #ffd080 !important;
}
.bd-yellow.bd-dark-1	{border-color: #bf7800 !important;}
.bd-yellow.bd-dark-2	{border-color: #805000 !important;}
.bd-yellow.bd-dark-3	{border-color: #402800 !important;}
.bd-yellow.bd-light-1	{border-color: #ffb840 !important;}
.bd-yellow.bd-light-2	{border-color: #ffd080 !important;}
.bd-yellow.bd-light-3	{border-color: #ffe7bf !important;}

/* Cinza */
.bd-grey,
.bd-grey.bd-light.hover:hover,
.bd-grey.bd-light.hover:focus,
.bd-grey.bd-light.hover[class*="active"],
[class*="active"] > .bd-grey.bd-light.hover {
	border-color: #444444 !important;
}
.bd-grey.bd-dark,
.bd-grey.hover:hover,
.bd-grey.hover:focus,
.bd-grey.hover[class*="active"],
[class*="active"] > .bd-grey.hover {
	border-color: #222222 !important;
}
.bd-grey.bd-light { border-color: #EEEEEE !important; }

.bd-grey.bd-dark-1	{border-color: #333333 !important;}
.bd-grey.bd-dark-2	{border-color: #222222 !important;}
.bd-grey.bd-dark-3	{border-color: #111111 !important;}
.bd-grey.bd-light-1	{border-color: #737373 !important;}
.bd-grey.bd-light-2	{border-color: #a2a2a2 !important;}
.bd-grey.bd-light-3	{border-color: #EEEEEE !important;}

/* P&B */
.bd-black { border-color: #000000 !important; }
.bd-white { border-color: #ffffff !important; }

/* Transparente */
.bd-transparent { border-color: transparent !important; }